---
import AIcon from "../../../AIcon.astro";

const {
	value
} = Astro.props;
---
<div class="a-slider-input-text js-a-slider-input-text">
	<input class="a-slider-input-text__input headline-3 js-a-slider-input-text-input">
	<button class="a-slider-input-text__button a-slider-input-text__button--edit js-a-slider-input-text-edit">
		<AIcon symbolId="icon-edit" size="m" />
	</button>
	<button class="a-slider-input-text__button a-slider-input-text__button--close js-a-slider-input-text-close">
		<AIcon symbolId="icon-close" size="m" />
	</button>
</div>

<style lang="scss" is:global>
	@import "@styles/placeholders";

	.a-slider-input-text {
		position: relative;

		&__input {
			width: 100%;
			padding: 0.438rem 0.938rem;
			border-radius: 0.25rem;
			border: 1px solid transparent;
			background-color: transparent;

			&:focus {
				outline: none;
				border-color: var(--purple-100);
			}

			&:disabled {
				color: inherit;

				&::placeholder {
					color: inherit;
				}
			}
		}

		&__button {
			@extend %reset-button;

			position: absolute;
			top: 50%;
			right: 1rem;
			transform: translateY(-50%);

			&--edit {}

			&--close {
				display: none;
			}
		}

		&.is-editable & {
			&__input {
				border-color: var(--purple-70);
			}

			&__button {
				&--edit {
					display: none;
				}

				&--close {
					display: block;
				}
			}
		}
	}
</style>