---
interface Props {
    isNarrow?: boolean;
}

const { isNarrow = false, ...rest } = Astro.props;
---

<div
    class:list={[
        "add-info-item-layout",
        { "is-narrow": isNarrow },
    ]}
    {...rest}
>
    <slot />
</div>

<style lang="scss" is:global>
    @import "@styles/media-queries";

    .add-info-item-layout {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
        width: 100%;

        @include use-media(tablet-album) {
            gap: 2rem;
        }

        @include use-media(laptop) {
            gap: 2.5rem;
        }

        &.is-narrow {
            @include use-media(laptop) {
                max-width: 64rem;
            }
        }

		@at-root .add-info-layout--type-content & {
			border-bottom: 1px dashed var(--blue-30);
            padding-bottom: 1.5rem;
            gap: 1rem;

            @include use-media(tablet-album) {
                padding-bottom: 2.5rem;
                gap: 1.5rem;
            }

            @include use-media(laptop) {
                padding-bottom: 3rem;
            }
		}
    }
</style>
