header#accessibilityPanel.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top(style='display:none')
  .container.d-flex.justify-content-center.align-items-center
    button#fontSmaller.btn.btn-outline-secondary.me-2(type="button") Уменьшить шрифт
    button#fontLarger.btn.btn-outline-secondary.me-2(type="button") Увеличить шрифт
    button#toggleContrast.btn.btn-outline-secondary.me-2(type="button") Контрастность
    button#hideAccessibilityPanel.btn.btn-outline-secondary(type="button") Обычная версия