header#accessibilityPanel.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top(style='display:none')
  .container.d-flex.justify-content-center.align-items-center
    .settings
      .fontSizeSettings
        .title Размер шрифта
        .fontSizes
          button.fontDefault.selected(aria-label="Обычный шрифт. Нажмите для выбора",tabindex="0") A
          button.fontMedium(aria-label="Средний шрифт. Нажмите для выбора",tabindex="0") A
          button.fontLarge(aria-label="Крупный шрифт. Нажмите для выбора",tabindex="0") A
      .contrastColorSettings
        .title Цвет сайта
        .contrastColors
          button.contrastColorsBlue(aria-label="Синий цвет сайта. Нажмите для выбора", tabindex="0") A
          button.contrastColorsBlack(aria-label="Чёрный цвет сайта. Нажмите для выбора", tabindex="0") A
          button.contrastColorsYellow(aria-label="Жёлтый цвет сайта. Нажмите для выбора", tabindex="0") A
      button.btnReset#hideAccessibilityPanel(aria-label="Перейти на обычную версию сайта",tabindex="0") Обычная версия сайта
        img.icon(src="/img/eye.svg" tabindex="0" alt="Перейти на обычную версию сайта")
