header#accessibilityPanel.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top(style='display:none')
  .container.d-flex.justify-content-center.align-items-center
    .settings
      .fontSizeSettings
        .title Размер шрифта
        .fontSizes
          div.fontDefault.selected A
          div.fontMedium A
          div.fontLarge A
      .contrastColorSettings
        .title Цвет сайта
        .contrastColors
          div.contrastColorsBlue A
          div.contrastColorsBlack A
          div.contrastColorsYellow A
      .btnReset#hideAccessibilityPanel Обычная версия сайта
        img.icon(src="/img/eye.svg" alt="Eye Icon")
