include top-row

-
    var topMenuData = {
        version: "en",
        mainMenu: null,
        downloadAppText: "Download mobile app",
        onlineBank: {
            text: "Internet bank",
            items: ["For individuals", "For organizations"]
        }
    }

header.header
    .container.d-flex.align-items-center
        div(class="header__logo")
            a.d-block(href="/")
                img(src="img/logo-main-en.svg", width="196", height="56", alt="Новиком")
        .d-flex.flex-column.gap-4.ms-auto.flex-grow-1
            +top-row
            include bottom-row
