header.pb-header
    .container
        .d-flex.justify-content-between
            .col-8
                a.d-none.d-lg-block(href="#")
                    img(src="img/logo-pb.svg", width="280", height="80", alt="Новиком")
                a.d-lg-none(href="#")
                    img(src="img/logo-pb-mob.svg", width="140", height="40", alt="Новиком")
            .col-4.d-flex.align-items-center.justify-content-end.gap-4
                a.d-none.d-lg-block.btn.btn-pb.btn-pb--primary(href="#") Стать клиентом
                button(type="button").pb-menu-btn
                    span.pb-menu-btn__icon
                        span
                        span
                        span
                        span
                        span
                        span
