---
import AButton from "../ui/Buttons/AButton.astro";
import PatternBg from "./Pattern/PatternBg.astro";

interface Props {
	class?: string;
}

const {
	class: className,
	...rest
} = Astro.props as Props;
---

<div class="service-salary-card" class:list={className} {...rest}>
	<div class="service-salary-card__content">
		<h3 class="service-salary-card__title headline-2 dark-0">Зарплатная карта</h3>
		<div class="service-salary-card__links">
			<AButton element="a" text color="white" afterIcon="icon-arrow-right" size="lm">Кешбек</AButton>
			<AButton element="a" text color="white" afterIcon="icon-arrow-right" size="lm">Бонусы</AButton>
			<AButton element="a" text color="white" afterIcon="icon-arrow-right" size="lm">Акции</AButton>
		</div>
	</div>
	<PatternBg class="service-salary-card__desktop-pattern" theme="dark" />
	<PatternBg theme="dark" />
</div>

<style lang="scss" is:global>
	@import "@styles/media-queries";

	.service-salary-card {
		position: relative;
		border-radius: 0.75rem;
		overflow: hidden;
		background-color: var(--violet-100);
		padding: 1.5rem 1rem;
		min-height: 15rem;

		@include use-media(tablet) {
			padding: 2rem;
			min-height: unset;
		}

		@include use-media(tablet-album) {
			padding: 3rem;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: rotate(180deg);
			background: linear-gradient(270deg, rgba(65, 38, 116, 0.9) 23.5%, rgba(65, 38, 116, 0) 100%);
		}

		&__content {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			z-index: 1;

			@include use-media(tablet) {
				gap: 2.5rem;
			}

			@include use-media(tablet-album) {
				gap: 3rem;
			}
		}

		&__links {
			display: flex;
			flex-wrap: wrap;
			column-gap: 2rem;
			row-gap: 1.5rem;

			@include use-media(tablet-album) {
				column-gap: 3rem;
			}
		}

		&__desktop-pattern {
			display: none;

			@include use-media(laptop-x) {
				display: block;

				position: absolute;
				right: 0;
				bottom: 12.5rem; //200px
			}
		}
	}
</style>
