---
import APolygonContainer from "../APolygonContainer/APolygonContainer.astro";
import SectionLayout from "../../layouts/SectionLayout.astro";
import PatternBg from "../Pattern/PatternBg.astro";

const { img } = Astro.props;
---

<SectionLayout class="page-banner" small>
	<div class="content-container">
		<div class="page-banner__container">
            {
                Astro.slots['tag'] && (
                    <div class="page-banner__tag">
                        <slot name="tag"></slot>
                    </div>
                )
            }
            {
                Astro.slots['title'] && (
                    <div class="page-banner__title">
                        <slot name="title"></slot>
                    </div>
                )
            }
			<div class="page-banner__content">
				<div class="page-banner__text">
					<slot />
				</div>
				<slot name="footer" />
			</div>
			<div class="page-banner__photo">
				<APolygonContainer color="violet-100" img={img} />
			</div>
		</div>
		<PatternBg type="section-heavy" />
		{
			Astro.slots['helper'] && (
				<div class="page-banner__helper">
					<slot name="helper" />
				</div>
			)
		}
	</div>
</SectionLayout>

<style lang="scss" is:global>
	@import "@styles/media-queries";

	.page-banner {
		position: relative;
		overflow: hidden;
		background-color: var(--blue-10);

		&__container {
			position: relative;
			z-index: 1;
			display: grid;
            grid-template-columns: 100%;
            column-gap: 2rem;
            row-gap: 1.5rem;

			@include use-media(tablet) {
				grid-template-columns: 1fr 1fr;
                grid-template-rows: min-content min-content min-content min-content;
                column-gap: 5rem;
			}

            @include use-media(tablet-album) {
                column-gap: 7.5rem;
            }
		}

        &__title {
            @include use-media(tablet) {
                grid-column: span 2;
            }

            @include use-media(tablet-album) {
                padding-left: 2.5rem;
                grid-column: 1 / 2;
            }
        }

		&__content {
			display: flex;
			gap: 2.5rem;
			flex-direction: column;

			.a-button.a-button--text {
				align-self: flex-start;
			}

			@include use-media(tablet) {
				gap: 3rem;
                grid-column: 1 / 2;

				.a-button {
					align-self: flex-start;
				}
			}

			@include use-media(tablet-album) {
				padding-left: 2.5rem;
			}
		}

		&__text {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
		}

		&__photo {
            margin-top: 1rem;

            @include use-media(tablet) {
                grid-column: 2 / 3;
                margin-top: 0;
            }

			@include use-media(tablet-album) {
                grid-row: 1 / -1;
			}
		}

		&__tag {
            @include use-media(tablet) {
                grid-column: span 2;
            }

            @include use-media(tablet-album) {
                padding-left: 2.5rem;
                grid-column: unset;
            }
		}

		&__helper {
			margin-top: 2rem;

			@include use-media(tablet) {
				margin-top: 3rem;
			}

			@include use-media(desktop) {
				margin-top: 5rem;
			}
		}
	}
</style>
