.modal.fade(id="modal-error" tabindex='-1' data-bs-backdrop='static' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable.align-items-end.align-items-md-center
        .modal-content
            .modal-body.d-flex.flex-column.row-gap-4.row-gap-md-5.row-gap-lg-6
                img(src="img/modals/error.png").modal-img
                .modal-title.h4.text-center Не&nbsp;удалось отправить обращение
                p.text-l.text-center.m-0 Проверьте правильно&nbsp;ли указаны все данные и&nbsp;отправьте обращение снова
            .modal-footer.border-0.justify-content-md-center
                button.btn.btn-primary.btn-lg-lg.m-0.w-100.w-md-auto(type="button" data-bs-dismiss="modal") Вернуться
