.modal.modal-xl.fade(id="modal-loan-form" tabindex='-1' aria-hidden='true')
    .modal-dialog.modal-dialog-scrollable
        .modal-content
            .modal-header
                h5.modal-title Заявка на кредит
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    span.icon.size-m
                        +svg-use("icon-close")
            .modal-body
                include ../layout/forms/loan-form
