---
interface Props {
    className?: string;
    href?: string;
}

const {
    className,
    ...rest
} = Astro.props as Props;
---
<a class="tag-simple body-s-light" class:list={[ className ]} {...rest}>
    <slot></slot>
</a>

<style lang="scss" is:global>
  @use "sass:map";
  @import "@styles/variables.scss";
  @import "@styles/media-queries";
  @import "@styles/placeholders";

  .tag-simple {
    @extend %reset-link;

    display: inline-block;
    white-space: nowrap;
    padding: .5rem 1rem;
    background-color: var(--dark-10);
    color: var(--violet-100);
    transition: color ease .33s;

    &:hover {
      color: var(--blue-100);
    }
  }
</style>
