---
type Icon = 'ru-store' | 'ru-market' | 'nash-store';
type Size = 'l' | 'm' | 'lm';

interface Props {
	href: string;
	iconName: Icon;
	size?: Size;
}

const { href = '#' , iconName= 'ru-store', size = 'm' } = Astro.props as Props;
---

<a href={href} class="app-button" class:list={[`app-button--${size}`, `app-button--${iconName}`]} target="_blank">
	<svg>
		<use xlink:href={`assets/app-logos.svg#${iconName}`}/>
	</svg>
</a>

<style lang="scss" is:global>
	@use "sass:map";
	@import "@styles/variables";
	@import "@styles/functions";

	.app-button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 6px 16px;
		border-radius: 0.25rem;
		background: var(--dark-0);
		box-sizing: border-box;
		height: calc-clamp(2.5rem, 3.5rem);

		> svg {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: 50% 50%;
			color: inherit
		}
	}

	.app-button.app-button--ru-store {
		svg {
			max-height: calc-clamp(1.5rem, 1.75rem);
		}
	}

	.app-button.app-button--ru-market {
		svg {
			max-height: calc-clamp(1.75rem, 1.875rem);
		}
	}

	.app-button.app-button--nash-store {
		svg {
			max-height: calc-clamp(1.125rem, 1.25rem);
		}
	}

	.app-button.app-button--l {
		height: 3.5rem;
	}

	.app-button.app-button--lm {
		height: calc-clamp(2.5rem, 3.5rem);
	}

	.app-button.app-button--m {
		height: 2.5rem;
	}
</style>