---
import AIcon from "../../AIcon.astro";
interface Props {
	class?: string;
	date: string;
	title: string;
	link: string;
}
const {
	class: className,
	date,
	title,
	link = '#',
	...rest } = Astro.props as Props;
---

<a href={link} class="announcement-card-clients-item" class:list={className} {...rest}>
	<div class="announcement-card-clients-item__date body-m-light dark-70">{date}</div>
	<div class="announcement-card-clients-item__title body-m-light">{title}</div>
	<AIcon class="announcement-card-clients-item__icon" size="m" symbolId="icon-arrow-right" />
</a>

<style lang="scss" is:global>
	@use "sass:map";
	@import "@styles/media-queries";
	@import "@styles/placeholders";

	.announcement-card-clients-item {
		@extend %reset-link;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		border-bottom: 1px dashed var(--blue-30);
		padding-bottom: 1rem;

		&__title {
			flex-grow: 1;
		}

		&__icon {
			display: none;
			color: var(--violet-100);
			flex-shrink: 0;

			@include use-media(tablet) {
				display: block;
			}
		}

		@include use-media(tablet) {
			flex-direction: row;
			padding-bottom: 1.5rem;
		}

		@include use-media(tablet-album) {
			padding-bottom: 2.5rem;
		}
	}
</style>