.content-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2.5rem;

    @include use-media(tablet-album) {
        gap: 3rem;
    }

    > div:not([class]) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 1.5rem;
    }

    > p,
    > div:not([class]) > p {
        @extend .text-l;
        margin: 0;
    }

    > ul,
    > div:not([class]) > ul {
      @extend .text-l;

      margin: 1.5rem 0;
      padding: 0;
      padding-inline-start: 2rem;
      list-style: none;
      font-weight: 600;

      @include use-media(tablet-album) {
        margin-bottom: 3rem;
      }

      li {
        position: relative;
        margin-bottom: 1rem;

        @include use-media(tablet-album) {
          margin-bottom: 1.5rem;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          position: absolute;
          content: " ";
          left: -2rem;
          top: .5rem;
          width: 1rem;
          height: 1rem;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Crect x='4.5' y='4.5' width='11' height='11' stroke='%23806EA2' stroke-dasharray='2 2'/%3E%3Crect width='12' height='12' fill='%2355246A'/%3E%3C/svg%3E");
          background-size: contain;
          background-repeat: no-repeat;
        }

        & ul {
          list-style: none;
          margin-top: 1.5rem;
          font-weight: 400;
          padding-inline-start: 1rem;

          &:first-child {
            margin-top: 1.5rem;
          }

          & li {
            &:before {
              content: "";
              width: 0.25rem;
              height: 0.25rem;
              border-radius: 50%;
              background-color: currentColor;
              left: -1rem;
              top: 0.75rem;
            }
          }
        }
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    b, strong {
        font-weight: 600;
    }

    > img,
    > div > img {
        @extend .mobile-element-full-width;

        @include use-media(tablet) {
            border-radius: 0.5rem;
        }

        @include use-media(tablet-album) {
            border-radius: 0.75rem;
        }

        @include use-media(laptop) {
            width: 66.645% !important;
        }
    }

    > p,
    > ul,
    > div:not([class]) > p,
    > div:not([class]) > ul {
        @include use-media(laptop) {
            width: 66.645%;
        }
    }

    table:not([class]),
    div:not([class]) > table:not([class]) {
        caption-side: bottom;
        border-collapse: collapse;
        width: 100%;
        vertical-align: top;
        color: var(--dark-100);

        & caption {
            @extend .text-s;
            padding-top: 1.5rem;
            color: var(--dark-70);
        }

        & tr {
            border-bottom: 1px dashed var(--blue-30);
        }

        & th,
        & td {
            min-width: 140px;
            padding: 1.5rem 0;
        }

        & th {
            white-space: nowrap;
            line-height: 1.5;
            font-weight: 600;
            font-size: 1rem;
        }

        & td {
            @extend .text-l;
        }
    }
}
