.table {
  & th, td {
    padding: 1.5rem .5rem;
    border-style: dashed;
    border-color: var(--blue-30);
    border-bottom-width: 1px;

    @include use-media(tablet) {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    &:first-child {
      padding-left: 0;
    }
  }

  &--mobile-row-is-column {

    @include use-media(0, sm) {
      thead, tbody {
        display: inline-block;
      }

      tr {
        display: flex;
        flex-direction: column;
      }

      td {
        padding: .5rem;
        padding-left: 0;
      }

      td:first-child {
        border: none;
      }

      td:last-child {
        padding-bottom: 1.5rem;
      }
    }
  }

  &--bg-transparent {
    & th, td {
      background-color: transparent;
    }
  }
}
