.table-tab {
    $root: #{&};

    width: 100%;

    &__row {
        display: grid;
        gap: 1rem;
        border-bottom: 1px dashed var(--blue-30);
        padding: 1.5rem 0;

        @include use-media(tablet-album) {
            gap: 2.5rem;
        }
    }

    &.cell-2 {
        #{root}__row {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &.cell-4 {
        #{root}__row {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
