-
    var chipsList = [
        {
            href: "#",
            text: "Зарплатный проект",
        },
        {
            href: "#",
            text: "Зарплатная карта",
        },
        {
            href: "#",
            text: "Расчетный счет",
        },
        {
            href: "#",
            text: "Ипотека в новостройке",
        },
        {
            href: "#",
            text: "Кредит на бизнес",
        },
        {
            href: "#",
            text: "Депозиты",
        },
        {
            href: "#",
            text: "Вклады",
        },
        {
            href: "#",
            text: "Социально-платежная карта МИР",
        },
        {
            href: "#",
            text: "Банковские гарантии",
        }
    ]


.d-flex.flex-column.gap-3.gap-md-4
    form
        .input-group.flex-nowrap.js-mobile-search
            span#input-search-menu.input-group-icon
                span.icon
                    +svg-use('icon-search')
            input.form-control(type="text", placeholder="Поиск по сайту", aria-label="Поиск по сайту", aria-describedby="input-search-menu")
    div(class="mobile-menu__search-content")
        span.dark-70 Популярные запросы:
        .d-flex.flex-wrap.gap-3
            each chips in chipsList
                a.chip.text-s(href= chips.href)= chips.text
