.nav-panel
    a.btn-nav-panel(href="#")
        span.icon.size-s
            +svg-use("icon-card")
        span(class="btn-nav-panel__text")
            | Карты
    a.btn-nav-panel(href="#")
        span.icon.size-s
            +svg-use("icon-deposit")
        span(class="btn-nav-panel__text")
            | Вклады
    button.btn-nav-panel.btn-nav-panel--primary.js-btn-nav-panel
        span(class="btn-nav-panel__icon")
            span
            span
            span
            span
            span
            span
        span(class="btn-nav-panel__text js-btn-nav-panel-text") Меню
    a.btn-nav-panel(href="#")
        span.icon.size-s
            +svg-use("icon-wallet")
        span(class="btn-nav-panel__text")
            | Кредиты
    a.btn-nav-panel(href="#")
        span.icon.size-s
            +svg-use("icon-house")
        span(class="btn-nav-panel__text")
            | Ипотека
