---
import AButton from "../../ui/Buttons/AButton.astro";
import ACurrencyInput from "../../ui/ACurrencyInput/ACurrencyInput.astro";
import ADropDownItem from "../../ui/ADropDown/ADropDownItem/ADropDownItem.astro";
---
<div class="currency-exchange-calculator-card">
	<div class="currency-exchange-calculator-card__title headline-3">Предварительный расчет</div>
	<form class="currency-exchange-calculator-card__form" action="" method="POST">
		<ACurrencyInput
			size="ms"
			placeholder="1500"
			hint="1 RUB = 0,01 USD"
			label="У вас есть"
			forId="you-have"
			name="you-have"
		>
			<ADropDownItem value="RUB" selected>RUB</ADropDownItem>
			<ADropDownItem value="EUR">EUR</ADropDownItem>
			<ADropDownItem value="USD">USD</ADropDownItem>
			<ADropDownItem value="CNY">CNY</ADropDownItem>
		</ACurrencyInput>
		<ACurrencyInput
			size="ms"
			placeholder="9,77"
			hint="1 USD = 97 RUB"
			label="Вы получите"
			forId="you-get"
			name="you-get"
		>
			<ADropDownItem value="RUB">RUB</ADropDownItem>
			<ADropDownItem value="EUR">EUR</ADropDownItem>
			<ADropDownItem value="USD" selected>USD</ADropDownItem>
			<ADropDownItem value="CNY">CNY</ADropDownItem>
		</ACurrencyInput>
		<AButton size="lm" type="submit">Зафиксировать курс</AButton>
	</form>
</div>

<style lang="scss" is:global>
	@use "sass:map";
	@import "@styles/variables.scss";
	@import "@styles/placeholders";
	@import "@styles/media-queries";

	.currency-exchange-calculator-card {
		display: flex;
		flex-direction: column;
		row-gap: 1.5rem;
		background-color: var(--dark-0);
		border-radius: 0.75rem;
		padding: 1.5rem 1rem;

		&__form {
			display: grid;
			grid-template-columns: 1fr;
			row-gap: 1.5rem;

			@include use-media(tablet) {
				column-gap: 2rem;
				grid-template-columns: 1fr 1fr;

				.a-button {
					grid-column: span 2;
				}
			}

			@include use-media(tablet-album) {
				column-gap: 2.5rem;
			}

			@include use-media(laptop-x) {
				grid-template-columns: 1fr;

				.a-button {
					grid-column: unset;
				}
			}
		}

		@include use-media(tablet) {
			padding: 2rem;
		}

		@include use-media(tablet-album) {
			padding: 2rem 2.5rem;
		}

		@include use-media(laptop-x) {
			padding: 2.5rem;
		}
	}
</style>
