---
/**
	Компонент вывода иконок из svg спрайта
	*/

interface Props {
	class?: string;
	size?: "xl" | "l" | "m" | "s" | "xll";
	symbolId: string;
}

const { class: className, size, symbolId, ...rest } = Astro.props as Props;
---

<span class="a-icon" class:list={[className, size ? `size-${size}` : ""]} {...rest}>
	{
		symbolId && (
			<svg>
				<use xlink:href={`assets/svg-sprite.svg#${symbolId}`} />
			</svg>
		)
	}
</span>

<style lang="scss" is:global>
	@import "@styles/media-queries";

	.a-icon {
		display: inline-block;

		> img,
		svg {
			width: 100%;
			height: 100%;
			vertical-align: top;
			object-fit: contain;
			object-position: 50% 50%;
			color: inherit;
			fill: currentColor;
		}

		&.size-xl {
			width: 4rem;
			height: 4rem;
		}

		&.size-l {
			width: 3rem;
			height: 3rem;
		}

		&.size-m {
			width: 1.5rem;
			height: 1.5rem;
		}

		&.size-s {
			width: 1rem;
			height: 1rem;
		}

		&.size-xll {
			width: 3rem;
			height: 3rem;

			@include use-media(tablet-album) {
				width: 4rem;
				height: 4rem;
			}
		}
	}
</style>
