@import "functions";
@import "placeholders";
@import "media-queries";

.headline-0 {
	@extend %headline;

	font-size: map-get($font-size-body, large-x);
	font-weight: 600;
	line-height: 125%;

	@include use-media(tablet) {
		font-size: map-get($font-size-body, large);
		line-height: 132%;
	}

	@include use-media(tablet-album) {
		font-size: map-get($font-size-body, xxl);
		line-height: 122%;
	}
}

.headline-1 {
	@extend %headline;

	font-size: map-get($font-size-body, large-xs);
	line-height: 130%;

	@include use-media(tablet) {
		font-size: map-get($font-size-body, large-x);
		line-height: 125%;
	}

	@include use-media(tablet-album) {
		font-size: map-get($font-size-body, xl);
		line-height: 120%;
	}
}

.headline-2 {
	@extend %headline;

	font-size: map-get($font-size-body, medium);
	line-height: 135%;

	@include use-media(tablet) {
		font-size: map-get($font-size-body, large-xs);
		line-height: 130%;
	}

	@include use-media(tablet-album) {
		font-size: map-get($font-size-body, large-x);
		line-height: 125%;
	}
}

.headline-3 {
	@extend %headline;

	font-size: map-get($font-size-body, medium-x);
	line-height: 140%;

	@include use-media(tablet) {
		font-size: map-get($font-size-body, medium);
		line-height: 135%;
	}
}

.headline-4 {
	@extend %headline;

	font-size: map-get($font-size-body, medium-xs);
	line-height: 135%;

	@include use-media(tablet-album) {
		font-size: map-get($font-size-body, medium-x);
		line-height: 140%;
	}
}

.body-l-heavy, .body-l-light {
	font-size: map-get($font-size-body, base);
	line-height: 150%;

	@include use-media(tablet) {
		font-size: map-get($font-size-body, medium-xs);
		line-height: 145%;
	}

	@include use-media(tablet-album) {
		font-size: map-get($font-size-body, medium-x);
		line-height: 140%;
	}
}

.body-m-heavy, .body-m-light {
	font-size: map-get($font-size-body, base);
	line-height: 150%;
}

.body-s-heavy, .body-s-light {
	font-size: map-get($font-size-body, small);
	line-height: 130%;
}

.body-l-heavy, .body-m-heavy, .body-s-heavy {
	font-weight: 600;
}

.caption-m {
	font-size: map-get($font-size-body, small-x);
	line-height: 130%;
}

.caption-s {
	font-size: map-get($font-size-body, small-xs);
	line-height: 140%;
}

.number-l-heavy, .number-l-light {
	font-size: map-get($font-size-body, large-xs);
	line-height: 130%;

	@include use-media(tablet) {
		font-size: map-get($font-size-body, large-x);
		line-height: 125%;
	}

	@include use-media(tablet-album) {
		font-size: map-get($font-size-body, xl);
		line-height: 120%;
	}
}

.number-m-heavy, .number-m-light {
	font-size: map-get($font-size-body, medium);
	line-height: 135%;

	@include use-media(tablet) {
		font-size: map-get($font-size-body, large-xs);
		line-height: 130%;
	}

	@include use-media(tablet-album) {
		font-size: map-get($font-size-body, large-x);
		line-height: 125%;
	}
}

.number-s-heavy, .number-s-light {
	font-size: map-get($font-size-body, base);
	line-height: 150%;

	@include use-media(tablet-album) {
		font-size: map-get($font-size-body, medium);
		line-height: 135%;
	}
}

.number-l-heavy, .number-m-heavy, .number-s-heavy {
	font-weight: 700;
}

.btn-l-heavy, .btn-l-light {
	font-size: map-get($font-size-body, medium-xs);
	line-height: 135%;
}

.btn-m-heavy, .btn-m-light {
	font-size: map-get($font-size-body, base);
	line-height: 125%;
}

.btn-l-heavy, .btn-m-heavy {
	font-weight: 700;
}

.btn-s {
	font-size: 0.813rem;
	font-weight: 600;
	line-height: 120%;
}

.currency {
	font-family: map-get($font-family, currency);
}

.currency-regular {
	font-family: map-get($font-family, currency-regular);
}

.list {
	@extend %reset-list;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	& li {
		display: flex;
		gap: 0.5rem;
		padding-left: .5rem;

		&::before {
			content: '•';
		}
	}
}
