---
import IconAndItem from "../../layouts/IconAndItem.astro";
import AIcon from "../../AIcon.astro";
import ButtonSearch from "../../ui/Buttons/ButtonSearch.astro";
import DropDownMenu from "../../ui/DropDownMenu/DropDownMenu.astro";
/**
	layout меню второго уровня - подразделы сайта
	*/

interface Props {
	class?: string,
}

const {
	class: className,
	...rest
} = Astro.props as Props;
---

<nav class="desktop-secondary-menu js-desktop-secondary-menu js-spoiler-group" data-spoiler-event="click" class:list={className} {...rest}>
	<slot name="desktop-secondary-menu">
		<span class="desktop-secondary-menu__item body-m-heavy js-spoiler-button" data-spoiler-id="third-menu-1">
			<IconAndItem element="span" class="icon-box--gap-xs">
				Карты
				<AIcon  symbolId="icon-chevron-down-small" size="s" slot="icon-after" />
			</IconAndItem>
		</span>
		<span class="desktop-secondary-menu__item body-m-heavy js-spoiler-button" data-spoiler-id="third-menu-2">
			<IconAndItem element="span" class="icon-box--gap-xs">
				Вклады
				<AIcon  symbolId="icon-chevron-down-small" size="s" slot="icon-after" />
			</IconAndItem>
		</span>
		<span class="desktop-secondary-menu__item body-m-heavy js-spoiler-button" data-spoiler-id="third-menu-3">
			<IconAndItem element="span" class="icon-box--gap-xs">
				Кредиты
				<AIcon  symbolId="icon-chevron-down-small" size="s" slot="icon-after" />
			</IconAndItem>
		</span>
		<span class="desktop-secondary-menu__item body-m-heavy js-spoiler-button" data-spoiler-id="third-menu-4">
			<IconAndItem element="span" class="icon-box--gap-xs">
				Ипотека
				<AIcon  symbolId="icon-chevron-down-small" size="s" slot="icon-after" />
			</IconAndItem>
		</span>
		<span class="desktop-secondary-menu__item body-m-heavy js-spoiler-button" data-spoiler-id="third-menu-5">
			<IconAndItem element="span" class="icon-box--gap-xs">
				Платежи и переводы
				<AIcon  symbolId="icon-chevron-down-small" size="s" slot="icon-after" />
			</IconAndItem>
		</span>
		<span class="desktop-secondary-menu__item body-m-heavy js-spoiler-button js-desktop-move-link" data-spoiler-id="third-menu-6">
			<IconAndItem element="span" class="icon-box--gap-xs">
				Онлайн-сервисы
				<AIcon  symbolId="icon-chevron-down-small" size="s" slot="icon-after" />
			</IconAndItem>
		</span>
		<span class="desktop-secondary-menu__item body-m-heavy js-spoiler-button js-desktop-move-link" data-spoiler-id="third-menu-7">
			<IconAndItem element="span" class="icon-box--gap-xs">
				Услуги
				<AIcon  symbolId="icon-chevron-down-small" size="s" slot="icon-after" />
			</IconAndItem>
		</span>
		<DropDownMenu>
			<span class="drop-down-menu__link">Страхование</span>
			<span class="drop-down-menu__link">Private Banking</span>
		</DropDownMenu>
		<ButtonSearch class="js-spoiler-button" data-spoiler-id="search">
			<AIcon symbolId="icon-search" size="m"></AIcon>
		</ButtonSearch>
	</slot>
</nav>

<script>
	import spoilersInit from '../../../js/spoiler-by-id';
	import moveLinksToDropDownMenu from "../../../js/moveLinksToDropDownMenu";

	moveLinksToDropDownMenu('.js-desktop-secondary-menu', 'body-m-heavy')
	spoilersInit();

	window.addEventListener('resize', () => {
		moveLinksToDropDownMenu('.js-desktop-secondary-menu', 'body-m-heavy')
	});
</script>

<style lang="scss" is:global>
	.desktop-secondary-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		&__item {
			cursor: pointer;
			transition: color ease .33s;
			color: var(--violet-100);
			text-decoration: none; // for <a>

			&.js-spoiler-button-active {
				color: var(--blue-100);

				.a-icon {
					transition: transform ease .33s;
					transform: rotate(-180deg);
					transform-origin: 50% 50%;
				}
			}

			& svg {
				opacity: .7;
			}
		}

		& .drop-down-menu {
			top: calc(100% + 1rem); // TODO: подумать как переделать
		}
	}
</style>
