---
interface Props {
	class?: string,
}

const {
	class: className,
	...rest
} = Astro.props as Props;
---

<div
	class="swiper-slide js-swiper-slide"
	class:list={className}
	{...rest}
>
	<slot />
</div>

<style lang="scss" is:global>
	.swiper-slide {
		height: auto;
		width: auto;
	}
</style>
