.sp-block-my_loan_calculator .sp-acc-tab {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.sp-block-my_loan_calculator .sp-acc-blocks {
  padding: 10px;
}

.sp-block-my_loan_calculator .sp-acc-tab.sp-collapsed .sp-acc-blocks,
.sp-block-my_loan_calculator .sp-acc-tab.sp-collapsed .sp-acc-footer {
    display: none;
}

.sp-block-my_loan_calculator .sp-acc-tab.sp-collapsed .sp-acc-collapse {
    background: #e0e0e0;
}


.sp-block-my_loan_calculator .sp-acc-header {
    position: relative;
}

.sp-block-my_loan_calculator .sp-acc-footer,
.sp-block-my_loan_calculator .sp-acc-header {
    padding: 10px 10px 0;
    background: #eee;
}


.sp-block-my_loan_calculator .sp-acc-header,
.sp-block-my_loan_calculator .sp-acc-footer {
    font-size: 0;
}

.sp-block-my_loan_calculator .sp-acc-footer span {
    font-size: 13px;
}

.sp-block-my_loan_calculator select.sp-program-type-value {
    width: 60%;
    float: right;
}

.sp-block-my_loan_calculator .sp-x-box {
    margin: 10px;
}

.sp-block-my_loan_calculator .sp-acc-box-handle,
.sp-block-my_loan_calculator .sp-acc-tab-handle {
    cursor: move;
}


.sp-block-my_loan_calculator .sp-acc-box.ui-sortable-helper {
    background: #e0e8ea;
    padding: 10px 10px 20px;
}

.sp-block-my_loan_calculator .sp-acc-tab.ui-sortable-helper {
    background: #e0e8ea;
    /*padding: 10px 10px 20px;*/
}

.sp-block-my_loan_calculator .sp-field-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  width: 47%;
  min-width: 461px;
}

.sp-block-my_loan_calculator .sp-field-row input {
  margin-right: 10px;
}

.sp-block-my_loan_calculator .sp-field-row .condition-coll {
  display: flex;
  align-items: center;
}
