---
const { class: className, ...rest } = Astro.props;
---

<div class="a-drop-down-menu custom-scrollbar js-a-drop-down" class:list={className} {...rest}>
    <slot/>
</div>

<style lang="scss" is:global>
	@import "@styles/media-queries";

	.a-drop-down-menu {
		display: none;
		position: absolute;
		max-height: 16rem;
		max-width: 100%;
		background-color: var(--dark-0);
		border-radius: 0.75rem;
		padding: 0.5rem 0;
		box-shadow: 0 8px 32px 0 rgba(60, 60, 71, 0.3);
		z-index: 10;
		overflow-y: auto;

		@include use-media(tablet) {
			max-height: 22rem;
		}

		&.is-open {
			display: block;
		}
	}
</style>
