mixin drop-menu(data)
    .dropdown-nav.js-dropdown-nav(id= data.id)
        .row
            .col-3.col-xxl-4.d-flex.flex-column.align-items-start.gap-4.violet-100
                each link in data.items[0]
                    a(href= link.href, class="header__link fw-semibold")= link.text
            if data.items[1] && data.items[1].length
                .col-3.col-xxl-4.d-flex.flex-column.align-items-start.gap-4.violet-100
                    each link in data.items[1]
                        a(href= link.href, class="header__link fw-semibold")= link.text
            if data.showBanner
                .col-6.col-xxl-4
                    .polygon-container.js-polygon-container
                        div(class="polygon-container__content")
                            .card-menu
                                img(src="../img/card-menu-image.png", class="card-menu__image", alt="", loading="lazy")
                                h5 Зарплатная карта «Мир»
                                p.text-s.mb-0
                                    | Карта с&amp;nbsp;полным набором
                                    br
                                    | операций в&amp;nbsp;торговых точках
                                    br
                                    | и&amp;nbsp;интернете
                        div(class="polygon-container__polygon js-polygon-container-polygon green-100")
                            svg.js-polygon-container-svg(xmlns="http://www.w3.org/2000/svg")
                                polygon(points="2,2 335,2 335,394 295,434 2,434", fill="none", stroke="currentColor", stroke-width="2", stroke-dasharray="10")
