mixin helper(imgSrc, bgColorClass)
    .helper(class= bgColorClass)
        .helper__wrapper.d-flex.flex-column.flex-sm-row.align-items-start.align-items-sm-center.gap-4.gap-lg-6
            img(src= imgSrc, class="helper__image w-auto float-end", alt="Обратите внимание" loading="lazy")
            .helper__content.text-l
                block
