mixin pb-supremeBenefit(iconPath, description)
    .supreme-benefit.d-flex.align-items-center.gap-3
        img.supreme-benefit__icon(src=iconPath, alt="benefit-icon")
        .supreme-benefit__content
            if description
                p.supreme-benefit__description= description
