mixin serviceCard(card)
  .pb__card
    .pb__card-info
      h3.pb__card-info-title= card.title
      p.pb__card-info-description= card.description
    .pb__card-img
      img.pb__card-image(src=card.image, alt=card.title)
