mixin quote(imgSrc, bgColorClass='bg-blue-10')
    .quote(class= bgColorClass)
        .quote__wrapper.d-flex.flex-column.flex-sm-row.align-items-start.align-items-sm-center.gap-md-2.gap-lg-4
            img(src= imgSrc, class="quote__image", alt="" loading="lazy").my-md-auto.mt-md-0.position-relative
            .quote__content.text-l
                block