// tabsList - array
// link - str
// tabsClassName - str
// tabItemClassName - str

mixin tabs(tabsList, tabsClassName, tabItemClassName)
    ul.tabs-panel.nav.nav-tabs.d-inline-flex.p-0.border.border-purple.rounded.w-auto(class=className)
        each tab, index in tabsList
            li.tabs-panel__item.nav-item.z-2
                if index == 0
                    a.tabs-panel__item-link.nav-link.active(aria-current="page")(href=tab.link)= tab.linkText
                else
                    a.tabs-panel__item-link.nav-link(href=tab.link)= tab.linkText