---
import ATabNavButton from "../ATabNavButton.astro";

interface Props {
	classList?: string;
}

const {
	class: classList,
} = Astro.props as Props;
---
<div
	class="a-tab-swiper swiper js-a-tab-swiper"
	class:list={classList}
>
	<slot />
	<ATabNavButton isPrev />
	<ATabNavButton isNext />
</div>

<style lang="scss" is:global>
	@import "@styles/media-queries";

	.a-tab-swiper {
		position: relative;
		padding: 0 var(--container-padding);
		margin: 0 calc(-1 * var(--container-padding));

		@include use-media(tablet-album) {
			padding: 0;
			margin: 0;
		}
	}
</style>
