---
interface Props {
	value: number | string;
}

const { value } = Astro.props as Props;
---

<div
	class:list={[
		'a-tab-panel',
		'js-a-tab-panel',
		'is-hidden'
	]}
	data-value={value}
>
	<slot />
</div>
