.pb-tags {
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    display: inline-block;
    padding: .125rem .625rem;
    color: var(--dark-0);
    font-size: .8125rem;
    line-height: 1.4;
    border-radius: .5rem;
    background: rgba(63, 37, 100, 0.80);
    backdrop-filter: blur(.625rem);
    white-space: nowrap;

    @include use-media(tablet) {
      padding: .25rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
    }

    &.active {
      color: var(--pr-text-color);
    }
  }
}
