.pb-tags {
  display: inline-block;
  padding: .125rem .625rem;
  color: var(--pb-text-color);
  font-size: .8125rem;
  line-height: 1.4;
  border-radius: .5rem;
  background: rgba(63, 37, 100, 0.80);
  -webkit-backdrop-filter: blur(.625rem);
  backdrop-filter: blur(.625rem);
  white-space: nowrap;
  width: auto !important;
  cursor: pointer;

  @include use-media(tablet) {
    padding: .25rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
  }

  &.swiper-slide {
    color: var(--dark-0);
  }

  &.swiper-slide-thumb-active {
    color: var(--pb-text-color);
  }

  &.active {
    color: var(--dark-0);
  }

  & span {
    color: currentColor;
  }
}

.pb-tags-wrapper {

  &.animate {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity .8s ease-in-out, transform .8s ease-in-out;
    will-change: transform, opacity;

    &.animate-show {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &.swiper {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;

    @include use-media(tablet) {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 1rem;
    }

    @include use-media(tablet-album) {
      padding-bottom: 1.5rem;
    }
  }

  & .nav {
    flex-wrap: nowrap;
  }
}
