---
import AIcon from "../../AIcon.astro";
import AnnouncementCardClientsItem from "./AnnouncementCardClientsItem.astro";
import SliderControls from "../Sliders/common/SliderControls/SliderControls.astro";
const items = [
	{
		date: '25.04.2024',
		title: 'Технические работы 30 апреля 2024 года в период с 0:00 до 3:30 (МСК)',
		link: '#'
	},
	{
		date: '25.04.2024',
		title: 'Режим работы клиентских офисов в мае',
		link: '#'
	},
	{
		date: '25.04.2024',
		title: 'Технические работы 30 апреля 2024 года в период с 0:00 до 3:30 (МСК)',
		link: '#'
	},
	{
		date: '25.04.2024',
		title: 'Режим работы клиентских офисов в мае',
		link: '#'
	},
	{
		date: '25.04.2024',
		title: 'Технические работы 30 апреля 2024 года в период с 0:00 до 3:30 (МСК)',
		link: '#'
	},
	{
		date: '25.04.2024',
		title: 'Режим работы клиентских офисов в мае',
		link: '#'
	}
]

const { class: className, ...rest } = Astro.props;
---
<div class="announcement-card-clients" class:list={className} {...rest}>
	<a href="#" class="announcement-card-clients__title headline-2">
		<span>Объявления <span>для клиентов</span></span>
		<AIcon class="announcement-card-clients__title-icon" symbolId="icon-chevron-right" size="m" />
	</a>

	<div class="announcement-card-clients__swiper swiper js-announcement-card-clients-swiper">
		<div class="announcement-card-clients__swiper-wrapper swiper-wrapper">
			{
				items.map(({title, date, link}) => (
					<AnnouncementCardClientsItem
						class="announcement-card-clients__swiper-slide swiper-slide"
						title={title}
						date={date}
						link={link}
					/>)
				)
			}
		</div>
		<SliderControls class="announcement-card-clients__controls"></SliderControls>
	</div>
</div>

<script>
	import Swiper from 'swiper';
	import { Navigation, Pagination, Grid } from 'swiper/modules';
	import type { SwiperOptions } from 'swiper/types';

	import 'swiper/css';
	import 'swiper/css/grid';

	const ELEMENTS = {
		root: '.js-announcement-card-clients-swiper',
		controls: '.js-slider-controls'
	}

	const SWIPER_OPTIONS = {
		modules: [Navigation, Pagination, Grid],
		navigation: {
			prevEl: '.swiper-button-prev',
			nextEl: '.swiper-button-next',
			navigationDisabledClass: 'swiper-nav-disabled'
		},
		pagination: {
			el: '.slider-controls__pagination',
			type: 'bullets',
			clickable: true,
		},
		grid: {
			fill: 'row',
		},
		slidesPerView: 1,
		breakpoints: {
			375: {
				spaceBetween: 8,
				grid: {
					rows: 1,
				},
			},
			768: {
				spaceBetween: 40,
				grid: {
					rows: 2,
				},
			}
		}
	} as SwiperOptions;

	const slider = document.querySelector(ELEMENTS.root);

	const swiper = new Swiper(slider, SWIPER_OPTIONS);
</script>

<style lang="scss" is:global>
	@use "sass:map";
	@import "@styles/media-queries";
	@import "@styles/placeholders";

	.announcement-card-clients {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		&__title {
			@extend %reset-link;

			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1rem;

			span {
				> span {
					display: none;
				}
			}

			@include use-media(tablet) {
				justify-content: flex-start;

				span {
					> span {
						display: inline;
					}
				}
			}
		}

		&__title-icon {
			color: var(--blue-100);
		}

		&__swiper {
			width: 100%;

			.swiper-wrapper {
				height: auto;
			}
		}

		&__controls {
			margin-top: 1rem;
		}

		@include use-media(tablet) {
			gap: 2.5rem;
		}

		@include use-media(tablet-album) {
			gap: 3rem;
			padding: 2.5rem 0 0 2.5rem;
		}

		@include use-media(laptop-x) {
			gap: 4rem;
		}
	}
</style>