---
import APolygonContainer from "../APolygonContainer/APolygonContainer.astro";

interface Props {
    polygonColor?: string;
    label: string;
    value: string;
}

const {
    polygonColor = 'green-100',
    value,
    label
} = Astro.props as Props;
---

<div class="calculator-result">
    <APolygonContainer color={polygonColor}>
        <ul class="calculator-result__list">
            <li class="calculator-result__item">
                <span class="calculator-result__label body-l-light">{label}</span>
                <span class="calculator-result__value number-l-heavy">{value}</span>
            </li>
        </ul>
    </APolygonContainer>
</div>

<style lang="scss" is:global>
    @import '@styles/media-queries';

    .calculator-result {


        &__list {
            margin: 0;
            padding: var(--polygon-padding);
            background: linear-gradient(42.24deg, #6655A2 20%, #55246A 80%);
            color: var(--dark-0);

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .5rem;

            @include use-media(tablet-album) {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
        }
    }
</style>
