---

---

<div class="section-help-content-layout">
	<div class="section-help-content-layout__left">
		<slot name="left" />
		{
			Astro.slots['left-footer'] && (
				<div class="section-help-content-layout__footer">
					<slot name="left-footer"></slot>
				</div>
			)
		}
	</div>
	<div class="section-help-content-layout__right">
		<slot name="right" />
		{
			Astro.slots['right-footer'] && (
				<div class="section-help-content-layout__footer">
					<slot name="right-footer"></slot>
				</div>
			)
		}
	</div>
</div>

<style lang="scss" is:global>
	@import "@styles/media-queries";

	.section-help-content-layout {
		display: grid;
		grid-template-columns: 100%;
		align-items: start;
		gap: 2.5rem;

		&__left, &__right {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;

			@include use-media(laptop-x) {
				gap: 2.5rem;
			}
		}

		@include use-media(laptop-x) {
			grid-template-columns: 2fr 1fr;
		}
	}
</style>