---
interface Props {
	steps?: number;
}

const {
	steps = 3
} = Astro.props as Props
---

<div
	class="display-stepper"
	class:list={`steps-${steps}`}
>
	<slot />
</div>

<style lang="scss" is:global>
	@import "@styles/media-queries";

	.display-stepper {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2.5rem;

		&.steps-2 {
			@include use-media(tablet-album) {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&.steps-3 {
			@include use-media(tablet-album) {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		&.steps-4 {
			@include use-media(tablet-album) {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
</style>
