.list {
  $root: #{&};

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;

  @extend .text-break;

  & li {
    position: relative;
    padding-left: 1.75rem;

    &:before {
      content: "";
      position: absolute;
      top: 0.375rem;
      left: 0.03rem;
      width: 0.75rem;
      height: 0.75rem;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='2.5' width='9' height='9' stroke='%23806EA2' stroke-dasharray='2 2'/%3E%3Crect width='10' height='10' fill='%2355246A'/%3E%3C/svg%3E%0A");
      background-size: contain;
    }

    & a {
      color: var(--blue-100);
      text-decoration: underline;
    }

    & > p {
      margin-bottom: 0;
    }
  }

  &--base-bullets {
    list-style: outside;
    padding-left: 3.5rem;

    li {
      display: list-item;
      list-style-type: disc;
      padding-left: 0;

      &::before {
        display: none;
      }
    }
  }

  &--heavy {
    & li {
      font-weight: 600;
    }
  }

  &--size-s {
    & li {
      font-size: 0.875rem;
      line-height: 1.3;
      padding-left: 1.25rem;

      &:before {
        top: 0.125rem;
      }
    }
  }

  &--size-l {
    @include use-media(tablet-album) {
      gap: 1.5em;
    }

    & li {
      padding-left: 2rem;
      line-height: 1.5;

      @include use-media(tablet) {
        font-size: 1.125rem;
        line-height: 1.45;
      }

      @include use-media(tablet-album) {
        font-size: 1.25rem;
      }

      &:before {
        top: 0.25rem;
        width: 1rem;
        height: 1rem;

        @include use-media(tablet) {
          top: 0.375rem;
        }

        @include use-media(tablet-album) {
          top: 0.5rem;
        }
      }
    }
  }

  &--size-ml {
    & li {
      @include use-media(tablet) {
        font-size: 1.125rem;
        line-height: 1.45;
        padding-left: 2rem;
      }

      @include use-media(tablet-album) {
        font-size: 1.25rem;
        line-height: 1.45;
        padding-left: 2.5rem;
      }

      &:before {
        @include use-media(tablet) {
          width: 1rem;
          height: 1rem;
          top: 0.375rem;
        }

        @include use-media(tablet-album) {
          top: 0.5rem;
        }
      }
    }
  }

  &--md-col2 {
    row-gap: 1.5rem;

    @include use-media(tablet) {
      display: block;
      column-count: 2;
      column-gap: 2rem;

      & li {
        margin-bottom: 1.5rem;
      }
    }

    @include use-media(tablet-album) {
      column-gap: 2.5rem;
    }

    @include use-media(laptop) {
      column-gap: 7.5rem;
    }
  }

  &--inner-list {
    margin-top: 1.5rem;
    font-weight: 400;
    padding-inline-start: 1rem;

    & li {
      padding-left: 0;

      &:before {
        content: "";
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 50%;
        background-color: currentColor;
        left: -1rem;
        top: 0.75rem;
      }
    }
  }

  &--default {
    & li {
      &:before {
        display: none;
      }
    }
  }
}
