---
interface Props {
	className?: string;
}

const {
	className,
	...rest
} = Astro.props;
---

<div class="detail-accordion-group js-detail-accordion-group" class:list={className} {...rest}>
	<slot />
</div>

<script>
	import initDetailAccordionGroups from "./index";

	initDetailAccordionGroups();
</script>