.section-banner-product-info {
    --border-thickness: 0.25rem;

    @include use-media(tablet-album) {
        --border-thickness: 0.5rem;
    }

    &.section-banner-product-info--border-green {
        border-top: var(--border-thickness) solid var(--green-100);
    }

    &.section-banner-product-info--border-orange {
        border-top: var(--border-thickness) solid var(--orange-100);
    }
}

.banner-product-info {
    $root: #{&};

    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    grid-template-areas:
        "header"
        "content"
        "image";

    @include use-media(tablet) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 2.5rem;
        grid-template-areas:
            "header header"
            "content image";
    }

    @include use-media(tablet-album) {
        row-gap: 1.5rem;
        grid-template-columns: 1fr 50%;
        grid-template-rows: min-content 1fr;
        grid-template-areas:
            "header image"
            "content image";
    }

    @include use-media(laptop) {
        column-gap: 5rem;
    }

    @include use-media(desktop) {
        column-gap: 7.5rem;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;

        grid-area: header;

        @include use-media(tablet-album) {
            gap: 2rem;
        }
    }

    &__body {
        grid-area: content;
    }

    &__image {
        grid-area: image;
    }
}
