.banner-text {
    $root: #{&};

    --border-thickness: 0.25rem;
    position: relative;
    min-height: 20rem;
    overflow: hidden;

    @include use-media(tablet-album) {
        --border-thickness: 0.5rem;
        min-height: 25rem;
    }

    &__container {
        padding-bottom: 2.5rem;

        @include use-media(tablet-album) {
            padding-bottom: 5.875rem;
        }
    }

    &__title {
        hyphens: auto;

        @include use-media(mobile) {
            hyphens: unset;
        }

        @include use-media(mobile-s, tablet-album) {
            font-weight: 600;
        }

        & br {
            display: none;

            @include use-media(tablet) {
                display: inherit;
            }
        }
    }

    &__image {
        max-width: 20rem;

        @include use-media(sm) {
            right: -3rem;
        }

        @include use-media(tablet) {
            right: -5rem;
        }

        @include use-media(tablet-album) {
            max-width: 25rem;
        }
    }

    &__pattern {
        opacity: 0.3;
    }

    &[class*="--border"] {
        min-height: calc(20rem + var(--border-thickness));

        @include use-media(tablet-album) {
            min-height: calc(25rem + var(--border-thickness));
        }
    }

    &--border-green {
        border-top: var(--border-thickness) solid var(--green-100);
    }

    &--border-orange {
        border-top: var(--border-thickness) solid var(--orange-100);
    }

    &--border-violet {
        border-top: var(--border-thickness) solid var(--violet-100);

        #{$root}__pattern {
            opacity: 1;
        }
    }

    &--mh-mobile-unset {
        @include use-media(0, tablet) {
            min-height: unset !important;
        }
    }
}
