.banner-text {
    $root: #{&};

    --border-thickness: 0.25rem;
    position: relative;
    min-height: 20rem;
    overflow: hidden;

    @include use-media(tablet-album) {
        --border-thickness: 0.5rem;
        min-height: 25rem;
    }

    &__title {
        hyphens: auto;

        @include use-media(mobile) {
            hyphens: unset;
        }

        & br {
            display: none;

            @include use-media(tablet) {
                display: inherit;
            }
        }
    }

    &__image {
        max-width: 20rem;

        @include use-media(sm) {
            right: -3rem;
        }

        @include use-media(tablet-album) {
            max-width: 25rem;
            //right: 0;
        }
    }

    &__pattern {
        opacity: 0.3;
    }

    &--border-green {
        border-top: var(--border-thickness) solid var(--green-100);
    }

    &--border-orange {
        border-top: var(--border-thickness) solid var(--orange-100);
    }

    &--border-violet {
        border-top: var(--border-thickness) solid var(--violet-100);

        #{$root}__pattern {
            opacity: 1;
        }
    }
}
