.banner-product {
    $root: #{&};

    --banner-height: 37.5rem; //600px
    --border-top-width: 0.25rem;
    --border-top-color: var(--green-100);

    background: linear-gradient(222.24deg, #101317 20%, #5a2375 80%);
    border-top: var(--border-top-width) solid var(--border-top-color);
    overflow: hidden;
    position: relative;
    display: flex;

    @include use-media(tablet-album) {
        min-height: var(--banner-height);
        --border-top-width: 0.5rem;
    }

    @include use-media(laptop) {
        overflow: hidden;
    }

    &__wrapper {
        padding: 2.5rem 1.5rem;
        position: relative;
        height: auto;
        width: 100%;
        z-index: 1;

        @include use-media(tablet) {
            padding: 2.5rem;
            position: relative;
        }

        @include use-media(tablet-album) {
            padding: 2.5rem 5rem 7.5rem 5rem;
        }

        @include use-media(desktop) {
            max-width: 120rem; //1920px
            margin: 0 auto;
            padding-left: 10rem;
            padding-right: 10rem;
        }
    }

    &__content {
        color: var(--dark-0);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        @include use-media(tablet) {
            width: 42.709vw;
            gap: 1.5rem;
        }

        @include use-media(tablet-album) {
            width: 38.75rem; //580px
            gap: 3rem;
            padding-left: 2.5rem;
        }

        @include use-media(laptop-x) {
            width: 51.5rem; //824px
        }

        @include use-media(desktop) {
            width: 57rem; //912px
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        position: relative;
        z-index: 1;
        width: 100%;

        @include use-media(tablet-album) {
            gap: 1.5rem;
        }

        h1 {
            @include use-media(mobile-s, tablet-album) {
                font-weight: 600;
            }

            @include use-media(mobile-s, sm) {
                word-break: break-word;
                hyphens: auto;
            }
        }
    }

    &__breadcrumbs {
        & .breadcrumbs__item {
            white-space: nowrap;
        }

        @include use-media(tablet) {
            min-width: calc(100vw - 5rem);
        }

        @include use-media(tablet-album) {
            min-width: calc(100vw - 12.5rem);
        }

        @include use-media(laptop-x) {
            min-width: unset;
        }
    }

    &__footer {
        position: relative;
        z-index: 1;

        @include use-media(tablet-album) {
            padding-left: 2.5rem;
        }

        & .benefit {
            color: var(--dark-0);
        }
    }

    &__image {
        display: block;
        min-width: calc(100% + 3rem);
        margin: -1.5rem;

        @include use-media(sm) {
            min-width: unset;
            width: 100%;
            max-width: 23.75rem; // 380px
        }

        @include use-media(tablet) {
            margin: 0;
            position: absolute;
            z-index: 1;
            top: 4rem;
            right: -0.5rem;
            width: 52.084vw;
            max-width: 32rem; // 512px
        }

        @include use-media(tablet-album) {
            top: 2.25rem;
            right: 0;
            width: 45vw;
            max-width: 33.75rem; // 540px
        }

        @include use-media(laptop-x) {
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            max-width: 45rem; // 720px
        }

        @include use-media(laptop) {
            right: 6.25rem;
        }

        @include use-media(laptop-x) {
            right: 5rem;
        }
    }

    &__subtitle {
        max-width: 20rem;
        margin: 0;

        @include use-media(tablet-album) {
            max-width: unset;
        }
    }

    &__benefits-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        max-width: 20rem;
        position: relative;
        z-index: 1;

        @include use-media(tablet-album) {
            grid-template-columns: auto auto auto;
            max-width: 32.5rem; //520px
            gap: 2.5rem;
        }

        @include use-media(laptop) {
            max-width: 50rem; //800px
        }

        @include use-media(desktop) {
            max-width: 55rem; //880px
            gap: 5rem;
        }
    }

    &__lists {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        max-width: 18.75rem;

        @include use-media(tablet-album) {
            grid-template-columns: repeat(2, 18.75rem);
            max-width: unset;
        }

        @include use-media(laptop) {
            grid-template-columns: repeat(3, 15rem);
            gap: 3rem;
        }
    }

    &__button {
        width: 100%;
        position: relative;
        z-index: 1;

        @include use-media(tablet) {
            width: auto;
        }
    }

    &.is-sticker {
        position: relative;

        #{$root}__wrapper {
            position: static;
        }

        #{$root}__image {
            display: none;

            @include use-media(tablet) {
                display: block;
                width: 55vw;
                max-width: 31.25rem; //500px
                top: 100%;
                transform: translateY(-100%);
            }

            @include use-media(tablet-album) {
                top: 2rem;
                transform: none;
                right: -5.5vw;
                width: 41vw;
                max-width: 40rem; //640px
            }

            @include use-media(laptop-x) {
                top: 5rem;
                right: -2rem;
                max-width: 50.625rem; //810px
            }

            @include use-media(desktop) {
                width: 100%;
            }
        }
    }

    &--size-xl {
        #{$root}__header {
            @include use-media(mobile-s, tablet) {
                gap: 1.5rem;
            }
        }

        #{$root}__pattern {
            top: 12.5rem; //200px
            bottom: auto;

            @include use-media(tablet) {
                top: 0;
            }
        }

        #{$root}__content {
            @include use-media(tablet, tablet-album) {
                width: 58vw;
                gap: 2.5rem;
            }
        }

        #{$root}__subtitle {
            max-width: unset;
        }

        #{$root}__benefits-list {
            gap: 1.5rem;

            @include use-media(tablet-album, laptop) {
                width: 100%;
                max-width: none;
                grid-template-columns: auto auto;
                gap: 1.5rem;
            }
        }

        #{$root}__image {
            margin: -1rem -1.5rem;

            @include use-media(tablet) {
                top: 2.5rem;
                right: 0;
                width: 46.875vw;
                max-width: 26.25rem; //420px
                margin: 0;
            }

            @include use-media(tablet-album) {
                right: 2.5rem;
                width: 35vw;
                max-width: 35rem; //560px
            }

            @include use-media(laptop-x) {
                transform: none;
                top: 2.5rem;
                right: 4rem;
                width: 100%;
                max-width: 35rem; //560px
            }

            @include use-media(desktop) {
                right: 10rem;
            }
        }
    }

    &--border-orange {
        --border-top-color: var(--orange-100);
    }

    &--border-violet {
        --border-top-color: var(--violet-100);
    }

    &--border-yellow {
        --border-top-color: var(--yellow-100);
    }

    &--blue {
        background: linear-gradient(42.24deg, #383a74 20%, #2e1b52 80%);
    }

    &--heavy-purple {
        background: linear-gradient(222.24deg, #101317 20%, #5a2375 80%);
    }

    &--heavy-violet {
        background: linear-gradient(222.24deg, #101317 20%, #6655a2 80%);
    }

    &--graphite {
        background: linear-gradient(60.54deg, #E8EAEF 17.83%, #C5CBCF 101.54%);
        color: var(--dark-0);

        #{$root}__content {
            color: var(--dark-100);
        }

        #{$root}__footer {
            & .benefit {
                color: var(--dark-100);
            }
        }
    }
}

.banner-product-benefit {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__unit {
        color: var(--green-100);
    }

    &__number {
        @include use-media(tablet-album) {
            font-size: 2.5rem;
            line-height: 1.2;
        }

        & .a-icon {
            width: 0.75rem;
            height: 1.5rem;
            margin-left: 0.25rem;
            vertical-align: middle;

            @include use-media(tablet-album) {
                width: 1.25rem;
                height: 2.5rem;
            }
        }
    }

    &__description {
        @include use-media(tablet-album) {
            font-size: 1rem;
            line-height: 1.5;
        }
    }
}
