$borderWidth: 0.5rem;
$bannerHeight: 37.5rem; //600px

.banner-product {
    $root: #{&};

    background: linear-gradient(222.24deg, #101317 20%, #5a2375 80%);
    border-top: $borderWidth solid var(--green-100);
    overflow: hidden;
    position: relative;

    @include use-media(laptop) {
        height: calc($bannerHeight + $borderWidth);
        overflow: hidden;
    }

    &__wrapper {
        padding: 2.5rem 1.5rem;
        position: relative;
        height: 100%;
        z-index: 1;

        @include use-media(tablet) {
            padding: 2.5rem;
            position: relative;
        }

        @include use-media(tablet-album) {
            padding: 2.5rem 5rem;
        }

        @include use-media(desktop) {
            max-width: 120rem; //1920px
            margin: 0 auto;
            padding-left: 10rem;
            padding-right: 10rem;
        }
    }

    &__content {
        color: var(--dark-0);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;

        @include use-media(tablet) {
            width: 25rem;
            gap: 2rem;
        }

        @include use-media(tablet-album) {
            width: 45rem; //720px
            gap: 3rem;
            padding-left: 2.5rem;
        }

        @include use-media(laptop) {
            width: 52rem; //832px
        }

        @include use-media(desktop) {
            width: 57rem; //912px
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        position: relative;
        z-index: 1;

        @include use-media(tablet) {
            gap: 1.5rem;
        }
    }

    &__footer {

      @include use-media(tablet-album) {
        padding-left: 2.5rem;
      }

      & .benefit {
        color: var(--dark-0);
      }
    }

    &__image {
        display: block;
        width: calc(100% + 2rem);
        margin: -1rem;

        @include use-media(mobile) {
            max-width: 23.75rem; //380px
        }

        @include use-media(tablet) {
            margin: 0;
            position: absolute;
            z-index: 1;
            top: 50%;
            right: -4vw;
            transform: translateY(-50%);
            width: 62.5vw;
            max-width: 45rem; //720px
        }

        @include use-media(tablet-album) {
            width: 45vw;
            right: 0;
        }
    }

    &__subtitle {
        max-width: 20rem;
        margin: 0;

        @include use-media(tablet-album) {
            max-width: unset;
        }
    }

    &__benefits-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        max-width: 20rem;
        position: relative;
        z-index: 1;

        @include use-media(tablet-album) {
            grid-template-columns: auto auto auto;
            max-width: 32.5rem; //520px
            gap: 2.5rem;
        }

        @include use-media(laptop) {
            max-width: 50rem; //800px
        }

        @include use-media(desktop) {
            max-width: 55rem; //880px
            gap: 5rem;
        }
    }

    &__button {
        width: 100%;
        position: relative;
        z-index: 1;

        @include use-media(tablet) {
            width: auto;
        }
    }

    &.is-sticker {
        position: relative;

        #{$root}__wrapper {
            position: static;
        }

        #{$root}__image {
            display: none;

            @include use-media(tablet) {
                display: block;
                width: 55vw;
                max-width: 31.25rem; //500px
                top: 100%;
                transform: translateY(-100%);
            }

            @include use-media(tablet-album) {
                top: 2rem;
                transform: none;
                right: -5.5vw;
                width: 41vw;
                max-width: 40rem; //640px
            }

            @include use-media(laptop-x) {
                top: 5rem;
                right: -2rem;
                max-width: 50.625rem; //810px
            }

            @include use-media(desktop) {
                width: 100%;
            }
        }
    }

    &--type-msb {
        border-top-color: var(--yellow-100);

        @include use-media(tablet-album) {
            height: auto;
        }

        #{$root}__wrapper {
            @include use-media(tablet-album) {
                padding-bottom: 7.5rem;
            }
        }

        #{$root}__image {
            max-width: 22.5rem; //360px

            @include use-media(tablet) {
                width: 46.875vw;
                max-width: 26.25rem; //420px
                top: 2.5rem;
                transform: none;
            }

            @include use-media(tablet-album) {
                width: 35vw;
                max-width: 35em; //560px
            }

            @include use-media(laptop-x) {
                width: 100%;
                max-width: 35em; //560px
            }

            @include use-media(desktop) {
                right: 8rem;
            }
        }

        #{$root}__subtitle {
            max-width: unset;
        }

        #{$root}__benefits-list {
            @include use-media(tablet-album) {
                grid-template-columns: repeat(2, 1fr);
                gap: 1.5rem;
                max-width: unset;
                width: 100%;
            }

            @include use-media(laptop) {
                grid-template-columns: repeat(3, 1fr);
                gap: 3rem;
            }
        }

        #{$root}__benefit-item {
            color: var(--yellow-100);
        }

        #{$root}__footer {
            & .benefit-text-card {
                color: var(--dark-0);

                &__title {
                    color: var(--dark-0);
                }

                &__icon {
                    color: var(--yellow-100);
                }
            }
        }

        & .benefit-text-card__title {
            color: var(--yellow-100);
        }
    }

    &--type-corp {
        border-top-color: var(--orange-100);

        #{$root}__wrapper {
            @include use-media(tablet-album) {
                padding-bottom: 7.5rem;
            }
        }

        #{$root}__benefit-item {
            color: var(--orange-100);
        }

        #{$root}__footer {
            & .benefit-text-card {
                color: var(--dark-0);

                &__title {
                    color: var(--dark-0);
                }

                &__icon {
                    color: var(--orange-100);
                }
            }
        }

        & .benefit-text-card__title {
            color: var(--orange-100);
        }
    }

    &--size-xl {
        @include use-media(tablet-album) {
            height: auto;
        }

        #{$root}__pattern {
            top: 12.5rem; //200px
            bottom: auto;

            @include use-media(tablet) {
                top: 0;
            }
        }
    }

    &--blue {
        background: linear-gradient(42.24deg, #383a74 20%, #2e1b52 80%);
    }

    &--heavy-purple {
        background: linear-gradient(222.24deg, #101317 20%, #5a2375 80%);
    }

    &--heavy-violet {
        background: linear-gradient(222.24deg, #101317 20%, #6655a2 80%);
    }
}

.banner-product-benefit {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__unit {
        color: var(--green-100);
    }

    &__number {
        @include use-media(tablet-album) {
            font-size: 2.5rem;
            line-height: 1.2;
        }

        & .a-icon {
            width: 0.75rem;
            height: 1.5rem;
            margin-left: 0.25rem;
            vertical-align: middle;

            @include use-media(tablet-album) {
                width: 1.25rem;
                height: 2.5rem;
            }
        }
    }

    &__description {
        @include use-media(tablet-album) {
            font-size: 1rem;
            line-height: 1.5;
        }
    }
}
