.text-banner {
    --border-thickness: 0.25rem;
    position: relative;
    min-height: calc(20rem + var(--border-thickness));
    overflow: hidden;

    @include use-media(tablet-album) {
        --border-thickness: 0.5rem;
        min-height: calc(25.5rem + var(--border-thickness));
    }

    //BORDER COLORS
    &.text-banner--border-green {
        border-top: var(--border-thickness) solid var(--green-100);
    }

    &.text-banner--border-orange {
        border-top: var(--border-thickness) solid var(--orange-100);
    }

    &__title {
        & br {
            display: none;

            @include use-media(tablet) {
                display: inherit;
            }
        }
    }

    &__breadcrumbs {

        &-item {
            
            @include use-media(tablet) {
                & + &:before {
                    content: '';
                    width: 0.25rem;
                    height: 0.25rem;
                    background-color: var(--dark-0);
                    opacity: 0.5;
                }
            }
        }
    }

    &__image {
        max-width: 20rem;

        @include use-media(tablet-album) {
            max-width: 25rem;
        }
    }

    &__pattern {
        pointer-events: none;
        user-select: none;
        opacity: 0.3;
        height: 100%;

        @include use-media(tablet) {
            height: auto;
        }

        img {
            height: inherit;
        }
    }

}