---
interface Props {
	classList: string;
}

const {
	class: classList,
	...rest
} = Astro.props as Props;
---
<div
	class:list={[
		'a-table-header',
		classList
	]}
	{...rest}
>
	<slot />
</div>

<style lang="scss" is:global>
	@import "@styles/media-queries";

	.a-table-header {
		.a-table-row {
			& .a-table-cell {
				color: var(--dark-70);
			}
		}
	}
</style>