---
import DesktopMainMenu from "@components/common/DesktopMainMenu/DesktopMainMenu.astro";
import DesktopSecondaryMenu from "../common/DesktopSecondaryMenu/DesktopSecondaryMenu.astro";
import DesktopThirdMenu from "@components/common/DesktopThirdMenu.astro";
import AButton from "@components/ui/Buttons/AButton.astro";
import HeaderContactLink from "../header/HeaderContactLink.astro";
---

<div class="desktop-nav-layout content-container">
	<div class="desktop-nav-layout__logo">
		<a href="/" class="inherits-link">
			<img src="/assets/logo-main.svg" width="196" height="56" alt="Новиком">
		</a>
	</div>
	<div class="desktop-nav-layout__menu-wrapper">
		<div class="desktop-nav-layout__top-row">
			<div class="desktop-nav-layout__main-menu">
				<DesktopMainMenu/>
			</div>
			<div class="desktop-nav-layout__bank">
				<div class="desktop-nav-layout__bank-contact">
					<HeaderContactLink
						href="#"
						beforeIcon="icon-point-small"
						afterIcon="icon-point">
						Офисы и банкоматы
					</HeaderContactLink>
					<HeaderContactLink
						href="tel:+78002507007"
						afterIcon="icon-phone">
						+7 800 250-70-07
					</HeaderContactLink>
				</div>
				<div class="desktop-nav-layout__bank-apps">
					<AButton
						element="a"
						size="s"
						href="#"
						target="_blank"
						outline
						beforeIcon="icon-download-small">
						Мобильное приложение
					</AButton>
					<AButton
						class="js-drop-down-button"
						element="button"
						size="s"
						target="_blank">
						Онлайн-банк
						<div class="drop-down-menu js-drop-down-menu">
							<a href="#" class="drop-down-menu__link">Для частных лиц</a>
							<a href="#" class="drop-down-menu__link">Для организаций</a>
						</div>
					</AButton>
				</div>
			</div>
		</div>
		<div class="desktop-nav-layout__bottom-row">
			<div class="desktop-nav-layout__second-menu">
				<DesktopSecondaryMenu />
			</div>
			<div class="desktop-nav-layout__third-menu">
				<DesktopThirdMenu></DesktopThirdMenu>
			</div>
		</div>
	</div>
</div>

<style lang="scss" is:global>
	@use "sass:map";
	@import "@styles/media-queries";

	%center-item-in-cell {
		display: flex;
		place-items: center;
	}

	.desktop-nav-layout {
		$root: #{&};

		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1.5rem;
		padding-top: 1rem;
		padding-bottom: 1rem;

		@include use-media(tablet-album) {
			padding-top: 0;
			padding-bottom: 0;
			gap: 2.5rem;
		}

		@include use-media(laptop-x) {
			gap: 5rem;
		}

		@include use-media(desktop) {
			gap: 7.5rem;
		}

		&__logo {
			@extend %center-item-in-cell;

			flex-shrink: 0;

			& img {
				width: 8.75rem; //140px
				height: 2.5rem;

				@include use-media(tablet) {
					width: 10.5rem; //168px
					height: 3rem;
				}

				@include use-media(laptop-x) {
					width: auto;
					height: auto;
				}
			}
		}

		&__menu-wrapper {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			gap: 1.5rem;
		}

		&__top-row,
		&__bottom-row {
			display: flex;
			position: relative;
		}

		&__top-row {
			justify-content: flex-end;

			@include use-media(tablet-album) {
				border-bottom: 1px solid var(--blue-30, #C6C7E2);
				justify-content: space-between;
			}
		}

		&__bottom-row {
			display: none;

			@include use-media(tablet-album) {
				display: flex;
				justify-content: space-between;
			}
		}

		&__main-menu {
			display: none;

			@include use-media(tablet-album) {
				display: flex;
				place-items: center;
				place-content: center;
			}
		}

		&__second-menu {
			width: 100%;
			padding-bottom: 1rem;
		}

		&__third-menu {
			display: grid;
			grid-template-columns: 1fr;

			// т.к. обертка меню во все окно
			// а убирать ее из контейнера не хочу - создаст доп.сложности
			// сделаю так
			width: 100vw;
			background-color: var(--dark-0);
			border-radius: map.get($border-radius, card-desktop);
			box-shadow: 0 8px 32px 0 #3C3C474D;
			position: absolute;
			top: 100%;
			right: 0;
			z-index: map.get($z-layers, select-list);

			@include use-media(tablet-album) {
				max-width: calc(100vw - 10rem);
			}

			@include use-media(desktop) {
				max-width: map.get($mq-breakpoints, laptop-x);
			}
		}

		&__bank {
			@extend %center-item-in-cell;
			gap: 1rem;

			@include use-media(desktop) {
				gap: 2.5rem;
			}
		}

		&__bank-apps {
			display: flex;
			gap: 1rem;

			& > * {
				&:not(:last-child) {
					display: none;

					@include use-media(tablet) {
						display: inline-flex;
					}
				}
			}
		}

		&__bank-contact {
			display: none;

			@include use-media(tablet-album) {
				display: flex;
				gap: 1rem;
			}

			@include use-media(desktop) {
				gap: 2.5rem;
			}
		}

		&__search {
			@extend %center-item-in-cell;

			grid-area: search;
		}
	}
</style>
