---
interface Props {
    title: string;
}

const { title } = Astro.props as Props;

// layout для Новости
---

<div class="news-layout">
    <slot name="breadcrumbs" />
    <div class="news-layout__header">
        <h1 class="headline-1" set:html={title} />
        <div class="news-layout__info">
            <slot name="info" />
        </div>
    </div>

    <div class="news-layout__body">
        <slot name="body" />
    </div>
</div>

<style lang="scss" is:global>
    @import "@styles/media-queries";

    .news-layout {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        @include use-media(tablet-album) {
            gap: 3rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }

        &:not(:last-child) {
            margin-bottom: 2.5rem;

            @include use-media(tablet-album) {
                margin-bottom: 3rem;
            }
        }

        &__header {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @include use-media(tablet) {
                gap: 2rem;
            }

            @include use-media(tablet-album) {
                gap: 2.5rem;
            }
        }

        &__info {
            display: flex;
            gap: 1rem;
            align-items: center;

            @include use-media(tablet) {
                gap: 1.5rem;
            }

            & .a-tag {
                margin-bottom: 0;
            }
        }

        &__body {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;

            @include use-media(tablet) {
                gap: 3rem;
            }

            & .a-rte {
                & > *:not(.a-table) {
                    @include use-media(tablet-album) {
                        max-width: 63.375rem; //1014px
                    }
                }
            }
        }
    }
</style>
