header#accessibilityPanel {
  height: 70px;
  width: 100%;
  padding: 15px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid red;

  .settings {
    max-width: 1200px;
    height: 56px;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;

    .fontSizeSettings,
    .contrastColorSettings {
      height: 100%;
      padding: 0 5px;

      display: flex;
      align-items: center;
      text-align: center;
      gap: 10px;

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
      }
    }

    .fontSizes {
      height: 100%;

      display: flex;
      gap: 10px;
      align-items: center;

      .fontDefault {
        font-size: 1rem;
        cursor: pointer;
        font-weight: 500;
      }

      .fontMedium {
        font-size: 1.25rem;
        cursor: pointer;
        font-weight: 600;
      }

      .fontLarge {
        font-size: 1.5rem;
        cursor: pointer;
        font-weight: 600;
      }
    }

    .contrastColors {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      .contrastColorsBlue,
      .contrastColorsBlack,
      .contrastColorsYellow {
        height: 34px;
        width: 34px;
        padding: 10px;
        border-radius: 50%;

        font-size: 1.5rem;
        font-weight: 600;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.contrastColorsBlue {
          border: 1px solid #339ffd;
          color: #339ffd;
          background-color: #063462;
        }

        &.contrastColorsBlack {
          border: 1px solid #000;
          color: #000;
          background-color: #fff;
        }

        &.contrastColorsYellow {
          border: 1px solid #4b5352;
          color: #4b5352;
          background-color: #f7f3d6;
        }
      }
    }
  }

  .btnReset {
    width: auto;
    height: 42px;
    margin: 10px 40px;
    padding: 5px 15px;
    border-radius: 55px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;

    text-align: center;
    font-size: 1rem;
    background-color: #00772e;
    color: #fff;
    cursor: pointer;

    .icon {
      height: 24px;
    }
  }
}

.fontSizes div {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
}

.fontSizes div.selected {
  &::after {
    background-color: #00772e;
  }
}

.accessibility {
  &.blue-contrast {
    --blue-contrast-bg: #063462;
    --blue-contrast-medium: #002950;
    --blue-contrast-bg-dark: #001e3b;
    --blue-contrast-light: #339ffd;
    --blue-contrast-light-1: #7ac1ff;
    --blue-contrast-white: #fff;
    --blue-100: #349ffd;
    --blue-30: #fff;
    --bs-white-rgb: #339ffd;
    --purple-10: #339ffd;

    //Главная страница

    background-color: var(--blue-contrast-bg);
    color: var(--blue-contrast-light);

    & .bg-heavy-purple {
      background: none;
    }

    .banner-hero {
      background: none;

      img {
        display: none;
      }
    }

    .icon>img,
    .icon svg {
      color: var(--blue-contrast-white);
    }

    .main-menu__link {
      color: var(--blue-contrast-white);
    }

    .header__link {
      color: var(--blue-contrast-white);

      &:hover {
        color: var(--blue-contrast-light);
      }
    }

    .header-contact-link__text {
      color: var(--blue-contrast-white);
    }

    .btn {
      --bs-btn-color: var(--blue-contrast-white);
      --bs-btn-border-color: var(--blue-contrast-white);
      --bs-btn-bg: transparent;

      --bs-btn-hover-color: var(--blue-contrast-bg-dark);
      --bs-btn-hover-bg: var(--blue-contrast-light);
      --bs-btn-hover-border-color: var(--blue-contrast-bg-dark);

      --bs-btn-active-bg: var(--blue-contrast-white);
      --bs-btn-active-border-color: var(--blue-contrast-medium);
      --bs-btn-active-color: var(--blue-contrast-medium);
    }

    .btn.btn-sm.btn-primary {
      --bs-btn-color: var(--blue-contrast-medium);
      --bs-btn-bg: var(--blue-contrast-white);
      --bs-btn-border-color: var(--blue-contrast-medium);

      --bs-btn-hover-color: var(--blue-contrast-white);

      --bs-btn-active-bg: var(--blue-contrast-medium);
      --bs-btn-active-border-color: var(--blue-contrast-medium);

      &:hover {
        background-color: var(--blue-contrast-light);
      }

      &:active {
        color: var(--blue-contrast-medium);
        background-color: var(--blue-contrast-white);
      }

      &:focus {
        background-color: var(--blue-contrast-light);
        color: var(--blue-contrast-medium);
      }
    }

    .dropdown-menu {
      --bs-dropdown-link-color: var(--blue-contrast-white);
      --bs-dropdown-bg: var(--blue-contrast-light);
      --bs-dropdown-link-active-bg: var(--blue-contrast-light-1);
    }

    .dropdown-nav {
      background-color: var(--blue-contrast-light);
    }

    .dropdown-item:hover {
      color: var(--blue-contrast-medium);
    }

    .banner-hero-thumb {
      background-color: var(--blue-contrast-medium);
      border-top: 1px solid #fff;

      &::after {
        background-color: var(--blue-contrast-white);
      }
    }

    .banner-hero-thumb:not(:first-child) {
      border-left: 1px solid var(--blue-contrast-white);
    }

    .dark-70 {
      color: var(--blue-contrast-medium);
    }

    .chip.text-s {
      color: var(--blue-contrast-white);
      background-color: var(--blue-contrast-medium);

      &:hover {
        transition: all 0.3s linear;
        color: var(--blue-contrast-medium);
        background-color: var(--blue-contrast-white);
      }
    }

    .section-layout .container h3.ps-lg-6.mb-6.mb-lg-7 {
      color: var(--blue-contrast-white);
    }

    .card-product.card-product--yellow::before,
    .card-product.card-product--green::before,
    .card-product.card-product--orange::before {
      background-color: var(--blue-contrast-light);
    }

    .card-product.card-product--yellow,
    .card-product.card-product--green,
    .card-product.card-product--orange {
      background-color: var(--blue-contrast-light-1);
    }

    .tag__content.text-s {
      background-color: var(--blue-contrast-light);
      color: var(--blue-contrast-white);
    }

    .card-product {
      &__content {
        .d-inline-flex.flex-nowrap.align-items-baseline.text-l.fw-semibold.gap-1.violet-100 {
          color: var(--blue-contrast-medium);
        }
      }

      &__title {
        color: var(--blue-contrast-medium);
      }

      &__button {
        background-color: var(--blue-contrast-light);
        color: var(--blue-contrast-white);
        border: 1px solid var(--blue-contrast-light);

        &:hover {
          background-color: var(--blue-contrast-medium);
          color: var(--blue-contrast-white);
        }
      }

      &__img {
        display: none;
      }
    }

    .swiper-pagination-bullet {
      background-color: var(--blue-contrast-white);

      &-active {
        background-color: var(--blue-contrast-light);
      }
    }

    .card-service {
      background-color: var(--blue-contrast-light);

      & h4 {
        color: var(--blue-contrast-white);
      }

      &-salary {
        background-color: var(--blue-contrast-light);

        &::after {
          background: linear-gradient(270deg,
              rgba(38, 70, 138, 0.9) 23.5%,
              rgba(38, 70, 138, 0) 100%);
        }
      }
    }

    .btn.btn-link.btn-lg-lg.text-info.btn-icon {
      border: none;
      background-color: none;

      &:hover {
        background-color: inherit;
        border: none;
        color: inherit;
        box-shadow: none;
      }
    }

    .card-service-app {
      background-color: var(--blue-contrast-light);

      &::after {
        background: linear-gradient(270deg,
            rgba(38, 70, 138, 0.9) 23.5%,
            rgba(38, 70, 138, 0) 100%);
      }

      & h4 {
        color: var(--blue-contrast-white);
      }

      & .btn {
        border: none;
        background-color: none;
        color: inherit;

        &:hover {
          background-color: inherit;
          color: inherit;
          box-shadow: none;
        }
      }

      .icon svg {
        fill: var(--blue-contrast-medium);
      }
    }

    .section-layout {
      background-color: var(--blue-contrast-bg);
      color: var(--blue-contrast-white);

      & h3 {
        color: var(--blue-contrast-white);
      }

      .announcement {
        color: white;

        span {
          color: white;
        }
      }

      .icon {
        fill: white;
      }
    }

    .nav-tabs {
      .nav-link {
        background-color: var(--blue-contrast-bg);
        color: var(--blue-contrast-white);
        border-color: var(--blue-contrast-white);

        &.active {
          background-color: var(--blue-contrast-light);
          color: var(--blue-contrast-white);
          border-color: var(--blue-contrast-white);
        }
      }
    }

    .tab-content {
      color: var(--blue-contrast-white);
    }

    .dark-70 {
      color: var(--blue-contrast-white);
    }

    #loan-consumer label,
    #loan-consumer span,
    #loan-consumer p {
      color: var(--blue-contrast-white);
    }

    .form-check-label a {
      color: var(--blue-contrast-white);
    }

    .card-calculate-result {
      background-color: var(--blue-contrast-light-1);

      &__label,
      &__body {
        color: var(--blue-contrast-white);
      }
    }

    .green-100 {
      color: var(--blue-contrast-white);
    }

    .form-feedback.bg-white {
      background: var(--blue-contrast-bg);
    }

    form .btn.btn-primary.btn-lg-lg.w-100 {
      background-color: var(--blue-contrast-white);
      color: var(--blue-contrast-light);
      border: none;
      transition: background-color 0.25s ease;

      &:hover {
        background-color: var(--blue-contrast-bg);
        border: none;
        color: var(--blue-contrast-light);
      }
    }

    button.btn.btn-info.w-100.w-lg-auto {
      background-color: var(--blue-contrast-white);
      color: var(--blue-contrast-light);
      border: none;
      transition: background-color 0.25s ease;

      &:hover {
        background-color: var(--blue-contrast-bg);
        border: none;
        color: var(--blue-contrast-light);
      }
    }

    .card-about-bank__col:first-child:after {
      background-color: var(--blue-contrast-light);
      background: var(--blue-contrast-light);
    }

    .card-about-bank__col.d-flex.flex-column {
      background-color: var(--blue-contrast-light);
    }

    .violet-100.fw-semibold.text-number-m.fw-bold {
      color: var(--blue-contrast-white);
    }

    .bg-dark-10 {
      background-color: var(--blue-contrast-light-1);
    }

    .dark-100 {
      color: var(--blue-contrast-white);
    }

    .btn.btn-info.w-100.w-lg-auto {
      background-color: var(--blue-contrast-light);
      color: var(--blue-contrast-white);
      border: none;

      &:hover {
        background-color: var(--blue-contrast-white);
        color: var(--blue-contrast-light);
        border: none;
      }
    }

    .btn.btn-primary.btn-lg-lg.w-100 {
      background-color: var(--blue-contrast-light);
      color: var(--blue-contrast-white);
      border: none;

      &:hover {
        background-color: var(--blue-contrast-bg);
        color: var(--blue-contrast-white);
        border: none;
      }
    }

    .section-currency-exchange__wrapper.collapse {
      background-color: var(--blue-contrast-bg-dark);

      .form-label,
      h4,
      .caption-m.dark-70.mt-2.d-block {
        color: var(--blue-contrast-light);
      }
    }

    .d-flex.flex-column.row-gap-4.px-3.py-4.p-md-5.p-lg-6.bg-blue-10 {
      background-color: var(--blue-contrast-bg-dark);
    }

    .purple-70 {
      color: var(--blue-contrast-white);
    }

    h5 {
      color: var(--blue-contrast-white);
    }

    .btn-app.btn.btn-primary.d-flex.align-items-center.gap-3.justify-content-center {
      background-color: var(--blue-contrast-light);
      color: var(--blue-contrast-white);
      border: none;

      &:hover {
        background-color: var(--blue-contrast-white);
        color: var(--blue-contrast-light);
        border: none;
      }
    }

    .btn.btn-link.d-inline-flex.gap-2.align-items-center {
      color: var(--blue-contrast-white);
      border: none;

      &:hover {
        background: none;
        color: var(--blue-contrast-white);
      }
    }

    .btn.btn-primary.btn-lg-lg {
      background-color: var(--blue-contrast-light);
      color: var(--blue-contrast-white);
      border: none;

      &:hover {
        background-color: var(--blue-contrast-white);
        color: var(--blue-contrast-light);
        border: none;
      }
    }

    .btn.btn-lg-lg.btn-outline-primary.d-flex.gap-2.align-items-center.justify-content-center {
      background-color: var(--blue-contrast-light);
      color: var(--blue-contrast-white);
      border: none;

      &:hover {
        background-color: var(--blue-contrast-white);
        color: var(--blue-contrast-light);
        border: none;
      }
    }

    a.btn-app.btn.d-inline-flex.justify-content-center.align-items-center.bg-white {
      border: 1px solid var(--blue-contrast-light);
    }

    .footer__info {
      background-color: var(--blue-contrast-bg-dark);
    }

    .bg-blue-10 {
      background-color: var(--blue-contrast-light);
      color: var(--blue-contrast-white);
    }

    .d-flex.gap-2.align-items-center {
      color: var(--blue-contrast-white);

      &:hover {
        color: var(--blue-contrast-bg-dark);
      }
    }

    .js-polygon-container-svg {
      color: var(--blue-contrast-light);
    }

    //TRUST MANAGEMENT PAGE

    .banner-product {
      &--border-violet {
        --border-top-color: var(--blue-contrast-white);
      }

      &__wrapper {
        background-color: var(--blue-contrast-bg);
      }

      h1 {
        color: var(--blue-contrast-white);
      }

      &__subtitle.text-l {
        color: var(--blue-contrast-white);
      }

      .list.list--heavy.list--size-m.violet-100 {
        color: var(--blue-contrast-white);
      }

      & li::before {
        background: var(--blue-contrast-light);
      }

      &__image {
        display: none;
      }
    }

    .benefit__content.d-flex.flex-column.gap-3 {
      color: var(--blue-contrast-white);
    }

    .icon.size-xl {
      filter: brightness(0) invert(1);
    }

    .icon.size-xxl {
      filter: brightness(0) invert(1);
    }

    .js-polygon-container-svg {
      display: block;
    }

    .helper__wrapper {
      background-color: var(--blue-contrast-light);
    }

    .helper__image.w-auto.float-end {
      display: none;
    }

    .btn-app.btn.d-inline-flex.justify-content-center.align-items-center.bg-white {
      background-color: var(--blue-contrast-light);
    }

    .section-layout.bg-dark-10 {
      background-color: var(--blue-contrast-bg);
    }

    .tabs-panel__list-item.swiper-slide-active {
      &-active {
        background-color: var(--blue-contrast-white);
        color: var(--blue-contrast-light);
        border-color: var(--blue-contrast-white);
      }

      background-color: var(--blue-contrast-light);
      color: var(--blue-contrast-white);
      border-color: var(--blue-contrast-white);

      &:hover {
        background-color: var(--blue-contrast-light-1);
      }
    }

    .tabs-panel__list-item:not(.swiper-slide-active) {
      background-color: var(--blue-contrast-light);
      color: var(--blue-contrast-white);
      border-color: var(--blue-contrast-white);

      &:hover {
        background-color: var(--blue-contrast-light-1);
      }
    }

    .card.overflow-hidden.position-relative {
      background-color: var(--blue-contrast-light);
    }

    .card__image-container.flex-shrink-0.mx-auto {
      display: none;
    }

    .card__title.text-break {
      color: var(--blue-contrast-white);
    }

    .card__condition-list.d-flex.flex-column.flex-md-row.flex-wrap.gap-4.column-gap-md-11.column-gap-lg-16.row-gap-lg-6 {
      color: var(--blue-contrast-white);

      & span {
        color: var(--blue-contrast-white);
      }
    }

    .d-flex.flex-column.gap-4 {
      color: var(--blue-contrast-white);
    }

    .list.list--size-l li:before {
      background: var(--blue-contrast-bg);
    }

    .accordion-button.collapsed {
      color: var(--blue-contrast-light);
    }

    //404/503 pages
    .d-flex.flex-column.flex-xl-row.column-gap-xl-6 img {
      display: none;
    }

    .map-content__header.map-content__header--type-back.d-flex.flex-column.row-gap-4.row-gap-md-6 {
      background-color: var(--blue-contrast-bg);
    }

    //atm-detail.html
    .btn.btn-link.btn-lg.btn-icon {
      border: none;
      padding: 5px 10px;

      &:hover {
        color: var(--blue-contrast-light);
        background-color: var(--blue-contrast-white);
      }
    }

    //atms.html
    .map-content__header {
      background-color: var(--blue-contrast-bg);
    }

    .card-office {
      background-color: var(--blue-contrast-light);
    }

    .modal {
      &-header {
        background-color: var(--blue-contrast-bg);
      }

      &-body {
        background-color: var(--blue-contrast-bg);
      }
    }

    .btn.btn-primary.btn-md-lg {
      background-color: var(--blue-contrast-light);
      color: var(--blue-contrast-white);
      border: none;

      &:hover {
        color: var(--blue-contrast-light);
        background-color: var(--blue-contrast-white);
        border: none;
      }
    }

    .btn.btn-outline-primary.btn-md-lg {
      background-color: var(--blue-contrast-light);
      color: var(--blue-contrast-white);
      border: none;

      &:hover {
        color: var(--blue-contrast-light);
        background-color: var(--blue-contrast-white);
        border: none;
      }
    }

    //AWARDS page
    .bg-linear-blue {
      background: linear-gradient(270deg,
          rgba(38, 70, 138, 0.9) 23.5%,
          rgba(38, 70, 138, 0) 100%);
    }

    .card-award {
      background-color: var(--blue-contrast-light);
    }

    .violet-100 {
      color: var(--blue-contrast-white);
    }

    .violet-100-important {
      color: var(--blue-contrast-white) !important;
    }

    .card-award__wrapper img {
      opacity: 0;
    }

    //banking-support.html
    .banner-product--border-orange {
      --border-top-color: var(--blue-contrast-white);
    }

    .btn-orange {
      background-color: var(--blue-contrast-light);
      color: var(--blue-contrast-white);
      border: none;

      &:hover {
        color: var(--blue-contrast-light);
        background-color: var(--blue-contrast-white);
        border: none;
      }
    }

    .card-benefit {
      background-color: var(--blue-contrast-light);
      color: var(--blue-contrast-white);
      border: none;
    }

    .card-benefit__image {
      display: none;
    }

    .helper.card-benefit__image {
      background-color: var(--blue-contrast-light);
    }

    .helper__content.text-l .link {
      color: var(--blue-contrast-bg-dark);

      &:hover {
        color: var(--blue-contrast-bg);
        text-decoration: underline;
      }
    }

    .list li:before {
      background: var(--blue-contrast-light);
    }

    .row.row-gap-6 h4 {
      color: var(--blue-contrast-white);
    }

    .stepper-item {
      &__number-icon path {
        fill: var(--blue-contrast-light);
      }

      &__icon-border path {
        stroke: var(--blue-contrast-light);
      }

      &__arrow {
        color: var(--blue-contrast-light);
      }

      &__content {
        color: var(--blue-contrast-white);
      }
    }

    .js-polygon-container-svg {
      display: none;
    }

    .text-l {
      color: var(--blue-contrast-white);
    }

    .list.list--size-l li {
      color: var(--blue-contrast-white);

      &:before {
        background: var(--blue-contrast-light);
      }
    }

    .contact-block {
      &__content {
        color: var(--blue-contrast-white);
      }

      &__description {
        color: var(--blue-contrast-white);
      }

      &.contact-block {
        &--bg-heavy-purple {
          background: var(--blue-contrast-bg-dark);
        }

        &--bg-white {
          background: var(--blue-contrast-bg-dark);
        }
      }
    }

    .contact-block--bg-white:has(> .pattern-bg)::after {
      background: linear-gradient(90deg,
          var(--blue-contrast-light),
          0.9,
          0%,
          rgba(173, 173, 212, 0) 100%);
    }

    .btn.btn-lg-lg.btn-outline-primary {
      background-color: var(--blue-contrast-light);
      border: none;

      &:hover {
        background-color: var(--blue-contrast-white);
        color: var(--blue-contrast-light);
      }
    }

    .btn.btn-link.btn-icon.m-auto.m-lg-0 {
      border: none;
      padding: 5px 10px;
      color: var(--blue-contrast-bg);

      &:hover {
        color: var(--blue-contrast-white);
        background-color: var(--blue-contrast-light);
        border: none;
      }
    }

    //biometric-identification.html
    .banner-text--border-green {
      border-top: 8px solid var(--blue-contrast-white);
    }

    .col-12.col-xl-6.position-relative.z-1.mb-5.mb-md-0.pt-6 {
      color: var(--blue-contrast-white);
    }

    .link.text-decoration-underline {
      color: var(--blue-contrast-white);

      &:hover {
        color: var(--blue-contrast-light);
      }
    }

    .green-100.size-md-xxl.icon {
      filter: brightness(0) invert(1);
    }

    //bonus-moneybox.html

    .banner-text__image {
      display: none;
    }

    .text-l .link {
      text-decoration: underline;
      color: var(--blue-contrast-light);

      &:hover {
        color: var(--blue-contrast-white);
      }
    }

    //bonuses.html
    .bg-dark-10 {
      background-color: var(--blue-contrast-light);
    }

    .bg-gradient-violet {
      background: linear-gradient(42deg,
          var(--blue-contrast-light) 20%,
          var(--blue-contrast-white) 80%);
    }

    .select2-selection__rendered {
      color: var(--blue-contrast-white) !important;

      &:focus {
        color: var(--blue-contrast-white);
      }
    }

    .select2-dropdown.select2-dropdown--below {
      background-color: var(--blue-contrast-bg-dark);
    }

    //cards.html
    .btn.btn-tertiary.btn-lg-lg.card-product-list__button.w-100.w-sm-auto {
      background-color: var(--blue-contrast-bg);
      border: none;

      &:hover {
        background-color: var(--blue-contrast-white);
        color: var(--blue-contrast-bg);
      }
    }

    //career-vacancy.html
    .btn.btn-link.btn-lg-lg.d-inline-flex.gap-2.align-items-center.card-product-list__button-more {
      background-color: var(--blue-contrast-bg);
      border: none;
      padding: 15px 32px;

      &:hover {
        background-color: var(--blue-contrast-white);
        color: var(--blue-contrast-bg);
      }
    }

    .btn.btn-secondary.btn-lg-lg.d-inline-block.w-100.w-md-auto {
      background-color: var(--blue-contrast-light);
      border: none;

      &:hover {
        background-color: var(--blue-contrast-white);
        color: var(--blue-contrast-light);
      }
    }

    //career.html
    .mt-7.w-100.w-sm-auto.btn.btn-secondary.btn-lg-lg.d-inline-block {
      background-color: var(--blue-contrast-light);
      border: none;

      &:hover {
        background-color: var(--blue-contrast-white);
        color: var(--blue-contrast-light);
      }
    }

    .page-item {
      --bs-pagination-border-radius: none;
      --bs-pagination-active-bg: var(--blue-contrast-light);
      --bs-pagination-active-border-color: var(--blue-contrast-bg);
      --bs-pagination-border-radius: 4px;

      &:hover {
        --bs-pagination-border-radius: none;
        --bs-pagination-hover-bg: var(--blue-contrast-light-1);
        --bs-pagination-active-bg: var(--blue-contrast-light-1);
        --bs-pagination-active-border-color: var(--blue-contrast-light);
        --bs-pagination-border-radius: 4px;
      }

      &.active {
        --bs-pagination-border-radius: none;
        --bs-pagination-active-bg: var(--blue-contrast-light);
        --bs-pagination-active-border-color: var(--blue-contrast-white);
        --bs-pagination-border-radius: 4px;
      }
    }

    //cashback.html

    .section-layout.bg-blue-10 {
      background: var(--blue-contrast-bg);
    }

    .card-sale__image {
      display: none;
    }

    .btn.btn-lg.btn-link.btn-icon {
      background-color: var(--blue-contrast-light);
      border: none;
      padding: 15px 32px;

      &:hover {
        background-color: var(--blue-contrast-white);
        color: var(--blue-contrast-light);
      }
    }

    //contacts.html

    form .btn.btn-primary.btn-lg.text-m.w-100 {
      background-color: var(--blue-contrast-light);
      border: none;
      padding: 15px 32px;

      &:hover {
        background-color: var(--blue-contrast-white);
        color: var(--blue-contrast-light);
      }
    }

    .card-help__input.form-control.form-control-lg.bg-transparent {
      color: var(--blue-contrast-white);
    }

    //contribution-detail.html

    .banner-product {
      --border-top-color: var(--blue-contrast-white);
    }

    .btn-tertiary.btn.btn-lg-lg.banner-product__button {
      background-color: var(--blue-contrast-light);
      border: none;
      padding: 15px 32px;

      &:hover {
        background-color: var(--blue-contrast-white);
        color: var(--blue-contrast-light);
      }
    }

    .card-calculate-result__footer {
      .btn.btn-primary.btn-lg-lg.w-100 {
        background-color: var(--blue-contrast-white);
        color: var(--blue-contrast-light);
        transition: 0.25s linear all;

        &:hover {
          background-color: var(--blue-contrast-bg);
          color: var(--blue-contrast-white);
        }
      }
    }

    //contributions.html
    .card-product-list__condition.d-flex.flex-column.gap-2.w-100.w-sm-50.w-xl-auto {
      .text-number-l.fw-bold {
        color: var(--blue-contrast-white);
      }
    }

    .card-benefit.d-inline-flex.px-3.px-sm-5.px-lg-6.p-4.p-sm-5.p-lg-6.w-100.bg-dark-10 {
      margin-top: 20px;
      background-color: var(--blue-contrast-light);
    }

    .accordion-header .accordion-button {
      color: var(--blue-contrast-white);
      background-color: var(--blue-contrast-bg);
    }

    .accordion {
      background-color: var(--blue-contrast-light);

      &-body {
        color: var(--blue-contrast-bg);
        background-color: var(--blue-contrast-light-1);
      }
    }

    //customer-requests.html
    .list.list--size-l .link {
      color: var(--blue-contrast-light);

      &:hover {
        color: var(--blue-contrast-white);
      }
    }
  }

  &.black-contrast {
    --black-contrast-white: #fff;
    --black-contrast-black: #000;
    background-color: var(--black-contrast-white);
    color: var(--black-contrast-black);

    .banner-hero {
      background: none;

      img {
        display: none;
      }
    }
  }

  &.yellow-contrast {
    background-color: #f7f3d6;
    color: #4b5352;

    .banner-hero {
      background: none;

      img {
        display: none;
      }
    }
  }
}