@import "./accessibility-blue-contrast";
@import "./accessibility-yellow-contrast";
@import "./accessibility-black-contrast";

header#accessibilityPanel {
  height: 70px;
  width: 100%;
  padding: 15px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .settings {
    max-width: 1200px;
    height: 56px;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;

    .fontSizeSettings,
    .contrastColorSettings {
      height: 100%;
      padding: 0 5px;

      display: flex;
      align-items: center;
      text-align: center;
      gap: 10px;

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
      }
    }

    .fontSizes {
      height: 100%;

      display: flex;
      gap: 10px;
      align-items: center;

      .fontDefault {
        font-size: 1rem;
        cursor: pointer;
        font-weight: 500;
      }

      .fontMedium {
        font-size: 1.25rem;
        cursor: pointer;
        font-weight: 600;
      }

      .fontLarge {
        font-size: 1.5rem;
        cursor: pointer;
        font-weight: 600;
      }
    }

    .contrastColors {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      .contrastColorsBlue,
      .contrastColorsBlack,
      .contrastColorsYellow {
        height: 34px;
        width: 34px;
        padding: 10px;
        border-radius: 50%;

        font-size: 1.5rem;
        font-weight: 600;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.contrastColorsBlue {
          border: 1px solid #339ffd;
          color: #339ffd;
          background-color: #063462;
        }

        &.contrastColorsBlack {
          border: 1px solid #000;
          color: #000;
          background-color: #fff;
        }

        &.contrastColorsYellow {
          border: 1px solid #4b5352;
          color: #4b5352;
          background-color: #f7f3d6;
        }
      }
    }
  }

  .btnReset {
    width: auto;
    height: 42px;
    margin: 10px 40px;
    padding: 5px 15px;
    border-radius: 55px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;

    text-align: center;
    font-size: 1rem;
    background-color: #00772e;
    color: #fff;
    cursor: pointer;

    .icon {
      height: 24px;
    }
  }
}

.fontSizes div {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
}

.fontSizes div.selected {
  &::after {
    background-color: #00772e;
  }
}

.accessibility {
  .polygon-container.js-polygon-container {
    width: fit-content;
  }

  .d-flex.flex-column.gap-4.gap-lg-5.gap-xl-4.bg-dark-0.rounded-3.px-3.py-4.p-md-5.px-lg-6.p-xl-6 {
    width: fit-content;
    padding-right: 30px !important;
    padding-left: 30px !important;
  }

  .btn.btn-primary.btn-lg-lg {
    width: 100%;
  }

  .col-12.col-md-6.col-xl-3.d-flex.flex-column.row-gap-3 {
    width: auto;
    align-items: flex-start;
  }

  .card-benefit.d-inline-flex.px-3.px-sm-5.px-lg-6.p-4.p-sm-5.p-lg-6.w-100.bg-dark-10 {
    margin-top: 25px;
  }

  .card-benefit.d-inline-flex.px-3.px-sm-5.px-lg-6.p-4.p-sm-5.p-lg-6.w-100.bg-dark-10.card-benefit--type-img {
    padding: 0;
    margin: 0;
  }
}