.high-contrast {
    background-color: #000 !important;
    color: #FFF !important;
}

.accesibility {
    &.high-contrast {
        &.bg-heavy-purple {
            background: none;
        }
    }
}