.benefit {
    &__title, &__description {
        word-wrap: break-word;
        word-break: break-word;

        & br {
            display: none;

            @include use-media(laptop) {
                display: inherit;
            }
        }
    }
}
