.chip {
    display: inline-block;
    white-space: nowrap;
    padding: .25rem .5rem;
    background-color: var(--dark-10);
    color: var(--violet-100);
    transition: color ease .33s;
    border-radius: .25rem;

    @include use-media(tablet-album) {
        padding: .5rem 1rem;
    }

    &:hover {
        color: var(--blue-100);
    }

    &--outlined {
        background-color: transparent;
        color: var(--dark-70);
        border: 1px solid var(--purple-30);

        @include use-media(tablet-album) {
            padding: .25rem .5rem;
        }

        &:hover {
            color: currentColor;
        }

        @at-root .contact-block--bg-blue & {
            color: var(--dark-0);
        }

        @at-root .contact-block--bg-gray & {
            color: var(--dark-100);
        }

        @at-root .contact-block--bg-white & {
            color: var(--dark-100);
        }

        @at-root .contact-block--bg-heavy-purple & {
            color: var(--dark-0);
        }
    }

    &.dark-0 {
      color: var(--dark-0);
    }
}
