.helper {

    @include use-media(laptop) {
        padding-right: 11rem!important;
    }

    &__wrapper {
        padding: 1rem 1rem 2rem;
        position: relative;
        z-index: 1;

        @include use-media(tablet) {
            padding: 1.5rem;
        }

        @include use-media(laptop) {
            padding-right: 0;
        }
    }

    &__image {
        max-width: 7.5rem;

        @include use-media(tablet-album) {
            max-width: 10rem;
        }
    }

    &__content {
        a {
            color: var(--blue-100);
        }
    }
}
