.pb__card {
    background: radial-gradient(100% 141.69% at 0% 50%, rgba(55, 17, 106, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.5);

    box-shadow: -1px -1px 1px 0px rgba(142, 92, 209, 0.2) inset;

    backdrop-filter: blur(16px);
    border-radius: 1rem;
    padding: 1rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include use-media(tablet) {
        padding: 2.5rem;
    }

    &--large {
        min-height: 400px;
    }

    &--small {
        min-height: 200px;
    }

    &-title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 32.4px;
        margin-bottom: 1.5rem;

        @include use-media(tablet) {
            font-size: 2rem;
            line-height: 40px;
        }
    }

    &-body {
        gap: 1.5rem;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1;

        @include use-media(tablet) {
            flex-direction: row;
        }
    }

    &-text {
        font-size: 1rem;
        line-height: 22.4px;

        @include use-media(tablet) {
            font-size: 1.25rem;
            line-height: 28px;
        }
    }

    &-info {
        list-style: none;
        padding: 0;
        margin: 0;

        &-item {
            font-size: 1rem;
            line-height: 22.4px;
            margin-bottom: 1rem;
            position: relative;
            padding-left: 1.5rem;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0.75rem;
                transform: translateY(-50%);
                width: 1rem;
                height: 1.5rem;
                background: url("data:image/svg+xml,%3Csvg width='16' height='22' viewBox='0 0 16 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.5' x='4.5' y='10.5' width='11' height='11' rx='1.5' stroke='%23B0B7FE' stroke-dasharray='2 2'/%3E%3Crect y='6' width='12' height='12' rx='2' fill='%23591AAF'/%3E%3C/svg%3E ") no-repeat center center;
                background-size: contain;
            }

            @include use-media(tablet) {
                font-size: 1.25rem;
                line-height: 28px;
            }
        }
    }

    &-image {
        flex-shrink: 0;
        align-self: flex-end;

        &--large {
            max-width: 96px;
            height: auto;
        }

        &--small {
            max-width: 96px;
            height: auto;
        }

        @include use-media(tablet) {
            &--large {
                max-width: 256px;
            }

            &--small {
                max-width: 120px;
            }
        }
    }
}