.rte {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2.5rem;
    margin-block: 2.5rem;

    @include use-media(tablet) {
        gap: 4rem;
        margin-block: 4rem;
    }

    @include use-media(tablet-album) {
        gap: 5rem;
        margin-block: 5rem;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:has(+ .row) {
        margin-bottom: 0;
    }

    .col-12 + & {
        margin-top: 0;
    }

    > div {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 1.5rem;
    }

    p {
        @extend .text-l;
        margin: 0;

        & .text-tiny {
            @extend .caption-m;
        }

        & .text-small {
            @extend .text-s;
        }

        & .text-big {
            @extend .text-l;
        }

        & .text-huge {
            @extend .text-number-l;
        }

        a {
            @extend .link;
            display: inline;
            text-decoration: underline;
        }
    }

    ul {
        @extend .list;
        @extend .list--size-l;

        & ul {
            @extend .list;
            @extend .list--size-m;

            margin-top: 1rem;

            li {
                &::before {
                    width: 0.75rem;
                    height: 0.75rem;
                }
            }

            & ul {
                @extend .list;
                @extend .list--size-s;

                margin-top: .5rem;
                gap: .5rem;
            }
        }
    }

    b, strong {
        font-weight: 600;
    }

    > img {
        @extend .mobile-element-full-width;

        @include use-media(tablet) {
            border-radius: 0.5rem;
        }

        @include use-media(tablet-album) {
            border-radius: 0.75rem;
        }

        @include use-media(laptop-x) {
            width: 66.645% !important;
        }
    }

    sup {
        font-size: 0.625em;
    }

    table {
        caption-side: bottom;
        border-collapse: collapse;
        width: 100%;
        vertical-align: top;
        color: var(--dark-100);

        & caption {
            @extend .text-s;
            padding-top: 1.5rem;
            color: var(--dark-70);
        }

        & tr {
            border-bottom: 1px dashed var(--blue-30);
        }

        & th,
        & td {
            min-width: 140px;
            padding: 1.5rem 0;
        }

        & th {
            white-space: nowrap;
            line-height: 1.5;
            font-weight: 600;
            font-size: 1rem;
        }

        & td {
            @extend .text-l;
        }
    }

    .btn {
        align-self: flex-start;
    }

    &--w-xxl-60 {
        @include use-media(laptop-x) {
            > h2,
            > h3,
            > h4,
            > h5,
            > p,
            > ul,
            > img,
            > div:not(.mw-100),
            > .border-bottom-dashed {
                max-width: 66.645%;
            }
        }
    }

    &--accordion {
        gap: 1.5rem;
        margin-block: 1.5rem;

        @include use-media(tablet) {
            gap: 2rem;
            margin-block: 2rem;
        }

        @include use-media(tablet-album) {
            gap: 3rem;
            margin-block: 3rem;
        }

        a {
            @extend .link;
        }

        div {
            gap: 1rem;
        }
    }
}
