$base-transition: .3s ease-in-out;

.slider-controls {
    $root: #{&};

    display: flex;
    justify-content: center;
    align-items: center;

    @include use-media(tablet-album) {
        justify-content: space-between;
    }

    &__pagination {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    &__navigation {
        position: relative;
        display: none;
        gap: 1rem;

        @include use-media(tablet-album) {
            display: flex;
        }
    }

    @at-root .swiper-navigation-disabled & {

        #{$root}__navigation {
            display: none;
        }
    }

    @at-root .swiper-pagination-disabled & {
        #{$root}__pagination {
            display: none;
        }
    }

    @at-root .swiper-navigation-disabled.swiper-pagination-disabled & {
        display: none;
    }
}

.swiper-pagination-bullet {
    display: block;
    cursor: pointer;
    width: 1.5rem;
    height: 0.125rem;
    background: var(--blue-30);
    border-radius: 0.125rem;
    transition: background $base-transition, border-radius $base-transition, width $base-transition, height $base-transition, transform $base-transition;

    &:hover {
        background: var(--blue-70);
    }
}

.swiper-pagination-bullet-active {
    background: var(--blue-100);
}

.swiper-button-prev,
.swiper-button-next {
    //@extend %reset-button;

    width: 1.5rem;
    height: 1.5rem;
    color: var(--blue-100);
    transition: color $base-transition;
    cursor: pointer;
}

.swiper-button-disabled {
    color: var(--blue-30);
    cursor: default;
}
