.stepper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;

    &.steps-2 {
        @include use-media(tablet-album) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &.steps-3 {
        @include use-media(tablet-album) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &.steps-4 {
        @include use-media(tablet-album) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &.steps-5 {
        @include use-media(tablet-album) {
            grid-template-columns: repeat(6, 1fr);

            .stepper-item {
                &:nth-of-type(-n+3) {
                    grid-column: auto / span 2;
                }

                &:nth-last-of-type(-n+2) {
                    grid-column: auto / span 3;
                }
            }
        }
    }

    &.steps-6 {
        @include use-media(tablet-album) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.stepper-item {
    $root: &;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    @include use-media(tablet) {
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }

    @include use-media(tablet-album) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    &:last-child & {
        &__arrow {
            display: none;
        }
    }

    &__icon {
        color: var(--green-100);
    }

    &__header {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        gap: 1.5rem;

        @include use-media(tablet-album) {
            width: 100%;
        }
    }

    &__number {
        display: flex;
        justify-content: center;
        position: relative;
        height: 5rem;
        flex-shrink: 0;
        width: 5rem;
    }

    &__number-value {
        padding: 0.5rem 0;
        position: relative;
        color: var(--dark-0);
        width: 100%;
        text-align: center;
        z-index: 1;

        font-size: 2rem;
        line-height: 1.25;
        font-weight: 700;
    }

    &__number-icon {
        position: absolute;
        color: var(--green-100);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0.5rem 0;
    }

    &__icon-border {
        display: flex;
        flex-shrink: 0;
        position: absolute;
        width: 100%;

        svg {
            width: 100%;
        }

        &[data-level="1"] {
            top: 0.5rem;
        }

        &[data-level="2"] {
            top: 1rem;
        }

        &[data-level="3"] {
            top: 1.5rem;
        }

        &[data-level="4"] {
            top: 2rem;
        }

        &[data-level="5"] {
            top: 2.5rem;
        }

        &[data-level="6"] {
            top: 3rem;
        }
    }

    &__arrow {
        display: none;

        @include use-media(tablet-album) {
            display: flex;
            flex-grow: 1;
            transform: translateY(calc(1.875rem - 0.563rem / 2));
            color: var(--green-100);

            position: relative;
            width: 100%;
            margin: 4px 1px;
            height: 1px;
            background-color: currentColor;
            left: 0;
            border-radius: 0.25rem;

            &::after {
                content: '';
                position: absolute;
                width: 6px;
                height: 1px;
                top: -2px;
                right: -1px;
                background-color: currentColor;
                transform: rotate(45deg);
                border-radius: 0.25rem;
            }

            &::before {
                content: '';
                position: absolute;
                width: 6px;
                height: 1px;
                top: 2px;
                right: -1px;
                background-color: currentColor;
                transform: rotate(-45deg);
                border-radius: 0.25rem;
                z-index: 3;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;

        @include use-media(tablet) {
            gap: 1rem;
        }

        @include use-media(tablet-album) {
            flex-grow: 1;
        }

        a {
            @extend .link;
            text-decoration: underline;
        }
    }

    &__footer {

        @include use-media(tablet) {
            padding-top: .5rem;
        }

        @include use-media(tablet-album) {
            margin-top: auto;
        }
    }

    &--color-yellow {

        #{$root}__number-value {
            color: var(--dark-100);
        }

        #{$root}__number-icon,
        #{$root}__icon,
        #{$root}__arrow {
            color: var(--yellow-100);
        }
    }

    &--color-violet {

        #{$root}__number-icon,
        #{$root}__icon,
        #{$root}__arrow {
            color: var(--violet-100);
        }
    }

    &--color-orange {

        #{$root}__number-icon,
        #{$root}__icon,
        #{$root}__arrow {
            color: var(--orange-100);
        }
    }
}
