.step-item {

    &__indicator-image {
        width: 5rem;
        height: 5rem;
    }

    &__title {
        & br {
            display: none;

            @include use-media(tablet) {
                display: inherit;
            }
        }
    }
}