---
// карточка Как пользоваться платежным стикером

interface Props {
    title: string;
    subtitle: string;
    image: string;
}

const {title, subtitle, image} = Astro.props;
---

<div class="card-how-use">
    <img src=`assets/payment-sticker/${image}` class="card-how-use__image" alt="" loading="lazy" />
    <div class="card-how-use__content">
        <h3 class="headline-3" set:html={title}></h3>
        <p class="body-m-light" set:html={subtitle}></p>
        <slot />
    </div>
</div>

<style lang="scss" is:global>
  @import "@styles/media-queries";

  .card-how-use {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: var(--dark-10);
    border-radius: .75rem;

    @include use-media(tablet) {
      flex-direction: row;
      padding-right: 1.25rem;
      gap: 1.25rem;
    }

    @include use-media(laptop) {
      gap: 3rem;
      padding-right: 2.5rem;
    }

    &__image {
      flex: 0 0 17.5rem; //280px
      width: 17.5rem;
      height: 17.5rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: .5rem;
      padding: 1.25rem;

      @include use-media(tablet) {
        flex-grow: 1;
        padding-left: 0;
        padding-right: 0;
        gap: 1rem;
      }

      @include use-media(laptop) {
        padding: 2.5rem 0;
      }
    }
  }
</style>
