---
import SectionLayout from "../../layouts/SectionLayout.astro";

interface Props {
	title: string;
	imgSrc: string;
}

const {
	title,
	imgSrc,
} = Astro.props as Props;
---

<SectionLayout class="info-banner">
		<div class="info-banner__container">
			{
				imgSrc && (
					<img src={imgSrc} class="info-banner__image" alt={title} loading="lazy" />
				)
			}
			<div class="info-banner__content">
				{
					title && (
						<h3 class="info-banner__title headline-2">{title}</h3>
					)
				}
				<slot name="content" />
			</div>
		</div>

	<img src="assets/info-banner-pattern.svg" class="info-banner__pattern" alt="" loading="lazy" />
</SectionLayout>

<style lang="scss" is:global>
	@import "@styles/media-queries";
	@import "@styles/placeholders";

	.info-banner {
		overflow: hidden;
		background-color: var(--blue-10);
		position: relative;

		&__container {
			@extend %content-container;

			display: flex;
			flex-direction: column;
			gap: 1.5rem;

			@include use-media(tablet) {
				flex-direction: row;
				align-items: flex-start;
				gap: 2rem;
			}

			@include use-media(tablet-album) {
				gap: 2.5rem;
				padding-left: 7.5rem; //120px
				padding-right: 7.5rem;
			}

			@include use-media(desktop) {
				padding-left: 12.5rem; //200px
				padding-right: 12.5rem;
			}
		}

		&__image {
			max-width: 10rem;
		}

		&__content {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;

            @include use-media(tablet) {
                gap: 2.5rem;
            }
		}

		&__pattern {
			display: none;

			@include use-media(tablet) {
				display: initial;

				position: absolute;
				bottom: 0;
				left: 30%;
			}

			@include use-media(tablet-album) {
				height: 100%;
				left: 20%;
			}

			@include use-media(laptop) {
				right: 0;
				left: auto;
			}
		}
	}
</style>
