button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.btn-lg {
    line-height: 1.35;
}

.btn-sm {
    line-height: 1.2;
    font-weight: 600;
}

.btn-primary {
    &:hover {
        background-color: var(--violet-150);
    }
}

.btn-tertiary {
    color: #fff;

    &:hover {
        color: #fff;
    }
}

.btn-link {
    font-weight: 700;
    padding: 0;
}

.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &.btn-lg {
        gap: 1rem;
    }

    &.btn-link {
        justify-content: flex-start;
    }
}

.btn-lg-lg {
    @include use-media(tablet-album) {
        --bs-btn-padding-y: 0.9375rem;
        --bs-btn-padding-x: 2rem;
        --bs-btn-font-size: 1.125rem;
        line-height: 1.35;
    }
}

.btn-info {
    color: var(--violet-100);
}
