---
interface Props {
	class?: string;
	value: string;
	selected?: boolean;
}

const {
	class: classList,
	value,
	selected = false,
	...rest
} = Astro.props as Props;

---

<button
	class="a-drop-down-button js-a-drop-down-button"
	class:list={classList}
	type="button"
	data-value={value}
	aria-selected={[selected]}
	{...rest}
>
	<slot/>
</button>

<style lang="scss" is:global>
	@import "@styles/media-queries";
	@import "@styles/placeholders";

	.a-drop-down-button {
		display: block;
		border: none;
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 1rem;
		background-color: var(--dark-0);
        transition: color ease .33s;

		&:hover:not(&[aria-selected=true]) {
			color: var(--blue-100);
		}

		&[aria-selected=true] {
			background-color: var(--dark-30);
			color: var(--blue-100);
            pointer-events: none;
		}
	}
</style>
