-
    var menuList = [
        [
            "Individuals",
            "SME",
            "Corporates",
            "Investment business",
            "Financial institutes",
            "About the Bank",
        ],
        [
            "About the bank",
            "Novikom today",
            "Management",
            "Statistics for December 1st",
            "The Bank's Charter and regulations",
            "Requisites",
            "Internet bank",
            "For individuals",
            "For organizations",
        ],
    ]

footer.footer
    .container
        div.row.row-gap-5.footer__content
            nav.col-lg-12.col-xl-6.d-none.d-lg-block
                .row.row-gap-7
                    .col-4.d-flex.flex-column.row-gap-2.align-items-start
                        each item in menuList[0]
                            a.text-s.dark-70(href="/")!= item

                    .col-4.d-flex.flex-column.row-gap-2.align-items-start
                        each item in menuList[1]
                            a.text-s.dark-70(href="/")!= item
                .row.row-gap-7.mt-7
                    .col-4.d-flex.flex-column.row-gap-2.align-items-start
                        a.text-s.dark-70(href="/")!= "Site map"

                    .col-8
                        .d-flex.align-items-center.gap-3
                            img(src="img/footer-insurance.png", width="120", height="120", alt="", loading="lazy")
                            .d-flex.flex-column.row-gap-3
                                span.text-s.fw-semibold.dark-70 Генеральная лицензия №&nbsp;2546 от&nbsp;20&nbsp;ноября&nbsp;2014&nbsp;года
                                span.text-s.fw-semibold.dark-70 ©&nbsp;2009&nbsp;–&nbsp;2024 АО&nbsp;АКБ&nbsp;«НОВИКОМБАНК»
            .col-12.col-md-6.col-xl-3
                .polygon-container.js-polygon-container
                    div(class="polygon-container__content")
                        .d-flex.flex-column.row-gap-4.px-3.py-4.p-md-5.p-lg-6.bg-blue-10
                            h5 Download mobile app
                            a.btn-app.btn.d-inline-flex.justify-content-center.align-items-center.bg-white(href="#", target="_blank")
                                img(src="img/app-logos/ru-store.svg", alt="ru-store", loading="lazy")
                            a.btn-app.btn.d-inline-flex.justify-content-center.align-items-center.bg-white(href="#", target="_blank")
                                img(src="img/app-logos/ru-market.svg", alt="ru-market", loading="lazy")
                            a.btn-app.btn.d-inline-flex.justify-content-center.align-items-center.bg-white(href="#", target="_blank")
                                img(src="img/app-logos/nash-store.svg", alt="nash-store", loading="lazy")
                            a.btn-app.btn.btn-primary.d-flex.align-items-center.gap-3.justify-content-center(href="#")
                                | Download
                                +svg-use('icon-download', 'icon size-m')

                    div(class="polygon-container__polygon  purple-70 js-polygon-container-polygon")
                        svg.js-polygon-container-svg(xmlns="http://www.w3.org/2000/svg")
                            polygon(points="2,2 335,2 335,394 295,434 2,434", fill="none", stroke="currentColor", stroke-width="2", stroke-dasharray="10")
            .col-12.col-md-6.col-xl-3.d-flex.flex-column.row-gap-3
                a.h3(href="tel:88002527007") +7 (800) 250-70-07
                a.h3(href="tel:84959747187") +7 (495) 974-71-87
                span.dark-70
                    | Russia, 119180, Moscow
                    br
                    | 50/1, bld.1, Polyanka Bolshaya str.
                button.btn.btn-primary.btn-lg-lg(type="button") Feedback
                .d-flex.flex-column.row-gap-3.pt-md-3
                    a.btn.btn-lg-lg.btn-outline-primary.d-flex.gap-2.align-items-center.justify-content-center(href="#")
                        +svg-use('icon-glasses', 'icon size-m')
                        span.d-none.d-md-block Version for the visually impaired
                        span.d-md-none Visually impaired
                    a.btn.btn-lg-lg.btn-outline-primary.d-flex.gap-2.align-items-center.justify-content-center(href="#")
                        | Russian version
