footer.pb-footer
    a#scrollToTop(href="#header" title="Наверх").btn-pb-up.js-scroll-to
        +svg-use("arrow-up")
    .container
        .row.row-gap-5
            .col-12.col-md-6
                .d-flex.flex-column.row-gap-5.flex-lg-row.gap-lg-6.align-items-lg-center
                    img(src="img/logo-pb-footer.svg", alt="Новиком" width="196" height="56" loading="lazy")
                    p.pb-footer__copyright.m-0 Генеральная лицензия № 2546 от 20 ноября 2014 года <br>© 2009 – 2025 АО АКБ «НОВИКОМБАНК»
            .col-12.col-md-6
                .d-flex.flex-column.row-gap-2.align-items-start.align-items-lg-end
                    a(href="tel:+78002507007").pb-footer__text.pb-footer__text--phone +7 (800) 250-70-07
                    p.m-0.pb-footer__text 119180 Москва,ул. Большая Полянка д. 50/1 стр. 1
