:root {
	//DARK
	--dark-0: #fff;
	--dark-10: #f5f4f6;
	--dark-30: #e8eaef;
	--dark-50: #c5cbcf;
	--dark-70: #83858b;
	--dark-100: #121112;

	//VIOLET
	--violet-10: #eee9f0;
	--violet-30: #cabbd1;
	--violet-70: #8d6c9b;
	--violet-100: #55246a;
	--violet-150: #3c1a4b;
	--violet-200: #240f2d;

	//PURPLE
	--purple-10: #ece9f1;
	--purple-30: #c4bcd4;
	--purple-70: #806ea2;
	--purple-100: #412674;
	--purple-150: #2e1b52;
	--purple-200: #1b1031;

	//BLUE
	--blue-10: #e3e3f9;
	--blue-30: #c6c7e2;
	--blue-70: #898bc2;
	--blue-100: #4f52a4;
	--blue-150: #383a74;
	--blue-200: #212245;

	//GREEN
	--green-10: #f1f8ea;
	--green-30: #d5e9bd;
	--green-70: #a3cf70;
	--green-100: #76b82a;
	--green-150: #54831d;
	--green-200: #324d11;

	//ORANGE
	--orange-10: #fef6e6;
	--orange-30: #fce3b0;
	--orange-70: #f9c355;
	--orange-100: #f7a600;
	--orange-150: #af7601;
	--orange-200: #674600;

	//YELLOW
	--yellow-10: #fffde6;
	--yellow-30: #fff9b1;
	--yellow-70: #fff355;
	--yellow-100: #ffed00;
	--yellow-150: #debd10;
	--yellow-200: #6b6401;


	//GRAPHITE
	--graphite-100: #121112;

	//GRAY
	--gray: #D5D9E0;

	//SIGNALS ALERT
	--alert: #c92a3d;
}

//DARK
.dark-0 { color: var(--dark-0); }
.dark-10 { color: var(--dark-10); }
.dark-30 { color: var(--dark-30); }
.dark-50 { color: var(--dark-50); }
.dark-70 { color: var(--dark-70); }
.dark-100 { color: var(--dark-100); }

.bg-dark-30 {
	background-color: var(--dark-30);
}

.bg-dark-10 {
	background-color: var(--dark-10);
}

.bg-dark-0 {
	background-color: var(--dark-0);
}

//VIOLET
.violet-10 { color: var(--violet-10); }
.violet-30 { color: var(--violet-30); }
.violet-70 { color: var(--violet-70); }
.violet-100 { color: var(--violet-100); }
.violet-150 { color: var(--violet-150); }
.violet-200 { color: var(--violet-200); }

//PURPLE
.purple-10 { color: var(--purple-10); }
.purple-30 { color: var(--purple-30); }
.purple-70 { color: var(--purple-70); }
.purple-100 { color: var(--purple-100); }
.purple-150 { color: var(--purple-150); }
.purple-200 { color: var(--purple-200); }

.bg-purple-10 {
	background-color: var(--purple-10);
}

//BLUE
.blue-10 { color: var(--blue-10); }
.blue-30 { color: var(--blue-30); }
.blue-70 { color: var(--blue-70); }
.blue-100 { color: var(--blue-100); }
.blue-150 { color: var(--blue-150); }
.blue-200 { color: var(--blue-200); }

.bg-blue-10 {
	background-color: var(--blue-10);
}

.bg-linear-blue {
	background: linear-gradient(14.48deg, var(--blue-150) 20%, var(--purple-150) 80%);
}

.bg-heavy-purple {
	background: linear-gradient(222deg, #101317 20%, #5A2375 80%);
}

.bg-heavy-violet {
	background: linear-gradient(222.24deg, #101317 20%, #6655A2 80%);
}


.bg-gradient-violet {
	background: linear-gradient(42deg, #6655A2 20%, #55246A 80%);;
}


//GREEN
.green-10 { color: var(--green-10); }
.green-30 { color: var(--green-30); }
.green-70 { color: var(--green-70); }
.green-100 { color: var(--green-100); }
.green-150 { color: var(--green-150); }
.green-200 { color: var(--green-200); }

//ORANGE
.orange-10 { color: var(--orange-10); }
.orange-30 { color: var(--orange-30); }
.orange-70 { color: var(--orange-70); }
.orange-100 { color: var(--orange-100); }
.orange-150 { color: var(--orange-150); }
.orange-200 { color: var(--orange-200); }

//YELLOW
.yellow-10 { color: var(--yellow-10); }
.yellow-30 { color: var(--yellow-30); }
.yellow-70 { color: var(--yellow-70); }
.yellow-100 { color: var(--yellow-100); }
.yellow-150 { color: var(--yellow-150); }
.yellow-200 { color: var(--yellow-200); }

//GRAPHITE
.graphite-100 { color: var(--graphite-100); }

//GRAY
.gray { color: var(--gray); }

//ALERT
.alert { color: var(--alert); }
