.swiper.slider-cards {
    margin: 0 -1.5rem;
    padding: 0 1.5rem;

    @include use-media(tablet) {
        margin: 0 -2.5rem;
        padding: 0 2.5rem;
    }

    @include use-media(tablet-album) {
        margin: 0;
        padding: 0;
    }

    & .swiper-slide {
        height: auto;
    }
}

[aria-expanded="true"] .icon {
    transform: rotate(-180deg);
}

.border-bottom-dashed {
    border-bottom: 1px dashed var(--blue-30);
}

.custom-overflow-scrollbar {

    &::-webkit-scrollbar {
        height: 4px;
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: var(--blue-30);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: var(--blue-100);
    }
}

.content-negative-wrapper {
    @include use-media(tablet-album) {
        margin-left: -2.5rem;
        margin-right: -2.5rem;
        width: calc(100% + 5rem);
    }
}
