.swiper.slider-cards {
    margin: 0 -1.5rem;
    padding: 0 1.5rem;

    @include use-media(tablet) {
        margin: 0 -2.5rem;
        padding: 0 2.5rem;
    }

    @include use-media(tablet-album) {
        margin: 0;
        padding: 0;
    }

    & .swiper-slide {
        height: auto;
    }
}

[aria-expanded="true"] .icon {
    transform: rotate(-180deg);
}

.section-collapsed-mobile {

    & .collapse {
        @include use-media(tablet) {
            display: block;
        }
    }
}
