@use "sass:map";

$grid-gutter-width: 2.5rem;

$gutters: (
        0: 0,
        1: 1.5rem,
        2: 2rem,
        "2_5": 2.5rem,
        3: 3rem,
        4: 4rem,
        5: 5rem,
        6: 7.5rem,
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 1200px,
        xl: 1440px,
        xxl: 1600px,
        xxxl: 1920px
);

$container-max-widths: (
        xxxl: 1920px
);

$container-padding-x: 3rem;

$mq-breakpoints: (
        mobile-s: 320px,
        mobile: 375px,
        sm: 576px,
        tablet: 768px,
        tablet-album: 1200px,
        laptop: 1440px,
        laptop-x: 1600px,
        desktop: 1920px
);

$display-font-sizes: (
        1: 4rem,
        2: 2.5rem,
        3: 3rem,
        4: 1.5rem,
        5: 1.25rem,
        6: 1.125rem
);

$enable-negative-margins: true !default;

$font-family-open-sans: 'Open Sans', sans-serif;
.font-roboto {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

//$prefix: 'bs-';
$font-family-base: $font-family-open-sans;
//$font-family-base: var(--#{$prefix}font-open-sans);
//$font-family-code: var(--#{$prefix}font-roboto);
$font-family-code: 'Roboto Condensed', sans-serif;

$font-size-body: (
        small-xs: .625rem, //10px
        small-x: .75rem, //12px
        small: .875rem, //14px
        base: 1rem, //16px
        medium-xs: 1.125rem, //18px
        medium-x: 1.25rem, //20px
        medium: 1.5rem, //24px
        large-xs: 1.75rem, //28px
        large-x: 2rem, //32px
        large: 2.25rem, //36px
        xl: 2.5rem, //40px
        xxl: 3.5rem, //56px
);

// scss-docs-start font-sizes
$font-sizes: (
        1: map-get($font-size-body, medium-x),
        2: map-get($font-size-body, base),
        3: map-get($font-size-body, small),
        4: map-get($font-size-body, small-x),
        5: map-get($font-size-body, small-xs)
);

$line-height-sm: 1.3;

// Colors
$body-color: #121112; // dark-100
$body-secondary-bg: #f5f4f6; // dark-10
$body-tertiary-bg: #e8eaef; // dark-30

$primary: #55246A; // violet-100
$secondary: #4F52A4; // blue-100
$blue10: #e3e3f9; // blue-10
$blue30: #c6c7e2; // blue-30
//$tertiary: #4F52A4; // blue-100
$success: #76B82A; // green-100
$info: #ffffff; // dark-0
$dark: #121112;

$blue: #4f52a4;
$purple: #412674;
$violet: #55246a;
$green: #76b82a;
$orange: #f7a600;
$yellow: #fdd400;

//$theme-colors: (
//        "primary":    $primary,
//        "secondary":  $secondary,
//        "dark":       $dark
//);
//
$custom-colors: (
        "tertiary": $green,
        "blue10": $blue10,
        "blue30": $blue30,
        "orange": $orange,
        "yellow": $yellow
);


//$colors: (
//        "blue":       $blue,
//        "indigo":     $indigo,
//        "purple":     $purple,
//        "pink":       $pink,
//        "red":        $red,
//        "orange":     $orange,
//        "yellow":     $yellow,
//        "green":      $green,
//        "teal":       $teal,
//        "cyan":       $cyan,
//        "black":      $black,
//        "white":      $white,
//        "gray":       $gray-600,
//        "gray-dark":  $gray-800
//)

$enable-dark-mode: false;

// Borders-radius
$border-radius: .75rem;
$border-radius-sm: .25rem;


// Buttons + Forms
$btn-white-space: nowrap;
$btn-border-radius: .25rem;
$btn-border-radius-sm: .25rem;
$btn-border-radius-lg: .25rem;
$btn-line-height: 1.5;

$btn-padding-y: .4375rem;
$btn-padding-x: 1.5rem;
$btn-font-size: 1rem;

$btn-padding-y-lg: .9375rem;
$btn-padding-x-lg: 2rem;
$btn-font-size-lg: 1.125rem;

$btn-padding-y-sm: .3125rem;
$btn-padding-x-sm: .5rem;
$btn-font-size-sm: .8125rem;


$btn-font-weight: 700;

$form-invalid-color: var(--alert);
$form-invalid-border-color: var(--alert);
$form-feedback-margin-top: 0;
$form-feedback-font-size: .75rem;
$form-feedback-icon-invalid: none;
$form-feedback-icon-valid: none;

// Select
$form-select-padding-y: 1rem;
$form-select-padding-x: 1rem;
$form-select-font-size: 1rem;
$form-select-line-height: 1.5;
$form-select-color: var(--dark-100);
$form-select-feedback-icon-size: 1rem;
$form-select-border-width: 1px;
$form-select-border-color: var(--purple-30);
$form-select-border-radius: .25rem;
$form-select-focus-border-color: var(--purple-70);
$form-select-focus-box-shadow: none;


// CheckBox and Radio
$form-check-input-width: 1.5rem;
$form-check-min-height: 1.5rem;
$form-check-padding-start: 0;
$form-check-margin-bottom: 0;
$form-check-input-bg: transparent;
$form-check-input-border: 1px solid var(--purple-30);
$form-check-input-border-radius: .125rem;
$form-check-input-focus-border: var(--blue-100);
$form-check-input-focus-box-shadow: none;
$form-check-input-checked-color: var(--dark-0);
$form-check-input-checked-bg-color: var(--blue-100);
$form-check-input-checked-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M4 9.5L7 12.5L12 4.5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
$form-check-radio-checked-bg-image: none;
$form-check-label-cursor: cursor;
$form-check-transition: .33s;

// Range
$form-range-track-height: .25rem;
$form-range-track-bg: var(--blue-30);
$form-range-track-border-radius: .25rem;
$form-range-track-box-shadow: none;

$form-range-thumb-width: 1.5rem;
$form-range-thumb-height: 1.5rem;
$form-range-thumb-bg: var(--blue-100);
$form-range-thumb-border: .125rem solid var(--dark-10);
$form-range-thumb-border-radius: 2rem;
$form-range-thumb-box-shadow: none;

$form-range-thumb-active-bg: var(--blue-100);


// Links
$link-decoration: none;

// Spacers
$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 2,
        6: $spacer * 2.5,
        7: $spacer * 3,
        8: $spacer * 3.5,
        9: $spacer * 4,
        10: $spacer * 4.5,
        11: $spacer * 5,
        12: $spacer * 5.5,
        14: $spacer * 6.5,
        16: $spacer * 7.5,
        26: $spacer * 12.5,
);

// DropDown
$dropdown-border-radius: .75rem;
$dropdown-border-width: 0;
$dropdown-min-width: 15rem;
$dropdown-link-hover-bg: transparent;
$dropdown-link-hover-color: var(--blue-100);

$enable-caret: false;

//Navbar
$navbar-padding-y: 0;

// Inputs
$input-border-color: var(--purple-30);
$input-focus-border-color: var(--purple-70);
$input-placeholder-color: var(--dark-70);
$input-border-radius: .25rem;
$input-focus-box-shadow: none;
$input-btn-padding-y: .625rem;
$input-btn-padding-x: .9375rem;
$input-btn-font-size: .875rem;
$input-btn-line-height: 1.5;
$input-btn-font-size-lg: 1rem;
$input-btn-padding-x-lg: .9375rem;
$input-btn-padding-y-lg: .9375rem;
$input-group-addon-bg: transparent;
$input-group-addon-color: var(--dark-70);

// Accordion
$accordion-button-padding-y: 1rem;
$accordion-button-padding-x: 0;

$accordion-icon-width: 1.5rem;
$accordion-button-active-bg: transparent;
$accordion-border-radius: 0;

$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;

$accordion-body-padding-y: 1rem;
$accordion-body-padding-x: 0;
$accordion-button-focus-box-shadow: 0;
$accordion-button-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18 9.5L12 14.5L6 9.5' stroke='%2355246A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
$accordion-button-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18 9.5L12 14.5L6 9.5' stroke='%234F52A4' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

// Tooltips
$tooltip-font-size: 1rem;
$tooltip-color: var(--dark-100);
$tooltip-bg: var(--dark-0);
$tooltip-border-radius: .25rem;
$tooltip-padding-y: 1rem;
$tooltip-padding-x: 1rem;
$tooltip-arrow-width: 0;
$tooltip-arrow-height: 0;
$tooltip-opacity: 1;

// Modals
$modal-inner-padding: 1.5rem 1rem;
$modal-content-border-radius: .75rem;
$modal-backdrop-bg: $dark;
$modal-header-padding-y: 1rem;
$modal-header-border-width: 0;
$modal-md: 48.75rem;
$modal-xl: 65.875rem;
$zindex-modal-backdrop: 1052;

// Alert
$alert-padding-y: 1rem;
$alert-padding-x: 1rem;
$alert-margin-bottom: 0;
$alert-border-width: 0;

// Cards
$card-border-width: 0;
$card-border-radius: 0.75rem;
