%headline {
    margin: 0;
    font-weight: 700;
}

img {
    max-width: 100%;
}

h1, .h1 {
    @extend %headline;

    font-size: map-get($font-size-body, large-x);
    line-height: 125%;
    font-weight: 600;

    @include use-media(tablet) {
        font-size: map-get($font-size-body, large);
        line-height: 132%;
        font-weight: 700;
    }

    @include use-media(tablet-album) {
        font-size: map-get($font-size-body, xxl);
        line-height: 122%;

    }
}

h2, .h2 {
    @extend %headline;

    font-size: map-get($font-size-body, large-xs);
    line-height: 130%;
    font-weight: 700;

    @include use-media(tablet) {
        font-size: map-get($font-size-body, large-x);
        line-height: 125%;
    }

    @include use-media(tablet-album) {
        font-size: map-get($font-size-body, xl);
        line-height: 120%;
    }
}

h3, .h3 {
    @extend %headline;

    font-size: map-get($font-size-body, medium);
    line-height: 135%;
    font-weight: 700;

    @include use-media(tablet) {
        font-size: map-get($font-size-body, large-xs);
        line-height: 130%;
    }

    @include use-media(tablet-album) {
        font-size: map-get($font-size-body, large-x);
        line-height: 125%;
    }
}

h4, .h4 {
    @extend %headline;

    font-size: map-get($font-size-body, medium-x);
    line-height: 140%;
    font-weight: 700;

    @include use-media(tablet) {
        font-size: map-get($font-size-body, medium);
        line-height: 135%;
    }
}

h5, .h5 {
    @extend %headline;

    font-size: map-get($font-size-body, medium-xs);
    line-height: 135%;
    font-weight: 700;

    @include use-media(tablet-album) {
        font-size: map-get($font-size-body, medium-x);
        line-height: 140%;
    }
}

h6, .h6 {
    @extend %headline;
}

.text-l {
    font-size: map-get($font-size-body, base);
    line-height: 150%;

    @include use-media(tablet) {
        font-size: map-get($font-size-body, medium-xs);
        line-height: 145%;
    }

    @include use-media(tablet-album) {
        font-size: map-get($font-size-body, medium-x);
        line-height: 140%;
    }
}

.text-ls {
    font-size: map-get($font-size-body, base);
    line-height: 150%;

    @include use-media(tablet) {
        font-size: map-get($font-size-body, medium-xs);
        line-height: 145%;
    }
}

.text-m {
    font-size: map-get($font-size-body, base);
    line-height: 150%;
}

.text-s {
    font-size: map-get($font-size-body, small);
    line-height: 130%;
}

.text-lg {
    font-size: map-get($font-size-body, medium-x);
    line-height: 140%;
}

.text-lg-m {
  @include use-media(tablet-album) {
    font-size: map-get($font-size-body, base);
    line-height: 150%;
  }
}

.caption-m {
    font-size: map-get($font-size-body, small-x);
    line-height: 130%;
}

.caption-s {
    font-size: map-get($font-size-body, small-xs);
    line-height: 140%;
}

.text-number-l {
    font-size: map-get($font-size-body, medium);
    line-height: 130%;

    @include use-media(tablet) {
        font-size: map-get($font-size-body, large-x);
        line-height: 125%;
    }

    @include use-media(tablet-album) {
        font-size: map-get($font-size-body, xl);
        line-height: 120%;
    }
}

.text-number-m {
    font-size: map-get($font-size-body, medium);
    line-height: 135%;

    @include use-media(tablet) {
        font-size: map-get($font-size-body, large-xs);
        line-height: 130%;
    }

    @include use-media(tablet-album) {
        font-size: map-get($font-size-body, large-x);
        line-height: 125%;
    }
}

.text-number-s {
    font-size: map-get($font-size-body, base);
    line-height: 150%;

    @include use-media(tablet-album) {
        font-size: map-get($font-size-body, medium);
        line-height: 135%;
    }
}

.text-number-ml {
    font-size: map-get($font-size-body, medium);
    line-height: 135%;

    @include use-media(tablet) {
        font-size: map-get($font-size-body, large-x);
        line-height: 125%;
    }

    @include use-media(tablet-album) {
        font-size: map-get($font-size-body, xl);
        line-height: 120%;
    }
}

.currency {
    font-family: $font-family-code;
}

.link {
    color: var(--blue-100);

    &:hover {
        color: var(--purple-100);
    }
}

.link-underline {
    --bs-link-color-rgb: var(--blue-100);
    --bs-link-hover-color-rgb: var(--purple-100);
    text-decoration-line: underline;
    text-decoration-thickness: 0.6px;
}

.link-hint {
    color: var(--blue-100);
    text-decoration: underline dashed currentColor;
    text-underline-offset: .25rem;
    white-space: nowrap;

    &:hover,
    &:active {
        color: var(--purple-100);
        text-decoration: none;
    }
}

.text-balance {
  text-wrap: balance;
}

.text-hyphens {
  hyphens: auto;
}

