---
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
import SectionSeeAlso from "../components/sections/SectionSeeAlso.astro";
import TextBanner from "../components/banners/TextBanner.astro";
import SectionLayout from "../components/layouts/SectionLayout.astro";

const breadcrumbs = [
    {
        title: 'Частным клиентам',
        url: '#'
    },
    {
        title: 'Платежи и переводы',
        url: '#'
    }
];
---
<DefaultPageLayout title="Моментальный онлайн-перевод">
    <TextBanner
        title="Моментальный онлайн-перевод"
        breadcrumbs={breadcrumbs}
        description="Переводы с карты на карту по России, а также в Абхазию, Армению, Беларусь, Казахстан, Таджикистан и Южную Осетию."
        borderColor="green"
    />
    <SectionLayout small>
        <div class="content-container">
            <!--Тут сторонний iframe-->
            <img src="img/payment-iframe.png" style="height: 100%; width: auto">
        </div>
    </SectionLayout>
    <SectionSeeAlso />
</DefaultPageLayout>
