---
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
import SectionSeeAlso from "../components/sections/SectionSeeAlso.astro";
import TextBanner from "../components/banners/TextBanner.astro";
import PageBanner from "../components/common/Banners/PageBanner.astro";
import AList from "../components/ui/AList/AList.astro";
import DisplayStepperItem from "../components/common/DisplayStepper/DisplayStepperItem.astro";
import AAccordionPanel from "../components/ui/AAccordion/AAccordionPanel.astro";
import SectionHelpContentLayout from "../components/layouts/SectionHelpLayout/SectionHelpContentLayout.astro";
import DisplayStepper from "../components/common/DisplayStepper/DisplayStepper.astro";
import BenefitCard from "../components/common/BenefitCard/BenefitCard.astro";
import ARte from "../components/ARte.astro";
import AAccordion from "../components/ui/AAccordion/AAccordion.astro";
import ATabPanel from "../components/ui/ATabs/common/ATabPanel.astro";
import DocumentDownload from "../components/ui/DocumentDownload/DocumentDownload.astro";
import SectionLayout from "../components/layouts/SectionLayout.astro";
import ATab from "../components/ui/ATabs/common/ATab/ATab.astro";
import AButton from "../components/ui/Buttons/AButton.astro";
import FormCallMeBack from "../components/common/FormCallMeBack/FormCallMeBack.astro";
import AAccordionHeader from "../components/ui/AAccordion/AAccordionHeader.astro";
import SectionHelpLayout from "../components/layouts/SectionHelpLayout/SectionHelpLayout.astro";
import AAccordionContent from "../components/ui/AAccordion/AAccordionContent.astro";
import AddInfoLayout from "../components/layouts/AddInfoLayout/AddInfoLayout.astro";
import AddInfoItemLayout from "../components/layouts/AddInfoLayout/AddInfoItemLayout.astro";
import GridVariantsLayout from "../components/layouts/GridVariantsLayout/GridVariantsLayout.astro";
import GridVariantCard from "../components/layouts/GridVariantsLayout/GridVariantCard.astro";
import SectionTitle from "../components/ui/SectionTitle/SectionTitle.astro";
import RestructuringVariantsLayout from "../components/layouts/RestructuringVariantsLayout.astro";

const breadcrumbs = [
	{
		title: 'Частным клиентам',
		url: '#'
	},
	{
		title: 'Кредиты',
		url: '#'
	}
];

const variants = [
	{
		title: 'Реструктуризация по программе Банка'
	},
	{
		title: 'Кредитные каникулы по ипотечным кредитам согласно Федеральному закону № 353-ФЗ'
	},
	{
		title: 'Кредитные каникулы по потребительским кредитам'
	},
	{
		title: 'Предоставление Льготного периода по Федеральному закону № 106-ФЗ'
	},
	{
		title: 'Предоставление Льготного периода по Федеральному закону № 377-ФЗ (для участников СВО и членов их семей)'
	},
]
---
<DefaultPageLayout title="Реструктуризация">
	<TextBanner
		title="Реструктуризация"
		breadcrumbs={breadcrumbs}
		description="Программы для заемщиков, у которых возникли трудности с погашением кредитов"
        img="assets/big-illustrations/large-individual/restructuring.png"
        borderColor="green"
	/>
    <RestructuringVariantsLayout>
        <SectionTitle titleClass="headline-2" usePadding>
            Варианты реструктуризации
        </SectionTitle>
        <Fragment slot="tabs">
            <ATab href="#" size="lm" isActive>Все варианты</ATab>
            <ATab href="#" size="lm">Реструктуризация</ATab>
            <ATab href="#" size="lm">Кредитные каникулы</ATab>
            <ATab href="#" size="lm">Льготный период</ATab>
        </Fragment>
        <Fragment slot="cards">
            <GridVariantsLayout>
                {
                    variants.map(variant => (
                        <GridVariantCard>
                            <BenefitCard
                                title={variant.title}
                                theme="white"
                                textButton="Подробнее"
                            />
                        </GridVariantCard>
                    ))
                }
            </GridVariantsLayout>
        </Fragment>
    </RestructuringVariantsLayout>
	<PageBanner img="/assets/banners/page-banner-1.png">
        <h3 slot="title" class="headline-2">Банк готов оказать необходимую поддержку в урегулировании задолженности в случаях</h3>
        <Fragment>
			<AList size="l">
				<li>
					Если вы пострадали от недружественных действий других государств в приграничных субъектах Российской Федерации
				</li>
				<li>
					Если вы пострадали в связи с чрезвычайными ситуациями природного характера (наводнениями) на территории субъектов Российской Федерации в рамках Федерального закона «О потребительском кредите (займе)»
					от 21.12.2013 № 353-ФЗ или по программе Банка
				</li>
			</AList>
		</Fragment>
	</PageBanner>
	<SectionHelpLayout title="Условия реструктуризации">
		<Fragment slot="tabs">
			<ATab value="0" size="lm" isActive>Необходимые документы</ATab>
			<ATab value="1" size="lm">Требования к кредитам</ATab>
			<ATab value="2" size="lm">Документы и тарифы</ATab>
			<ATab value="3" size="lm">Вопросы и ответы</ATab>
		</Fragment>
		<Fragment slot="tabPanels">
			<ATabPanel value="0">
				<AddInfoLayout>
					<AddInfoItemLayout isNarrow>
						<AList size="l">
							<li>Заявление - анкета на получение кредита;</li>
							<li>Документ, удостоверяющий личность;</li>
							<li>Военный билет/ документ, подтверждающий отсрочку от военной службы на весь период призывного возраста - для мужчин младше 30 лет.</li>
							<li>Документ, подтверждающий финансовое состояние заемщика/созаемщика/поручителя за последние 12 месяцев или за фактическое количество отработанных месяцев с учетом требований к стажу на последнем месте работы¹ (на выбор):</li>
						</AList>
						<ARte class="body-m-light">
							<p>
								Для подтверждения стажа на последнем месте работы менее 12 месяцев заемщику/созаемщику/поручителю рекомендуется предоставить копию трудовой книжки, заверенную работодателем, или справку от работодателя, содержащую сведения о стаже работы в организации² или сведения о трудовой деятельности (форма СТД-Р или форма СТД-ПФР)³.
							</p>
						</ARte>
						<p class="caption-m dark-70">
							¹Период подтверждения доходов должен заканчиваться не ранее двух календарных месяцев, предшествующих месяцу предоставления документа, подтверждающего финансовое состояние
							<br><br>
							²При отсутствии у Банка документа, подтверждающего стаж на последнем месте работы менее 12 месяцев, расчетная сумма среднемесячного дохода клиента может быть ниже фактического значения, что может негативно повлиять на условия кредитования.
							<br><br>
							³Форма СТД-Р предоставляется на бумажном носителе и заверяется работодателем, форма СТД–ПФР предоставляется на бумажном носителе и заверяется работодателем или ПФР, либо формируется из личного кабинета на портале государственных услуг (gosuslugi.ru), документ подписывается усиленной квалифицированной электронной подписью уполномоченного должностного лица ПФР.
						</p>
					</AddInfoItemLayout>
				</AddInfoLayout>
			</ATabPanel>
			<ATabPanel value="1">
				<AddInfoLayout>
					<AddInfoItemLayout isNarrow>
						<ARte class="body-m-light">
							<p>
								Для подтверждения стажа на последнем месте работы менее 12 месяцев заемщику/созаемщику/поручителю рекомендуется предоставить копию трудовой книжки, заверенную работодателем, или справку от работодателя, содержащую сведения о стаже работы в организации² или сведения о трудовой деятельности (форма СТД-Р или форма СТД-ПФР)³.
							</p>
						</ARte>
					</AddInfoItemLayout>
				</AddInfoLayout>
			</ATabPanel>
			<ATabPanel value="2">
				<SectionHelpContentLayout>
					<Fragment slot="left">
						<AAccordion type="component">
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Тарифы для физических лиц</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Договор банковского обслуживания</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Типовые документы</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Паспорта дебетовых карт</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Иные документы</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
						</AAccordion>
					</Fragment>
					<Fragment slot="right">
						<BenefitCard
							title="Защита от мошенников"
							description="Узнайте как уберечь себя и своих близких от финансового мошенничества."
							icon="icon-a-money-out"
							theme="light-blue"
							textButton="Подробнее"
						/>
					</Fragment>
				</SectionHelpContentLayout>
			</ATabPanel>
			<ATabPanel value="3">
				<SectionHelpContentLayout>
					<Fragment slot="left">
						<AAccordion type="component">
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Что нужно знать клиентам о продлении срока действия карт?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Взимается ли комиссия за снятие наличных денежных средств в банкоматах, если моя организация – работодатель  является участником зарплатного проекта Банка?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Вместе с основной зарплатной картой мне выдали дополнительную. По каким тарифам она обслуживается?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Что делать, если потерял карту или забыл ПИН-код?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту.  Если ПИН-код не удается вспомнить карту необходимо перевыпустить.</p>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Мою карту заблокировал Банк. Что делать?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
						</AAccordion>
					</Fragment>
					<Fragment slot="left-footer">
						<AButton element="a" href="#" text afterIcon="icon-chevron-right" size="m">Все вопросы и ответы</AButton>
					</Fragment>
					<Fragment slot="right">
						<FormCallMeBack
							title="Остались вопросы?"
							description="Оставьте свой телефон и мы перезвоним вам, либо задайте вопрос в чате"
							agreement="Нажимая кнопку «Перезвоните мне», вы соглашаетесь с условиями предоставления информации"
							type="light-blue"
							useChat
						/>
					</Fragment>
				</SectionHelpContentLayout>
			</ATabPanel>
		</Fragment>
	</SectionHelpLayout>
	<SectionLayout bgColor="gray">
		<div class="content-container">
			<AAccordion type="layout">
				<AAccordionPanel>
					<AAccordionHeader class="a-accordion-header--mobile-only">
						<h3 class="headline-2">Как реструктуризировать задолженность</h3>
					</AAccordionHeader>
					<AAccordionContent class="a-accordion-content--hide-mobile">
						<div class="a-accordion-content__wrapper">
							<h3 class="headline-2 a-accordion-content__title">
								Как реструктуризировать задолженность
							</h3>
							<DisplayStepper steps={3}>
								<DisplayStepperItem number={1}>
									<p class="body-l-light">
										Оформите заявку на сайте или у кредитного менеджера в офисе Новиком
									</p>
								</DisplayStepperItem>
								<DisplayStepperItem number={2}>
									<p class="body-l-light">
										Получите ответ кредитного специалиста Новикома  в течение 10 дней
									</p>
								</DisplayStepperItem>
								<DisplayStepperItem number={3}>
									<p class="body-l-light">Подпишите документы в случае одобрения реструктуризации</p>
								</DisplayStepperItem>
							</DisplayStepper>
						</div>
					</AAccordionContent>
				</AAccordionPanel>
			</AAccordion>
		</div>
	</SectionLayout>
	<SectionSeeAlso />
</DefaultPageLayout>
