-
    var tableData = [
        {
            label: "Первый и&nbsp;последующие годы обслуживания",
            value: ["Без комиссии"]
        },
        {
            label: "Безналичная оплата товаров и&nbsp;услуг",
            value: ["Без комиссии"]
        },
        {
            label: "Комиссия за&nbsp;выдачу наличных денежных средств",
            value: [
                "2%&nbsp;(минимум 200&nbsp;рублей)&nbsp;&mdash; в&nbsp;банкоматах и&nbsp;ПВН банка Новиком",
                "4%&nbsp;(минимум 200&nbsp;рублей)&nbsp;&mdash; в&nbsp;банкоматах и&nbsp;ПВН сторонних банков",
            ]
        },
        {
            label: "Срочное изготовление карты",
            value: ["1 500 рублей"]
        },
    ]

.table-tab.cell-2
    .table-tab__body
        each row in tableData
            .table-tab__row
                .table-tab__cell.text-l.fw-semibold.dark-70!= row.label
                .table-tab__cell
                    each item in row.value
                        p.text-l!= item
