-
    var conditionsList = [
        "Максимальный размер бонусного вознаграждения&nbsp;&mdash; 7&nbsp;% годовых",
        "Минимальный ежедневный остаток по&nbsp;текущему счету карты должен быть не&nbsp;меньше 10&nbsp;000 рублей",
        "5000 бонусов максимальное количество бонусов ежемесячно по&nbsp;текущему счету карты",
        "Подключение к&nbsp;счету одновременно программ &laquo;Бонусная копилка, &laquo;Бонусы&raquo; или &laquo;Кешбэк&raquo;",
    ]

.row
    .col-12
        p.text-l.mb-3.mb-md-4 Чем больше остаток на&nbsp;текущем счете карты, тем выше размер бонусного вознаграждения
        ul.list.list--size-l
            each item in conditionsList
                li!= item
