-
    var tableData = [
        {
            label: "Целевое использование",
            value: [
                "Без комиссии в&nbsp;банкоматах и&nbsp;ПВН банка Новиком",
                "0,5% от&nbsp;суммы операции в&nbsp;банкоматах и&nbsp;ПВН сторонних банков"
            ]
        },
        {
            label: "Нормативный документ",
            value: ["Без комиссии в&nbsp;банкоматах и&nbsp;ПВН банка Новиком и&nbsp;сторонних банков"]
        },
        {
            label: "Заемщики",
            value: "<ul class='list list--size-l'>" +
                    "<li>Стандартные (в т.ч. резидентство РФ, не находится в процессе ликвидации, не введена процедура банкротства, отсутствуют просрочки по налогам и др.)</li>" +
                    "<li>Выполняемые заемщиком мероприятия по снижению выбросов включены в комплексный план (определен Федеральным законом от 26.07.2019 № 195-ФЗ «О проведении эксперимента по квотированию выбросов загрязняющих веществ и внесении изменений в отдельные законодательные акты Российской Федерации в части снижения загрязнения атмосферного воздуха»)</li>" +
                    "</ul>"
        },
        {
            label: "Основные условия",
            value: "<ul class='list list--size-l'>" +
                    "<li>Льготная ставка – не более 3%</li>" +
                    "<li>Период субсидирования – до 31.12.2024</li>" +
                    "</ul>"
        },
    ]

.table-tab.cell-2
    .table-tab__body
        each row in tableData
            .table-tab__row
                .table-tab__cell.text-l.fw-semibold.dark-70!= row.label
                .table-tab__cell.text-l!= row.value

