include ../../../components/ui/accordion-item
include ../../../components/document-download
include ../../../cards/card-benefit

-
    var linkDownloadList = [
        {
            href: "#",
            text: "Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г.",
            dateTime: "12.12.23 18:56",
            fileType: "XLS",
            classSize: 'text-m'
        },
        {
            href: "#",
            text: "Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г.",
            dateTime: "12.12.23 18:56",
            fileType: "XLS",
            classSize: 'text-m'
        },
        {
            href: "#",
            text: "Наименование документа",
            dateTime: "12.12.23 18:56",
            fileType: "XLS",
            classSize: 'text-m'
        },
        {
            href: "#",
            text: "Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г.",
            dateTime: "12.12.23 18:56",
            fileType: "XLS",
            classSize: 'text-m'
        },
    ]

    var accordionList = [
        {
            id: 1,
            title: 'Тарифы для физических лиц',
            content: 'Тарифы для физических лиц, действующие во всех регионах присутствия Банка.',
            linkList: linkDownloadList,
            isOpen: true
        },
        {
            id: 2,
            title: 'Договор банковского обслуживания',
            content: 'Тарифы для физических лиц, действующие во всех регионах присутствия Банка.',
            linkList: linkDownloadList,
        },
        {
            id: 3,
            title: 'Типовые документы',
            content: 'Тарифы для физических лиц, действующие во всех регионах присутствия Банка.',
            linkList: linkDownloadList,
        },
        {
            id: 4,
            title: 'Паспорта дебетовых карт',
            content: 'Тарифы для физических лиц, действующие во всех регионах присутствия Банка.',
            linkList: linkDownloadList,
        },
        {
            id: 5,
            title: 'Иные документы',
            content: 'Тарифы для физических лиц, действующие во всех регионах присутствия Банка.',
            linkList: linkDownloadList,
        },
    ]

    var cardBenefitData = {
        title: 'Защита от мошенников',
        description: 'Узнайте как уберечь себя и своих близких <br>от финансового мошенничества.',
        sprite: {
            name: 'icon-a-protection',
            classList: 'size-md-xxl'
        },
        link: '#'
    }

.row.row-gap-6
    .col-12.col-xxl-8
        .accordion#accordion-contributions-documents
            each item in accordionList
                +accordion-item(item, 'accordion-contributions-documents')
                    p.text-m.mb-0.dark-70!= item.content
                    if item.linkList
                        .mt-4
                            each link in item.linkList
                                +document-download(link)
    .col-12.col-xxl-4
        +card-benefit(cardBenefitData)
