-
    var decriptionServicesLists = [
        {
            title: "Права заемщика и залогодателя",
            list: [
                "страховать риски в&nbsp;любой Страховой компании, отвечающей требованиям АО&nbsp;АКБ &laquo;НОВИКОМБАНК&raquo; к&nbsp;Страховым компаниям и&nbsp;<a href='#'>условиям предоставления страховой услуги</a>",
                "сменить ранее выбранную Страховую компанию на&nbsp;иную, отвечающую указанным требованиям, в&nbsp;течение всего срока кредитования"
            ]
        },
        {
            title: "Проверка страховой компании",
            subtitle: "По&nbsp;обращению заемщика/залогодателя, иного лица или самой Страховой компании АО&nbsp;АКБ&nbsp;&laquo;НОВИКОМБАНК&raquo;:",
            list: [
                "осуществляет проверку Страховой компании на&nbsp;соответствие требованиям, предъявляемым АО&nbsp;АКБ &laquo;НОВИКОМБАНК&raquo; к&nbsp;Страховым компаниям и&nbsp;условиям предоставления страховой услуги",
                "принимает решение о&nbsp;соответствии&nbsp;/ несоответствии Страховой компании указанным требованиям в&nbsp;срок не&nbsp;более 50(пятидесяти) рабочих дней с&nbsp;даты получения АО&nbsp;АКБ &laquo;НОВИКОМБАНК&raquo; полного пакета документов в&nbsp;соответствии с&nbsp;установленным перечнем документов и&nbsp;сведений",
                "извещает по&nbsp;завершении проверки Страховой компании АО&nbsp;АКБ &laquo;НОВИКОМБАНК&raquo; обратившееся лицо о&nbsp;результатах"
            ]
        }
    ]

.row.row-gap-6.row-gap-md-9.row-gap-lg-11
    each block in decriptionServicesLists
        .col-12.col-xxl-8
            h4.mb-4.mb-md-6.mb-lg-7!= block.title
            if block.subtitle
                p.h5.mb-3.mb-lg-4!= block.subtitle
            ul.list.list--size-l
                each item in block.list
                    li
                        p!= item
