include ../../../components/ui/accordion-item
include ../../../cards/card-help

-
    var accordionList = [
        {
            id: 1,
            title: 'Что нужно знать клиентам о продлении срока действия карт?',
            content: 'Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту. <br>Если ПИН-код не удается вспомнить карту необходимо перевыпустить.',
        },
        {
            id: 2,
            title: 'Взимается ли комиссия за снятие наличных денежных средств в банкоматах, если моя организация – работодатель  является участником зарплатного проекта Банка?',
            content: 'Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту. <br>Если ПИН-код не удается вспомнить карту необходимо перевыпустить.',
        },
        {
            id: 3,
            title: 'Вместе с основной зарплатной картой мне выдали дополнительную. По каким тарифам она обслуживается?',
            content: 'Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту. <br>Если ПИН-код не удается вспомнить карту необходимо перевыпустить.',
        },
        {
            id: 4,
            title: 'Что делать, если потерял карту или забыл ПИН-код?',
            content: 'Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту. <br>Если ПИН-код не удается вспомнить карту необходимо перевыпустить.',
        },
        {
            id: 5,
            title: 'Мою карту заблокировал Банк. Что делать?',
            content: 'Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту. <br>Если ПИН-код не удается вспомнить карту необходимо перевыпустить.',
        },
    ]

    var cardHelpData = {
        title: 'Остались вопросы?',
        description: 'Оставьте свой телефон и мы перезвоним вам, либо задайте вопрос в чате',
        agreementText: 'Нажимая кнопку «Перезвоните мне», вы соглашаетесь с условиями предоставления информации',
        chatButtonIsVisible: true,
        sprite: {
            name: 'icon-a-protection',
            classList: 'size-md-xxl'
        },
        link: '#'
    }

.row.row-gap-6
    .col-12.col-xxl-8
        .accordion#accordion-faq
            each item in accordionList
                +accordion-item(item, 'accordion-faq')
                    p.text-m.mb-0.dark-70!= item.content
        a(href="#").btn.btn-link.btn-lg.d-inline-flex.gap-2.align-items-center.mt-4.mt-md-6.section-custom-accordion__button-more
            span.text-m Все вопросы и ответы
            +svg-use('icon-chevron-right-small', 'icon size-m')
    .col-12.col-xxl-4
        +card-help(cardHelpData)
