-
    var payList = [
       "Для оплаты нужно близко поднести к&nbsp;терминалу телефон или другой предмет, на&nbsp;который наклеен стикер.",
        "Лучше всего прикладывать стикер к&nbsp;верхней части терминала или сбоку, поскольку именно там расположен считыватель карт.",
        "Не&nbsp;убирайте платёжный стикер от&nbsp;терминала сразу и&nbsp;дождитесь, когда он&nbsp;считает его. Терминал подаст звуковой сигнал о&nbsp;том, что оплата прошла.",
        "Платежным стикером можно оплачивать товары/услуги во&nbsp;всех терминалах, принимающих бесконтактную оплату.",
        "Иногда оплата не&nbsp;срабатывает с&nbsp;первого раза&nbsp;&mdash; приложите платёжный стикер к&nbsp;терминалу еще раз и&nbsp;подержите 3&ndash;5&nbsp;секунд."
    ]

.row.row-gap-4.mb-6.mb-md-9.mb-lg-11
    .col-12.col-xl-8
        ul.list.list--size-l
            each tip in payList
                li!= tip

.content-negative-wrapper
    .row
        .col-12
            +polygon-container("violet-100")
                +helper("img/restructuring-additional-info.png", "bg-dark-10")
                    h4.mb-3 Пластиковую карту стоит носить с&nbsp;собой
                    p.mb-0 На&nbsp;всякий случай, так как некоторые терминалы не&nbsp;поддерживают бесконтактную оплату или имеют недостаточной силы магнитное поле для взаимодействия с&nbsp;платежным стикером.

