-
    var cardStepList = [
        {
            imageSrc: "step-indicator-1.svg",
            text: "Выдавите платежный стикер из&nbsp;пластиковой основы по&nbsp;перфорации (по&nbsp;аналогии с&nbsp;СИМ-картой мобильного телефона)"
        },
        {
            imageSrc: "step-indicator-2.svg",
            text: "Наклейте стикер на&nbsp;заднюю часть смартфона в&nbsp;самую нижнюю его часть или рядом с&nbsp;камерой."
        },

    ]
    var tipsList = [
       "Не&nbsp;наклеивайте стикер под чехол&nbsp;&mdash; оплата может не&nbsp;пройти",
        "На&nbsp;стикер нанесен достаточно крепкий клеевой слой, желательно наклеивать стикер на&nbsp;чехол, чтобы не&nbsp;повредить покрытие телефона в&nbsp;случае необходимости переклеить стикер",
        "Если у&nbsp;вас два стикера, не&nbsp;клейте оба на&nbsp;один телефон. Вы&nbsp;не&nbsp;сможете выбрать, каким из&nbsp;них оплатить",
        "Если вам необходимо переклеить свой стикер на&nbsp;другой телефон используйте дополнительное клеевой слой, выданный вам вместе со&nbsp;стикером, предварительно удалив текущий клеевой слой с&nbsp;платёжного стикера",
        "Добавьте платёжный стикер в&nbsp;электронные кошелёк Mir Pay, используя реквизиты платежного стикера (нанесены на&nbsp;часть, которая остаётся у&nbsp;вас)",
        "Храните часть с&nbsp;реквизитами в&nbsp;недоступном третьим лицам месте"
    ]

include ../../../components/stepper

h4.mb-4.mb-md-5.mb-lg-6 Подготовьте свои устройства к использованию платежного стикера
.row.row-gap-6.mb-6.mb-md-9.mb-lg-11
    +stepper(cardStepList, cardStepList.length)

.content-negative-wrapper
    .row
        .col-12
            +polygon-container("violet-100")
                +helper("img/sticker-rule.png", "bg-dark-10")
                    p.mb-0 Не&nbsp;рекомендуем клеить стикер на&nbsp;центральную часть телефона, чтобы не&nbsp;перекрыть интерфейс беспроводной зарядки на&nbsp;устройстве.

