-
    var iosSteps = [
        {
            text: "Откройте <a class='link' href='#'>Интернет-банк</a> в&nbsp;браузере Safari",
        },
        {
            text: "Нажмите на&nbsp;значок &laquo;Поделиться&raquo;"
        },
        {
            text: "Выберите &laquo;Добавить на&nbsp;экран Домой&raquo;"
        },
        {
            text: "Введите название приложения и&nbsp;нажмите &laquo;Добавить&raquo;",
        },
    ]


.row.mb-4.mb-md-6
    .col-12.col-lg-8
        p.text-l.mb-0
            | Для проведения необходимых банковских операций вы&nbsp;можете использовать <a class="link" href="#">Интернет-банк</a>, который адаптирован для мобильных устройств Apple.
.row.mt-6.mt-lg-11
    .col-12
        p.text-l.mb-6 Для удобства использования создайте ярлык интернет-банка на&nbsp;домашнем экране мобильного телефона:
        +stepper(iosSteps, iosSteps.length, 'violet')

.row.mt-7
    .col-12.col-lg-8
        p.text-l.mb-0
            | Ярлык Интернет-банка будет выглядеть как иконка мобильного приложения и&nbsp;автоматически появится на&nbsp;экране смартфона.
            br
            | Вы&nbsp;сможете войти в&nbsp;Интернет-банк с&nbsp;помощью логина, пароля и&nbsp;кода из&nbsp;СМС, а&nbsp;также зарегистрироваться или восстановить доступ с&nbsp;помощью номера карты или счета.
