include ../../../components/helper

.content-block
    ul
        li Заявление - анкета на получение кредита;
        li Документ, удостоверяющий личность;
        li Военный билет/ документ, подтверждающий отсрочку от военной службы на весь период призывного возраста - для мужчин младше 30 лет.
        li Документ, подтверждающий финансовое состояние заемщика/созаемщика/поручителя за последние 12 месяцев или за фактическое количество отработанных месяцев с учетом требований к стажу на последнем месте работы¹ (на выбор):
            ul
                li выписка со счета зарплатной карты Банка (формируется работником Банка);
                li справка о доходах и суммах налога физического лица, предоставленная организацией – работодателем, оформленная в соответствии с требованиями Федеральной налоговой службы Российской Федерации;
        li Дополнительно при учете доходов пенсионного характера (на выбор):
            ul
                li справка о размере назначенной/выплаченной за последний месяц пенсии из отделения Социального фонда РФ и/или другого государственного органа, выплачивающего пенсию, по используемым ими формам (при учете пенсии для работающих пенсионеров). Справка может быть выдана многофункциональным центром предоставления государственных и муниципальных услуг в форме экземпляра электронного документа на бумажном носителе или выписки из информационной системы органов, предоставляющих услуги, на бумажном носителе;
                li выписка со счета, на который осуществляется перечисление пенсии в сторонних банках, и пенсионное удостоверение. Выписка по счету, на который осуществляется перечисление пенсии в сторонних банках, должна содержать информацию об адресе (местонахождении) кредитной организации, телефоне кредитной организации, должности и ФИО лица, подготовившего и подписавшего выписку (за исключением выписок, сформированных с использованием систем онлайн и (или) мобильного банкинга).
        li Дополнительно при учете доходов от работы по совместительству:
            ul
                li справка о доходах и суммах налога физического лица за последние 12 месяцев или за фактическое количество отработанных месяцев, оформленная в соответствии с требованиями Федеральной налоговой службы Российской Федерации, или справка по форме Банка, подписанная руководителем организации и главным бухгалтером (при его наличии) с печатью и основными реквизитами организации;
                li оригинал или копия трудового контракта/договора, постранично заверенная/прошитая и заверенная на последней странице с указанием количества листов работодателем.

div
    +polygon-container()
        +helper("img/restructuring-additional-info.png", "bg-dark-10")
            p.mb-0
                | Банк вправе запросить дополнительные документы заемщика/созаемщика/поручителя для&nbsp;подтверждения информации, указанной заемщиком/созаемщиком/поручителем.
div.dark-70.content-block
    p
        | &sup1; Период подтверждения доходов должен заканчиваться не&nbsp;ранее двух календарных месяцев, предшествующих месяцу предоставления документа, подтверждающего финансовое состояние
    p
        | &sup2; При отсутствии у&nbsp;Банка документа, подтверждающего стаж на&nbsp;последнем месте работы менее 12&nbsp;месяцев, расчетная сумма среднемесячного дохода клиента может быть ниже фактического значения, что может негативно повлиять на&nbsp;условия кредитования.
    p
        | &sup3; Форма СТД-Р предоставляется на&nbsp;бумажном носителе и&nbsp;заверяется работодателем, форма СТД&mdash;ПФР предоставляется на&nbsp;бумажном носителе и&nbsp;заверяется работодателем или ПФР, либо формируется из&nbsp;личного кабинета на&nbsp;портале государственных услуг (gosuslugi.ru), документ подписывается усиленной квалифицированной электронной подписью уполномоченного должностного лица ПФР.
