-
    list = [
        'В&nbsp;соответствии с&nbsp;законодательством (ст.&nbsp;28&nbsp;Федерального Закона &laquo;О&nbsp;финансовой аренде&raquo;) лизинговые платежи относятся к&nbsp;расходам, связанным с&nbsp;производством и&nbsp;реализацией, уменьшая налогооблагаемую базу по&nbsp;налогу на&nbsp;прибыль',
        'Согласно ст.&nbsp;259.3. Налогового кодекса применение коэффициента ускоренной амортизации в&nbsp;лизинге позволяет в&nbsp;три раза сократить расходы по&nbsp;налогу на&nbsp;имущество и&nbsp;быстрее окупить приобретенное оборудование',
        'Согласно гл.&nbsp;21&nbsp;Налогового кодекса в&nbsp;составе лизинговых платежей выделяется НДС, что позволяет лизингополучателю производить зачет НДС со&nbsp;всей суммы договора, а&nbsp;не&nbsp;только со&nbsp;стоимости предмета лизинга по&nbsp;договору купли-продажи',
        'В&nbsp;бухгалтерском учете лизинговые платежи не&nbsp;рассматриваются в&nbsp;качестве долга, а&nbsp;указываются в&nbsp;балансе как текущие расходы, что улучшает структуру баланса и&nbsp;повышает кредитоспособность лизингополучателя',
        'При заключении лизингового договора от&nbsp;лизингополучателя, как правило, не&nbsp;требуется дополнительное обеспечение сделки, т.&nbsp;к.&nbsp;в&nbsp;период лизинга сам предмет лизинга является основным обеспечением',
        'Срок лизинга, как правило, больше срока доступного кредитования и&nbsp;возможен до&nbsp;5-и лет',
        'При использовании лизинга предприятие может получить широкий комплекс услуг по&nbsp;транспортировке, таможенной очистке, монтажу, наладке, государственной регистрации и&nbsp;страхованию предмета лизинга, а&nbsp;также консультационные услуги при проведении переговоров с&nbsp;поставщиками',
        'Лизинг является эффективным инструментом формирования позитивного имиджа и&nbsp;кредитной истории компании на&nbsp;финансовом рынке',
    ]

.col-12.col-xl-8
    h4.mb-4.mb-md-6 Виды сделок
    .row.row-gap-6
        .col-12.col-md-6
            .d-flex.flex-column.flex-md-row.gap-3.gap-md-4.gap-lg-6.align-items-md-center
                img(src="img/icons/leasing-finance.svg" alt="" loading="lazy").icon.size-xl
                p.mb-0.text-l.fw-semibold Финансовый лизинг
        .col-12.col-md-6
            .d-flex.flex-column.flex-md-row.gap-3.gap-md-4.gap-lg-6.align-items-md-center
                img(src="img/icons/leasing-returnable.svg" alt="" loading="lazy").icon.size-xl
                p.mb-0.text-l.fw-semibold Возвратный лизинг
.col-12.col-xl-8.mt-md-3.mt-lg-4
    h4.mb-3.mb-md-4 Возможности
    ul.list.list--size-l
        each item in list
            li!= item
