include ../../../cards/card
include ../../../components/document-download

-
    var cards = [
        {
            idMoreBlock: "strategy-1",
            tag: null,
            title: "Облигации",
            description: null,
            conditions: [
                {
                    startText: '',
                    beforeText: '',
                    text: 'Низкий',
                    afterText: '',
                    currency: '',
                    description: 'Риск',
                    smallText: true
                },
                {
                    startText: '',
                    beforeText: '',
                    text: '1',
                    afterText: 'год',
                    currency: '',
                    description: 'Срок <br>инвестирования'
                },
                {
                    startText: '',
                    beforeText: 'до',
                    text: '20%',
                    afterText: 'в год',
                    currency: '',
                    description: 'Ожидаемая <br>доходность'
                },
            ],
            imgSrc: "big-illustrations/large-finorg/trust-management-bonds.png"
        },
        {
            idMoreBlock: "strategy-2",
            tag: null,
            title: "Акции",
            description: null,
            conditions: [
                {
                    startText: '',
                    beforeText: '',
                    text: 'Высокий',
                    afterText: '',
                    currency: '',
                    description: 'Риск',
                    smallText: true
                },
                {
                    startText: '',
                    beforeText: '',
                    text: '1',
                    afterText: 'год',
                    currency: '',
                    description: 'Срок <br>инвестирования'
                },
                {
                    startText: '',
                    beforeText: 'до',
                    text: '20%',
                    afterText: 'в год',
                    currency: '',
                    description: 'Ожидаемая <br>доходность'
                },
            ],
            imgSrc: "big-illustrations/large-finorg/trust-management-stock.png"
        },
        {
            idMoreBlock: "strategy-3",
            tag: null,
            title: "Классическая",
            description: null,
            conditions: [
                {
                    startText: '',
                    beforeText: '',
                    text: 'Средний',
                    afterText: '',
                    currency: '',
                    description: 'Риск',
                    smallText: true
                },
                {
                    startText: '',
                    beforeText: '',
                    text: '1',
                    afterText: 'год',
                    currency: '',
                    description: 'Срок <br>инвестирования'
                },
                {
                    startText: '',
                    beforeText: 'до',
                    text: '20%',
                    afterText: 'в год',
                    currency: '',
                    description: 'Ожидаемая <br>доходность'
                },
            ],
            imgSrc: "big-illustrations/large-finorg/trust-management-stock.png"
        }
    ]

    var cardsContent = {
        tables: [
            {
                title: null,
                rows: [
                    {
                        label: "Цель",
                        value: ["Сохранить средства и получить доход на уровне или выше банковских депозитов с наименьшим риском снижения стоимости активов."]
                    },
                    {
                        label: "Способ управления",
                        value: ["Активный"]
                    },
                ]
            },
            {
                title: "Требования к инвестору",
                rows: [
                    {
                        label: "Предполагаемый возраст(для физических лиц)",
                        value: "от 18 лет и старше"
                    },
                    {
                        label: "Минимальная сумма инвестиций",
                        value: "1 миллион рублей"
                    },
                    {
                        label: "Примерные среднемесячные доходы за последние 12 месяцев",
                        value: "более 200 000 рублей"
                    },
                    {
                        label: "Расходы",
                        value: "более 120 000 рублей"
                    },
                ]
            },
            {
                title: "Ставки комиссий",
                rows: [
                    {
                        label: "Ставка комиссии за управление",
                        value: "1% годовых"
                    },
                    {
                        label: "Ставка комиссии за успех",
                        value: "10%"
                    },
                ]
            },
            {
                title: null,
                rows: [
                    {
                        label: "Прочие расходы",
                        value: "<ul class='list list--size-l'>" +
                                "<li>Вознаграждение управляющего</li>" +
                                "<li>Регистрационные и иные сборы(при перерегистрации прав на ценные бумаги)</li>" +
                                "<li>Комиссионные сборы торговых систем, биржевых площадок</li>" +
                                "<li>Иные подтвержденные расходы, понесенные управляющим при осуществлении доверительного управления</li>" +
                                "</ul>"
                    },
                ]
            },
        ],
        linkList: [
            {
                href: '#',
                text: 'Динамика среднемесячной доходности',
                dateTime: '12.12.23 18:56',
                fileType: 'XLS',
                classSize: 'text-m'
            },
        ],
    }

mixin cards-content
    .d-flex.flex-column.gap-4.gap-md-6.gap-lg-7.mt-4.mt-md-6.mt-lg-7
        each table in cardsContent.tables
            .d-flex.flex-column.gap-4
                if table.title
                    .h4= table.title
                .table-tab.cell-2
                    .table-tab__body
                        each row in table.rows
                            .table-tab__row
                                .table-tab__cell.text-l.fw-semibold.dark-70!= row.label
                                .table-tab__cell.text-l!= row.value
        .d-flex.flex-column.gap-4
            .h4 Инвестиционная стратегия "Облигации"
            .link-list
                +document-download(cardsContent.linkList[0])


.d-flex.flex-column.gap-4.gap-md-5.gap-lg-7
    each card in cards
        +card(card)
            +cards-content




