---
import AIcon from "../../AIcon.astro";
const { class: className, ...rest } = Astro.props;
---
<button
	class="a-accordion-header js-a-accordion-header"
	class:list={className}
	{...rest}
>
	<slot></slot>
	<AIcon class="a-accordion-header__icon" symbolId="icon-chevron-down" size="m" />
</button>

<style lang="scss" is:global>
	@use "sass:map";
	@import "@styles/placeholders";

	.a-accordion-header {
		@extend %reset-button;

		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		cursor: pointer;
		width: 100%;
		text-align: left;
		text-decoration: none;

		&__icon {
			flex-shrink: 0;
			color: var(--violet-100);
			transition: transform ease .33s;
		}

		&--mobile-only {

			@include use-media(tablet) {
				display: none;
			}
		}
	}
</style>
