---
import AButton from "../Buttons/AButton.astro";

interface Props {
	hiddenText?: string;
	visibleText?: string;
}

const {
	hiddenText = 'Скрыть',
	visibleText = 'Показать',
	...rest
} = Astro.props as Props;
---

<AButton
	class:list={[
		'a-collapsed-button',
		'js-a-collapsed-button',
		'is-hidden'
	]}
	data-hidden-text={hiddenText}
	data-visible-text={visibleText}
	afterIcon="icon-chevron-down"
	text
	size="lm"
	{...rest}
>
	<span class="js-a-collapsed-button-text">
		{visibleText}
	</span>
</AButton>

<style lang="scss" is:global>
	.a-collapsed-button {
		&.is-active {
			.a-icon {
				transform: rotate(180deg);
			}
		}
	}
</style>