---
import { MqType } from "./interfaces";

interface Props {
	visibleItems?: string;
	rebuildingMq?: MqType;
	useCountInButton?: boolean;
}

const {
	visibleItems = '4',
	rebuildingMq = 'tablet',
	useCountInButton = true,
	...rest
} = Astro.props as Props;
---

<div
	class:list={[
		'a-collapsed-items',
		'js-a-collapsed-items'
	]}
	data-visible-items={visibleItems}
	data-rebuilding-mq={rebuildingMq}
	data-use-count={String(useCountInButton)}
	{...rest}
>
	<slot></slot>
</div>

<script>
	import initACollapsedItems from './';
	import { DEFAULT_JS_CLASSES } from "./config";

	const collapsedItems: NodeListOf<HTMLDivElement> = document.querySelectorAll(DEFAULT_JS_CLASSES.root);

	collapsedItems.forEach((item) => {
		initACollapsedItems(item);
	});
</script>