---
interface Props {
    classList?: string;
    class?: string;
    isSticky?: boolean;
}

const {
    class: classList,
    isSticky = false,
    ...rest
} = Astro.props as Props;
---

<div
        class:list={[
            'a-table-footer',
            `${isSticky ? 'is-sticky' : ''}`,
            classList
        ]}
        {...rest}
>
    <slot />
</div>

<style lang="scss" is:global>
    @import "@styles/media-queries";

    .a-table-footer {
        margin-top: 1rem;
        color: var(--dark-70);

        @include use-media(tablet) {
            margin-top: 1.5rem;
        }

        &.is-sticky {
            position: sticky;
            left: 0;
        }
    }
</style>
