---
interface Props {
    class?: string;
    selected?: boolean;
}

let {
    class: classList,
    selected = false,
    ...rest
} = Astro.props as Props;
---
<a
    class:list={[
        'a-paginator-item',
        'body-m-heavy',
        { 'is-selected': selected },
        classList
    ]}
    href="#"
    {...rest}
>
    <slot />
</a>

<style lang="scss" is:global>
    .a-paginator-item {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--violet-100);
        height: 2.5rem;
        min-width: 2.5rem;
        text-decoration: none;
        border-radius: 0.25rem;

        &.is-selected {
            color: var(--dark-0);
            background-color: var(--blue-100);
        }
    }
</style>
