---
import AIcon from "../../AIcon.astro";
---

<div class="a-paginator-more">
    <AIcon symbolId="icon-more" size="m" />
</div>

<style lang="scss" is:global>
    .a-paginator-more {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        min-width: 2.5rem;
    }
</style>
