---

import APolygonContainer from "./APolygonContainer/APolygonContainer.astro";
import CardMenu from "./Cards/CardMenu.astro";
import SearchDesktop from "../layouts/SearchDesktop.astro";
---

<div class="desktop-third-lvl-nav" data-spoiler="third-menu-1">
	<div class="desktop-third-lvl-nav__column">
		<a href="#" class="inherits-link body-m-heavy">Все карты НОВИКОМ</a>
		<a href="#" class="inherits-link body-m-heavy">Кредитные карты</a>
		<a href="#" class="inherits-link body-m-heavy">Дебетовые карты</a>
		<a href="#" class="inherits-link body-m-heavy">Зарплатные карты</a>
	</div>
	<div class="desktop-third-lvl-nav__column">
		<a href="#" class="inherits-link body-m-heavy">Блокировка карт</a>
		<a href="#" class="inherits-link body-m-heavy">«Программа Кешбек»</a>
		<a href="#" class="inherits-link body-m-heavy">«Программа Бонусы»</a>
		<a href="#" class="inherits-link body-m-heavy">«Бонусная копилка»</a>
	</div>
	<div class="desktop-third-lvl-nav__aside">
		<APolygonContainer color="green-100">
			<CardMenu title="Зарплатная карта «Мир»">
				Карта с&nbsp;полным набором<br>
				операций в&nbsp;торговых точках<br>
				и&nbsp;интернете
			</CardMenu>
		</APolygonContainer>
	</div>
</div>
<div class="desktop-third-lvl-nav" data-spoiler="third-menu-2">
	<div class="desktop-third-lvl-nav__column">
		<a href="#" class="inherits-link body-m-heavy">Все карты НОВИКОМ 1</a>
		<a href="#" class="inherits-link body-m-heavy">Кредитные карты 1</a>
		<a href="#" class="inherits-link body-m-heavy">Дебетовые карты 1</a>
		<a href="#" class="inherits-link body-m-heavy">Зарплатные карты 1</a>
	</div>
	<div class="desktop-third-lvl-nav__column">
		<a href="#" class="inherits-link body-m-heavy">Блокировка карт 1</a>
		<a href="#" class="inherits-link body-m-heavy">«Программа Кешбек» 1</a>
		<a href="#" class="inherits-link body-m-heavy">«Программа Бонусы» 1</a>
		<a href="#" class="inherits-link body-m-heavy">«Бонусная копилка» 1</a>
	</div>
	<div class="desktop-third-lvl-nav__aside">
		<APolygonContainer color="green-100">
			<CardMenu title="Зарплатная карта «Мир»">
				Карта с&nbsp;полным набором<br>
				операций в&nbsp;торговых точках<br>
				и&nbsp;интернете
			</CardMenu>
		</APolygonContainer>
	</div>
</div>
<div class="desktop-third-lvl-nav" data-spoiler="third-menu-3">
	<div class="desktop-third-lvl-nav__column">
		<a href="#" class="inherits-link body-m-heavy">Все карты НОВИКОМ 2</a>
		<a href="#" class="inherits-link body-m-heavy">Кредитные карты 2</a>
		<a href="#" class="inherits-link body-m-heavy">Дебетовые карты 2</a>
		<a href="#" class="inherits-link body-m-heavy">Зарплатные карты 2</a>
	</div>
	<div class="desktop-third-lvl-nav__column">
		<a href="#" class="inherits-link body-m-heavy">Блокировка карт 2</a>
		<a href="#" class="inherits-link body-m-heavy">«Программа Кешбек» 2</a>
		<a href="#" class="inherits-link body-m-heavy">«Программа Бонусы» 2</a>
		<a href="#" class="inherits-link body-m-heavy">«Бонусная копилка» 2</a>
	</div>
	<div class="desktop-third-lvl-nav__aside">
		<APolygonContainer color="green-100">
			<CardMenu title="Зарплатная карта «Мир»">
				Карта с&nbsp;полным набором<br>
				операций в&nbsp;торговых точках<br>
				и&nbsp;интернете
			</CardMenu>
		</APolygonContainer>
	</div>
</div>
<div class="desktop-third-lvl-nav" data-spoiler="third-menu-4">
	<div class="desktop-third-lvl-nav__column">
		<a href="#" class="inherits-link body-m-heavy">Все карты НОВИКОМ 3</a>
		<a href="#" class="inherits-link body-m-heavy">Кредитные карты 3</a>
		<a href="#" class="inherits-link body-m-heavy">Дебетовые карты 3</a>
		<a href="#" class="inherits-link body-m-heavy">Зарплатные карты 3</a>
	</div>
</div>
<div class="desktop-third-lvl-nav" data-spoiler="third-menu-5">
	<div class="desktop-third-lvl-nav__column">
		<a href="#" class="inherits-link body-m-heavy">Все карты НОВИКОМ 4</a>
		<a href="#" class="inherits-link body-m-heavy">Кредитные карты 4</a>
		<a href="#" class="inherits-link body-m-heavy">Дебетовые карты 4</a>
		<a href="#" class="inherits-link body-m-heavy">Зарплатные карты 4</a>
	</div>
</div>
<div class="desktop-third-lvl-nav" data-spoiler="third-menu-6">
	<div class="desktop-third-lvl-nav__column">
		<a href="#" class="inherits-link body-m-heavy">Все карты НОВИКОМ 5</a>
		<a href="#" class="inherits-link body-m-heavy">Кредитные карты 5</a>
		<a href="#" class="inherits-link body-m-heavy">Дебетовые карты 5</a>
		<a href="#" class="inherits-link body-m-heavy">Зарплатные карты 5</a>
	</div>
</div>
<div class="desktop-third-lvl-nav" data-spoiler="third-menu-7">
	<div class="desktop-third-lvl-nav__column">
		<a href="#" class="inherits-link body-m-heavy">Все карты НОВИКОМ 6</a>
		<a href="#" class="inherits-link body-m-heavy">Кредитные карты 6</a>
		<a href="#" class="inherits-link body-m-heavy">Дебетовые карты 6</a>
		<a href="#" class="inherits-link body-m-heavy">Зарплатные карты 6</a>
	</div>
</div>
<SearchDesktop data-spoiler="search"></SearchDesktop>

<style lang="scss" is:global>
	@use "sass:map";
	@import "@styles/variables";
	@import "@styles/placeholders";

	.desktop-third-lvl-nav {
		width: 100%;
		padding: 2.5rem;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2.5rem;

		// is hidden
		position: fixed;
		opacity: 0;
		left: 50%;
		pointer-events: none;

		&.js-spoiler-open {
			opacity: 1;
			position: static;
			pointer-events: auto;
		}

		&__column {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			color: var(--violet-100);

			> a {
				transition: color ease .33s
			;
				&:hover {
					color: var(--blue-100)
				}

			}
		}
	}
</style>
