---
import AIcon from "../AIcon.astro";
import PatternBg from "./Pattern/PatternBg.astro";

type Benefit = {
    icon: string;
    text: string;
};

type BackgroundColor = "heavy-violet" | "violet" | "heavy-purple";

interface Props {
    className?: string;
    class?: string;
    title: string;
    benefits: Benefit[];
    backgroundColor?: BackgroundColor;
}

const {
    class: className,
    title,
    benefits,
    backgroundColor,
    ...rest
} = Astro.props as Props;
---

<div
    class:list={[
        "service-apps-card",
        `${backgroundColor ? `service-apps-card--${backgroundColor}` : ""}`,
        className,
    ]}
    {...rest}
>
    <div class="service-apps-card__content">
        <h3 class="service-apps-card__title headline-2">{title}</h3>
        <div class="service-apps-card__benefits">
            {
                benefits.map(({ icon, text }) => (
                    <div class="service-apps-card-benefit">
                        <div class="service-apps-card-benefit__icon">
                            <AIcon symbolId={icon} size="m" />
                        </div>
                        <span
                            class="service-apps-card-benefit__title body-s-heavy"
                            set:html={text}
                        />
                    </div>
                ))
            }
        </div>
        {
            Astro.slots["footer"] && (
                <div class="service-apps-card__apps">
                    <slot name="footer" />
                </div>
            )
        }
    </div>
    <PatternBg class="service-apps-card__pattern" theme="dark" />
</div>

<style lang="scss" is:global>
    @use "sass:map";
    @import "@styles/variables.scss";
    @import "@styles/media-queries";
    @import "@styles/functions.scss";

    .service-apps-card {
        position: relative;
        border-radius: 0.75rem;
        overflow: hidden;
        background-color: var(--violet-100);
        padding: 1.5rem 1rem;

        @include use-media(tablet) {
            padding: 2rem;
        }

        @include use-media(tablet-album) {
            padding: 3rem;
        }

        &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: rotate(180deg);
            background: linear-gradient(
                270deg,
                rgba(65, 38, 116, 0.9) 23.5%,
                rgba(65, 38, 116, 0) 100%
            );
        }

        &__content {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @include use-media(tablet) {
                gap: 2rem;
            }

            @include use-media(tablet-album) {
                gap: 3rem;
            }
        }

        &__title {
            color: var(--dark-0);

            @include use-media(tablet-album) {
                margin-bottom: 1.75rem;
            }
        }

        &__apps {
            display: flex;
            gap: 1rem;
            max-width: 40.875rem;

            .app-button {
                display: none;

                @include use-media(tablet) {
                    display: inline-flex;
                }
            }

            .a-button {
                width: 100%;

                @include use-media(tablet) {
                    width: auto;
                }
            }
        }

        &__benefits {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            column-gap: 2.5rem;
            max-width: 43.75rem;

            @include use-media(tablet) {
                flex-direction: row;
            }
        }

        &__pattern {
            bottom: auto;
            top: 0;

            @include use-media(tablet) {
                top: auto;
                bottom: 0;
            }
        }

        &--heavy-violet {
            background: linear-gradient(222.24deg, #101317 20%, #6655a2 80%);
        }

        &--heavy-purple {
            background: linear-gradient(222.24deg, #101317 20%, #5a2375 80%);

            &:after {
                background: linear-gradient(270deg, rgba(85, 36, 106, 0.9) 23.5%, rgba(85, 36, 106, 0) 100%);
            }
        }
    }

    .service-apps-card-benefit {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--dark-0);

        &__icon {
            flex-shrink: 0;
        }

        @include use-media(tablet) {
            align-items: flex-start;
        }
    }
</style>
