.accordion {
    $root: #{&};

    & .accordion-item {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: var(--blue-30) dashed 1px;
    }

    & .accordion-collapse {
        scroll-margin-top: 20vh;
    }

    & .accordion-button {
        gap: 1rem;

        @include use-media(tablet) {
            font-size: 1.125rem;
            line-height: 1.45;
        }

        @include use-media(tablet-album) {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            font-size: 1.25rem;
            line-height: 1.4;
        }

        &:not(.collapsed) {
            color: var(--blue-100);
            background-color: transparent;
            box-shadow: none;
        }
    }

    & .accordion-body {
        padding: .5rem 0 1rem 1rem;

        @include use-media(tablet-album) {
            padding: 0 0 1.5rem 1.5rem;
        }
    }

    &--size-lg {
        & #{$root}-button {
            padding: 1.5rem 0;

            @include use-media(tablet) {
                padding: 2rem 0;
            }

            @include use-media(tablet-album) {
                padding: 2.5rem 0;
            }
        }

        & #{$root}-body {
            padding: 0 0 1.5rem;

            @include use-media(tablet) {
                padding: 0 0 2rem;
            }

            @include use-media(tablet-album) {
                padding: .5rem 0 2.5rem;
            }
        }
    }

    &--size-md {
      & #{$root}-button {
        padding: 1.5rem 0;

        @include use-media(tablet) {
          padding: 2rem 0;
        }
      }

      & #{$root}-body {
        padding: 0 0 1.5rem;

        @include use-media(tablet) {
          padding: 0 0 2rem;
        }
      }
    }

    &--size-sm {
      & #{$root}-button {
        padding: 1.5rem 0;
      }

      & #{$root}-body {
        padding: 0 0 1.5rem;
      }
    }

    &--bg-transparent &-item, &--bg-transparent &-button {
        background: transparent;
    }
}
