.accordion {
    $root: #{&};

    & .accordion-item {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: var(--blue-30) dashed 1px;
    }

    & .accordion-collapse {
        scroll-margin-top: 20vh;
    }

    & .accordion-header {
        &:has(+ .accordion-collapse.show) {
            position: sticky;
            top: 0;
            background-color: var(--dark-0);
            z-index: 2;

            @at-root .section-layout.bg-dark-10 & {
                background-color: var(--dark-10);
            }

            @at-root .section-layout.bg-dark-30 & {
                background-color: var(--dark-30);
            }

            @at-root .section-layout.bg-blue-10 & {
                background-color: var(--blue-10);
            }

            @at-root .section-layout.bg-purple-10 & {
                background-color: var(--purple-10);
            }

            @at-root .pb-section & {
                background-color: rgba(32, 19, 55, 0.95);
            }

        }
    }

    & .accordion-button {
        gap: 1rem;

        @include use-media(tablet) {
            font-size: 1.125rem;
            line-height: 1.45;
        }

        @include use-media(tablet-album) {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            font-size: 1.25rem;
            line-height: 1.4;
        }

        &:not(.collapsed) {
            color: var(--blue-100);
            background-color: transparent;
            box-shadow: none;
        }
    }

    & .accordion-body {
        padding: .5rem 0 1rem 1rem;

        @include use-media(tablet-album) {
            padding: 0 0 1.5rem 1.5rem;
        }
    }

    &--size-lg {
        & #{$root}-button {
            padding: 1.5rem 0;

            @include use-media(tablet) {
                padding: 2rem 0;
            }

            @include use-media(tablet-album) {
                padding: 2.5rem 0;
            }
        }

        & #{$root}-body {
            padding: 0 0 1.5rem;

            @include use-media(tablet) {
                padding: 0 0 2rem;
            }

            @include use-media(tablet-album) {
                padding: .5rem 0 2.5rem;
            }
        }
    }

    &--size-md {
      & #{$root}-button {
        padding: 1.5rem 0;

        @include use-media(tablet) {
          padding: 2rem 0;
        }
      }

      & #{$root}-body {
        padding: 0 0 1.5rem;

        @include use-media(tablet) {
          padding: 0 0 2rem;
        }
      }
    }

    &--size-sm {
      & #{$root}-button {
        padding: 1.5rem 0;
      }

      & #{$root}-body {
        padding: 0 0 1.5rem;
      }
    }

    &--bg-transparent &-item, &--bg-transparent &-button {
        background: transparent;
    }
}
