.breadcrumbs {

    &--without-mobile-arrow &__item::after {
        content: '';
        pointer-events: none;
        width: 0.25rem;
        height: 0.25rem;
        background-color: currentColor;
        opacity: 0.5;
    }

    &__item {

        &:nth-last-child(1)::after {
            display: none;
        }

        @include use-media(tablet) {
            &::after {
                content: '';
                pointer-events: none;
                width: 0.25rem;
                height: 0.25rem;
                background-color: currentColor;
                opacity: 0.5;
            }
        }
    }
}
