---
import PatternBg from '../Pattern/PatternBg.astro';

interface Props {
    class?: string;
    title: string;
    description?: string;
}

const { class: className, title, description, ...rest } = Astro.props as Props;

// карточка обратной связи
---

<div class:list={["card-feedback", className, { ...rest }]}>
    <div class="card-feedback__header">
        <h3 class="headline-3">{title}</h3>
        {description && <p class="body-l-light" set:html={description} />}
    </div>
    {
        Astro.slots["footer"] && (
            <div class="card-feedback__footer">
                <slot name="footer" />
            </div>
        )
    }
    <PatternBg class='card-feedback__pattern' />
</div>

<style lang="scss" is:global>
    @import "@styles/media-queries";

    .card-feedback {
        background-color: var(--dark-0);
        border-radius: 0.75rem;
        padding: 1.5rem 1rem;
        position: relative;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        @include use-media(tablet) {
            padding: 2rem;
        }

        @include use-media(tablet-album) {
            padding: 2.5rem;
            gap: 3rem;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(270deg, rgba(173, 173, 212, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
            z-index: 0;
        }

        &__header {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: relative;
            z-index: 1;

            @include use-media(tablet) {
                gap: 1.5rem;
            }
        }

        &__footer {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: auto;
            position: relative;
            z-index: 1;

            @include use-media(tablet) {
                flex-direction: row;
                gap: 1.5rem;
            }

            & > * {
                flex-shrink: 0;
            }
        }

        &__pattern {
            top: 0;
            bottom: auto;
        }

        @at-root .swiper-slide & {
            height: 100%;
        }
    }
</style>
