---
import AIcon from "../../AIcon.astro";

interface Props {
    title: string;
    description?: string;
    iconId?: string;
    isIconImage?: boolean;
}

const { title, description, iconId, isIconImage } = Astro.props as Props;
---

<div class="benefit-text-card">
    {
        iconId && (
            <div class="benefit-text-card__icon">
                <AIcon isImage={isIconImage} symbolId={iconId} size="xxl" />
            </div>
        )
    }
    <h3 class="benefit-text-card__title headline-3" set:html={title} />
    {
        description && (
            <p
                class="benefit-text-card__description body-m-light"
                set:html={description}
            />
        )
    }
    <slot />
</div>

<style lang="scss" is:global>
    @import "@styles/media-queries";

    .benefit-text-card {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &__icon {
            color: var(--green-100);
        }

        @include use-media(tablet) {
            gap: 1rem;
        }
    }
</style>
