---
// доп контент в табе, "Как пользоваться платежным стикером"
---

<div class="add-info-layout">
    <slot></slot>
</div>

<style lang="scss" is:global>
  @import "@styles/media-queries";

  .add-info-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;

    @include use-media(tablet) {
      gap: 4rem;
    }

    @include use-media(laptop) {
      gap: 5rem;
    }
  }
</style>
