-
    var panelInfo = {
        image: "icon-info.png",
        text: "Банк информирует получателей финансовых услуг о необходимости до заключения договора счета депо ознакомиться с Регламентом, являющимся неотъемлемой частью договора счета депо."
    }

h2.pb-section__title.pb-section__title--size-small.dark-0.mb-6.animate.js-animation
    | Депозитарное обслуживание

.d-flex.flex-column.row-gap-6
    .d-flex.flex-column.row-gap-4.row-gap-md-6
        .pb-card-about.pb-card-about--wide.animate.js-animation
            .d-flex.flex-column.row-gap-3
                p.pb-card-about__text
                    | Банк Новиком предоставляет юридическим и физическим лицам широкий спектр депозитарных услуг.
                p.pb-card-about__text
                    | Депозитарные услуги предоставляются на основании заключённого договора счета депо в порядке, предусмотренном Регламентом депозитарного обслуживания депонентов АО АКБ «НОВИКОМБАНК» (условия осуществления депозитарной деятельности).

            .pb-card-about__image.pb-card-about__image--size-medium.mt-auto.mt-md-0
                img(src="img/pb-images/pb-cards/depository-1.png", alt="")

        .pb-card-about.pb-card-about--wide.animate.js-animation
            .d-flex.flex-column.row-gap-3.row-gap-md-4.align-self-start
                h3.pb-card-about__title Основные депозитарные услуги

                ul.pb-list.d-flex.flex-column.row-gap-2.row-gap-md-3
                    li открытие и ведение счётов депо
                    li хранение и учёт ценных бумаг
                    li проведение операций с ценными бумагами по счетам депо (поставка или получение, свободное от платежа, поставка или получение против платежа)
                    li услуги, содействующие реализации клиентами Депозитария прав по ценным бумагам, включая получение и последующее перечисление выплат по ценным бумагам, которые учитываются на счетах депо клиентов
                    li фиксация обременения и (или) ограничения распоряжения ценными бумагами / прекращения обременения и (или) ограничения распоряжения ценными бумагами
                    li консультации по вопросам проведения операций по счетам депо
                    li иные операции в рамках требований законодательства Российской Федерации, Регламента.
            .pb-card-about__image.pb-card-about__image--size-large.mt-auto.mt-md-0.align-self-xl-end
                img(src="img/pb-images/pb-cards/depository-2.png", alt="")

    .col-12.col-xxl-9.ps-xxl-6.rte.animate.js-animation
        h3 Банк Новиком располагает счетами в&nbsp;крупнейших депозитариях и&nbsp;регистраторах
        ul
            li Небанковская кредитная организация акционерное общество «Национальный расчетный депозитарий»
            li Акционерное общество «Независимая регистраторская компания Р.О.С.Т.»
            li Акционерное общество«Реестр»
    +pb-panel-info(panelInfo)

    .col-12.col-xxl-9.ps-xxl-6.rte.animate.js-animation
        p
            | В случае возникновения вопросов, ответы на которые не удалось найти на страницах нашего сайта, вы можете обратиться за профессиональной консультацией к сотрудникам банка.

    .d-flex.flex-column.row-gap-6.pb-additional-info.animate.js-animation
        .accordion.pb-accordion#accordion-additional-info
            +accordion-item({
                title: "Информация для получателей финансовых услуг",
                id: 1
            }, 'accordion-additional-info')
                .col-12.col-xxl-8.rte.rte--accordion
                    p
                        span.text-small Полное и&nbsp;сокращенное фирменное наименование Банка
                        br
                        | Акционерный Коммерческий Банк &laquo;НОВИКОМБАНК&raquo; акционерное общество АО&nbsp;АКБ &laquo;НОВИКОМБАНК&raquo;
                    p
                        span.text-small Адрес Банка
                        br
                        | 119180, г. Москва, ул. Полянка Большая, д. 50/1, стр.&nbsp;1
                    p
                        span.text-small Адрес офиса Банка, оказывающего услуги по&nbsp;брокерскому обслуживанию
                        br
                        | 119180, город Москва, вн.тер.г. муниципальный округ Якиманка, наб. Якиманская, д.&nbsp;2
                    p
                        span.text-small Контакты
                        br
                        | Адреса электронной почты:&nbsp;
                        a.text-decoration-underline(href="mailto:office@novikom.ru") office@novikom.ru
                        br
                        | Контактные телефоны:&nbsp;
                        a(href="tel:+78002507007" class="text-decoration-none") +7 (800) 250-70-07,
                        |
                        a(href="tel:+74959747187" class="text-decoration-none") +7 (495) 974-71-87
                        br
                        | Сайт: <a href="https://novikom.ru">novikom.ru</a>
                    p
                        span.text-small Лицензия профессионального участника рынка ценных бумаг на&nbsp;осуществление брокерской деятельности
                        br
                        | &#8470;&nbsp;177-06439-100000, дата выдачи 25.02.2003 года (без ограничения срока действия)
                        br
                        | Адрес:&nbsp;107016, Россия, г. Москва, ул. Неглинная, 12
                        br
                        | Контактные телефоны: <a class="text-decoration-none" href="tel:88003003000">8 800 300-30-00</a> (для бесплатных звонков из регионов России), <a class="text-decoration-none" href="tel:+74993003000">+7 499 300-30-00</a> (круглосуточно, по рабочим дням), факс: +7 495 621-64-65

                    p
                        span.text-big Направление обращений и жалоб
                        br
                        span.text-tiny Клиент имеет право направить обращение или жалобу:
                    ol
                        li В&nbsp;банк
                            ul
                                li в свободной письменной форме или по форме Банка
                                    ul
                                        li передать в&nbsp;Банк лично или уполномоченным представителем;
                                        li почтовой/курьерской связью по адресу Банка: 119180, г. Москва, ул. Полянка Большая, д. 50/1, стр. 1 или по месту нахождения регионального офиса Банка (информация об адресах офисов Банка – в разделе «Офисы и банкоматы» на сайте Банка).
                                li в электронном виде
                                    ul
                                        li через форму Обратной связи на&nbsp;официальном сайте Банка, вкладка &laquo;Направить обращение&raquo;;
                                        li сообщением по следующим электронным адресам Банка:
                                            ul
                                                li <a href="mailto:call-center@novikom.ru">call-center@novikom.ru</a> — для обращений не претензионного характера;
                                                li <a href="mailto:oro@novikom.ru">oro@novikom.ru</a> — для обращений претензионного характера.
                        li В НАУФОР
                            ul
                                li почтовым отправлением по&nbsp;адресу: 129090, Москва, 1-й Коптельский пер., д.&nbsp;18, стр.1;
                                li через <a hrf="#" target="_blank">сайт НАУФОР</a> в&nbsp;раздел &laquo;Пожаловаться на&nbsp;члена НАУФОР&raquo;.
                        li В банк России
                            ul
                                li почтовым отправлением по&nbsp;адресу: 107016, Москва, ул. Неглинная, д.&nbsp;12, Банк России;
                                li иные способы: <a href="www.cbr.ru/contacts" target="_blank">www.cbr.ru/contacts</a>


                    p
                        span.text-big Способы защиты прав получателя финансовых услуг и&nbsp;разрешения споров
                        br
                        span.text-tiny Банк оказывает услуги в соответствии с Федеральным законом «О защите прав и законных интересов инвесторов на рынке ценных бумаг» от 05 марта 1999 года № 46-ФЗ.
                            br
                            | Все споры и разногласия между банком и Клиентом разрешаются путём переговоров, а в случае невозможности такого разрешения все споры решаются в соответствии с Регламентом.
                            br
                            | Контактные телефоны: 8 800 250-70-07, +7 495 974-71-87.
                    p
                        span.text-big Порядок получения финансовой услуги
                        br
                        span.text-tiny Порядок получения финансовых услуг, в том числе документы, которые должны быть предоставлены получателем финансовых услуг для её получения, изложены в Регламенте.

                    p
                        span.text-big Изменения условия договора брокерского обслуживания
                        br
                        span.text-tiny Внесение изменений и/или дополнений в Регламент и приложения к нему производится банком в соответствии с условиями Регламента.


            +accordion-item({
                title: "Облигации",
                id: 2
            }, 'accordion-additional-info')
                .col-12.col-xxl-8.rte.rte--accordion
                    p
                        span.text-small Полное и&nbsp;сокращенное фирменное наименование Банка
                        br
                        | Акционерный Коммерческий Банк &laquo;НОВИКОМБАНК&raquo; акционерное общество АО&nbsp;АКБ &laquo;НОВИКОМБАНК&raquo;
                    p
                        span.text-small Адрес Банка
                        br
                        | 119180, г. Москва, ул. Полянка Большая, д. 50/1, стр.&nbsp;1
                    p
                        span.text-small Адрес офиса Банка, оказывающего услуги по&nbsp;брокерскому обслуживанию
                        br
                        | 119180, город Москва, вн.тер.г. муниципальный округ Якиманка, наб. Якиманская, д.&nbsp;2
                    p
                        span.text-small Контакты
                        br
                        | Адреса электронной почты:&nbsp;
                        a.text-decoration-underline(href="mailto:office@novikom.ru") office@novikom.ru
                        br
                        | Контактные телефоны:&nbsp;
                        a(href="tel:+78002507007" class="text-decoration-none") +7 (800) 250-70-07,
                        |
                        a(href="tel:+74959747187" class="text-decoration-none") +7 (495) 974-71-87
                        br
                        | Сайт: <a href="https://novikom.ru">novikom.ru</a>
                    p
                        span.text-small Лицензия профессионального участника рынка ценных бумаг на&nbsp;осуществление брокерской деятельности
                        br
                        | &#8470;&nbsp;177-06439-100000, дата выдачи 25.02.2003 года (без ограничения срока действия)
                        br
                        | Адрес:&nbsp;107016, Россия, г. Москва, ул. Неглинная, 12
                        br
                        | Контактные телефоны: <a class="text-decoration-none" href="tel:88003003000">8 800 300-30-00</a> (для бесплатных звонков из регионов России), <a class="text-decoration-none" href="tel:+74993003000">+7 499 300-30-00</a> (круглосуточно, по рабочим дням), факс: +7 495 621-64-65

                    p
                        span.text-big Направление обращений и жалоб
                        br
                        span.text-tiny Клиент имеет право направить обращение или жалобу:
                    ol
                        li В&nbsp;банк
                            ul
                                li в свободной письменной форме или по форме Банка
                                    ul
                                        li передать в&nbsp;Банк лично или уполномоченным представителем;
                                        li почтовой/курьерской связью по адресу Банка: 119180, г. Москва, ул. Полянка Большая, д. 50/1, стр. 1 или по месту нахождения регионального офиса Банка (информация об адресах офисов Банка – в разделе «Офисы и банкоматы» на сайте Банка).
                                li в электронном виде
                                    ul
                                        li через форму Обратной связи на&nbsp;официальном сайте Банка, вкладка &laquo;Направить обращение&raquo;;
                                        li сообщением по следующим электронным адресам Банка:
                                            ul
                                                li <a href="mailto:call-center@novikom.ru">call-center@novikom.ru</a> — для обращений не претензионного характера;
                                                li <a href="mailto:oro@novikom.ru">oro@novikom.ru</a> — для обращений претензионного характера.
                        li В НАУФОР
                            ul
                                li почтовым отправлением по&nbsp;адресу: 129090, Москва, 1-й Коптельский пер., д.&nbsp;18, стр.1;
                                li через <a hrf="#" target="_blank">сайт НАУФОР</a> в&nbsp;раздел &laquo;Пожаловаться на&nbsp;члена НАУФОР&raquo;.
                        li В банк России
                            ul
                                li почтовым отправлением по&nbsp;адресу: 107016, Москва, ул. Неглинная, д.&nbsp;12, Банк России;
                                li иные способы: <a href="www.cbr.ru/contacts" target="_blank">www.cbr.ru/contacts</a>


                    p
                        span.text-big Способы защиты прав получателя финансовых услуг и&nbsp;разрешения споров
                        br
                        span.text-tiny Банк оказывает услуги в соответствии с Федеральным законом «О защите прав и законных интересов инвесторов на рынке ценных бумаг» от 05 марта 1999 года № 46-ФЗ.
                            br
                            | Все споры и разногласия между банком и Клиентом разрешаются путём переговоров, а в случае невозможности такого разрешения все споры решаются в соответствии с Регламентом.
                            br
                            | Контактные телефоны: 8 800 250-70-07, +7 495 974-71-87.
                    p
                        span.text-big Порядок получения финансовой услуги
                        br
                        span.text-tiny Порядок получения финансовых услуг, в том числе документы, которые должны быть предоставлены получателем финансовых услуг для её получения, изложены в Регламенте.

                    p
                        span.text-big Изменения условия договора брокерского обслуживания
                        br
                        span.text-tiny Внесение изменений и/или дополнений в Регламент и приложения к нему производится банком в соответствии с условиями Регламента.

            +accordion-item({
                title: "Акции",
                id: 3
            }, 'accordion-additional-info')
                .col-12.col-xxl-8.rte.rte--accordion
                    p
                        span.text-small Полное и&nbsp;сокращенное фирменное наименование Банка
                        br
                        | Акционерный Коммерческий Банк &laquo;НОВИКОМБАНК&raquo; акционерное общество АО&nbsp;АКБ &laquo;НОВИКОМБАНК&raquo;
                    p
                        span.text-small Адрес Банка
                        br
                        | 119180, г. Москва, ул. Полянка Большая, д. 50/1, стр.&nbsp;1
                    p
                        span.text-small Адрес офиса Банка, оказывающего услуги по&nbsp;брокерскому обслуживанию
                        br
                        | 119180, город Москва, вн.тер.г. муниципальный округ Якиманка, наб. Якиманская, д.&nbsp;2
                    p
                        span.text-small Контакты
                        br
                        | Адреса электронной почты:&nbsp;
                        a.text-decoration-underline(href="mailto:office@novikom.ru") office@novikom.ru
                        br
                        | Контактные телефоны:&nbsp;
                        a(href="tel:+78002507007" class="text-decoration-none") +7 (800) 250-70-07,
                        |
                        a(href="tel:+74959747187" class="text-decoration-none") +7 (495) 974-71-87
                        br
                        | Сайт: <a href="https://novikom.ru">novikom.ru</a>
                    p
                        span.text-small Лицензия профессионального участника рынка ценных бумаг на&nbsp;осуществление брокерской деятельности
                        br
                        | &#8470;&nbsp;177-06439-100000, дата выдачи 25.02.2003 года (без ограничения срока действия)
                        br
                        | Адрес:&nbsp;107016, Россия, г. Москва, ул. Неглинная, 12
                        br
                        | Контактные телефоны: <a class="text-decoration-none" href="tel:88003003000">8 800 300-30-00</a> (для бесплатных звонков из регионов России), <a class="text-decoration-none" href="tel:+74993003000">+7 499 300-30-00</a> (круглосуточно, по рабочим дням), факс: +7 495 621-64-65

            +accordion-item({
                title: "Уведомления",
                id: 4
            }, 'accordion-additional-info')
                .col-12.col-xxl-8.rte.rte--accordion
                    p
                        span.text-small Полное и&nbsp;сокращенное фирменное наименование Банка
                        br
                        | Акционерный Коммерческий Банк &laquo;НОВИКОМБАНК&raquo; акционерное общество АО&nbsp;АКБ &laquo;НОВИКОМБАНК&raquo;
                    p
                        span.text-small Адрес Банка
                        br
                        | 119180, г. Москва, ул. Полянка Большая, д. 50/1, стр.&nbsp;1
                    p
                        span.text-small Адрес офиса Банка, оказывающего услуги по&nbsp;брокерскому обслуживанию
                        br
                        | 119180, город Москва, вн.тер.г. муниципальный округ Якиманка, наб. Якиманская, д.&nbsp;2
                    p
                        span.text-small Контакты
                        br
                        | Адреса электронной почты:&nbsp;
                        a.text-decoration-underline(href="mailto:office@novikom.ru") office@novikom.ru
                        br
                        | Контактные телефоны:&nbsp;
                        a(href="tel:+78002507007" class="text-decoration-none") +7 (800) 250-70-07,
                        |
                        a(href="tel:+74959747187" class="text-decoration-none") +7 (495) 974-71-87
                        br
                        | Сайт: <a href="https://novikom.ru">novikom.ru</a>
                    p
                        span.text-small Лицензия профессионального участника рынка ценных бумаг на&nbsp;осуществление брокерской деятельности
                        br
                        | &#8470;&nbsp;177-06439-100000, дата выдачи 25.02.2003 года (без ограничения срока действия)
                        br
                        | Адрес:&nbsp;107016, Россия, г. Москва, ул. Неглинная, 12
                        br
                        | Контактные телефоны: <a class="text-decoration-none" href="tel:88003003000">8 800 300-30-00</a> (для бесплатных звонков из регионов России), <a class="text-decoration-none" href="tel:+74993003000">+7 499 300-30-00</a> (круглосуточно, по рабочим дням), факс: +7 495 621-64-65

            +accordion-item({
                title: "Тарифы и&nbsp;документы",
                id: 5
            }, 'accordion-additional-info')
                .col-12.col-xxl-8.rte.rte--accordion
                    p
                        span.text-small Полное и&nbsp;сокращенное фирменное наименование Банка
                        br
                        | Акционерный Коммерческий Банк &laquo;НОВИКОМБАНК&raquo; акционерное общество АО&nbsp;АКБ &laquo;НОВИКОМБАНК&raquo;
                    p
                        span.text-small Адрес Банка
                        br
                        | 119180, г. Москва, ул. Полянка Большая, д. 50/1, стр.&nbsp;1
                    p
                        span.text-small Адрес офиса Банка, оказывающего услуги по&nbsp;брокерскому обслуживанию
                        br
                        | 119180, город Москва, вн.тер.г. муниципальный округ Якиманка, наб. Якиманская, д.&nbsp;2
                    p
                        span.text-small Контакты
                        br
                        | Адреса электронной почты:&nbsp;
                        a.text-decoration-underline(href="mailto:office@novikom.ru") office@novikom.ru
                        br
                        | Контактные телефоны:&nbsp;
                        a(href="tel:+78002507007" class="text-decoration-none") +7 (800) 250-70-07,
                        |
                        a(href="tel:+74959747187" class="text-decoration-none") +7 (495) 974-71-87
                        br
                        | Сайт: <a href="https://novikom.ru">novikom.ru</a>
                    p
                        span.text-small Лицензия профессионального участника рынка ценных бумаг на&nbsp;осуществление брокерской деятельности
                        br
                        | &#8470;&nbsp;177-06439-100000, дата выдачи 25.02.2003 года (без ограничения срока действия)
                        br
                        | Адрес:&nbsp;107016, Россия, г. Москва, ул. Неглинная, 12
                        br
                        | Контактные телефоны: <a class="text-decoration-none" href="tel:88003003000">8 800 300-30-00</a> (для бесплатных звонков из регионов России), <a class="text-decoration-none" href="tel:+74993003000">+7 499 300-30-00</a> (круглосуточно, по рабочим дням), факс: +7 495 621-64-65
