---
import ADropDownButton from "../ui/ADropDown/ADropDownButton/ADropDownButton.astro";
import ASelectInput from "../ui/ASelectInput/ASelectInput.astro";
import ASliderInput from "../ui/ASliderInput/ASliderInput.astro";
import CalculatorLayout from "../layouts/CalculatorLayout.astro";
import ACheckbox from "../ui/ACheckbox/ACheckbox.astro";
import CalculatorCardItem from "../common/CalculatorCard/CalculatorCardItem.astro";
import CalculatorCard from "../common/CalculatorCard/CalculatorCard.astro";
---

<CalculatorLayout class="loan-calculator">
	<Fragment slot="form">
        <ASliderInput
            id="amount-credit"
            label="Сумма кредита"
            maxValue={5000000}
            minValue={20000}
            startValue={1000000}
            stepSize={5000}
            editable
            type="price"
        />
        <ASliderInput
            id="payment-term"
            label="Срок выплаты"
            maxValue={60}
            minValue={1}
            startValue={36}
            type="month"
            editable
        />
        <ASelectInput size="m" label="Особенности">
            <ADropDownButton value="С поручительством физического лица" selected>С поручительством физического лица</ADropDownButton>
            <ADropDownButton value="Вариант 2">Вариант 2</ADropDownButton>
        </ASelectInput>
        <ASelectInput size="m" label="Тип платежей">
            <ADropDownButton value="Аннуитетные" selected>Аннуитетные</ADropDownButton>
            <ADropDownButton value="Вариант 2">Вариант 2</ADropDownButton>
        </ASelectInput>
	</Fragment>
    <Fragment slot="agreements">
        <ACheckbox id="is-card-novkom" size="m" checked>
            <div class="body-m-light" slot="label">Получаю зарплату на карту НОВИКОМ</div>
        </ACheckbox>
        <ACheckbox id="insurance" size="m">
            <div class="body-m-light" slot="label">Страховка</div>
        </ACheckbox>
    </Fragment>
	<Fragment slot="card">
        <CalculatorCard backgroundColor="grey" polygonColor="green-100">
            <CalculatorCardItem
                hint="Процентная ставка"
                text="16,5%"
            />
            <CalculatorCardItem
                hint="Ежемесячный платеж"
                text="35 404,38"
                currency="₽"
                link={{
                    href: '#',
                    text: 'График платежей'
                }}
            />
            <CalculatorCardItem
                hint="Диапазон полной стоимости кредита"
                text="16,464 – 20,474 %"
            />
        </CalculatorCard>
	</Fragment>
</CalculatorLayout>
