mixin polygon-container(colorClass = 'green-100', contentClassList)
    .polygon-container.js-polygon-container&attributes(attributes)
        div.polygon-container__content(class=contentClassList)
            block
        div.polygon-container__polygon.js-polygon-container-polygon(class= colorClass)
            svg.js-polygon-container-svg(xmlns="http://www.w3.org/2000/svg")
                polygon(points="2,2 335,2 335,394 295,434 2,434", fill="none", stroke="currentColor", stroke-width="2", stroke-dasharray="10")
