mixin slider-controls()
    .slider-controls.js-swiper-controls&attributes(attributes)
        div.slider-controls__pagination.js-swiper-pagination
        div.slider-controls__navigation.js-swiper-nav
            button.swiper-button-prev.js-swiper-prev(type="button")
                span.icon.size-m
                    +svg-use("icon-chevron-left")

            button.swiper-button-next.js-swiper-next(type="button")
                span.icon.size-m
                    +svg-use("icon-chevron-right")
