mixin pb-card-benefit(icon, description)
    .pb-card-benefit.d-flex.align-items-center&attributes(attributes)
        img.pb-card-benefit__icon(src=`img/pb-images/pb-supreme-icons/${icon}` alt="benefit-icon")
        .m-0.pr-text-color.pb-card-benefit__description!= description

