---
import AppButton from "../ui/Buttons/AppButton.astro";
import AButton from "../ui/Buttons/AButton.astro";
interface Props {
	class: string;
}

const { class: className } = Astro.props as Props;
---

<div class="a-footer-apps" class:list={[className]}>
	<div class="a-footer-apps__title headline-4">Скачивайте <br> мобильное приложение</div>
	<AppButton iconName="ru-store" />
	<AppButton iconName="ru-market" />
	<AppButton iconName="nash-store" />
	<AButton element="a" href="#" size="lm" afterIcon="icon-download" download>Скачать</AButton>
</div>

<style lang="scss" is:global>
	@import '@styles/variables';
	@import '@styles/functions';
	@import '@styles/media-queries';

	.a-footer-apps {
		display: flex;
		flex-direction: column;
		row-gap: 1.5rem;
		padding: var(--polygon-padding);
		background-color: var(--blue-10);
	}
</style>
