-
    var calculatorData = {
        rows: [
            {
                title: 'Процентная ставка',
                value: '16,5%',
                additionalClass: 'js-calculator-display-rate',
            },
            {
                title: 'Ежемесячный платеж',
                value: '35 404,38',
                currency: true,
                // link: 'График платежей',
                additionalClass: 'js-calculator-display-payment',
            },
            {
                title: 'Диапазон полной стоимости кредита',
                value: '16,464 – 20,474 %',
                additionalClass: 'js-calculator-display-full-cost',
            }
        ],
        btnText: 'Оформить заявку',
        notes: 'Калькулятор не&nbsp;гарантирует точность расчетов. Окончательные параметры кредита определяются по&nbsp;итогам рассмотрения заявки.'
    }

    var tabsList = [
        {
            link: 'loan-consumer',
            linkText: 'Потребительский кредит',
            isActive: true
        },
        {
            link: 'refinance',
            linkText: 'Рефинансирование',
            isActive: false
        },
    ]

    var inputSliderList = [
        {
            label: 'Сумма кредита',
            id: 'amount-credit',
            maxValue: 5000000,
            minValue: 20000,
            startValue: 1000000,
            stepSize: 5000,
            type: "price",
            editable: true,
            additionalClass: "js-input-amount",
        },
        {
            label: 'Срок выплаты',
            id: 'payment-term',
            maxValue: 60,
            minValue: 6,
            startValue: 36,
            type: "month",
            editable: true,
            additionalClass: "js-input-period",
        }
    ]

include ../../../components/ui/input/input-slider

.row.js-calculator-loan(data-table="loan")
    .col-12.col-lg-6
        .d-none.d-lg-inline-flex
            +nav-tabs(tabsList)

        .d-lg-none
            select.form-select.form-select--size-small.js-select.js-select-loan-type
                option(selected value="loan") Потребительский кредит
                option(value="refinance") Рефинансирование
        .tab-content.pt-4.pt-md-6.pt-lg-7.pe-xl-6
            #loan-consumer.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="loan" tabindex="0")
                .d-flex.flex-column.row-gap-4.row-gap-md-6.row-gap-lg-7
                    each input in inputSliderList
                        +input-slider(input)

                    .d-flex.flex-column.row-gap-4
                        .form-check
                            input#inp-loan-card(type="checkbox" value="" checked).form-check-input.js-inp-loan-card
                            label(for="inp-loan-card").form-check-label
                                a(href="#") Получаю зарплату на&nbsp;карту Новиком

                        .form-check
                            input#inp-loan-insurance(type="checkbox" value="").form-check-input.js-loan-insurance
                            label(for="inp-loan-insurance").form-check-label
                                | Страхование
                        .d-flex.flex-column.row-gap-4.row-gap-lg-6
                            .d-flex.flex-column.row-gap-2
                                label(for="select-loan-properties").form-label.mb-0
                                    | Особенности
                                select#select-loan-properties(aria-label="Подсказка").form-select.js-select.js-select-loan-properties
                                    option(selected value="1") С поручительством физического лица
                                    option(value="2") Без обеспечения
                                    option(value="3") На рефинансирование

                            .d-flex.flex-column.row-gap-2
                                label(for="select-loan-payment-type").form-label.mb-0
                                    | Тип платежей
                                select#select-loan-payment-type(aria-label="Подсказка").form-select.js-select.js-select-loan-payment-type
                                    option(selected value="1") Аннуитетные платежи
                                    option(value="2") Дифференцированные платежи

                        button.btn.btn-link.btn-sm.btn-icon.js-add-replenishment(type="button")
                            +svg-use("icon-plus", "icon size-s")
                            | Добавить пополнение

            #refinance.tab-pane.fade(role="tabpanel" aria-labelledby="refinance" tabindex="0")
                p refinance

    .col-12.col-lg-6.mt-4.mt-md-6.mt-lg-0
        .ps-xxl-6
            +polygon-container()
                +card-calculate-result(calculatorData)
