-
    var calculatorData = {
        rows: [
            {
                title: 'Процентная ставка',
                value: '16,5%',
                additionalClass: 'js-calculator-display-rate'
            },
            {
                title: 'Ежемесячный платеж',
                value: '24 404,38',
                currency: true,
                additionalClass: 'js-calculator-display-payment'
            },
            {
                title: 'Необходимый ежемесячный доход, от',
                value: '35 404,38',
                currency: true,
                additionalClass: 'js-calculator-display-income'
            },
            {
                title: 'Диапазон полной стоимости кредита',
                value: '16,464 – 20,474 %',
                additionalClass: 'js-calculator-display-full-cost'
            }
        ],
        btnText: 'Оформить заявку',
        notes: 'Калькулятор не&nbsp;гарантирует точность расчетов. Окончательные параметры кредита определяются по&nbsp;итогам рассмотрения заявки.'
    }

    var inputSliderList = [
        {
            label: 'Сумма кредита',
            id: 'amount-credit',
            maxValue: 5000000,
            minValue: 20000,
            startValue: 1000000,
            stepSize: 5000,
            type: "price",
            editable: true,
            additionalClass: "js-input-amount",
            isCalculator: true
        },
        {
            label: 'Срок выплаты',
            id: 'payment-term',
            maxValue: 60,
            minValue: 6,
            startValue: 36,
            type: "month",
            editable: true,
            additionalClass: "js-input-period",
            isCalculator: true
        },
        {
            label: 'Стоимость недвижимости',
            id: 'property-value',
            maxValue: 5000000,
            minValue: 20000,
            startValue: 3534321,
            stepSize: 10000,
            type: "price",
            editable: true,
            additionalClass: "js-input-property",
            isCalculator: true
        },
        {
            label: 'Первоначальный взнос',
            id: 'down-payment',
            maxValue: 3000000,
            minValue: 20000,
            startValue: 120000,
            stepSize: 10000,
            type: "price",
            editable: true,
            additionalClass: "js-input-initial-payment",
            isCalculator: true
        },
    ]

include ../../../components/ui/input/input-slider
include ../../../cards/card-calculate-result

.row.js-calculator-mortgage(data-table="mortgage")
    .col-12.col-lg-6
        .tab-content.pe-xl-6
            .d-flex.flex-column.row-gap-4.row-gap-md-6.row-gap-lg-7
                each input in inputSliderList
                    +input-slider(input)

                .d-flex.flex-column.row-gap-4.row-gap-lg-6
                    .d-flex.flex-column.row-gap-2
                        label(for="select-mort-region").form-label.mb-0
                            | Регион
                        select#select-mort-region(aria-label="Подсказка").form-select.js-select.js-mort-region
                            option(selected value="1") Дальневосточный федеральный округ
                            option(value="2") Список 2
                            option(value="3") Список 3
                            option(value="4") Список 4

                    .d-flex.flex-column.row-gap-2
                        label(for="select-mort-program").form-label.mb-0
                            | Программа кредитования
                        select#select-mort-program(aria-label="Подсказка").form-select.js-select.js-mort-program
                            option(selected value="1") Ипотека по программе «Первичный рынок»
                            option(value="2") Список 2
                            option(value="3") Список 3
                            option(value="4") Список 4

                    .d-flex.flex-column.row-gap-2
                        label(for="select-mort-object").form-label.mb-0
                            | Объект залога
                        select#select-mort-object(aria-label="Подсказка").form-select.js-select.js-mort-object
                            option(selected value="1") Квартира
                            option(value="2") Список 2
                            option(value="3") Список 3
                            option(value="4") Список 4

                .d-flex.flex-column.row-gap-4
                    .form-check
                        input#input-mort-card(type="checkbox" value="" checked).form-check-input.js-mort-card
                        label(for="input-mort-card").form-check-label
                            | Получаю зарплату на&nbsp;карту Новиком

                    .form-check
                        input#input-mort-insurance(type="checkbox" value="").form-check-input.js-mort-insurance
                        label(for="input-mort-insurance").form-check-label
                            | Страхование

    .col-12.col-lg-6.mt-4.mt-md-6.mt-lg-0
        .ps-xxl-6
            +polygon-container()
                +card-calculate-result(calculatorData, 'bg-dark-0')
