-
    var calculatorData = {
        rows: [
            {
                title: 'Процентная ставка',
                value: '16,5%',
                additionalClass: 'js-calculator-display-rate'
            },
            {
                title: 'Ежемесячный платеж',
                value: '35 404,38',
                currency: true,
                additionalClass: 'js-calculator-display-payment'
            },
            {
                title: 'Диапазон полной стоимости кредита',
                value: '16,464 – 20,474 %',
                additionalClass: 'js-calculator-display-full-cost'
            }
        ],
        btnText: 'Оформить заявку',
        notes: 'Калькулятор не&nbsp;гарантирует точность расчетов. Окончательные параметры кредита определяются по&nbsp;итогам рассмотрения заявки.',
        link: 'График платежей'
    }

    var tabsList = [
        {
            link: 'loan-consumer',
            linkText: 'Потребительский кредит',
            isActive: true
        },
        {
            link: 'refinance',
            linkText: 'Рефинансирование',
            isActive: false
        },
    ]

    var inputSliderList = [
        {
            label: 'Сумма кредита',
            id: 'amount-credit',
            startValue: 1000000,
            stepSize: 5000,
            type: "price",
            editable: true,
            additionalClass: "js-input-amount",
            isCalculator: true
        },
        {
            label: 'Срок выплаты',
            id: 'payment-term',
            startValue: 36,
            type: "month",
            editable: true,
            additionalClass: "js-input-period",
            isCalculator: true
        }
    ]

include ../../../components/ui/input/input-slider

.row.js-calculator-loan(data-table="loans" data-id)
    .col-12.col-lg-6
        // TODO: пока закоментирован не понятно нужен ли этот функционал, т.к. дублируется ниже
        //.d-none.d-lg-inline-flex
        //    +nav-tabs(tabsList)
        //
        //.d-lg-none
        //    select.form-select.form-select--size-small.js-select.js-select-loan-type
        //        option(selected value="loan") Потребительский кредит
        //        option(value="refinance") Рефинансирование
        //.pt-4.pt-md-6.pt-lg-7.pe-xl-6
        .d-flex.flex-column.row-gap-4.row-gap-md-6.row-gap-lg-7
            each input in inputSliderList
                +input-slider(input)

            .d-flex.flex-column.row-gap-4
                .form-check
                    input#inp-loan-card(type="checkbox" value="" checked).form-check-input.js-inp-loan-card
                    label(for="inp-loan-card").form-check-label
                        span(tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="hint" data-bs-title="Таким образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации модели развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки форм развития. Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации форм развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение соответствующий условий активизации. Разнообразный и богатый опыт новая модель организационной деятельности позволяет оценить значение соответствующий условий активизации.").link.link-underline Получаю зарплату на&nbsp;карту Новиком

                .form-check
                    input#inp-loan-insurance(type="checkbox" value="").form-check-input.js-loan-insurance
                    label(for="inp-loan-insurance" tabindex="0").form-check-label
                        | Страхование
                .d-flex.flex-column.row-gap-4.row-gap-lg-6
                    .d-flex.flex-column.row-gap-2
                        label(for="select-loan-properties").form-label.mb-0
                            | Особенности
                        select#select-loan-properties(aria-label="Подсказка").form-select.js-select.js-select-loan-properties
                            option(selected value="С поручительством физического лица") С поручительством физического лица
                            option(value="Без обеспечения") Без обеспечения
                            option(value="На рефинансирование") На рефинансирование

                    .d-flex.flex-column.row-gap-2
                        label(for="select-loan-payment-type").form-label.mb-0
                            | Тип платежей
                        select#select-loan-payment-type(aria-label="Подсказка").form-select.js-select.js-select-loan-payment-type
                            option(selected value="annuity") Аннуитетные платежи
                            option(value="differentiated") Дифференцированные платежи

    .col-12.col-lg-6.mt-4.mt-md-6.mt-lg-0
        .ps-xxl-6
            +polygon-container()
                +card-calculate-result(calculatorData)
    #payment-loan-schedule.col-12.collapse
        .payment-schedule.mt-6.pt-6.mt-md-7.pt-md-7.mt-lg-9.pt-lg-9.custom-overflow-scrollbar
            table.table.table--bg-transparent.text-center
                thead
                    tr
                        th(scope="col") Месяц
                        th(scope="col") Оплата процентов
                        th(scope="col") Оплата основного долга
                        th(scope="col") Ежемесячный платеж
                        th(scope="col") Остаток погашения
                tbody#payment-loan-table-body
