-
    var calculatorData = {
        rows: [
            {
                title: 'Срок вклада',
                value: '',
                additionalClass: 'js-calculator-display-period',
            },
            {
                title: 'Процентная ставка',
                value: '21 %',
                additionalClass: 'js-calculator-display-rate',
            },
            {
                title: 'Ваш доход составит',
                value: '6 238',
                currency: true,
                additionalClass: 'js-calculator-display-income',
            },
        ],
        btnText: 'Оформить заявку',
        notes: 'Калькулятор не&nbsp;гарантирует точность расчетов. Окончательные параметры вклада определяются по&nbsp;итогам рассмотрения заявки.'
    }

include ../../../components/ui/input/input-slider
include ../../../cards/card-calculate-result

.row.js-calculator-deposit(data-table="deposits" data-id="611")
    .col-12.col-lg-6
        .pe-xl-6
            .d-flex.flex-column.row-gap-4.row-gap-md-6.row-gap-lg-7
                .d-flex.flex-column.flex-md-row-reverse.align-items-md-center.gap-3.js-input-slider-wrapper
                    ul.nav.nav-tabs.nav-tabs--type-currency.js-tabs-currency

                    +input-slider({
                        label: 'Сумма вклада',
                        id: 'deposit-amount',
                        startValue: 1000000,
                        stepSize: 5000,
                        type: "price",
                        editable: true,
                        additionalClass: "js-input-amount",
                        isCalculator: true
                    }).flex-grow-1

                +input-slider({
                    label: 'Срок вклада',
                    id: 'deposit-period',
                    type: "day",
                    startValue: 550,
                    editable: false,
                    additionalClass: "js-input-period",
                    isCalculator: true
                })

                .d-flex.flex-column.align-items-start.row-gap-4
                    .form-check
                        input#input-deposit-capitalization(type="checkbox" value="").form-check-input.js-input-deposit-capitalization
                        label(for="input-deposit-capitalization").form-check-label
                            | Капитализация процентов на счет вклада

                    .form-check
                        input#input-deposit-replenishment(type="checkbox" value="" data-target="replenishment").form-check-input.js-replenishment
                        label(for="input-deposit-replenishment").form-check-label
                            | Планируются пополнения суммы вклада
                #replenishment.d-flex.flex-column.align-items-start.row-gap-4.row-gap-md-6
                    .d-flex.flex-column.flex-md-row.gap-4.gap-lg-6.js-replenishment-item(data-id="0")
                        .d-flex.flex-column.row-gap-2.w-100
                            label(for="date").form-label.mb-0
                                | Дата пополнения
                            .position-relative.w-100
                                input#date(type="text" name="date" placeholder="дд.мм.гг").form-control.form-control-lg-lg.js-date.js-date--today-min
                                span.cursor-pointer.position-absolute.top-0.end-0.violet-70.text-m.py-2.px-3.p-lg-3
                                    +svg-use("icon-calendar", "icon size-m")

                        .d-flex.flex-column.row-gap-2.w-100
                            label(for="sum").form-label.mb-0
                                | Сумма пополнения
                            .position-relative.w-100
                                input#sum(type="number" name="sum").form-control.form-control-lg-lg
                                span.currency.position-absolute.top-0.end-0.dark-70.text-m.py-2.px-3.p-lg-3
                                    | ₽
                    button.btn.btn-link.btn-sm.btn-icon.js-add-replenishment(type="button")
                        +svg-use("icon-plus", "icon size-s")
                        | Добавить пополнение
                    template#replenishment-template
                        .d-flex.gap-2.gap-md-4.position-relative.js-replenishment-item
                            .d-flex.flex-column.flex-md-row.gap-4.gap-lg-6.flex-grow-1
                                .d-flex.flex-column.row-gap-2.w-100
                                    label(for="date").form-label.mb-0
                                        | Дата пополнения
                                    .position-relative.w-100
                                        input(type="text" name="date" placeholder="дд.мм.гг").form-control.form-control-lg-lg.js-date.js-date--today-min
                                        span.cursor-pointer.position-absolute.top-0.end-0.violet-70.text-m.py-2.px-3.p-lg-3
                                            +svg-use("icon-calendar", "icon size-m")

                                .d-flex.flex-column.row-gap-2.w-100
                                    label(for="sum").form-label.mb-0
                                        | Сумма пополнения
                                    .position-relative.w-100
                                        input(type="number" name="sum").form-control.form-control-lg-lg
                                        span.currency.position-absolute.top-0.end-0.dark-70.text-m.py-2.px-3.p-lg-3
                                            | ₽
                            button(type="button").btn-remove-replenishment.js-remove-replenishment
                                +svg-use("icon-close", "icon size-m")
    .col-12.col-lg-6.mt-4.mt-md-6.mt-lg-0
        .ps-xxl-6
            +polygon-container()
                +card-calculate-result(calculatorData, 'bg-dark-0')
