---
import SectionTitle from "../ui/SectionTitle/SectionTitle.astro";
import AButton from "../ui/Buttons/AButton.astro";
import NewsCard from "../common/NewsCard.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import PersistentSlider from "../common/Sliders/PersistentSlider/PersistentSlider.astro";
import SliderSlide from "../common/Sliders/common/SliderSlide/SliderSlide.astro";

const pressReleases = [
  {
    tag: "Пресс-центр",
    date: "07.12.2023",
    title: "Новикомбанк рассказал о развитии финансовых инструментов"
  },
  {
    tag: "Пресс-центр",
    date: "06.12.2023",
    title: "Новикомбанк и Республика Татарстан договорились о сотрудничестве"
  },
  {
    tag: "Союз машиностроителей",
    date: "27.11.2023",
    title: "При поддержке Новикомбанка Росэлектроника начала серийный выпуск KVM-коммутаторов для удаленного управления оборудованием"
  },
  {
    tag: "Пресс-центр",
    date: "20.11.2023",
    title: "Новикомбанк и Республика Татарстан договорились о сотрудничестве"
  },
  {
    tag: "Союз машиностроителей",
    date: "05.11.2023",
    title: "При поддержке Новикомбанка Росэлектроника начала серийный выпуск KVM-коммутаторов для удаленного управления оборудованием"
  },
];

---

<SectionLayout
	class="section-news"
	types={['no-padding-top']}
>
    <div class="content-container">
        <SectionTitle class="section-news__title" titleClass="headline-2" usePadding>Новости
			<AButton element="a" size="s" afterIcon="chevron-right" text slot="after">Пресс-центр</AButton>
		</SectionTitle>

		<PersistentSlider spaceBetween="mobile-s:8,mobile:8,tablet:8,laptop:8">
			{
				pressReleases.map((release) => (
					<SliderSlide>
						<NewsCard class="section-news__card" tagText={release.tag} date={release.date} title={release.title} />
					</SliderSlide>
				))
			}
		</PersistentSlider>
    </div>
</SectionLayout>

<style lang="scss" is:global>
    @use 'sass:map';
    @import '@styles/variables';
    @import '@styles/media-queries';
    @import '@styles/placeholders';

    .section-news {
		$tablet-breakpoint: tablet;
		$desktop-breakpoint: laptop;

        .text-button {
            gap: .25rem;
            --button-font-size: .875rem;

            &__icon {
                width: 1rem;
                height: 1rem;
            }
        }

		&__title {
			margin-bottom: 1.5rem;

			.section-title__after {
				align-self: flex-end;
			}

			@include use-media($tablet-breakpoint) {
				margin-bottom: 2rem;
			}

			@include use-media($desktop-breakpoint) {
				margin-bottom: 2.5rem;
			}
		}

		&__card {
			height: 100%;
		}

        .swiper-slide {
			height: auto;
        }

        .slider-skeleton__controls {
            margin-top: 1rem;

            @include use-media(laptop) {
                margin-top: 1.5rem;
            }
        }
    }
</style>