mixin card-partner(data)
    .card.card-partner.bg-dark-10.h-100.p-3.d-flex.align-items-center.justify-content-center
        .card-partner__image-wrap.d-flex.align-items-center.justify-content-center
            img(src= data.imgSrc alt="" loading="lazy")

