include ../components/ui/tag

mixin card-special(data)
    a(href= data.href).card-special.bg-dark-10.dark-100.h-100.d-flex.flex-column.row-gap-6.row-gap-lg-9
        .card-special__header.d-flex.align-items-start.justify-content-between
            +tag(data.tag, 'outline')
            span.text-s.dark-70.my-auto.mb-0= data.date
        .card-special__body
            if data.titleIsSmall
                span.dark-100!= data.title
            else
                span.text-l.fw-semibold!= data.title