mixin card-service(data)
    a.card-service(href= data.href)
        .card-service__content.d-flex.flex-column
            h4.dark-100= data.title
            span.icon.card-service__icon
                +svg-use(data.icon)
        +pattern-bg('card', 'light', 'pattern-bg--position-sm-top')
