mixin card-sale(data)
    a(href= data.href).card-sale.d-flex.flex-column.align-items-start.gap-2.gap-lg-3
        img.card-sale__image(src=`img/discount-card/${data.img}`, alt="", loading="lazy")
        if data.title
            h5!=data.title
        if data.text
            span!= data.text

