include ../components/ui/tag

mixin card-news(data)
    a(href= data.href).card-news.position-relative.bg-dark-10.dark-100.h-100.d-flex.flex-column.overflow-hidden
        .card-news__header.w-100.position-absolute.top-0.start-0.d-flex.align-items-start.justify-content-between.z-2
            if data.tag
                +tag(data.tag).card-news__tag
            if data.isNeedStickyIcon
                span.card-news__sticky-icon.btn.btn-info.p-0.d-flex
                    +svg-use("icon-pin", "icon size-m blue-100 m-auto")
        .card-news__image-container.position-relative.z-1
            if data.imageSrc
                img.card-news__img.position-relative.z-2(src=data.imageSrc, alt="", loading="lazy")
                .card-news__top-blackout.z-3.position-absolute.top-0.start-0.w-100
            else
                +pattern-bg('card', 'light', 'pattern-bg--position-sm-top z-1')
        .card-news__body.d-flex.flex-column.gap-2.gap-sm-3.z-3
            span.text-m.dark-70= data.date
            h5.fw-bold!= data.title
