-
    var cardFeedbackData = {
        title: 'Остались вопросы?',
        description: 'Оставьте свой телефон и мы перезвоним вам, <br class="d-none d-md-block d-lg-none d-xl-block">либо задайте вопрос в чате',
        chatButtonIsVisible: true,
        link: '#',
        pattern: true,
    }

mixin card-feedback(data=cardFeedbackData, bgClass='bg-white')
    .card-feedback.position-relative.overflow-hidden.d-inline-flex.px-3.py-4.p-sm-5.p-lg-6.w-100&attributes(attributes)(class=bgClass)
        div.card-feedback__inner.d-flex.flex-column.row-gap-6.row-gap-lg-7.h-100.w-100.z-2
            div.card-feedback__title-group.d-flex.flex-column.gap-3.gap-md-4
                if data.title
                    h4.card-feedback__title!= data.title
                if data.description
                    p.card-feedback__description.text-l.m-0!= data.description
            .d-flex.flex-column.flex-md-row.p-0.gap-3.gap-md-4
                if data.chatButtonIsVisible
                    button.btn.btn-outline-primary.btn-lg-lg.text-ls.overflow-visible.w-100.w-md-auto(type="button")
                        | Открыть чат
                button.btn.btn-primary.btn-lg-lg.text-ls.overflow-visible.w-100.w-md-auto(type="button")
                    | Перезвоните мне
        if data.pattern
            +pattern-bg('card', 'light', 'pattern-bg--position-top z-1')
