mixin card-award(imageSrc, bgColorClass='bg-dark-30')
    .card-award(class=bgColorClass)&attributes(attributes)
        .card-award__wrapper.d-flex.flex-column.flex-md-row.align-items-center.align-items-md-start.gap-4.gap-lg-6
            img(src=imageSrc, class="card-award__image w-auto float-end", alt="" loading="lazy")
            .card-award__content.text-l
                block