---

---
<div class="grid-variants-layout">
	<slot />
</div>

<style lang="scss" is:global>
	@import "@styles/media-queries";

	.grid-variants-layout {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		@include use-media(tablet) {
			gap: 2.5rem;
		}

		@include use-media(tablet-album) {
			flex-wrap: wrap;
			flex-direction: row;

			& > * {
				flex-basis: calc(50% - 1.25rem);
				width: calc(50% - 1.25rem);
			}

			& > *:last-child:nth-child(odd) {
				flex-basis: 100%;
				width: 100%;
			}
		}
	}
</style>