mixin info-product-banner-alternative(title, imageSrc, link)
    section.info-product-banner-alternative.overflow-hidden.position-relative.px-0.px-lg-6.py-9.py-md-8.py-lg-11.bg-blue-10
        div.container.info-product-banner-alternative__container.position-relative.z-2
            .row.row-gap-7
                .col-12.position-relative.z-1.col-lg-10.col-xxl-9
                    .d-flex.flex-column.flex-md-row.align-items-start.gap-4.gap-sm-5.gap-md-6
                        img(src="img/footer-insurance.png", width="160", height="160", alt="", loading="lazy")
                        .d-flex.flex-column.gap-4.gap-md-6
                            if title
                                .info-product-banner-alternative__title-container
                                    h3.info-product-banner-alternative__title.dark-100= title
                            block
                            if link
                                a(href="#").btn.btn-link.btn-lg.d-inline-flex.gap-2.align-items-center
                                    span.text-m Подробнее
                                    +svg-use('icon-chevron-right-small', 'icon size-m')
        +pattern-bg('section-heavy', 'light', 'pattern-bg--position-sm-bottom info-product-banner__pattern')