// title - str
// breadcrumbsData - obj
// breadcrumbsData.link - str
// breadcrumbsData.linkText - str
// description - str
// borderColor - str

mixin text-banner(title, breadcrumbsData, description, borderColor)
    section.text-banner.px-0.px-lg-8.px-lg-6.bg-linear-blue-purple(class=`text-banner--border-${borderColor}`)
        div.container.text-banner__container.position-relative.z-2
            .row
                .col-12.position-relative.z-1.mb-5.mb-md-0.pt-6
                    .d-flex.flex-column.align-items-start.gap-3.gap-md-4
                        a.text-banner__breadcrumbs.text-s.text-white-50(href=breadcrumbsData.link)= breadcrumbsData.linkText
                        h1.text-banner__title.dark-0= title
                        .text-banner__description.text-l.dark-0= description
        +pattern-bg('section', 'light', 'pattern-bg--position-sm-top text-banner__img')