---
import DefaultPageLayout from '../layouts/DefaultPageLayout.astro';
import SectionSpecialOffers from "../components/sections/SectionSpecialOffers.astro";
import SectionSeeAlso from "../components/sections/SectionSeeAlso.astro";
import AAccordionHeader from "../components/ui/AAccordion/AAccordionHeader.astro";
import AAccordionPanel from "../components/ui/AAccordion/AAccordionPanel.astro";
import ARte from "../components/ARte.astro";
import BenefitCard from "../components/common/BenefitCard/BenefitCard.astro";
import AAccordion from "../components/ui/AAccordion/AAccordion.astro";
import ATabPanel from "../components/ui/ATabs/common/ATabPanel.astro";
import AAccordionContent from "../components/ui/AAccordion/AAccordionContent.astro";
import SectionHelpLayout from "../components/layouts/SectionHelpLayout/SectionHelpLayout.astro";
import SectionHelpContentLayout from "../components/layouts/SectionHelpLayout/SectionHelpContentLayout.astro";
import DocumentDownload from "../components/ui/DocumentDownload/DocumentDownload.astro";
import AButton from "../components/ui/Buttons/AButton.astro";
import FormCallMeBack from "../components/common/FormCallMeBack/FormCallMeBack.astro";
import ATab from "../components/ui/ATabs/common/ATab/ATab.astro";
import SectionConnectYourBenefits from "../components/sections/SectionConnectYourBenefits.astro";
import SectionLayout from "../components/layouts/SectionLayout.astro";
import DisplayStepperItem from "../components/common/DisplayStepper/DisplayStepperItem.astro";
import DisplayStepper from "../components/common/DisplayStepper/DisplayStepper.astro";
import TableAdaptive from "../components/ui/TableAdaptive/TableAdaptive.astro";
import SectionBenefitsLayout from "../components/layouts/SectionBenefitsLayout.astro";
import ProductCardBanner from "../components/banners/ProductCardBanner.astro";

const benefitCards = [
	{
		title: 'Кешбэк рублями до&nbsp;30%',
		description: 'За&nbsp;покупки у&nbsp;партнеров банка, до&nbsp;7% в&nbsp;избранных категориях',
		iconId: 'icon-a-money-out'
	},
	{
		title: 'Бонусы',
		description: 'При оплате товаров и&nbsp;услуг на&nbsp;сумму 15&nbsp;000 руб в&nbsp;месяц',
		iconId: 'icon-a-money'
	},
	{
		title: '0 <span class="currency">₽</span> СМС информирование',
		description: 'При покупках по&nbsp;карте в&nbsp;месяц на&nbsp;сумму равную или более 20&nbsp;000 рублей',
		iconId: 'icon-a-transfer'
	},
	{
		title: '0 <span class="currency">₽</span> обслуживание',
		description: 'Основной и&nbsp;дополнительной карты, в&nbsp;том числе в&nbsp;формате электронного <br>Платежного кольца/Платежного стикера',
		iconId: 'icon-a-hand-money'
	}
];

const offerCards = [
	{
		title: 'Программа «Кешбэк»',
		description: 'Возврат рублями от покупок по карте ',
		symbolId: 'cashback-program',
		href: '#',
		beforeNumberText: 'до',
		numberText: '15,5%',
		afterNumberText: '',
		buttonText: 'Подробнее'
	},
	{
		title: 'Программа «Бонусы»',
		description: 'Бонусные баллы за покупки',
		symbolId: 'bonus-program',
		href: '#',
		beforeNumberText: 'до',
		numberText: '20%',
		afterNumberText: '',
		buttonText: 'Подробнее'
	}
];

const tableDataPercent = {
	header: [
		'Процент годовых в месяц',
		'Условия'
	],
	body: [
		{
			cells: [
				{
					className: 'number-l-heavy',
					text: '4,5%',
				},
				{
					className: 'body-l-light',
					text: '<p>\n' +
						'                    при сумме остатка не&nbsp;более 1&nbsp;400&nbsp;000 рублей на&nbsp;Текущем счете карты\n' +
						'                </p>\n' +
						'                <p>\n' +
						'                    сумме покупок по&nbsp;карте (за&nbsp;исключением оплаты товаров и&nbsp;услуг через СБП)\n' +
						'                    на&nbsp;общую сумму менее 20&nbsp;000 рублей в&nbsp;календарном месяце\n' +
						'                </p>',
				}

			],
		},
		{
			cells: [
				{
					className: 'number-l-heavy',
					text: '5%',
				},
				{
					className: 'body-l-light',
					text: '<p>\n' +
						'                    при сумме остатка не&nbsp;более 1&nbsp;400&nbsp;000 рублей на&nbsp;Текущем счете карты\n' +
						'                </p>\n' +
						'                <p>\n' +
						'                    сумме покупок по&nbsp;карте (за&nbsp;исключением оплаты товаров и&nbsp;услуг через СБП)\n' +
						'                    на&nbsp;общую сумму менее 20&nbsp;000 рублей в&nbsp;календарном месяце\n' +
						'                </p>',
				}

			],
		},
		{
			cells: [
				{
					className: 'number-l-heavy',
					text: '7,5%',
				},
				{
					className: 'body-l-light',
					text: '<p>\n' +
						'                    при сумме остатка не&nbsp;более 1&nbsp;400&nbsp;000 рублей на&nbsp;Текущем счете карты\n' +
						'                </p>\n' +
						'                <p>\n' +
						'                    сумме покупок по&nbsp;карте (за&nbsp;исключением оплаты товаров и&nbsp;услуг через СБП)\n' +
						'                    на&nbsp;общую сумму менее 20&nbsp;000 рублей в&nbsp;календарном месяце\n' +
						'                </p>',
				}

			],
		},
		{
			cells: [
				{
					className: 'number-l-heavy',
					text: '8%',
				},
				{
					className: 'body-l-light',
					text: '<p>\n' +
						'                    при сумме остатка не&nbsp;более 1&nbsp;400&nbsp;000 рублей на&nbsp;Текущем счете карты\n' +
						'                </p>\n' +
						'                <p>\n' +
						'                    сумме покупок по&nbsp;карте (за&nbsp;исключением оплаты товаров и&nbsp;услуг через СБП)\n' +
						'                    на&nbsp;общую сумму менее 20&nbsp;000 рублей в&nbsp;календарном месяце\n' +
						'                </p>',
				}

			],
		},

	]
}
---

<DefaultPageLayout title="Всегда в плюсе карта">
	<ProductCardBanner
		benefits={[
			{
				beforeNum: 'до',
				num: '8%',
				description: 'Годовых в месяц на остаток'
			},
			{
				num: '0',
				currency: '₽',
				description: 'Обслуживание карты'
			},
			{
				num: '0',
				currency: '₽',
				description: 'Выпуск цифровой карты'
			},
		]}
		image="assets/cards/always-plus.png"
		urlHref="#"
		buttonText="Оформить карту"
		hasPattern
	>
		<Fragment slot="title">
			Всегда в&nbsp;плюсе
		</Fragment>
		<Fragment slot="subtitle">
			Дебетовая карта Мир Премиальная
		</Fragment>
	</ProductCardBanner>
	<SectionBenefitsLayout
		title="Преимущества"
		benefits={benefitCards}
	>
	</SectionBenefitsLayout>
	<SectionConnectYourBenefits offerCards={offerCards} slidesPerView="mobile-s:1,mobile:1,tablet:2,laptop:2" />
	<SectionHelpLayout title="О&nbsp;карте Всегда в&nbsp;плюсе">
		<Fragment slot="tabs">
			<ATab value="0" size="lm" isActive>Как пополнить карту</ATab>
			<ATab value="1" size="lm">Проценты на остаток</ATab>
			<ATab value="2" size="lm">Документы и тарифы</ATab>
			<ATab value="3" size="lm">Вопросы и ответы</ATab>
		</Fragment>
		<Fragment slot="tabPanels">
			<ATabPanel value="0">
				<DisplayStepper>
					<DisplayStepperItem icon="icon-a-web-bank" inRow>
						<ARte class="body-l-heavy">
							<p>
								Через интернет-банк<br>
								и&nbsp;мобильное приложение
							</p>
						</ARte>
					</DisplayStepperItem>
					<DisplayStepperItem icon="icon-a-bank" inRow>
						<ARte class="body-l-heavy">
							<p>В&nbsp;офисах банка <br>Новиком</p>
						</ARte>
					</DisplayStepperItem>
					<DisplayStepperItem icon="icon-a-mir-payment" inRow>
						<ARte class="body-l-heavy">
							<p>В&nbsp;платежных терминалах/<br>банкоматах Банка и&nbsp;партнеров</p>
						</ARte>
					</DisplayStepperItem>
					<DisplayStepperItem icon="icon-a-transfer" inRow>
						<ARte class="body-l-heavy">
							<p>Используя услугу <br>&laquo;Перевод с&nbsp;карты на&nbsp;карту&raquo;</p>
						</ARte>
					</DisplayStepperItem>
					<DisplayStepperItem icon="icon-a-transh" inRow>
						<ARte class="body-l-heavy">
							<p>C&nbsp;помощью банковского<br> перевода</p>
						</ARte>
					</DisplayStepperItem>
				</DisplayStepper>
			</ATabPanel>
			<ATabPanel value="1">
				<TableAdaptive tableData={tableDataPercent} />
			</ATabPanel>
			<ATabPanel value="2">
				<SectionHelpContentLayout>
					<Fragment slot="left">
						<AAccordion type="component">
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Тарифы для физических лиц</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Договор банковского обслуживания</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Типовые документы</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Паспорта дебетовых карт</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Иные документы</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
						</AAccordion>
					</Fragment>
					<Fragment slot="right">
                        <BenefitCard
                            title="Защита от мошенников"
                            description="Узнайте как уберечь себя и своих близких от финансового мошенничества."
                            icon="icon-a-protection"
                            theme="grey"
                            textButton="Подробнее"
                        />
					</Fragment>
				</SectionHelpContentLayout>
			</ATabPanel>
			<ATabPanel value="3">
				<SectionHelpContentLayout>
					<Fragment slot="left">
						<AAccordion type="component">
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Что нужно знать клиентам о продлении срока действия карт?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Взимается ли комиссия за снятие наличных денежных средств в банкоматах,  если моя организация – работодатель  является участником зарплатного проекта Банка?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Вместе с основной зарплатной картой мне выдали дополнительную. По каким тарифам она обслуживается?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Что делать, если потерял карту или забыл ПИН-код?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту.   Если ПИН-код не удается вспомнить карту необходимо перевыпустить.</p>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Мою карту заблокировал Банк. Что делать?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
						</AAccordion>
					</Fragment>
					<Fragment slot="left-footer">
						<AButton element="a" href="#" text afterIcon="icon-chevron-right" size="m">Все вопросы и ответы</AButton>
					</Fragment>
					<Fragment slot="right">
						<FormCallMeBack
							title="Остались вопросы?"
							description="Оставьте свой телефон и мы перезвоним вам, либо задайте вопрос в чате"
							agreement="Нажимая кнопку «Перезвоните мне», вы соглашаетесь с условиями предоставления информации"
							type="light-blue"
							useChat
						/>
					</Fragment>
				</SectionHelpContentLayout>
			</ATabPanel>
		</Fragment>
	</SectionHelpLayout>
	<SectionLayout class="section-layout--bg-gray">
		<div class="content-container">
			<AAccordion type="layout">
				<AAccordionPanel>
					<AAccordionHeader class="a-accordion-header--mobile-only">
						<h3 class="headline-2">Как оформить карту</h3>
					</AAccordionHeader>
					<AAccordionContent class="a-accordion-content--hide-mobile">
						<div class="a-accordion-content__wrapper">
							<h3 class="headline-2 a-accordion-content__title">
								Как оформить карту
							</h3>
							<div class="a-accordion-content__content">
								<DisplayStepper steps={3}>
									<DisplayStepperItem icon="icon-a-web-bank">
										<h3 class="headline-3">Онлайн</h3>
										<ARte class="body-l-light">
											<p>Закажите выпуск именной карты «Мир»<br> прямо сейчас.</p>
										</ARte>
										<Fragment slot="footer">
											<AButton element="a" href="#" size="lm">Оформить карту</AButton>
										</Fragment>
									</DisplayStepperItem>
									<DisplayStepperItem icon="icon-a-personal-manager">
										<h3 class="headline-3">Через менеджера</h3>
										<ARte class="body-l-light">
											<p>Закажите консультацию сотрудника по телефону 8 800 250-70-07.</p>
										</ARte>
									</DisplayStepperItem>
									<DisplayStepperItem icon="icon-a-bank">
										<h3 class="headline-3">В офисе банка</h3>
										<ARte class="body-l-light">
											<p>Приходите в ближайший офис банка Новиком</p>
										</ARte>
										<Fragment slot="footer">
											<AButton element="a" href="#" size="lm" text afterIcon="icon-chevron-right">Найти на карте</AButton>
										</Fragment>
									</DisplayStepperItem>
								</DisplayStepper>
							</div>
						</div>
					</AAccordionContent>
				</AAccordionPanel>
			</AAccordion>
		</div>
	</SectionLayout>
	<SectionSpecialOffers />
	<SectionSeeAlso />
</DefaultPageLayout>
