---
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
import SectionSeeAlso from "../components/sections/SectionSeeAlso.astro";
import TextBanner from "../components/banners/TextBanner.astro";
import ATab from "../components/ui/ATabs/common/ATab/ATab.astro";
import AddInfoLayout from "../components/layouts/AddInfoLayout/AddInfoLayout.astro";
import AAccordionContent from "../components/ui/AAccordion/AAccordionContent.astro";
import SectionHelpContentLayout from "../components/layouts/SectionHelpLayout/SectionHelpContentLayout.astro";
import AAccordionHeader from "../components/ui/AAccordion/AAccordionHeader.astro";
import AAccordionPanel from "../components/ui/AAccordion/AAccordionPanel.astro";
import SectionHelpLayout from "../components/layouts/SectionHelpLayout/SectionHelpLayout.astro";
import ATabPanel from "../components/ui/ATabs/common/ATabPanel.astro";
import AAccordion from "../components/ui/AAccordion/AAccordion.astro";
import AddInfoItemLayout from "../components/layouts/AddInfoLayout/AddInfoItemLayout.astro";
import BenefitCard from "../components/common/BenefitCard/BenefitCard.astro";
import DocumentDownload from "../components/ui/DocumentDownload/DocumentDownload.astro";
import ATableBody from "../components/common/ATable/ATableBody.astro";
import ATableCell from "../components/common/ATable/ATableCell.astro";
import ATable from "../components/common/ATable/ATable.astro";
import ATableRow from "../components/common/ATable/ATableRow.astro";
import SectionBenefitsLayout from "../components/layouts/SectionBenefitsLayout.astro";

const breadcrumbs = [
    {
        title: 'Частным клиентам',
        url: '#'
    },
    {
        title: 'Платежи и переводы',
        url: '#'
    }
];

const benefitCards = [
    {
        title: 'C дебетовых карт банка Новиком',
        description: '',
        iconId: 'icon-a-transfer',
        list: [
          'Без комиссии на карты Новиком.',
          '1,5% от суммы перевода (минимум — 60 руб.) <br>на карты, эмитированные сторонними банками'
        ],
    },
    {
        title: 'С кредитных карт банка Новиком',
        description: '',
        list: [
          '2% от суммы перевода (минимум 200 руб.) на карты банка Новиком',
          '3,5% от суммы перевода (минимум 260 руб.) на карты, эмитированные сторонними банками'
        ],
        iconId: 'icon-a-transfer'
    },
    {
        title: 'С карт сторонних банков',
        description: '',
        list: [
          'Без комиссии на карты Новиком. <br>(Банк-эмитент карты отправителя может взимать дополнительные комиссии)',
          '1,5% от суммы перевода (минимум — 60 руб.) <br>на карты, эмитированные сторонними банками'
        ],
        iconId: 'icon-a-transfer'
    },
    {
        title: 'Наличными',
        description: '',
        list: [
          'Без комиссии на карты Новиком',
          '1,5% от суммы перевода, минимум 60 руб. на карты VISA российских банков-эмитентов\n'
        ],
        iconId: 'icon-a-transfer'
    }
];
---
<DefaultPageLayout title="Операции через банкомат">
    <TextBanner
        title="Операции через банкомат"
        breadcrumbs={breadcrumbs}
        description="Переводы, пополнение и снятие наличных в банкоматах Новиком и сторонних банков"
    />
    <SectionBenefitsLayout
        title="Условия переводов в банкоматах банка Новиком "
        benefits={benefitCards}
    />
    <SectionHelpLayout title="Подробнее">
        <Fragment slot="tabs">
            <ATab value="0" size="lm" isActive>Лимиты</ATab>
            <ATab value="1" size="lm">Документы и тарифы</ATab>
        </Fragment>
        <Fragment slot="tabPanels">
            <ATabPanel value="0">
                <AddInfoLayout>
                    <AddInfoItemLayout>
                        <h3 class="headline-3">Лимиты на переводы по картам</h3>
                        <ATable class="md:in-column" cols="2">
                            <ATableBody>
                                <ATableRow>
                                    <ATableCell class="body-l-heavy dark-70">Максимальная сумма одного перевода</ATableCell>
                                    <ATableCell class="body-l-light">70 000 рублей (без учёта комиссии)</ATableCell>
                                </ATableRow>
                                <ATableRow>
                                    <ATableCell class="body-l-heavy dark-70">Максимальная сумма переводов в сутки</ATableCell>
                                    <ATableCell class="body-l-light">Максимальная сумма переводов в сутки</ATableCell>
                                </ATableRow>
                            </ATableBody>
                        </ATable>
                    </AddInfoItemLayout>
                    <AddInfoItemLayout>
                        <h3 class="headline-3">Лимиты на переводы наличными</h3>
                        <ATable class="md:in-column" cols="2">
                            <ATableBody>
                                <ATableRow>
                                    <ATableCell class="body-l-heavy dark-70">Максимальная сумма одного перевода</ATableCell>
                                    <ATableCell class="body-l-light">15 000 рублей</ATableCell>
                                </ATableRow>
                                <ATableRow>
                                    <ATableCell class="body-l-heavy dark-70">Максимальная сумма всех операций за календарный месяц <br>по одной карте</ATableCell>
                                    <ATableCell class="body-l-light">100 000 рублей</ATableCell>
                                </ATableRow>
                            </ATableBody>
                        </ATable>
                    </AddInfoItemLayout>
                </AddInfoLayout>
            </ATabPanel>
            <ATabPanel value="1">
                <SectionHelpContentLayout>
                    <Fragment slot="left">
                        <AAccordion type="component">
                            <AAccordionPanel>
                                <AAccordionHeader>
                                    <div class="body-l-light">Тарифы для физических лиц</div>
                                </AAccordionHeader>
                                <AAccordionContent>
                                    <p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
                                    <DocumentDownload
                                        fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
                                        dateTime="12.12.23 18:56"
                                        fileType="XLS"
                                    />
                                    <DocumentDownload
                                        fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
                                        dateTime="12.12.23 18:56"
                                        fileType="XLS"
                                    />
                                    <DocumentDownload
                                        fileName="Сборник тарифов на обслуживание физических лиц"
                                        dateTime="12.12.23 18:56"
                                        fileType="XLS"
                                    />
                                </AAccordionContent>
                            </AAccordionPanel>
                            <AAccordionPanel>
                                <AAccordionHeader>
                                    <div class="body-l-light">Договор банковского обслуживания</div>
                                </AAccordionHeader>
                                <AAccordionContent>
                                    <p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
                                    <DocumentDownload
                                        fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
                                        dateTime="12.12.23 18:56"
                                        fileType="XLS"
                                    />
                                    <DocumentDownload
                                        fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
                                        dateTime="12.12.23 18:56"
                                        fileType="XLS"
                                    />
                                    <DocumentDownload
                                        fileName="Сборник тарифов на обслуживание физических лиц"
                                        dateTime="12.12.23 18:56"
                                        fileType="XLS"
                                    />
                                </AAccordionContent>
                            </AAccordionPanel>
                            <AAccordionPanel>
                                <AAccordionHeader>
                                    <div class="body-l-light">Типовые документы</div>
                                </AAccordionHeader>
                                <AAccordionContent>
                                    <p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
                                    <DocumentDownload
                                        fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
                                        dateTime="12.12.23 18:56"
                                        fileType="XLS"
                                    />
                                    <DocumentDownload
                                        fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
                                        dateTime="12.12.23 18:56"
                                        fileType="XLS"
                                    />
                                    <DocumentDownload
                                        fileName="Сборник тарифов на обслуживание физических лиц"
                                        dateTime="12.12.23 18:56"
                                        fileType="XLS"
                                    />
                                </AAccordionContent>
                            </AAccordionPanel>
                            <AAccordionPanel>
                                <AAccordionHeader>
                                    <div class="body-l-light">Паспорта дебетовых карт</div>
                                </AAccordionHeader>
                                <AAccordionContent>
                                    <p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
                                    <DocumentDownload
                                        fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
                                        dateTime="12.12.23 18:56"
                                        fileType="XLS"
                                    />
                                    <DocumentDownload
                                        fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
                                        dateTime="12.12.23 18:56"
                                        fileType="XLS"
                                    />
                                    <DocumentDownload
                                        fileName="Сборник тарифов на обслуживание физических лиц"
                                        dateTime="12.12.23 18:56"
                                        fileType="XLS"
                                    />
                                </AAccordionContent>
                            </AAccordionPanel>
                            <AAccordionPanel>
                                <AAccordionHeader>
                                    <div class="body-l-light">Иные документы</div>
                                </AAccordionHeader>
                                <AAccordionContent>
                                    <p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
                                    <DocumentDownload
                                        fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
                                        dateTime="12.12.23 18:56"
                                        fileType="XLS"
                                    />
                                    <DocumentDownload
                                        fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
                                        dateTime="12.12.23 18:56"
                                        fileType="XLS"
                                    />
                                    <DocumentDownload
                                        fileName="Сборник тарифов на обслуживание физических лиц"
                                        dateTime="12.12.23 18:56"
                                        fileType="XLS"
                                    />
                                </AAccordionContent>
                            </AAccordionPanel>
                        </AAccordion>
                    </Fragment>
                    <Fragment slot="right">
                        <BenefitCard
                            title="Защита от мошенников"
                            description="Узнайте как уберечь себя и своих близких от финансового мошенничества."
                            icon="icon-a-protection"
                            theme="grey"
                            textButton="Подробнее"
                        />
                    </Fragment>
                </SectionHelpContentLayout>
            </ATabPanel>
        </Fragment>
    </SectionHelpLayout>
    <SectionSeeAlso />
</DefaultPageLayout>
