---
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
import SectionSeeAlso from "../components/sections/SectionSeeAlso.astro";
import TextBanner from "../components/banners/TextBanner.astro";
import SectionBenefitsLayout from "../components/layouts/SectionBenefitsLayout.astro";
import AAccordionPanel from "../components/ui/AAccordion/AAccordionPanel.astro";
import SectionHelpContentLayout from "../components/layouts/SectionHelpLayout/SectionHelpContentLayout.astro";
import ATableRow from "../components/common/ATable/ATableRow.astro";
import ARte from "../components/ARte.astro";
import AAccordion from "../components/ui/AAccordion/AAccordion.astro";
import ATabPanel from "../components/ui/ATabs/common/ATabPanel.astro";
import ATable from "../components/common/ATable/ATable.astro";
import AddInfoItemLayout from "../components/layouts/AddInfoLayout/AddInfoItemLayout.astro";
import ATab from "../components/ui/ATabs/common/ATab/ATab.astro";
import AList from "../components/ui/AList/AList.astro";
import AButton from "../components/ui/Buttons/AButton.astro";
import FormCallMeBack from "../components/common/FormCallMeBack/FormCallMeBack.astro";
import AddInfoLayout from "../components/layouts/AddInfoLayout/AddInfoLayout.astro";
import AAccordionHeader from "../components/ui/AAccordion/AAccordionHeader.astro";
import ATableBody from "../components/common/ATable/ATableBody.astro";
import ATableCell from "../components/common/ATable/ATableCell.astro";
import AAccordionContent from "../components/ui/AAccordion/AAccordionContent.astro";
import SectionHelpLayout from "../components/layouts/SectionHelpLayout/SectionHelpLayout.astro";
import AHelper from "../components/common/AHelper.astro";
import APolygonContainer from "../components/common/APolygonContainer/APolygonContainer.astro";
import SectionLayout from "../components/layouts/SectionLayout.astro";
import DisplayStepper from "../components/common/DisplayStepper/DisplayStepper.astro";
import DisplayStepperItem from "../components/common/DisplayStepper/DisplayStepperItem.astro";
import BonusCalculator from "../components/calculators/BonusCalculator.astro";
import BenefitCard from "../components/common/BenefitCard/BenefitCard.astro";
import DocumentDownload from "../components/ui/DocumentDownload/DocumentDownload.astro";
import PatternBg from "@components/common/Pattern/PatternBg.astro";

const breadcrumbs = [
	{
		title: 'Частным клиентам',
		url: '#'
	},
	{
		title: 'Карты',
		url: '#'
	}
]

const benefitCards = [
	{
		title: 'Подключение',
		description: 'К&nbsp;счетам зарплатной или дебетовой карты',
		iconId: 'icon-a-free-service-card'
	},
	{
		title: '1 бонус',
		description: 'Равен одному рублю',
		iconId: 'icon-a-rub'
	},
	{
		title: 'Обмен бонусов',
		description: 'На&nbsp;товары, подарочные сертификаты и&nbsp;путешествия',
		iconId: 'icon-a-reward'
	}
];
---
<DefaultPageLayout title="Программа «Бонусны»">
	<TextBanner
		title="Программа «Бонусы»"
		breadcrumbs={breadcrumbs}
		description="Бонусные баллы за&nbsp;покупки"
		backgroundColor="heavy-purple"
        borderColor="green"
        img="assets/big-illustrations/large-individual/bonus-program.png"
	/>
	<SectionBenefitsLayout
		benefits={benefitCards}
	/>
	<SectionLayout
		types={['no-padding-top']}
		small
	>
		<div class="content-container">
			<APolygonContainer color="green-100">
				<AHelper
					class="dark-10"
					image="helper-icon.png"
					description="В&nbsp;2023&nbsp;г. программа лояльности банка Новиком была награждена премией &laquo;Финансовая элита России&raquo; в&nbsp;номинации &laquo;Программа лояльности с&nbsp;максимальной выгодой&raquo;."
				/>
			</APolygonContainer>
		</div>

	</SectionLayout>
	<SectionLayout>
		<div class="content-container">
			<AAccordion type="layout">
				<AAccordionPanel>
					<AAccordionHeader class="a-accordion-header--mobile-only">
						<h3 class="headline-2">Калькулятор бонусов</h3>
					</AAccordionHeader>
					<AAccordionContent class="a-accordion-content--hide-mobile">
						<div class="a-accordion-content__wrapper">
							<h3 class="headline-2 a-accordion-content__title">
								Калькулятор бонусов
							</h3>
							<div class="a-accordion-content__content">
								<BonusCalculator />
							</div>
						</div>
					</AAccordionContent>
				</AAccordionPanel>
			</AAccordion>
		</div>
		<PatternBg type="section-2" />
	</SectionLayout>
	<SectionHelpLayout
		title="Подробнее о&nbsp;программе &laquo;Бонусы&raquo;"
	>
		<Fragment slot="tabs">
			<ATab value="0" size="lm">Условия начисления</ATab>
			<ATab value="1" size="lm" isActive>Размер бонусного вознаграждения</ATab>
			<ATab value="2" size="lm">На что потратить бонусы</ATab>
			<ATab value="3" size="lm">Документы и тарифы</ATab>
			<ATab value="4" size="lm">Вопросы и ответы</ATab>
		</Fragment>
		<Fragment slot="tabPanels">
			<ATabPanel value="0">
				<AddInfoLayout>
					<AddInfoItemLayout isNarrow>
						<p class="body-l-light">
							Чем больше остаток на&nbsp;текущем счете карты, тем выше размер бонусного вознаграждения
						</p>
						<AList size="l">
							<li>Максимальный размер бонусного вознаграждения&nbsp;&mdash; 7%&nbsp;годовых</li>
							<li>Минимальный ежедневный остаток по&nbsp;текущему счету карты должен быть не&nbsp;меньше 10&nbsp;000 рублей</li>
							<li>5000 бонусов максимальное количество бонусов ежемесячно по&nbsp;текущему счету карты</li>
							<li>Подключение к&nbsp;счету одновременно программ &laquo;Бонусная копилка, &laquo;Бонусы&raquo; или &laquo;Кешбэк&raquo;</li>
						</AList>
					</AddInfoItemLayout>
				</AddInfoLayout>
			</ATabPanel>
			<ATabPanel value="1">
				<AddInfoLayout>
					<AddInfoItemLayout>
						<ARte class="body-l-light">
							<p>
								Чем выше категория карты, к&nbsp;которой подключена программа, и&nbsp;чем больше покупок вы&nbsp;совершите, тем выше будет размер бонусного вознаграждения.
							</p>
						</ARte>
						<ATable class="md:in-column" cols={2}>
							<ATableBody>
								<ATableRow>
									<ATableCell class="body-l-heavy dark-70">Для владельцев карт</ATableCell>
									<ATableCell class="body-l-light">
										Без комиссии в&nbsp;банкоматах и&nbsp;ПВН банка Новиком
										<br><br>
										0,5% от&nbsp;суммы операции в&nbsp;банкоматах и&nbsp;ПВН сторонних банков
									</ATableCell>
								</ATableRow>
								<ATableRow>
									<ATableCell class="body-l-heavy dark-70">
										Для клиентов, получающих зарплату <br>на&nbsp;счет в&nbsp;Новикоме
									</ATableCell>
									<ATableCell class="body-l-light">
										Без комиссии в&nbsp;банкоматах и&nbsp;ПВН банка Новиком и&nbsp;сторонних банков
									</ATableCell>
								</ATableRow>
							</ATableBody>
						</ATable>
					</AddInfoItemLayout>
				</AddInfoLayout>
			</ATabPanel>
			<ATabPanel value="3">
				<SectionHelpContentLayout>
					<Fragment slot="left">
						<AAccordion type="component">
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Тарифы для физических лиц</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Договор банковского обслуживания</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Типовые документы</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Паспорта дебетовых карт</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Иные документы</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
						</AAccordion>
					</Fragment>
					<Fragment slot="right">
						<BenefitCard
							title="Защита от мошенников"
							description="Узнайте как уберечь себя и своих близких от финансового мошенничества."
							icon="icon-a-money-out"
							theme="light-blue"
							textButton="Подробнее"
						/>
					</Fragment>
				</SectionHelpContentLayout>
			</ATabPanel>
			<ATabPanel value="4">
				<SectionHelpContentLayout>
					<Fragment slot="left">
						<AAccordion type="component">
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Что нужно знать клиентам о продлении срока действия карт?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Взимается ли комиссия за снятие наличных денежных средств в банкоматах, если моя организация – работодатель  является участником зарплатного проекта Банка?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Вместе с основной зарплатной картой мне выдали дополнительную. По каким тарифам она обслуживается?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Что делать, если потерял карту или забыл ПИН-код?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту.  Если ПИН-код не удается вспомнить карту необходимо перевыпустить.</p>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Мою карту заблокировал Банк. Что делать?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
						</AAccordion>
					</Fragment>
					<Fragment slot="left-footer">
						<AButton element="a" href="#" text afterIcon="icon-chevron-right" size="m">Все вопросы и ответы</AButton>
					</Fragment>
					<Fragment slot="right">
						<FormCallMeBack
							title="Остались вопросы?"
							description="Оставьте свой телефон и мы перезвоним вам, либо задайте вопрос в чате"
							agreement="Нажимая кнопку «Перезвоните мне», вы соглашаетесь с условиями предоставления информации"
							type="light-blue"
							useChat
						/>
					</Fragment>
				</SectionHelpContentLayout>
			</ATabPanel>
		</Fragment>
	</SectionHelpLayout>
	<SectionLayout bgColor="gray">
		<div class="content-container">
			<AAccordion type="layout">
				<AAccordionPanel>
					<AAccordionHeader class="a-accordion-header--mobile-only">
						<h3 class="headline-2">Как подключить</h3>
					</AAccordionHeader>
					<AAccordionContent class="a-accordion-content--hide-mobile">
						<div class="a-accordion-content__wrapper">
							<h3 class="headline-2 a-accordion-content__title">
								Как подключить
							</h3>
							<div class="a-accordion-content__content">
								<DisplayStepper steps={2}>
									<DisplayStepperItem icon="icon-a-mobile-ready">
										<ARte class="body-l-light">
											<p>Через Контактный центр <br>по&nbsp;телефону +7&nbsp;800 250-70-07</p>
										</ARte>
									</DisplayStepperItem>
									<DisplayStepperItem icon="icon-a-web-bank">
										<ARte class="body-l-light">
											<p>В&nbsp;Мобильном приложении Банка и&nbsp;Интернет-Банке</p>
										</ARte>
									</DisplayStepperItem>
									<DisplayStepperItem icon="icon-a-bank">
										<ARte class="body-l-light">
											<p>В&nbsp;офисе банка Новиком</p>
										</ARte>
									</DisplayStepperItem>
									<DisplayStepperItem icon="icon-a-personal-manager">
										<ARte class="body-l-light">
											<p>Через персонального менеджера <br>в&nbsp;организации, где получает зарплату владелец карты</p>
										</ARte>
									</DisplayStepperItem>
								</DisplayStepper>
							</div>
						</div>
					</AAccordionContent>
				</AAccordionPanel>
			</AAccordion>
		</div>
	</SectionLayout>
	<SectionSeeAlso />
</DefaultPageLayout>
