---
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
import SectionSeeAlso from "../components/sections/SectionSeeAlso.astro";
import SectionBenefitsLayout from "../components/layouts/SectionBenefitsLayout.astro";
import AButton from "../components/ui/Buttons/AButton.astro";
import BenefitCard from "../components/common/BenefitCard/BenefitCard.astro";
import ProductCardBanner from "../components/banners/ProductCardBanner.astro";
import AAccordionHeader from "../components/ui/AAccordion/AAccordionHeader.astro";
import AAccordionPanel from "../components/ui/AAccordion/AAccordionPanel.astro";
import ARte from "../components/ARte.astro";
import AAccordion from "../components/ui/AAccordion/AAccordion.astro";
import ATab from "../components/ui/ATabs/common/ATab/ATab.astro";
import ATabPanel from "../components/ui/ATabs/common/ATabPanel.astro";
import AAccordionContent from "../components/ui/AAccordion/AAccordionContent.astro";
import SectionHelpLayout from "../components/layouts/SectionHelpLayout/SectionHelpLayout.astro";
import SectionHelpContentLayout from "../components/layouts/SectionHelpLayout/SectionHelpContentLayout.astro";
import DocumentDownload from "../components/ui/DocumentDownload/DocumentDownload.astro";
import FormCallMeBack from "../components/common/FormCallMeBack/FormCallMeBack.astro";
import AList from "../components/ui/AList/AList.astro";
import AddInfoLayout from "../components/layouts/AddInfoLayout/AddInfoLayout.astro";
import AddInfoItemLayout from "../components/layouts/AddInfoLayout/AddInfoItemLayout.astro";
import ATableRow from "../components/common/ATable/ATableRow.astro";
import ATable from "../components/common/ATable/ATable.astro";
import ATableBody from "../components/common/ATable/ATableBody.astro";
import ATableCell from "../components/common/ATable/ATableCell.astro";
import SectionLayout from "../components/layouts/SectionLayout.astro";
import APolygonContainer from "../components/common/APolygonContainer/APolygonContainer.astro";
import AHelper from "../components/common/AHelper.astro";
import LoanCalculator from "../components/calculators/LoanCalculator.astro";

const benefitCards = [
	{
		title: 'От 2 до 7 рабочих дней',
		description: 'Срок рассмотрения кредитной заявки',
		iconId: 'icon-a-date'
	},
	{
		title: 'От 20 000 ₽',
		description: 'Минимальная сумма кредита',
		iconId: 'icon-a-money'
	},
	{
		title: 'Льготная ставка',
		description: 'Для заемщиков, получающих заработную плату <br>на&nbsp;карту Банка',
		iconId: 'icon-a-low-percent'
	}
];
---

<DefaultPageLayout title="Кредит на любые цели для зарплатных клиентов">
	<ProductCardBanner
		benefits={[
			{
				beforeNum: 'от',
				num: '16,5%',
				description: 'Минимальная ставка'
			},
			{
				beforeNum: 'до',
				num: '5 000 000',
				currency: '₽',
				description: 'Максимальная сумма кредита'
			},
			{
				beforeNum: 'до',
				num: '5 лет',
				description: 'Максимальный срок выплаты'
			}
		]}
		image="assets/big-illustrations/large-individual/credit-for-any-purpose-salary-clients.png"
		urlHref="#"
		buttonText="Оформить карту"
		hasPattern
		backgroundColor="heavy-violet"
	>
		<Fragment slot="title">Кредит на любые цели для&nbsp;зарплатных клиентов</Fragment>
		<Fragment slot="subtitle">Воплощение задуманных планов и реализация любых целей уже сегодня!</Fragment>
	</ProductCardBanner>
	<SectionBenefitsLayout
		title="Условия для зарплатных клиентов"
		benefits={benefitCards}
	/>
	<SectionLayout
		types={['no-padding-top', 'padding-m']}
		small
	>
		<div class="content-container">
			<APolygonContainer color="green-100">
				<AHelper
					class="dark-10"
					image="helper-icon.png"
					title="Пластиковую карту стоит носить с&nbsp;собой"
					description="На&nbsp;всякий случай, так как некоторые терминалы не&nbsp;поддерживают бесконтактную оплату или имеют недостаточной силы магнитное поле для взаимодействия с&nbsp;платежным стикером."
				/>
			</APolygonContainer>
		</div>

	</SectionLayout>
	<SectionHelpLayout
		title="Условия кредитования"
	>
		<Fragment slot="tabs">
			<ATab value="0" size="lm" isActive>Калькулятор</ATab>
			<ATab value="1" size="lm">Условия </ATab>
			<ATab value="2" size="lm">Требования к заемщику</ATab>
			<ATab value="3" size="lm">Погашение кредита</ATab>
			<ATab value="4" size="lm">Необходимые документы</ATab>
			<ATab value="5" size="lm">Вопросы и ответы</ATab>
		</Fragment>
		<Fragment slot="tabPanels">
			<ATabPanel value="0">
				<LoanCalculator />
			</ATabPanel>
			<ATabPanel value="1">
				<ATable class="md:in-column" cols="2">
					<ATableBody>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Первый и последующие годы обслуживания</ATableCell>
							<ATableCell class="body-l-light">Рубли РФ</ATableCell>
						</ATableRow>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Безналичная оплата товаров и услуг</ATableCell>
							<ATableCell class="body-l-light">20 000 — 5 000 000</ATableCell>
						</ATableRow>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Комиссия за выдачу наличных денежных средств</ATableCell>
							<ATableCell class="body-l-light">Отсутствует</ATableCell>
						</ATableRow>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Срочное изготовление карты</ATableCell>
							<ATableCell class="body-l-light">Не требуется</ATableCell>
						</ATableRow>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Срок рассмотрения кредитной заявки</ATableCell>
							<ATableCell class="body-l-light">От двух до семи рабочих дней</ATableCell>
						</ATableRow>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Срок действия положительного решения Банка</ATableCell>
							<ATableCell class="body-l-light">30 календарных дней с даты принятия решения</ATableCell>
						</ATableRow>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Порядок погашения кредита</ATableCell>
							<ATableCell class="body-l-light">Ежемесячно в виде аннуитетных или дифференцированных платежей</ATableCell>
						</ATableRow>
					</ATableBody>
				</ATable>
			</ATabPanel>
			<ATabPanel value="2">
				<SectionHelpContentLayout>
					<Fragment slot="left">
						<AAccordion type="component">
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Тарифы для физических лиц</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Договор банковского обслуживания</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Типовые документы</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Паспорта дебетовых карт</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Иные документы</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
						</AAccordion>
					</Fragment>
					<Fragment slot="right">
                        <BenefitCard
                            title="Защита от мошенников"
                            description="Узнайте как уберечь себя и своих близких от финансового мошенничества."
                            icon="icon-a-protection"
                            theme="grey"
                            textButton="Подробнее"
                        />
					</Fragment>
				</SectionHelpContentLayout>
			</ATabPanel>
			<ATabPanel value="3">
				<p class="body-m-light">Погашение кредита</p>
			</ATabPanel>
			<ATabPanel value="4">
				<AddInfoLayout>
					<AddInfoItemLayout isNarrow>
						<AList size="l">
							<li>Заявление - анкета на получение кредита;</li>
							<li>Документ, удостоверяющий личность;</li>
							<li>Военный билет/ документ, подтверждающий отсрочку от военной службы на весь период призывного возраста - для мужчин младше 30 лет.</li>
							<li>Документ, подтверждающий финансовое состояние заемщика/созаемщика/поручителя  за последние 12 месяцев или за фактическое количество отработанных месяцев с учетом требований к стажу на последнем месте работы¹ (на выбор):</li>
						</AList>
						<ARte class="body-m-light">
							<p>
								Для подтверждения стажа на последнем месте работы менее 12 месяцев заемщику/созаемщику/поручителю рекомендуется предоставить копию трудовой книжки, заверенную работодателем, или справку от работодателя, содержащую сведения о стаже работы в организации² или сведения о трудовой деятельности (форма СТД-Р или форма  СТД-ПФР)³.
							</p>
						</ARte>
						<p class="caption-m dark-70">
							¹Период подтверждения доходов должен заканчиваться не ранее двух календарных месяцев, предшествующих месяцу предоставления документа, подтверждающего финансовое состояние
							<br><br>
							²При отсутствии у Банка документа, подтверждающего стаж на последнем месте работы менее 12 месяцев, расчетная сумма среднемесячного дохода клиента может быть ниже фактического значения, что может негативно повлиять на условия кредитования.
							<br><br>
							³Форма СТД-Р предоставляется на бумажном носителе и заверяется работодателем, форма СТД–ПФР предоставляется на бумажном носителе и заверяется работодателем или ПФР, либо формируется из личного кабинета на портале государственных услуг (gosuslugi.ru), документ подписывается усиленной квалифицированной электронной подписью уполномоченного должностного лица ПФР.
						</p>
					</AddInfoItemLayout>
				</AddInfoLayout>
			</ATabPanel>
			<ATabPanel value="5">
				<SectionHelpContentLayout>
					<Fragment slot="left">
						<AAccordion type="component">
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Что нужно знать клиентам о продлении срока действия карт?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Взимается ли комиссия за снятие наличных денежных средств в банкоматах,  если моя организация – работодатель  является участником зарплатного проекта Банка?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Вместе с основной зарплатной картой мне выдали дополнительную. По каким тарифам она обслуживается?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Что делать, если потерял карту или забыл ПИН-код?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту.   Если ПИН-код не удается вспомнить карту необходимо перевыпустить.</p>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Мою карту заблокировал Банк. Что делать?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
						</AAccordion>
					</Fragment>
					<Fragment slot="left-footer">
						<AButton element="a" href="#" text afterIcon="icon-chevron-right" size="m">Все вопросы и ответы</AButton>
					</Fragment>
					<Fragment slot="right">
						<FormCallMeBack
							title="Остались вопросы?"
							description="Оставьте свой телефон и мы перезвоним вам, либо задайте вопрос в чате"
							agreement="Нажимая кнопку «Перезвоните мне», вы соглашаетесь с условиями предоставления информации"
							type="light-blue"
							useChat
						/>
					</Fragment>
				</SectionHelpContentLayout>
			</ATabPanel>
		</Fragment>
	</SectionHelpLayout>
	<SectionSeeAlso />
</DefaultPageLayout>
