---
import DefaultPageLayout from '../layouts/DefaultPageLayout.astro';
import SectionSeeAlso from "../components/sections/SectionSeeAlso.astro";
import SectionSpecialOffers from "../components/sections/SectionSpecialOffers.astro";
import ATab from "../components/ui/ATabs/common/ATab/ATab.astro";
import ProductCardBanner from "../components/banners/ProductCardBanner.astro";
import SectionConnectYourBenefits from "../components/sections/SectionConnectYourBenefits.astro";
import ARte from "../components/ARte.astro";
import ATabPanel from "../components/ui/ATabs/common/ATabPanel.astro";
import SectionHelpLayout from "../components/layouts/SectionHelpLayout/SectionHelpLayout.astro";
import AddInfoLayout from "../components/layouts/AddInfoLayout/AddInfoLayout.astro";
import DisplayStepperItem from "../components/common/DisplayStepper/DisplayStepperItem.astro";
import DisplayStepper from "../components/common/DisplayStepper/DisplayStepper.astro";
import CardHowUse from "../components/common/Cards/CardHowUse.astro";
import AList from "../components/ui/AList/AList.astro";
import APolygonContainer from "../components/common/APolygonContainer/APolygonContainer.astro";
import AHelper from "../components/common/AHelper.astro";
import SectionBenefitsLayout from "../components/layouts/SectionBenefitsLayout.astro";
import AddInfoItemLayout from "../components/layouts/AddInfoLayout/AddInfoItemLayout.astro";
import AddInfoCardWrapper from "../components/layouts/AddInfoLayout/AddInfoCardWrapper.astro";
import AAccordionPanel from "../components/ui/AAccordion/AAccordionPanel.astro";
import AAccordionHeader from "../components/ui/AAccordion/AAccordionHeader.astro";
import SectionHelpContentLayout from "../components/layouts/SectionHelpLayout/SectionHelpContentLayout.astro";
import AButton from "../components/ui/Buttons/AButton.astro";
import FormCallMeBack from "../components/common/FormCallMeBack/FormCallMeBack.astro";
import AAccordionContent from "../components/ui/AAccordion/AAccordionContent.astro";
import AAccordion from "../components/ui/AAccordion/AAccordion.astro";

const benefitCards = [
	{
		title: 'Подготовьте телефон',
		description: 'На&nbsp;платформе iOS нужно удалить все банковские карты<br> из&nbsp;AppleWallet, а&nbsp;на&nbsp;платформе Android<br> отключите NFC&nbsp;&mdash; бесконтактную оплату',
		iconId: 'icon-a-mobile-ready'
	},
	{
		title: 'Приклейте стикер',
		description: 'Выдавите платёжный стикер и&nbsp;наклейте<br> на&nbsp;заднюю часть смартфона',
		iconId: 'icon-a-mobile-stick'
	},
	{
		title: 'Начните платить стикером',
		description: 'Легко оплачивайте товары/услуги приложив стикер<br> к&nbsp;любому терминалу принимающему бесконтактную оплату',
		iconId: 'icon-a-mobile-payment'
	}
];

const offerCards = [
	{
		title: 'Программа «Кешбэк»',
		description: 'Возврат рублями от покупок по карте ',
		symbolId: 'cashback-program',
		imgSrc: "assets/big-illustrations/large-individual/contribution-rentier.png",
		href: '#',
		beforeNumberText: 'до',
		numberText: '15,5%',
		afterNumberText: '',
		buttonText: 'Подробнее'
	},
	{
		title: 'Программа «Бонусы»',
		description: 'Бонусные баллы за покупки',
		imgSrc: 'assets/big-illustrations/large-individual/bonus-program.png',
		symbolId: 'bonus-program',
		href: '#',
		beforeNumberText: 'до',
		numberText: '20%',
		afterNumberText: '',
		buttonText: 'Подробнее'
	}
];
---

<DefaultPageLayout title="Платежный стикер «Мир»">
	<ProductCardBanner
		benefits={[
			{
				num: 'Выгодно',
				description: 'Стикер приклеивается на&nbsp;смартфон',
			},
			{
				num: 'Безопасно',
				description: 'Магнитное поле стикера не&nbsp;позволяет считать его на&nbsp;расстоянии'
			},
			{
				num: 'Защищено',
				description: 'Обязательное введение пин-кода при сумме оплаты от&nbsp;3&nbsp;000&nbsp;рублей'
			}
		]}
		image="assets/hero-banner/mir-payment-stiker.png"
		urlHref="#"
		buttonText="Заказать стикер"
		hasPattern
		backgroundColor="blue"
		isSticker
	>
		<Fragment slot="title">
			Платежный стикер &laquo;Мир&raquo;
		</Fragment>
		<Fragment slot="subtitle">
			Полноценная банковская карта с&nbsp;<nobr>NFC-чипом</nobr>
		</Fragment>
	</ProductCardBanner>
	<SectionBenefitsLayout
		title="Как пользоваться стикером"
		benefits={benefitCards}
	/>
	<SectionConnectYourBenefits offerCards={offerCards} slidesPerView="mobile-s:1,mobile:1,tablet:2,laptop:2" />
	<SectionHelpLayout title="О стикере">
		<Fragment slot="tabs">
			<ATab value="0" size="lm">Как пользоваться</ATab>
			<ATab value="1" size="lm">Как приклеить</ATab>
			<ATab value="2" size="lm">Как платить</ATab>
			<ATab value="3" size="lm" isActive>Как получить</ATab>
			<ATab value="4" size="lm">Вопросы и ответы</ATab>
		</Fragment>
		<Fragment slot="tabPanels">
			<ATabPanel value="0">
				<AddInfoLayout>
					<AddInfoItemLayout>
						<h3 class="headline-3">Подготовьте свои устройства к&nbsp;использованию платежного стикера</h3>
						<AddInfoCardWrapper>
							<CardHowUse
								title="На&nbsp;платформе iOS"
								subtitle="нужно удалить все банковские карты из&nbsp;AppleWallet"
								image="how-use-ios.png"
							>
								<p class="body-s-light dark-70">
									Это связано с&nbsp;настройками IPhone: при оплате
									в&nbsp;первую очередь используются карты, добавленные в&nbsp;Wallet
								</p>
							</CardHowUse>
							<CardHowUse
								title="На&nbsp;платформе Android"
								subtitle="отключите бесконтактную оплату в&nbsp;настройках телефона (функция&nbsp;&mdash; отключить NFC)"
								image="how-use-android.png"
							/>
						</AddInfoCardWrapper>
					</AddInfoItemLayout>
					<AddInfoItemLayout isNarrow>
						<h3 class="headline-3">Советы по&nbsp;использованию стикера</h3>
						<AList size="l">
							<li>Не&nbsp;наклеивайте стикер под чехол&nbsp;&mdash; оплата может не&nbsp;пройти</li>
							<li>На&nbsp;стикер нанесен достаточно крепкий клеевой слой, желательно наклеивать стикер на&nbsp;чехол,
								чтобы не&nbsp;повредить покрытие телефона в&nbsp;случае необходимости переклеить стикер
							</li>
							<li>Если у&nbsp;вас два стикера, не&nbsp;клейте оба на&nbsp;один телефон. Вы&nbsp;не&nbsp;сможете
								выбрать, каким из&nbsp;них оплатить
							</li>
							<li>Если вам необходимо переклеить свой стикер на&nbsp;другой телефон используйте
								дополнительное клеевой слой, выданный вам вместе со&nbsp;стикером, предварительно удалив
								текущий клеевой слой
								с&nbsp;платёжного стикера
							</li>
							<li>Добавьте платёжный стикер в&nbsp;электронные кошелёк Mir Pay, используя реквизиты
								платежного стикера (нанесены на&nbsp;часть, которая остаётся у&nbsp;вас)
							</li>
							<li>Храните часть с реквизитами в недоступном третьим лицам месте</li>
						</AList>
					</AddInfoItemLayout>
				</AddInfoLayout>
			</ATabPanel>
			<ATabPanel value="1">
				<AddInfoLayout>
					<AddInfoItemLayout>
						<DisplayStepper steps={2}>
							<DisplayStepperItem number={1}>
								<p class="body-l-light">
									Выдавите платежный стикер из&nbsp;пластиковой основы
									по&nbsp;перфорации (по&nbsp;аналогии с&nbsp;СИМ-картой мобильного телефона)
								</p>
							</DisplayStepperItem>
							<DisplayStepperItem number={2}>
								<p class="body-l-light">
									Наклейте стикер на&nbsp;заднюю часть смартфона в&nbsp;самую нижнюю
									его часть или рядом с&nbsp;камерой.
								</p>
							</DisplayStepperItem>
						</DisplayStepper>
					</AddInfoItemLayout>
					<AddInfoItemLayout>
						<APolygonContainer color="violet-100">
							<AHelper
								class="dark-10"
								image="sticker-rule.png"
								description="Не&nbsp;рекомендуем клеить стикер на&nbsp;центральную часть телефона, чтобы не&nbsp;перекрыть интерфейс беспроводной зарядки на&nbsp;устройстве."
							/>
						</APolygonContainer>
					</AddInfoItemLayout>
				</AddInfoLayout>
			</ATabPanel>
			<ATabPanel value="2">
				<AddInfoLayout>
					<AddInfoItemLayout isNarrow>
						<AList size="l">
							<li>
								Для оплаты нужно близко поднести к&nbsp;терминалу телефон или другой предмет, на&nbsp;который наклеен стикер.
							</li>
							<li>
								Лучше всего прикладывать стикер к&nbsp;верхней части терминала или сбоку, поскольку именно там расположен считыватель карт.
							</li>
							<li>
								Не&nbsp;убирайте платёжный стикер от&nbsp;терминала сразу и&nbsp;дождитесь, когда он&nbsp;считает его. Терминал подаст звуковой сигнал о&nbsp;том, что оплата прошла.
							</li>
							<li>
								Платежным стикером можно оплачивать товары/услуги во&nbsp;всех терминалах, принимающих бесконтактную оплату.
							</li>
							<li>
								Иногда оплата не&nbsp;срабатывает с&nbsp;первого раза&nbsp;&mdash; приложите платёжный стикер к&nbsp;терминалу еще раз и&nbsp;подержите 3&ndash;5&nbsp;секунд.
							</li>
						</AList>
					</AddInfoItemLayout>
					<AddInfoItemLayout>
						<APolygonContainer color="green-100">
							<AHelper
								class="dark-10"
								image="helper-icon.png"
								title="Пластиковую карту стоит носить с&nbsp;собой"
								description="На&nbsp;всякий случай, так как некоторые терминалы не&nbsp;поддерживают бесконтактную оплату или имеют недостаточной силы магнитное поле для взаимодействия с&nbsp;платежным стикером."
							/>
						</APolygonContainer>
					</AddInfoItemLayout>
				</AddInfoLayout>
			</ATabPanel>
			<ATabPanel value="3">
				<DisplayStepper>
					<DisplayStepperItem icon="icon-a-bank" inRow>
						<ARte class="body-l-heavy">
							<p>Подать заявку <br>в&nbsp;офисе Новикома</p>
						</ARte>
					</DisplayStepperItem>
					<DisplayStepperItem icon="icon-a-personal-manager" inRow>
						<ARte class="body-l-heavy">
							<p>Обратиться <br>к&nbsp;персональному менеджеру</p>
						</ARte>
					</DisplayStepperItem>
				</DisplayStepper>
			</ATabPanel>
			<ATabPanel value="4">
				<SectionHelpContentLayout>
					<Fragment slot="left">
						<AAccordion type="component">
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Что нужно знать клиентам о продлении срока действия карт?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Взимается ли комиссия за снятие наличных денежных средств в банкоматах,  если моя организация – работодатель  является участником зарплатного проекта Банка?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Вместе с основной зарплатной картой мне выдали дополнительную. По каким тарифам она обслуживается?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Что делать, если потерял карту или забыл ПИН-код?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту.   Если ПИН-код не удается вспомнить карту необходимо перевыпустить.</p>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Мою карту заблокировал Банк. Что делать?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
						</AAccordion>
					</Fragment>
					<Fragment slot="left-footer">
						<AButton element="a" href="#" text afterIcon="icon-chevron-right" size="m">Все вопросы и ответы</AButton>
					</Fragment>
					<Fragment slot="right">
						<FormCallMeBack
							title="Остались вопросы?"
							description="Оставьте свой телефон и мы перезвоним вам, либо задайте вопрос в чате"
							agreement="Нажимая кнопку «Перезвоните мне», вы соглашаетесь с условиями предоставления информации"
							type="light-blue"
							useChat
						/>
					</Fragment>
				</SectionHelpContentLayout>
			</ATabPanel>
		</Fragment>
	</SectionHelpLayout>
	<SectionSpecialOffers />
	<SectionSeeAlso />
</DefaultPageLayout>
