---
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
import TextBanner from "../components/banners/TextBanner.astro";
import ATabs from "../components/ui/ATabs/ATabs.astro";
import ATab from "../components/ui/ATabs/common/ATab/ATab.astro";
import ATabPanels from "../components/ui/ATabs/common/ATabPanels.astro";
import ATabPanel from "../components/ui/ATabs/common/ATabPanel.astro";
import ATabSwiper from "../components/ui/ATabs/common/ATabSwiper/ATabSwiper.astro";
import ATabSwiperWrapper from "../components/ui/ATabs/common/ATabSwiperWrapper.astro";
import SectionLayout from "../components/layouts/SectionLayout.astro";
import SectionFilterPress from "../components/sections/SectionFilterPress.astro";


const breadcrumbs = [
    {
        title: ' О банке',
        url: '#'
    }
]
---
<DefaultPageLayout title="Пресс-центр">
    <TextBanner
        title="Пресс-центр"
        breadcrumbs={breadcrumbs}
        backgroundColor="blue"
        borderColor="none"
    />

    <SectionLayout small>
        <div class="content-container">
            <ATabs useLayout>
                <ATabSwiper>
                    <ATabSwiperWrapper>
                        <ATab size="lm" value="0" viewType="fit" isActive>Новости</ATab>
                        <ATab size="lm" value="1" viewType="fit">СМИ о нас</ATab>
                        <ATab size="lm" value="2" viewType="fit">Медиа</ATab>
                    </ATabSwiperWrapper>
                </ATabSwiper>
                <ATabPanels>
                    <ATabPanel value="0">
                        <SectionFilterPress />
                    </ATabPanel>
                    <ATabPanel value="1">
                        <SectionFilterPress />
                    </ATabPanel>
                    <ATabPanel value="2">
                        <SectionFilterPress />
                    </ATabPanel>
                </ATabPanels>
            </ATabs>
        </div>
    </SectionLayout>

</DefaultPageLayout>


<style ></style>
