---
import DefaultPageLayout from '../layouts/DefaultPageLayout.astro';
import SectionSeeAlso from "../components/sections/SectionSeeAlso.astro";
import ProductCardBanner from "../components/banners/ProductCardBanner.astro";
import AAccordionHeader from "../components/ui/AAccordion/AAccordionHeader.astro";
import AAccordionPanel from "../components/ui/AAccordion/AAccordionPanel.astro";
import ARte from "../components/ARte.astro";
import BenefitCard from "../components/common/BenefitCard/BenefitCard.astro";
import AAccordion from "../components/ui/AAccordion/AAccordion.astro";
import ATabPanel from "../components/ui/ATabs/common/ATabPanel.astro";
import AAccordionContent from "../components/ui/AAccordion/AAccordionContent.astro";
import SectionHelpLayout from "../components/layouts/SectionHelpLayout/SectionHelpLayout.astro";
import SectionHelpContentLayout from "../components/layouts/SectionHelpLayout/SectionHelpContentLayout.astro";
import DocumentDownload from "../components/ui/DocumentDownload/DocumentDownload.astro";
import AButton from "../components/ui/Buttons/AButton.astro";
import FormCallMeBack from "../components/common/FormCallMeBack/FormCallMeBack.astro";
import ATab from "../components/ui/ATabs/common/ATab/ATab.astro";
import SectionLayout from "../components/layouts/SectionLayout.astro";
import DisplayStepperItem from "../components/common/DisplayStepper/DisplayStepperItem.astro";
import DisplayStepper from "../components/common/DisplayStepper/DisplayStepper.astro";
import SectionBenefitsLayout from "../components/layouts/SectionBenefitsLayout.astro";
import ATabs from "../components/ui/ATabs/ATabs.astro";
import ATabSwiperWrapper from "../components/ui/ATabs/common/ATabSwiperWrapper.astro";
import ATabSwiper from "../components/ui/ATabs/common/ATabSwiper/ATabSwiper.astro";
import ATabPanels from "../components/ui/ATabs/common/ATabPanels.astro";
import InfoProductBanner from "../components/common/Banners/InfoProductBanner.astro";
import ASliderInput from "../components/ui/ASliderInput/ASliderInput.astro";
import CalculatorLayout from "../components/layouts/CalculatorLayout.astro";
import ACheckbox from "../components/ui/ACheckbox/ACheckbox.astro";
import CalculatorCardItem from "../components/common/CalculatorCard/CalculatorCardItem.astro";
import CalculatorCard from "../components/common/CalculatorCard/CalculatorCard.astro";
import FormRow from "../components/layouts/FormLayout/FormRow.astro";
import ATableRow from "../components/common/ATable/ATableRow.astro";
import ATable from "../components/common/ATable/ATable.astro";
import ATableCell from "../components/common/ATable/ATableCell.astro";
import ATableBody from "../components/common/ATable/ATableBody.astro";
import AList from "../components/ui/AList/AList.astro";
import ATableHeader from "../components/common/ATable/ATableHeader.astro";
import AddInfoLayout from "../components/layouts/AddInfoLayout/AddInfoLayout.astro";
import ATableFooter from "../components/common/ATable/ATableFooter.astro";
import AInputField from "../components/ui/AInput/AInputField.astro";

const benefitCards = [
	{
		title: 'Надежность',
		description: 'Ставка привязана к&nbsp;ключевой ставке Банка России',
		iconId: 'icon-a-web-bank'
	},
	{
		title: 'Выплата процентов',
		description: 'Выплата процентов, начисленных по&nbsp;вкладу, производится ежемесячно',
		iconId: 'icon-a-prices'
	},
	{
		title: 'Пополнение вклада',
		description: 'Пополнение вклада возможно без ограничения сумм в&nbsp;течение всего срока вклада',
		iconId: 'icon-a-money'
	}
];
---

<DefaultPageLayout title="Вклад «РАНТЬЕ»">
	<ProductCardBanner
		benefits={[
			{
				beforeNum: 'до',
				num: '16,5%',
				description: 'При ключевой ставке<br>Банка России на&nbsp;09.01.2024'
			},
			{
				beforeNum: 'от',
				num: '250',
				afterNum: 'дней',
				description: 'Минимальный срок вклада'
			},
			{
				beforeNum: 'от',
				num: '10 000',
				currency: '₽',
				description: 'Минимальная сумма вклада'
			},
		]}
		image="assets/hero-banner/rentier-contribution.png"
		urlHref="#"
		buttonText="Отркыть вклад"
		hasPattern
	>
		<Fragment slot="title">
			Вклад «РАНТЬЕ»
		</Fragment>
		<Fragment slot="subtitle">
			Максимальный процент при&nbsp;любом шторме
		</Fragment>
	</ProductCardBanner>
	<SectionBenefitsLayout
		title="Преимущества вклада"
		benefits={benefitCards}
	>
	</SectionBenefitsLayout>
	<SectionHelpLayout title="Условия по&nbsp;вкладу и&nbsp;ваш доход">
		<Fragment slot="tabs">
			<ATab value="0" size="lm" isActive>Калькулятор</ATab>
			<ATab value="1" size="lm">Процентные ставки</ATab>
			<ATab value="2" size="lm">Условия</ATab>
			<ATab value="3" size="lm">Документы и тарифы</ATab>
			<ATab value="4" size="lm">Вопросы и ответы</ATab>
		</Fragment>
		<Fragment slot="tabPanels">
			<ATabPanel value="0">
				<CalculatorLayout>
					<Fragment slot="form">
						<ASliderInput
							id="amount-credit"
							label="Сумма вклада"
							maxValue={5000000}
							minValue={20000}
							startValue={1000000}
							stepSize={5000}
							editable
							type="price"
						/>
						<ASliderInput
							id="credit-term"
							label="Срок вклада"
							maxValue={60}
							minValue={6}
							startValue={31}
							type="month"
							editable
						/>
					</Fragment>
					<Fragment slot="agreements">
						<ACheckbox id="is-card-novkom" size="l" checked>
							<span class="body-m-light" slot="label"><a href="#">Капитализация</a> процентов на&nbsp;счет вклада</span>
						</ACheckbox>
						<ACheckbox id="insurance" size="l">
							<span class="body-m-light" slot="label">Планируются пополнения суммы вклада</span>
						</ACheckbox>
					</Fragment>
					<Fragment slot="fields">
						<FormRow cols={2}>
							<AInputField size="m" label="Дата пополнения" forId="name-1" name="input-1" afterIcon="icon-calendar" hint="подсказка" required />
							<AInputField size="m" label="Сумма пополнения" forId="name-2" name="input-2" afterIcon="icon-rub" />
						</FormRow>
					</Fragment>
					<Fragment slot="card">
						<CalculatorCard
							backgroundColor="grey"
							polygonColor="green-100"
							buttonText="Открыть вклад">
							<CalculatorCardItem
								hint="Ваш доход составит ориентировочно"
								text="35 404,38"
								currency="₽"
							/>
							<CalculatorCardItem
								hint="Ставка по вкладу"
								text="15%"
							/>
							<CalculatorCardItem
								hint="Срок вклада"
								text="550 дней"
							/>
							<Fragment slot="notes">
								Калькулятор не&nbsp;гарантирует точность расчетов. Окончательные параметры вклада определяются по&nbsp;итогам рассмотрения заявки.
							</Fragment>
						</CalculatorCard>
					</Fragment>
				</CalculatorLayout>
			</ATabPanel>
			<ATabPanel value="1">
				<AddInfoLayout>
					<ATable cols={4} isScrollable>
						<ATableHeader>
							<ATableRow>
								<ATableCell class="body-s-light">Срок вклада</ATableCell>
								<ATableCell class="body-s-light">250 дней</ATableCell>
								<ATableCell class="body-s-light">550 дней</ATableCell>
								<ATableCell class="body-s-light">1 100 дней</ATableCell>
							</ATableRow>
						</ATableHeader>
						<ATableBody>
							<ATableRow>
								<ATableCell class="body-l-light">от 10 000 <span class="currency-regular">₽</span></ATableCell>
								<ATableCell class="body-l-heavy">КС –0,8%</ATableCell>
								<ATableCell class="body-l-heavy">КС</ATableCell>
								<ATableCell class="body-l-heavy">КС</ATableCell>
							</ATableRow>
							<ATableRow>
								<ATableCell class="body-l-light">от 1 500 000 <span class="currency-regular">₽</span></ATableCell>
								<ATableCell class="body-l-heavy">КС –0,6%</ATableCell>
								<ATableCell class="body-l-heavy">КС</ATableCell>
								<ATableCell class="body-l-heavy">КС +0,2%</ATableCell>
							</ATableRow>
							<ATableRow>
								<ATableCell class="body-l-light">от 5 000 000 <span class="currency-regular">₽</span></ATableCell>
								<ATableCell class="body-l-heavy">КС –0,5%</ATableCell>
								<ATableCell class="body-l-heavy">КС +0,1%</ATableCell>
								<ATableCell class="body-l-heavy">КС +0,3%</ATableCell>
							</ATableRow>
							<ATableRow>
								<ATableCell class="body-l-light">от 30 000 000 <span class="currency-regular">₽</span></ATableCell>
								<ATableCell class="body-l-heavy">КС –0,4%</ATableCell>
								<ATableCell class="body-l-heavy">КС +0,2%</ATableCell>
								<ATableCell class="body-l-heavy">КС +0,2%</ATableCell>
							</ATableRow>
						</ATableBody>
						<ATableFooter isSticky>
							<p class="body-s-light">
								КС&nbsp;&mdash; ключевая ставка Банка России
							</p>
						</ATableFooter>
					</ATable>

					<ATable class="md:in-column" cols={2}>
					<ATableBody>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">При изменении КС</ATableCell>
							<ATableCell class="body-l-light">
								<AList size="l">
									<li>
										до&nbsp;25-го числа месяца включительно изменение процентной ставки
										по&nbsp;вкладу происходит в&nbsp;первый рабочий день месяца, следующего за&nbsp;месяцем изменения,
									</li>
									<li>
										после 25-го числа месяца, процентная ставка по&nbsp;вкладу меняется
										в&nbsp;пятый рабочий день месяца, следующего за&nbsp;месяцем изменения
									</li>
								</AList>
							</ATableCell>
						</ATableRow>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Порядок изменения ставки применяется</ATableCell>
							<ATableCell class="body-l-light">
								<AList size="l">
									<li>
										для действующих вкладов,
									</li>
									<li>
										для вкладов, размещаемых в&nbsp;период между датой изменения Банком России
										КС&nbsp;и&nbsp;вышеуказанным днем изменения Банком ставки по&nbsp;вкладу.
									</li>
								</AList>
							</ATableCell>
						</ATableRow>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Определение даты изменения КС</ATableCell>
							<ATableCell class="body-l-light">
								<p>
									Для целей определения даты изменения&nbsp;КС принимается дата опубликования
									информационного сообщения Банка России об&nbsp;изменении&nbsp;КС на&nbsp;сайте Банка России.
								</p>
							</ATableCell>
						</ATableRow>
					</ATableBody>
				</ATable>
				</AddInfoLayout>
			</ATabPanel>
			<ATabPanel value="2">
				<ATable class="md:in-column" cols={2}>
					<ATableBody>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Минимальная ставка по&nbsp;вкладу</ATableCell>
							<ATableCell class="body-l-light">
								2,5% (гарантированная минимальная ставка по&nbsp;вкладу при значении ключевой ставки Банка России менее 2,5% или при досрочном закрытии вклада).
							</ATableCell>
						</ATableRow>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Валюта вклада</ATableCell>
							<ATableCell class="body-l-light"><span class="currency-regular">₽</span>, российские рубли</ATableCell>
						</ATableRow>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Срок размещения вклада</ATableCell>
							<ATableCell class="body-l-light">250, 550 и&nbsp;1100 дней</ATableCell>
						</ATableRow>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Процентная ставка</ATableCell>
							<ATableCell class="body-l-light">
								<p>
									При заключении договора процентная ставка по&nbsp;вкладу устанавливается в&nbsp;зависимости от&nbsp;размера первоначального взноса по&nbsp;вкладу.
								</p>
								<AList size="l">
									<li>
										или путем перечисления на&nbsp;текущий счет Вкладчика, открытый в&nbsp;Банке, в&nbsp;том числе на&nbsp;текущий счет для проведения расчетов с&nbsp;использованием банковской карты с&nbsp;возможностью дальнейшего снятия начисленных процентов;
									</li>
									<li>
										или путем присоединения начисленных процентов к&nbsp;сумме вклада (капитализация).
									</li>

								</AList>
								<p>
									Вкладчик вправе изменить порядок выплаты процентов, подав в&nbsp;Банк соответствующее заявление по&nbsp;форме Банка. Измененный порядок выплаты процентов применяется, начиная с&nbsp;процентного периода, следующего за&nbsp;датой подачи указанного заявления.
								</p>
								<p>
									Каждый последующий промежуточный период начисления процентов исчисляется с&nbsp;календарного дня, следующего за&nbsp;датой заключения договора банковского вклада.
								</p>
							</ATableCell>
						</ATableRow>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Выплата процентов</ATableCell>
							<ATableCell class="body-l-light">
								<p>
									Выплата процентов, начисленных по&nbsp;вкладу, производится ежемесячно по&nbsp;истечении каждого месяца со&nbsp;дня внесения денежных средств во&nbsp;вклад, одним из&nbsp;способов по&nbsp;выбору Вкладчика:
								</p>
								<p>
									Осуществление расходных операций по&nbsp;вкладу (снятие части денежных средств) не&nbsp;предусмотрено.
								</p>
							</ATableCell>
						</ATableRow>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Пополнение и&nbsp;снятие</ATableCell>
							<ATableCell class="body-l-light">
								<p>
									Пополнение вклада возможно без ограничения сумм в&nbsp;течение всего срока вклада.
								</p>
								<p>
									2,5% (гарантированная минимальная ставка по&nbsp;вкладу при значении ключевой ставки Банка России менее 2,5% или при досрочном закрытии вклада).
								</p>
								<p>
									В&nbsp;случае досрочного востребования всей суммы вклада или её&nbsp;части проценты начисляются и&nbsp;выплачиваются по&nbsp;минимальной ставке за&nbsp;фактический срок вклада со&nbsp;дня, следующего за&nbsp;днем размещения вклада (дня начала очередного срока вклада&nbsp;&mdash; при продлении договора), по&nbsp;день досрочного возврата вклада или его части включительно).
								</p>
							</ATableCell>
						</ATableRow>
						<ATableRow>
							<ATableCell class="body-l-heavy dark-70">Прочее</ATableCell>
							<ATableCell class="body-l-light">
								<p>
									По&nbsp;желанию Вкладчика, заключившего с&nbsp;Банком договор вклада &laquo;Рантье&raquo; на&nbsp;сумму 1,5&nbsp;млн. рублей и&nbsp;более, на&nbsp;основании письменного заявления Вкладчика на&nbsp;выпуск карты ему предоставляется одна банковская карта МИР Премиальная (за&nbsp;исключением карт &laquo;Всегда в&nbsp;плюсе&raquo;) без взимания комиссии за&nbsp;обслуживание текущего счета карты в&nbsp;течение всего срока ее&nbsp;действия.
								</p>
								<p>
									Возврат Вклада и&nbsp;причитающихся процентов осуществляется Банком путем перевода соответствующей суммы на&nbsp;Счет обслуживания вклада, открытый на&nbsp;имя Вкладчика в&nbsp;валюте Вклада. По&nbsp;требованию Вкладчика возврат Вклада может производиться наличными денежными средствами через кассу Банка.
								</p>
							</ATableCell>
						</ATableRow>
					</ATableBody>
				</ATable>
			</ATabPanel>
			<ATabPanel value="3">
				<SectionHelpContentLayout>
					<Fragment slot="left">
						<AAccordion type="component">
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Тарифы для физических лиц</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Договор банковского обслуживания</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Типовые документы</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Паспорта дебетовых карт</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Иные документы</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
						</AAccordion>
					</Fragment>
					<Fragment slot="right">
                        <BenefitCard
                            title="Защита от мошенников"
                            description="Узнайте как уберечь себя и своих близких от финансового мошенничества."
                            icon="icon-a-protection"
                            theme="grey"
                            textButton="Подробнее"
                        />
					</Fragment>
				</SectionHelpContentLayout>
			</ATabPanel>
			<ATabPanel value="4">
				<SectionHelpContentLayout>
					<Fragment slot="left">
						<AAccordion type="component">
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Что нужно знать клиентам о продлении срока действия карт?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Взимается ли комиссия за снятие наличных денежных средств в банкоматах,  если моя организация – работодатель  является участником зарплатного проекта Банка?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Вместе с основной зарплатной картой мне выдали дополнительную. По каким тарифам она обслуживается?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Что делать, если потерял карту или забыл ПИН-код?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту.   Если ПИН-код не удается вспомнить карту необходимо перевыпустить.</p>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Мою карту заблокировал Банк. Что делать?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
						</AAccordion>
					</Fragment>
					<Fragment slot="left-footer">
						<AButton element="a" href="#" text afterIcon="icon-chevron-right" size="m">Все вопросы и ответы</AButton>
					</Fragment>
					<Fragment slot="right">
						<FormCallMeBack
							title="Остались вопросы?"
							description="Оставьте свой телефон и мы перезвоним вам, либо задайте вопрос в чате"
							agreement="Нажимая кнопку «Перезвоните мне», вы соглашаетесь с условиями предоставления информации"
							type="light-blue"
							useChat
						/>
					</Fragment>
				</SectionHelpContentLayout>
			</ATabPanel>
		</Fragment>
	</SectionHelpLayout>
	<SectionLayout bgColor="gray">
		<div class="content-container">
			<AAccordion type="layout">
				<AAccordionPanel>
					<AAccordionHeader class="a-accordion-header--mobile-only">
						<h3 class="headline-2">Как открыть вклад</h3>
					</AAccordionHeader>
					<AAccordionContent class="a-accordion-content--hide-mobile">
						<ATabs useLayout>
							<div class="a-accordion-content__wrapper">
								<h3 class="headline-2 a-accordion-content__title">
									Как открыть вклад
								</h3>
								<ATabSwiper class="a-accordion-content__tabs">
									<ATabSwiperWrapper>
										<ATab value="0" size="m" isActive>Онлайн</ATab>
										<ATab value="1" size="m">В банке</ATab>
									</ATabSwiperWrapper>
								</ATabSwiper>
								<ATabPanels>
									<ATabPanel value="0">
										<DisplayStepper steps={3}>
											<DisplayStepperItem number={1}>
												<h3 class="headline-3">Посетите</h3>
												<ARte class="body-l-light">
													<p><a href="#">ближайший офис Новикомбанка</a>
														или <a href="#">закажите консультацию</a> сотрудника Банка по&nbsp;телефону</p>
												</ARte>
											</DisplayStepperItem>
											<DisplayStepperItem number={2}>
												<h3 class="headline-3">Подпишите</h3>
												<ARte class="body-l-light">
													<p>все необходимые документы в&nbsp;офисе</p>
												</ARte>
											</DisplayStepperItem>
											<DisplayStepperItem number={3}>
												<h3 class="headline-3">Внесите</h3>
												<ARte class="body-l-light">
													<p>деньги на&nbsp;счет вклада</p>
												</ARte>
											</DisplayStepperItem>
										</DisplayStepper>
									</ATabPanel>
									<ATabPanel value="1">
										<DisplayStepper steps={3}>
											<DisplayStepperItem number={1}>
												<h3 class="headline-3">Посетите 1</h3>
												<ARte class="body-l-light">
													<p><a href="#">ближайший офис Новикомбанка</a>
														или <a href="#">закажите консультацию</a> сотрудника Банка по&nbsp;телефону</p>
												</ARte>
											</DisplayStepperItem>
											<DisplayStepperItem number={2}>
												<h3 class="headline-3">Подпишите</h3>
												<ARte class="body-l-light">
													<p>все необходимые документы в&nbsp;офисе</p>
												</ARte>
											</DisplayStepperItem>
											<DisplayStepperItem number={3}>
												<h3 class="headline-3">Внесите</h3>
												<ARte class="body-l-light">
													<p>деньги на&nbsp;счет вклада</p>
												</ARte>
											</DisplayStepperItem>
										</DisplayStepper>
									</ATabPanel>
								</ATabPanels>
							</div>
						</ATabs>
					</AAccordionContent>
				</AAccordionPanel>
			</AAccordion>
		</div>
	</SectionLayout>
	<InfoProductBanner
		title="Вклады застрахованы"
		imgSrc="img/footer-insurance.png"
	>
		<Fragment slot="content">
			<ARte class="body-l-light">
				<p>
					Денежные средства по&nbsp;совокупности вкладов и&nbsp;остатков на&nbsp;счетах физических лиц застрахованы в&nbsp;пределах суммы 1&nbsp;400&nbsp;000&nbsp;<span class="currency-regular">₽</span> в&nbsp;соответствии с&nbsp;Федеральным законом &laquo;О&nbsp;страховании вкладов в&nbsp;банках Российской Федерации&raquo;
				</p>
			</ARte>
		</Fragment>
	</InfoProductBanner>
	<SectionSeeAlso />
</DefaultPageLayout>
