---
import DefaultPageLayout from '../layouts/DefaultPageLayout.astro';
import SectionSeeAlso from "../components/sections/SectionSeeAlso.astro";
import ProductCardBanner from "../components/banners/ProductCardBanner.astro";
import AAccordionHeader from "../components/ui/AAccordion/AAccordionHeader.astro";
import AAccordionPanel from "../components/ui/AAccordion/AAccordionPanel.astro";
import ARte from "../components/ARte.astro";
import BenefitCard from "../components/common/BenefitCard/BenefitCard.astro";
import AAccordion from "../components/ui/AAccordion/AAccordion.astro";
import ATabPanel from "../components/ui/ATabs/common/ATabPanel.astro";
import AAccordionContent from "../components/ui/AAccordion/AAccordionContent.astro";
import SectionHelpLayout from "../components/layouts/SectionHelpLayout/SectionHelpLayout.astro";
import SectionHelpContentLayout from "../components/layouts/SectionHelpLayout/SectionHelpContentLayout.astro";
import DocumentDownload from "../components/ui/DocumentDownload/DocumentDownload.astro";
import AButton from "../components/ui/Buttons/AButton.astro";
import FormCallMeBack from "../components/common/FormCallMeBack/FormCallMeBack.astro";
import ATab from "../components/ui/ATabs/common/ATab/ATab.astro";
import SectionLayout from "../components/layouts/SectionLayout.astro";
import DisplayStepperItem from "../components/common/DisplayStepper/DisplayStepperItem.astro";
import DisplayStepper from "../components/common/DisplayStepper/DisplayStepper.astro";
import TableAdaptive from "../components/ui/TableAdaptive/TableAdaptive.astro";
import SectionBenefitsLayout from "../components/layouts/SectionBenefitsLayout.astro";
import ATabs from "../components/ui/ATabs/ATabs.astro";
import ATabSwiperWrapper from "../components/ui/ATabs/common/ATabSwiperWrapper.astro";
import ATabSwiper from "../components/ui/ATabs/common/ATabSwiper/ATabSwiper.astro";
import ATabPanels from "../components/ui/ATabs/common/ATabPanels.astro";
import InfoProductBanner from "../components/common/Banners/InfoProductBanner.astro";
import ASliderInput from "../components/ui/ASliderInput/ASliderInput.astro";
import CalculatorLayout from "../components/layouts/CalculatorLayout.astro";
import ACheckbox from "../components/ui/ACheckbox/ACheckbox.astro";
import CalculatorCardItem from "../components/common/CalculatorCard/CalculatorCardItem.astro";
import CalculatorCard from "../components/common/CalculatorCard/CalculatorCard.astro";
import FormRow from "../components/layouts/FormLayout/FormRow.astro";
import AInput from "../components/ui/AInput/AInput.astro";
import InputWithIcon from "../components/ui/InputWithIcon/InputWithIcon.astro";

const benefitCards = [
	{
		title: 'Надежность',
		description: 'Ставка привязана к&nbsp;ключевой ставке Банка России',
		iconId: 'icon-a-web-bank'
	},
	{
		title: 'Выплата процентов',
		description: 'Выплата процентов, начисленных по&nbsp;вкладу, производится ежемесячно',
		iconId: 'icon-a-prices'
	},
	{
		title: 'Пополнение вклада',
		description: 'Пополнение вклада возможно без ограничения сумм в&nbsp;течение всего срока вклада',
		iconId: 'icon-a-money'
	}
];

const tableDataPercent = {
	header: [
		'Процент годовых в месяц',
		'Условия'
	],
	body: [
		{
			cells: [
				{
					className: 'number-l-heavy',
					text: '4,5%',
				},
				{
					className: 'body-l-light',
					text: '<p>\n' +
						'                    при сумме остатка не&nbsp;более 1&nbsp;400&nbsp;000 рублей на&nbsp;Текущем счете карты\n' +
						'                </p>\n' +
						'                <p>\n' +
						'                    сумме покупок по&nbsp;карте (за&nbsp;исключением оплаты товаров и&nbsp;услуг через СБП)\n' +
						'                    на&nbsp;общую сумму менее 20&nbsp;000 рублей в&nbsp;календарном месяце\n' +
						'                </p>',
				}

			],
		},
		{
			cells: [
				{
					className: 'number-l-heavy',
					text: '5%',
				},
				{
					className: 'body-l-light',
					text: '<p>\n' +
						'                    при сумме остатка не&nbsp;более 1&nbsp;400&nbsp;000 рублей на&nbsp;Текущем счете карты\n' +
						'                </p>\n' +
						'                <p>\n' +
						'                    сумме покупок по&nbsp;карте (за&nbsp;исключением оплаты товаров и&nbsp;услуг через СБП)\n' +
						'                    на&nbsp;общую сумму менее 20&nbsp;000 рублей в&nbsp;календарном месяце\n' +
						'                </p>',
				}

			],
		},
		{
			cells: [
				{
					className: 'number-l-heavy',
					text: '7,5%',
				},
				{
					className: 'body-l-light',
					text: '<p>\n' +
						'                    при сумме остатка не&nbsp;более 1&nbsp;400&nbsp;000 рублей на&nbsp;Текущем счете карты\n' +
						'                </p>\n' +
						'                <p>\n' +
						'                    сумме покупок по&nbsp;карте (за&nbsp;исключением оплаты товаров и&nbsp;услуг через СБП)\n' +
						'                    на&nbsp;общую сумму менее 20&nbsp;000 рублей в&nbsp;календарном месяце\n' +
						'                </p>',
				}

			],
		},
		{
			cells: [
				{
					className: 'number-l-heavy',
					text: '8%',
				},
				{
					className: 'body-l-light',
					text: '<p>\n' +
						'                    при сумме остатка не&nbsp;более 1&nbsp;400&nbsp;000 рублей на&nbsp;Текущем счете карты\n' +
						'                </p>\n' +
						'                <p>\n' +
						'                    сумме покупок по&nbsp;карте (за&nbsp;исключением оплаты товаров и&nbsp;услуг через СБП)\n' +
						'                    на&nbsp;общую сумму менее 20&nbsp;000 рублей в&nbsp;календарном месяце\n' +
						'                </p>',
				}

			],
		},

	]
}
---

<DefaultPageLayout title="Вклад «РАНТЬЕ»">
	<ProductCardBanner
		benefits={[
			{
				beforeNum: 'до',
				num: '16,5%',
				description: 'При ключевой ставке<br>Банка России на&nbsp;09.01.2024'
			},
			{
				beforeNum: 'от',
				num: '250',
				afterNum: 'дней',
				description: 'Минимальный срок вклада'
			},
			{
				beforeNum: 'от',
				num: '10 000',
				currency: '₽',
				description: 'Минимальная сумма вклада'
			},
		]}
		image="assets/hero-banner/rentier-contribution.png"
		urlHref="#"
		buttonText="Отркыть вклад"
		hasPattern
	>
		<Fragment slot="title">
			Вклад «РАНТЬЕ»
		</Fragment>
		<Fragment slot="subtitle">
			Максимальный процент при&nbsp;любом шторме
		</Fragment>
	</ProductCardBanner>
	<SectionBenefitsLayout
		title="Преимущества вклада"
		benefits={benefitCards}
	>
	</SectionBenefitsLayout>
	<SectionHelpLayout title="Условия по&nbsp;вкладу и&nbsp;ваш доход">
		<Fragment slot="tabs">
			<ATab value="0" size="lm" isActive>Калькулятор</ATab>
			<ATab value="1" size="lm">Процентные ставки</ATab>
			<ATab value="2" size="lm">Условия</ATab>
			<ATab value="3" size="lm">Документы и тарифы</ATab>
			<ATab value="4" size="lm">Вопросы и ответы</ATab>
		</Fragment>
		<Fragment slot="tabPanels">
			<ATabPanel value="0">
				<CalculatorLayout>
					<Fragment slot="form">
						<ASliderInput
							id="amount-credit"
							label="Сумма вклада"
							maxValue={5000000}
							minValue={20000}
							startValue={1000000}
							stepSize={5000}
							editable
							type="price"
						/>
						<ASliderInput
							id="credit-term"
							label="Срок вклада"
							maxValue={60}
							minValue={6}
							startValue={31}
							type="month"
							editable
						/>
					</Fragment>
					<Fragment slot="agreements">
						<ACheckbox id="is-card-novkom" size="l" checked>
							<span class="body-m-light" slot="label"><a href="#">Капитализация</a> процентов на&nbsp;счет вклада</span>
						</ACheckbox>
						<ACheckbox id="insurance" size="l">
							<span class="body-m-light" slot="label">Планируются пополнения суммы вклада</span>
						</ACheckbox>
					</Fragment>
					<Fragment slot="fields">
						<FormRow cols={2}>
							<InputWithIcon afterIcon="icon-search" />
							<!--<AInput size="m" label="Дата пополнения" forId="name-1" name="input-1"/>-->
							<AInput size="m" label="Сумма пополнения" forId="name-2" name="input-2"/>
						</FormRow>
					</Fragment>
					<Fragment slot="card">
						<CalculatorCard
							backgroundColor="grey"
							polygonColor="green-100"
							buttonText="Открыть вклад">
							<CalculatorCardItem
								hint="Ваш доход составит ориентировочно"
								text="35 404,38"
								currency="₽"
							/>
							<CalculatorCardItem
								hint="Ставка по вкладу"
								text="15%"
							/>
							<CalculatorCardItem
								hint="Срок вклада"
								text="550 дней"
							/>
							<Fragment slot="notes">
								Калькулятор не&nbsp;гарантирует точность расчетов. Окончательные параметры вклада определяются по&nbsp;итогам рассмотрения заявки.
							</Fragment>
						</CalculatorCard>
					</Fragment>
				</CalculatorLayout>
			</ATabPanel>
			<ATabPanel value="1">
				<TableAdaptive tableData={tableDataPercent} />
			</ATabPanel>
			<ATabPanel value="3">
				<SectionHelpContentLayout>
					<Fragment slot="left">
						<AAccordion type="component">
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Тарифы для физических лиц</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Договор банковского обслуживания</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Типовые документы</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Паспорта дебетовых карт</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Иные документы</div>
								</AAccordionHeader>
								<AAccordionContent>
									<p class="body-m-light dark-70" style="margin-bottom: 1.5rem;">Тарифы для физических лиц, действующие во всех регионах присутствия Банка.</p>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт для физических лиц, выпущенных по 21.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г."
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
									<DocumentDownload
										fileName="Сборник тарифов на обслуживание физических лиц"
										dateTime="12.12.23 18:56"
										fileType="XLS"
									/>
								</AAccordionContent>
							</AAccordionPanel>
						</AAccordion>
					</Fragment>
					<Fragment slot="right">
                        <BenefitCard
                            title="Защита от мошенников"
                            description="Узнайте как уберечь себя и своих близких от финансового мошенничества."
                            icon="icon-a-protection"
                            theme="grey"
                            textButton="Подробнее"
                        />
					</Fragment>
				</SectionHelpContentLayout>
			</ATabPanel>
			<ATabPanel value="4">
				<SectionHelpContentLayout>
					<Fragment slot="left">
						<AAccordion type="component">
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Что нужно знать клиентам о продлении срока действия карт?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Взимается ли комиссия за снятие наличных денежных средств в банкоматах,  если моя организация – работодатель  является участником зарплатного проекта Банка?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Вместе с основной зарплатной картой мне выдали дополнительную. По каким тарифам она обслуживается?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>
											Разнообразный и богатый опыт сложившаяся структура организации
											требуют от нас анализа существенных финансовых и
											административных условий. Значимость этих проблем настолько
											очевидна, что укрепление и развитие структуры требуют от нас
											анализа позиций, занимаемых участниками в отношении поставленных
											задач.
										</p>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Что делать, если потерял карту или забыл ПИН-код?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<p>Если есть подозрение, что ПИН-код мог стать доступен третьим лицам, незамедлительно заблокируйте карту.   Если ПИН-код не удается вспомнить карту необходимо перевыпустить.</p>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
							<AAccordionPanel>
								<AAccordionHeader>
									<div class="body-l-light">Мою карту заблокировал Банк. Что делать?</div>
								</AAccordionHeader>
								<AAccordionContent>
									<ARte class="body-m-light">
										<ul>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
											<li>
												При&nbsp;отсутствии лимита&nbsp;— возможность работы
												под&nbsp;результаты 1, 2, 3&nbsp;рейсов
												МЦИ&nbsp;(для&nbsp;валюты РФ) и&nbsp;отправка срочных
												кредитовых авизо (по&nbsp;иностранным валютам);
											</li>
										</ul>
									</ARte>
								</AAccordionContent>
							</AAccordionPanel>
						</AAccordion>
					</Fragment>
					<Fragment slot="left-footer">
						<AButton element="a" href="#" text afterIcon="icon-chevron-right" size="m">Все вопросы и ответы</AButton>
					</Fragment>
					<Fragment slot="right">
						<FormCallMeBack
							title="Остались вопросы?"
							description="Оставьте свой телефон и мы перезвоним вам, либо задайте вопрос в чате"
							agreement="Нажимая кнопку «Перезвоните мне», вы соглашаетесь с условиями предоставления информации"
							type="light-blue"
							useChat
						/>
					</Fragment>
				</SectionHelpContentLayout>
			</ATabPanel>
		</Fragment>
	</SectionHelpLayout>
	<SectionLayout bgColor="gray">
		<div class="content-container">
			<AAccordion type="layout">
				<AAccordionPanel>
					<AAccordionHeader class="a-accordion-header--mobile-only">
						<h3 class="headline-2">Как открыть вклад</h3>
					</AAccordionHeader>
					<AAccordionContent class="a-accordion-content--hide-mobile">
						<ATabs useLayout>
							<div class="a-accordion-content__wrapper">
								<h3 class="headline-2 a-accordion-content__title">
									Как открыть вклад
								</h3>
								<ATabSwiper class="a-accordion-content__tabs">
									<ATabSwiperWrapper>
										<ATab value="0" size="m" isActive>Онлайн</ATab>
										<ATab value="1" size="m">В банке</ATab>
									</ATabSwiperWrapper>
								</ATabSwiper>
								<ATabPanels>
									<ATabPanel value="0">
										<DisplayStepper steps={3}>
											<DisplayStepperItem number={1}>
												<h3 class="headline-3">Посетите</h3>
												<ARte class="body-l-light">
													<p><a href="#">ближайший офис Новикомбанка</a>
														или <a href="#">закажите консультацию</a> сотрудника Банка по&nbsp;телефону</p>
												</ARte>
											</DisplayStepperItem>
											<DisplayStepperItem number={2}>
												<h3 class="headline-3">Подпишите</h3>
												<ARte class="body-l-light">
													<p>все необходимые документы в&nbsp;офисе</p>
												</ARte>
											</DisplayStepperItem>
											<DisplayStepperItem number={3}>
												<h3 class="headline-3">Внесите</h3>
												<ARte class="body-l-light">
													<p>деньги на&nbsp;счет вклада</p>
												</ARte>
											</DisplayStepperItem>
										</DisplayStepper>
									</ATabPanel>
									<ATabPanel value="1">
										<DisplayStepper steps={3}>
											<DisplayStepperItem number={1}>
												<h3 class="headline-3">Посетите 1</h3>
												<ARte class="body-l-light">
													<p><a href="#">ближайший офис Новикомбанка</a>
														или <a href="#">закажите консультацию</a> сотрудника Банка по&nbsp;телефону</p>
												</ARte>
											</DisplayStepperItem>
											<DisplayStepperItem number={2}>
												<h3 class="headline-3">Подпишите</h3>
												<ARte class="body-l-light">
													<p>все необходимые документы в&nbsp;офисе</p>
												</ARte>
											</DisplayStepperItem>
											<DisplayStepperItem number={3}>
												<h3 class="headline-3">Внесите</h3>
												<ARte class="body-l-light">
													<p>деньги на&nbsp;счет вклада</p>
												</ARte>
											</DisplayStepperItem>
										</DisplayStepper>
									</ATabPanel>
								</ATabPanels>
							</div>
						</ATabs>
					</AAccordionContent>
				</AAccordionPanel>
			</AAccordion>
		</div>
	</SectionLayout>
	<InfoProductBanner
		title="Вклады застрахованы"
		imgSrc="img/footer-insurance.png"
	>
		<Fragment slot="content">
			<ARte class="body-l-light">
				<p>
					Денежные средства по&nbsp;совокупности вкладов и&nbsp;остатков на&nbsp;счетах физических лиц застрахованы в&nbsp;пределах суммы 1&nbsp;400&nbsp;000&nbsp;₽ в&nbsp;соответствии с&nbsp;Федеральным законом &laquo;О&nbsp;страховании вкладов в&nbsp;банках Российской Федерации&raquo;
				</p>
			</ARte>
		</Fragment>
	</InfoProductBanner>
	<SectionSeeAlso />
</DefaultPageLayout>
