script(src="js/vendors/jquery.min.js")
script(src="js/vendors/popover.js")
script(src="js/vendors/bootstrap.min.js")
script(src="js/vendors/swiper.min.js")
script(src="js/vendors/select2.min.js")
script(src="js/vendors/airdatepicker.js")
script(src="js/vendors/highcharts.js")
script(src="js/vendors/jquery.mask.min.js")
script(src="js/chatBot.js")
script(src="js/datepicker.js")
script(src="js/dropDownMenu.js")
script(src="js/formFeedback.js")
script(src="js/formSend.js")
script(src="js/formSteps.js")
script(src="js/uploadFile.js")
script(src="js/polygon-container.js")
script(src="js/setPage.js")
script(src="js/sliders.js")
script(src="js/tabs.js")
script(src="js/private-banking.js")
script(src="js/calculator-deposit.js")
script(src="js/calculator-loan.js")
script(src="js/calculator-mortgage.js")
script(src="js/calculator-bonus.js")
script(src="js/inputSlider.js")
script(src="js/charts.js")
script(src="js/accessibility-panel.js")
script(src="js/index.js")
