---
import AIcon from "../../AIcon.astro";
interface Props {
	href?: string;
	fileName: string;
	dateTime: string;
	fileType: string;
}

const {
	href = '#',
	fileName= 'Наименование документа',
	dateTime,
	fileType
} = Astro.props as Props;
---

<div class="document-download body-m-light">
	<a href={href} class="document-download__head body-m-light" download>{ fileName }</a>
	<div class="document-download__body">
		<div class="document-download__file caption-m">
			<span class="document-download__date-time">{ dateTime }</span>
			<span class="document-download__file-type">{ fileType }</span>
		</div>
		<a href={href} class="document-download__link"><AIcon symbolId="icon-download" size="s"/></a>
	</div>
</div>

<style lang="scss" is:global>
	@import "@styles/placeholders";

	.document-download {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 1rem 0;
		border-bottom: 1px dashed var(--blue-30);

		&__head {
			@extend %reset-link;

			color: var(--dark-100);
			transition: 0.3s;

			&:hover {
				color: var(--blue-100);
			}
		}

		&__body {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		&__file {
			color: var(--dark-70);
		}

		&__date-time {
			padding-right: 0.5rem;
			border-right: 1px solid currentColor;
		}

		&__file-type {
			padding-left: 0.5rem;
			text-transform: uppercase;
		}

		&__link {
			display: flex;
			color: var(--violet-100);
		}

		&:last-child {
			border-bottom: unset;
		}
	}
</style>
