.dropdown-nav {
    padding: 2.5rem;
    width: 100vw;
    background-color: var(--dark-0);
    border-radius: .75rem;
    box-shadow: 0 8px 32px 0 #3C3C474D;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;

    // is hidden
    //position: fixed;
    opacity: 0;
    //left: 50%;
    pointer-events: none;

    @include use-media(tablet-album) {
        max-width: calc(100vw - 10rem);
    }

    @include use-media(desktop) {
        max-width: 1600px;
    }


    &.is-open {
        opacity: 1;
        //position: static;
        pointer-events: auto;
    }
}
