---
import ADropDownItem from "../ui/ADropDown/ADropDownItem/ADropDownItem.astro";
import ATab from "../ui/ATabs/common/ATab/ATab.astro";
import ASelectInput from "../ui/ASelectInput/ASelectInput.astro";
import ASliderInput from "../ui/ASliderInput/ASliderInput.astro";
import CalculatorLayout from "../layouts/CalculatorLayout.astro";
import ACheckbox from "../ui/ACheckbox/ACheckbox.astro";
import ATabs from "../ui/ATabs/ATabs.astro";
import CalculatorCard from "../common/CalculatorCard/CalculatorCard.astro";
import CalculatorCardItem from "../common/CalculatorCard/CalculatorCardItem.astro";
---

<CalculatorLayout class="benefit-calculator">
	<Fragment slot="form">
        <div class="benefit-calculator__tabs">
            <div class="benefit-calculator__tabs-desktop">
                <ATabs>
                    <Fragment slot="tabs">
                        <ATab size="m" isActive>Потребительский кредит</ATab>
                        <ATab size="m">Рефинансирование</ATab>
                    </Fragment>
                </ATabs>
            </div>
            <div class="benefit-calculator__tabs-mobile">
                <ASelectInput size="s">
                    <ADropDownItem value="Потребительский кредит" selected>Потребительский кредит</ADropDownItem>
                    <ADropDownItem value="Рефинансирование">Рефинансирование</ADropDownItem>
                </ASelectInput>
            </div>
        </div>
        <ASliderInput
            id="amount-credit"
            label="Сумма кредита"
            maxValue={5000000}
            minValue={20000}
            startValue={1000000}
            stepSize={5000}
            editable
            type="price"
        />
        <ASliderInput
            id="credit-term"
            label="Срок кредита"
            maxValue={60}
            minValue={1}
            startValue={31}
            type="month"
            editable
        />
	</Fragment>
    <Fragment slot="agreements">
        <ACheckbox id="is-card-novkom" size="m" checked>
            <div class="body-m-light" slot="label">Получаю зарплату на карту НОВИКОМ</div>
        </ACheckbox>
        <ACheckbox id="insurance" size="m">
            <div class="body-m-light" slot="label">Страховка</div>
        </ACheckbox>
    </Fragment>
	<Fragment slot="card">
        <CalculatorCard backgroundColor="white" polygonColor="green-100">
            <CalculatorCardItem
                hint="Процентная ставка"
                text="16,5%"
            />
            <CalculatorCardItem
                hint="Ежемесячный платеж"
                text="35 404,38"
                currency="₽"
                link={{
                    href: '#',
                    text: 'График платежей'
                }}
            />
            <CalculatorCardItem
                hint="Диапазон полной стоимости кредита"
                text="16,464 – 20,474 %"
            />
            <Fragment slot="notes">
                Калькулятор не&nbsp;гарантирует точность расчетов. Окончательные параметры кредита определяются по&nbsp;итогам рассмотрения заявки.
            </Fragment>
        </CalculatorCard>
	</Fragment>
</CalculatorLayout>

<style lang="scss" is:global>
    @import '@styles/media-queries';

    .benefit-calculator {
        &__tabs-desktop {
            display: none;

            @include use-media(tablet-album) {
                display: block;
            }
        }

        &__tabs-mobile {
            @include use-media(tablet-album) {
                display: none;
            }
        }
    }
</style>
