.form-feedback {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;

    @include use-media(tablet) {
        padding: 2rem;
        gap: 1.5rem;
    }

    @include use-media(tablet-album) {
        border-radius: 0.75rem;
        padding: 2.5rem;
    }

    &__head {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include use-media(tablet) {
            gap: 1.5rem;
        }
    }

    &__agreement {
        color: var(--dark-70);
    }
}
