.form-check {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    &:hover {
        & .form-check-input:not(:disabled) {
            border-color: var(--blue-100);
        }
    }

    &--size-small {
        & .form-check-label {
            font-size: .875rem;
            line-height: 1.3;
            max-width: calc(100% - 2.5rem);
        }

        & .form-check-input {
            width: 1.5rem;
            height: 1.5rem;

            &:checked[type=radio] {
                border-width: .375rem;
            }
        }
    }
}

.form-check-label {
    font-size: .875rem;
    line-height: 1.3;
    max-width: calc(100% - 2.5rem);

    @include use-media(tablet-album) {
        font-size: 1rem;
        line-height: 1.5;
        max-width: calc(100% - 3rem);
    }

    & a {
        text-decoration: underline;
        color: var(--blue-100);
    }
}

.form-check-input {
    background-size: 1rem;
    flex-shrink: 0;

    @include use-media(tablet-album) {
        width: 2rem;
        height: 2rem;
    }

    &:checked[type=radio] {
        background-color: transparent;
        border-width: .4rem;

        @include use-media(tablet-album) {
            border-width: .5rem;
        }
    }

    &.is-required {
        border-color: var(--orange-100) !important;
    }
}
