.input-group-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .75rem .5rem .75rem 1rem;
    border-radius: .25rem 0 0 .25rem;
    background-color: var(--dark-0);
    border: 1px solid var(--purple-30);
    transition: border-color ease .33s;

    @include use-media(tablet-album) {
        padding: 1.125rem 1rem;
    }

    & .icon {
        width: 1rem;
        height: 1rem;

        @include use-media(tablet-album) {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &:first-child {
        border-right: none;
    }

    &:last-child {
        border-left: none;
        border-radius: 0 .25rem .25rem 0;
    }

    & + input {
        &:not(:first-child) {
            border-left: none;
        }

        &:not(:last-child) {
            border-right: none;
        }
    }
}

.input-group:focus-within {
    & .input-group-icon,
    & .input-group-text {
        border-color: var(--purple-70);
        color: var(--violet-100);
    }
}

.form-label {
    font-weight: 600;
    color: var(--dark-70);
    font-size: .875rem;
    line-height: 1.3;
}

.form-control-lg {
    --bs-border-radius-lg: .25rem;
}

.form-control-lg-lg {
    @include use-media(tablet-album) {
        --bs-border-radius-lg: .25rem;

        min-height: calc(1.5em + 1.875rem + calc(var(--bs-border-width) * 2));
        padding: 0.9375rem 0.9375rem;
        font-size: 1rem;
        border-radius: var(--bs-border-radius-lg);
    }
}

textarea.form-control-lg-lg {
    min-height: 4.375rem;
    padding: 0.625rem 0.938rem;

    @include use-media(tablet-album) {
        min-height: 5.875rem;
        padding: 0.938rem;
    }
}

.input-group {

    &__currency {
        flex: 0 0 4.25rem;

        & .select2-container {
            height: 100%;

            & .selection {
                display: inline-flex;
                height: 100%;
                width: 100%;

                & .select2-selection {
                    display: inline-flex;
                    height: 100% !important;
                    width: 100%;
                    align-items: center;
                    border-radius: 0 .25rem .25rem 0 !important;
                    border-color: var(--purple-30);

                    &__rendered {
                        padding: 0 .5rem !important;
                    }

                    &__arrow {
                        position: relative;
                        top: auto !important;
                        right: auto !important;
                    }
                }
            }

            &--disabled {
                & .selection .select2-selection {
                    border-left: 1px solid var(--dark-50) !important;
                }
            }
        }
    }

    & .form-control-lg {

        & + .input-group__currency {
            flex-basis: 5rem;
        }
    }

    & .form-control:has(+ .input-group-text) {
        border-right: 0;
    }
}

.input-group-text {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control {
    &::placeholder {
        color: var(--dark-50);
    }
}

.form-control.is-required {
    border-color: var(--orange-100);

    + .input-group-text {
        border-color: var(--orange-100);
    }
}

.form-control.is-invalid {
    + .input-group-text {
        border-color: var(--bs-form-invalid-border-color);
    }
}

.form-control:disabled,
.form-control.disabled {
    background-color: var(--dark-10);
    color: var(--dark-50);
    border-color: var(--dark-10);

    &::placeholder {
        color: var(--dark-50);
    }
}
