.input-slider {
    &__label {
        display: block;
    }

    &__label, &__display-value {
        margin-bottom: 0.5rem;
        padding: 0 1rem;
    }

    &__display-value {
        font-family: $font-family-code;
        padding: 0.438rem 1rem;
    }

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 1;
        height: 1.5rem;
    }

    &__item {
        position: relative;
        height: 0.25rem;
        width: 100%;
        appearance: none;
        background: var(--blue-30);
        border-radius: 0.25rem;
        z-index: 1;

        &::-webkit-slider-thumb {
            height: 1.5rem;
            width: 1.5rem;
            background: var(--blue-100);
            appearance: none;
            border-radius: 100%;
            border: 0.125rem solid var(--dark-10);
            cursor: grab;
        }

        &::-moz-range-thumb {
            height: 1.5rem;
            width: 1.5rem;
            background: var(--blue-100);
            appearance: none;
            border-radius: 100%;
            border: 0.125rem solid var(--dark-10);
            cursor: grab;
        }
    }
}

.input-slider-text-steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    height: 1.5rem;
}

.input-slider-text-step {
    text-align: center;
    text-wrap: nowrap;

    &:first-child {
        text-align: left;
    }

    &:last-child {
        text-align: right;
    }
}

.input-slider-step {
    position: absolute;
    width: 0.125rem;
    height: 0.75rem;
    background-color: var(--blue-30);
    border-radius: 0.125rem;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

    &.is-active {
        background-color: var(--blue-100);
    }
}
