---
interface Props {
    classList?: string;
	class?: string;
}

const {
    class: classList
} = Astro.props as Props
---

<div class:list={[
    'calculator-layout',
    classList
]}>
	<div class="calculator-layout__form">
		<slot name="form" />
        {
            Astro.slots['agreements'] && (
                <div class="calculator-layout__agreements">
                    <slot name="agreements" />
                </div>
            )
        }
		{
			Astro.slots['fields'] && (
				<slot name="fields" />
			)
		}
	</div>
	<div class="calculator-layout__card">
		<slot name="card" />
	</div>
</div>

<style lang="scss" is:global>
	@import "@styles/media-queries";

	.calculator-layout {
		display: grid;
		grid-template-columns: 100%;
        align-items: flex-start;
		gap: 1.5rem;

		@include use-media(tablet) {
			gap: 2.5rem;
		}

		@include use-media(tablet-album) {
			grid-template-columns: 1fr 1fr;
		}

		@include use-media(laptop-x) {
			gap: 7.5rem;
		}

        &__form {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @include use-media(tablet) {
                gap: 2.5rem;
            }

            @include use-media(tablet-album) {
                gap: 3rem;
                padding-left: 2.5rem;

				@at-root .section-help-layout__content & {
					padding-left: 0;
				}
            }
        }

        &__agreements {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @include use-media(tablet) {
                gap: 1rem;
            }
        }
	}
</style>
