---
---

<div class="product-list">
	<slot></slot>
</div>

<style lang="scss" is:global>
	@import "@styles/media-queries";

	.product-list {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		@include use-media(tablet) {
			gap: 3rem;
		}
	}
</style>