---
import InputWithIcon from "../ui/InputWithIcon/InputWithIcon.astro";
import TagSimple from "../ui/TagSimple/TagSimple.astro";
interface Props {
    class?: string,
}

const {class: className, ...rest} = Astro.props;
---
<div class="search-desktop" class:list={className} {...rest}>
    <div class="search-desktop__wrapper">
        <form class="search-desktop__form">
            <InputWithIcon placeholder="Поиск по сайту" beforeIcon="icon-search" />
        </form>
        <div class="search-desktop__tag-layout">
            <p class="body-m-light dark-70">Популярные запросы:</p>
            <div class="search-desktop__tag-wrapper">
                <TagSimple href="#">Зарплатный проект</TagSimple>
                <TagSimple href="#">Зарплатная карта</TagSimple>
                <TagSimple href="#">Расчетный счет</TagSimple>
                <TagSimple href="#">Ипотека в новостройке</TagSimple>
                <TagSimple href="#">Кредит на бизнес</TagSimple>
                <TagSimple href="#">Депозиты</TagSimple>
                <TagSimple href="#">Вклады</TagSimple>
                <TagSimple href="#">Социально-платежная карта МИР</TagSimple>
                <TagSimple href="#">Банковские гарантии</TagSimple>
            </div>
        </div>
    </div>
</div>

<style lang="scss" is:global>
  @use "sass:map";
  @import "../../styles/media-queries";

  .search-desktop {
    width: 100%;
    padding: 2.5rem;

    // is hidden
    position: fixed;
    opacity: 0;
    left: 50%;
    pointer-events: none;

    &.js-spoiler-open {
      opacity: 1;
      position: static;
      pointer-events: auto;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
    }

    &__tag-layout {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    &__tag-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
</style>
