:root {
  // Private Banking colors
  --pr-primary: #591aaf;
  --pr-hover: #6D3EBD;
  --pr-text-color: #B0B7FE;
  --pr-black: #000;
  --pr-dark-bg: #131316;
}

.pr-text-color {
  color: var(--pr-text-color);
}
