.pb {
  font-family: "TT Hoves", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--pb-black);
  position: relative;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }
}

.pb-text-notes {
  font-size: 1rem;
  line-height: 1.4;

  @include use-media(tablet) {
    font-size: 1.25rem;
  }

  @include use-media(tablet-album) {
    font-size: 1.5rem;
    line-height: 1.35;
  }
}
