---
import AIcon from "../AIcon.astro";
interface Props {
    href: string,
    beforeIcon?: string,
    afterIcon?: string,
    className?: string,
}

const {
    href = '#',
    beforeIcon,
    afterIcon,
    ...rest
} = Astro.props as Props;
---

<a href={href} class="header-contact-link body-s-light">
    {beforeIcon && (
            <span class="header-contact-link__icon">
                <svg>
				    <use xlink:href={`assets/svg-sprite.svg#${beforeIcon}`} />
			    </svg>
            </span>
    )}
    <span class="header-contact-link__text">
        <slot />
    </span>
    {afterIcon && (
            <span class="header-contact-link__icon header-contact-link__icon--hide-desktop">
                <svg>
				    <use xlink:href={`assets/svg-sprite.svg#${afterIcon}`} />
			    </svg>
            </span>
    )}
</a>

<style lang="scss" is:global>
  @use "sass:map";
  @import "@styles/variables";
  @import "@styles/placeholders";
  @import "@styles/media-queries";

  .header-contact-link {
    $root: #{&};
    @extend %reset-link;

    color: var(--dark-100);
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    gap: .5rem;

    @include use-media(tablet-album) {
      gap: .25rem;
    }

    &__icon {
      width: 1.5rem;
      height: 1.5rem;
      color: var(--violet-100);
      flex-shrink: 0;
      display: none;

      @include use-media(tablet-album) {
        color: var(--violet-70);
      }

      @include use-media(laptop-x) {
        width: 1rem;
        height: 1rem;
        display: block;

        & svg {
          width: 1rem;
          height: 1rem;
        }
      }

      &--hide-desktop {
        display: block;

        @include use-media(laptop-x) {
          display: none;
        }
      }

      & svg {
        width: 100%;
        height: 100%;
      }
    }

    &__text {
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.25;
      color: var(--violet-100);

      @include use-media(tablet-album) {
        display: none;
      }

      @include use-media(laptop-x) {
        color: var(--dark-100);
        font-size: .875rem;
        font-weight: 400;
        display: initial;
      }
    }
  }
</style>
