---
interface Props {
	href: string;
}

const { href = '#' } = Astro.props as Props;
---
<a href={href} class="a-footer-nav-head-link">
	<slot />
</a>

<style lang="scss" is:global>
	@use "sass:map";
	@import "@styles/variables";
	@import "@styles/placeholders";

	.a-footer-nav-head-link {
		@extend %reset-link;

		font-size: 16px;
		font-weight: 600;
		line-height: 150%;
		color: var(--dark-100);
	}
</style>