---
import AButton from "@components/ui/Buttons/AButton.astro";
import AIcon from "@components/AIcon.astro";

/**
 Контейнер в котром хранятся скрытые элементы списка - если список не помещается
 полностью в родительский контейнер.
*/
---

<template id="TemplateHiddenLinks">
	<div class="clipped-links js-clipped-links">
		<AButton color="white" class="clipped-links__button js-clipped-links-button">
			<AIcon symbolId="icon-more" size="m"></AIcon>
		</AButton>
		<div class="clipped-links__content js-clipped-links-content"></div>
	</div>
</template>

<style lang="scss" is:global>
	@use "sass:map";
	@import "@styles/variables";

	.clipped-links {
		$root: #{&};
		position: relative;
		display: inline-flex;

		&__button {
			cursor: pointer;
			padding: 0 !important;
			--button-height: 1.5rem;
			--button-color: var(--violet-100);
		}

		&__content {
			position: absolute;
			top: calc(100% + 8px);
			right: 0;
			display: none;
			flex-direction: column;
			/*border-radius: 0.5rem;*/
			border-radius: map.get($border-radius, card-desktop);
			/*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.10);*/
			box-shadow: 0 8px 32px 0 #3C3C474D;
			padding: .5rem 0;
			background-color: white;
			z-index: 10;
			min-width: 17.5rem; //280px

			a {
				white-space: nowrap;
				padding: 1rem;
				font-size: 1rem;
				font-weight: 700;
			}
		}

		&--active {
			#{$root}__content {
				display: flex;
			}
		}
	}
</style>
