@use "sass:map";
@import "variables";

html {
	font-family: map.get($font-family, base);
	font-size: map.get($font-size-body, base);
	color: var(--dark-100);
}

* {
	box-sizing: border-box;
}

p {
	margin: 0;
}

input,
button,
textarea,
select {
	font: inherit;
}

legend,
fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

/* Добавьте этот класс к элементу, для которого вы хотите применить кастомный скролл */
.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: var(--grey) transparent;

	/* Стили для вертикальной полосы прокрутки */
		&::-webkit-scrollbar {
		width: .25rem;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--grey);
		border-radius: .5rem;
	}

	//&::-webkit-scrollbar-thumb:hover {
	//	background-color: #555;
	//}

	/* Стили для горизонтальной полосы прокрутки */
	&::-webkit-scrollbar-horizontal {
		height: .25rem;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--grey);
	}

	//&::-webkit-scrollbar-thumb:hover {
	//	background-color: #555;
	//}
}
