@use "sass:map";

$font-family: (
	base: "Open Sans",
	currency: "Roboto Condensed",
	currency-regular: "Roboto Condensed Regular"
);

$font-size-body: (
	small-xs: .625rem, //10px
	small-x: .75rem, //12px
	small: .875rem, //14px
	base: 1rem, //16px
	medium-xs: 1.125rem, //18px
	medium-x: 1.25rem, //20px
	medium: 1.5rem, //24px
	large-xs: 1.75rem, //28px
	large-x: 2rem, //32px
	large: 2.25rem, //36px
	xl: 2.5rem, //40px
	xxl: 3.5rem, //56px
);

$mq-breakpoints: (
	mobile-s: 320px,
	mobile: 375px,
	tablet: 768px,
	tablet-album: 1200px,
	laptop: 1440px,
	laptop-x: 1600px,
	desktop: 1920px
);

$z-layers: (
	base: 1,
	select-list: 9,
	overlay: 10,
	modal: 11,
);

$transitions: (
	default: 0.3s ease-in-out,
	linear: 0.3s linear,
);

$border-radius: (
	card-desktop: .75rem,
	card-mobile: .5rem
);
