-
    var tableData = [
        {
            label: "Минимальная ставка по вкладу",
            value: "2,5% (гарантированная минимальная ставка по вкладу при значении ключевой ставки Банка России менее 2,5% или при досрочном закрытии вклада)."
        },
        {
            label: "Валюта вклада",
            value: "₽, российские рубли"
        },
        {
            label: "Срок размещения вклада",
            value: "250, 550 и 1100 дней"
        },
        {
            label: "Процентная ставка",
            value: "При заключении договора процентная ставка по вкладу устанавливается в зависимости от размера первоначального взноса по вкладу. <br><br><ul class='list list--size-l'><li>или путем перечисления на текущий счет Вкладчика, открытый в Банке, в том числе на текущий счет для проведения расчетов с использованием банковской карты с возможностью дальнейшего снятия начисленных процентов;</li><li>или путем присоединения начисленных процентов к сумме вклада (капитализация).</li></ul> <br>Вкладчик вправе изменить порядок выплаты процентов, подав в Банк соответствующее заявление по форме Банка. Измененный порядок выплаты процентов применяется, начиная с процентного периода, следующего за датой подачи указанного заявления. <br><br>Каждый последующий промежуточный период начисления процентов исчисляется с календарного дня, следующего за датой заключения договора банковского вклада."
        },
        {
            label: "Выплата процентов",
            value: "Выплата процентов, начисленных по вкладу, производится ежемесячно по истечении каждого месяца со дня внесения денежных средств во вклад, одним из способов по выбору Вкладчика: <br><br>Осуществление расходных операций по вкладу (снятие части денежных средств) не предусмотрено."
        },
        {
            label: "Пополнение и снятие",
            value: "Пополнение вклада возможно без ограничения сумм в течение всего срока вклада. <br><br>2,5% (гарантированная минимальная ставка по вкладу при значении ключевой ставки Банка России менее 2,5% или при досрочном закрытии вклада). <br><br>В случае досрочного востребования всей суммы вклада или её части проценты начисляются и выплачиваются по минимальной ставке за фактический срок вклада со дня, следующего за днем размещения вклада (дня начала очередного срока вклада - при продлении договора), по день досрочного возврата вклада или его части включительно)."
        },
        {
            label: "Прочее",
            value: "По желанию Вкладчика, заключившего с Банком договор вклада «Рантье» на сумму 1,5 млн. рублей и более, на основании письменного заявления Вкладчика на выпуск карты ему предоставляется одна банковская карта МИР Премиальная (за исключением карт «Всегда в плюсе») без взимания комиссии за обслуживание текущего счета карты в течение всего срока ее действия. <br><br>Возврат Вклада и причитающихся процентов осуществляется Банком путем перевода соответствующей суммы на Счет обслуживания вклада, открытый на имя Вкладчика в валюте Вклада. По требованию Вкладчика возврат Вклада может производиться наличными денежными средствами через кассу Банка."
        },
    ]

.table-tab.cell-2
    .table-tab__body
        each row in tableData
            .table-tab__row
                .table-tab__cell.text-l.fw-semibold.dark-70!= row.label
                .table-tab__cell.text-l!= row.value
