-
    var calculatorData = {
        rows: [
            {
                title: 'Срок вклада',
                value: '',
                additionalClass: 'js-calculator-deposit-period',
            },
            {
                title: 'Процентная ставка',
                value: '21 %',
                additionalClass: 'js-calculator-deposit-rate',
            },
            {
                title: 'Ваш доход составит',
                value: '6 238',
                currency: true,
                additionalClass: 'js-calculator-deposit-income',
            },
        ],
        btnText: 'Оформить заявку',
        notes: 'Калькулятор не&nbsp;гарантирует точность расчетов. Окончательные параметры вклада определяются по&nbsp;итогам рассмотрения заявки.'
    }

    var inputSliderList = [
        {
            label: 'Сумма вклада',
            id: 'deposit-amount',
            maxValue: 30000000,
            minValue: 10000,
            startValue: 1000000,
            stepSize: 5000,
            type: "price",
            editable: true,
            additionalClass: "js-input-amount"
        },
        {
            label: 'Срок вклада',
            id: 'deposit-period',
            startValue: 550,
            steps: '250, 550, 1100',
            type: "day",
            editable: false,
            additionalClass: "js-input-period"
        }
    ]

include ../../../components/ui/input/input-slider
include ../../../cards/card-calculate-result

.row.js-calculator-deposit(data-id="171511")
    .col-12.col-lg-6
        .tab-content.pe-xl-6
            .d-flex.flex-column.row-gap-4.row-gap-md-6.row-gap-lg-7
                each input in inputSliderList
                    +input-slider(input)

                .d-flex.flex-column.row-gap-4
                    .form-check
                        input#inp1(type="checkbox" value="").form-check-input
                        label(for="inp1").form-check-label
                            | Капитализация процентов на счет вклада

                    .form-check
                        input#inp2(type="checkbox" value="" data-target="replenishment" checked).form-check-input.js-replenishment
                        label(for="inp2").form-check-label
                            | Планируются пополнения суммы вклада
                #replenishment.d-flex.flex-column.row-gap-4.row-gap-md-6
                    .d-flex.flex-column.flex-md-row.gap-4.gap-lg-6
                        .d-flex.flex-column.row-gap-2.w-100
                            label(for="date1").form-label.mb-0
                                | Дата пополнения
                            .position-relative.w-100
                                input#date1(type="date" name="date1" placeholder="дд.мм.гг" disabled).form-control.form-control-lg
                                span.position-absolute.top-0.end-0.violet-70.text-m.p-3
                                    +svg-use("icon-calendar", "icon size-m")

                        .d-flex.flex-column.row-gap-2.w-100
                            label(for="sum1").form-label.mb-0
                                | Сумма пополнения
                            .position-relative.w-100
                                input#sum1(type="number" name="sum1").form-control.form-control-lg
                                span.currency.position-absolute.top-0.end-0.dark-70.text-m.p-3
                                    | ₽
                    button.btn.btn-link.btn-sm.btn-icon(type="button")
                        +svg-use("icon-plus", "icon size-s")
                        | Добавить пополнение
    .col-12.col-lg-6.mt-4.mt-md-6.mt-lg-0
        .ps-xxl-6
            +polygon-container()
                +card-calculate-result(calculatorData, 'bg-dark-10')
