---
import AInput from "../../ui/AInput/AInput.astro";
import AButton from "../../ui/Buttons/AButton.astro";

type Type = 'white' | 'light-blue';

interface Props {
	title?: string;
	description?: string;
	agreement?: string;
	type?: Type;
	useChat?: boolean;
}

const {
	title,
	description,
	agreement,
	type = 'white',
	useChat = false
} = Astro.props as Props;
---

<div class:list={[
	"form-call-me-back",
	`form-call-me-back--${type}`
]}>
	{
		title && description && (
			<div class="form-call-me-back__head">
				<div class="form-call-me-back__title headline-3">{ title }</div>
				<div class="form-call-me-back__description body-m-light">{ description }</div>
			</div>
		)
	}
	<form class="form-call-me-back__form" action="/" method="POST">
		<AInput label="Мобильный телефон" forId="mobile-phone" placeholder="+7" />
		<AButton full size="lm" type="button">Перезвоните мне</AButton>
	</form>
	{
		useChat && (
			<AButton beforeIcon="icon-chat" text size="lm">Написать в чат</AButton>
		)
	}
	{
		agreement && (
			<div class="form-call-me-back__agreement caption-m">{ agreement }</div>
		)
	}
</div>

<style lang="scss" is:global>
	@use "sass:map";
	@import "@styles/variables.scss";
	@import "@styles/media-queries";
	@import "@styles/functions.scss";

	.form-call-me-back {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		border-radius: 0.75rem;
		padding: 1.5rem 1rem;

		&__head {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		&__form {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			@include use-media(tablet) {
				gap: 1.5rem;
			}
		}

		&__agreement {
			color: var(--dark-70);
		}

		&.form-call-me-back--white {
			background-color: var(--dark-0);
		}

		&.form-call-me-back--light-blue {
			background-color: var(--blue-10);
		}

		@include use-media(tablet) {
			padding: 2rem;
			gap: 2.5rem;
		}

		@include use-media(tablet-album) {
			padding: 3rem;
		}
	}
</style>