.pb-footer {
    background-color: #131316;

    &__content {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;

        @include use-media(tablet-album) {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }

        &-phone p {
            color: #B0B7FE;

            @include use-media(desktop) {
                text-align: end;
            }
        }
    }
}