.pb-main-nav {
  padding-top: 4.5rem; // 72px - header height
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  @include use-media(tablet-album) {
    padding-top: 8rem; // 128px - header height
  }

  &__wrapper {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 1.5rem;
  }
}

.pb-nav {
  padding: 2.5rem 0;

  @include use-media(tablet) {
    padding: 4rem 0;
  }

  @include use-media(tablet-album) {
    padding: 5rem 0;
  }

  &__link {
    color: var(--dark-0);
    text-decoration: none;
    font-size: 1.375rem;
    line-height: 1.2;
    font-weight: 500;

    @include use-media(tablet) {
      font-size: 1.5rem;
      line-height: 1.3;
    }

    @include use-media(tablet-album) {
      font-size: 2rem;
    }
  }
}

.pb-overlay {
  position: fixed;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 11;
  background: radial-gradient(84.42% 84.42% at 50% 15.58%, rgba(55, 17, 106, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%);
  backdrop-filter: blur(1.25rem);
}
