.pb-services {
  &__header {
    border: none;

    & .nav-link {
      color: var(--dark-0);
      opacity: .5;
      font-size: 1.25rem;
      line-height: 1.2;
      font-weight: 500;
      padding: 0 0.5rem;
      border: none;
      border-radius: 0;

      &:hover {
        border: none !important;
      }

      &.active {
        color: var(--dark-0);
        opacity: 1;
        border: none;
      }
    }
  }
}
