-
    var tableData = [
        {
            label: "Первый и&nbsp;последующие годы обслуживания",
            value: ["Рубли РФ"]
        },
        {
            label: "Безналичная оплата товаров и&nbsp;услуг",
            value: ["20&nbsp;000 — 5&nbsp;000&nbsp;000"]
        },
        {
            label: "Комиссия за&nbsp;выдачу наличных денежных средств",
            value: ["Отсутствует"]
        },
        {
            label: "Срочное изготовление карты",
            value: ["Не требуется"]
        },
        {
            label: "Срок рассмотрения кредитной заявки",
            value: ["От&nbsp;двух до&nbsp;семи рабочих дней"]
        },
        {
            label: "Срок действия положительного решения Банка",
            value: ["30 календарных дней с&nbsp;даты принятия решения"]
        },
        {
            label: "Порядок погашения кредита",
            value: ["Ежемесячно в&nbsp;виде аннуитетных или дифференцированных платежей"]
        },
    ]

.table-tab.cell-2
    .table-tab__body
        each row in tableData
            .table-tab__row
                .table-tab__cell.text-l.fw-semibold.dark-70!= row.label
                .table-tab__cell.text-l!= row.value
