-
    var inputSliderList = [
        {
            label: 'Ваши покупки по карте в месяц',
            id: 'amount-bonus',
            maxValue: 500000,
            minValue: 5000,
            startValue: 5000,
            stepSize: 1000,
            type: "price",
            editable: true,
            isCalculator: true
        },
    ]

    var calculatorData = {
        rows: [
            {
                title: 'За год будет начислено',
                value: '600 бонусов',
                additionalClass: 'js-calculator-display-bonus',
            },
        ]
    }

include ../../components/ui/input/input-slider
include ../../cards/card-calculate-result

.row.px-lg-6.js-calculator-bonus(data-table="program_bonuses")
    .col-12.col-lg-6
        .pe-xl-6
            .d-flex.flex-column.row-gap-4.row-gap-md-6.row-gap-lg-7.js-input-bonus-wrapper
                each input in inputSliderList
                    +input-slider(input)

                .row.row-gap-4.row-gap-lg-6
                    .col-12.col-md-6
                        .d-flex.flex-column.row-gap-2
                            label(for="select-type").form-label.mb-0
                                | Тип карты
                            select#select-type(aria-label="Тип карты").form-select.js-select.js-card-type

                    .col-12.col-md-6
                        .d-flex.flex-column.row-gap-2
                            label(for="select-category").form-label.mb-0
                                | Категория основной карты
                            select#select-category(aria-label="Категория основной карты").form-select.js-select.js-card-category


    .col-12.col-lg-6.mt-4.mt-md-6.mt-lg-0
        .ps-xxl-6
            +polygon-container()
                +card-calculate-result(calculatorData, 'bg-gradient-violet').card-calculate-result--type-bonus
