-
    var pressReleases = [
        {
            tag: "Пресс-центр",
            date: "07.12.2023",
            title: "Новикомбанк рассказал о развитии финансовых инструментов",
            titleIsSmall: true
        },
        {
            tag: "Пресс-центр",
            date: "06.12.2023",
            title: "Новикомбанк и Республика Татарстан договорились о сотрудничестве",
            titleIsSmall: true
        },
        {
            tag: "Союз машиностроителей",
            date: "27.11.2023",
            title: "При поддержке Новикомбанка Росэлектроника начала серийный выпуск KVM-коммутаторов для удаленного управления оборудованием",
            titleIsSmall: true
        },
        {
            tag: "Пресс-центр",
            date: "20.11.2023",
            title: "Новикомбанк и Республика Татарстан договорились о сотрудничестве",
            titleIsSmall: true
        },
        {
            tag: "Союз машиностроителей",
            date: "05.11.2023",
            title: "При поддержке Новикомбанка Росэлектроника начала серийный выпуск KVM-коммутаторов для удаленного управления оборудованием",
            titleIsSmall: true
        },
    ]

section.section-layout.pt-0
    .container
        .d-flex.align-items-end.ps-lg-6.mb-6.mb-lg-7
            h3 Новости
            a(href="#").violet-100.d-flex.align-items-center.gap-2.ms-auto
                span.d-none.d-md-inline.text-s.fw-semibold Пресс-центр
                +svg-use('icon-chevron-right', 'icon size-m')
        .swiper.js-slider-cards.slider-cards(data-slides-per-view="mobile-s:1,mobile:1,tablet:2,laptop:3,laptop-x:3" data-space-between="mobile-s:8,mobile:8,tablet:8,laptop:8,laptop-x:8")
            .swiper-wrapper.js-swiper-wrapper
                each item in pressReleases
                    .swiper-slide.js-swiper-slide
                        +card-special(item)

            +slider-controls().mt-3.mt-md-4
