-
    const tabsList = [
        {
            link: '#1',
            linkText: 'Все вклады',
            isActive: true
        },
        {
            link: '#2',
            linkText: 'С растущей ставкой',
        },
        {
            link: '#3',
            linkText: 'С пополнением',
        },
        {
            link: '#4',
            linkText: 'Со снятием',
        },
        {
            link: '#5',
            linkText: 'С капитализацией',
        },
        {
            link: '#6',
            linkText: 'Пенсионерам',
        }
    ]

    var allContributions = [
        {
            title: 'Рантье',
            description: 'Процент зависит от размера ключевой ставки Банка России',
            imgSrc: 'big-illustrations/large-individual/contribution-rentier.png',
            links: [],
            tagText: '',
            textButton: 'Оформить заявку',
            conditions: [
                {
                    startText: '',
                    beforeText: 'до',
                    text: '16,5%',
                    afterText: '',
                    currency: '',
                    description: 'Процентная ставка'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '10 000',
                    afterText: '',
                    currency: '₽',
                    description: 'Сумма'
                },
                {
                    startText: '',
                    beforeText: '',
                    text: '250, 550, 1100',
                    afterText: 'дней',
                    currency: '',
                    description: 'Срок'
                }
            ]
        },
        {
            title: 'Перспектива',
            description: 'Вклад под высокий процент',
            imgSrc: 'big-illustrations/large-individual/contribution-perspective.png',
            links: [],
            tagText: '',
            textButton: 'Оформить заявку',
            conditions: [
                {
                    startText: '',
                    beforeText: 'до',
                    text: '18%',
                    afterText: '',
                    currency: '',
                    description: 'Процентная ставка'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '10 000',
                    afterText: '',
                    currency: '₽',
                    description: 'Сумма'
                },
                {
                    startText: '',
                    beforeText: '',
                    text: '220',
                    afterText: 'дней',
                    currency: '',
                    description: 'Срок'
                }
            ]
        },
        {
            title: 'Рост',
            description: 'Накопительный вклад с ежемесячной выплатой дохода и растущей процентной ставкой',
            imgSrc: 'big-illustrations/large-individual/contribution-height.png',
            links: [],
            tagText: '',
            textButton: '',
            conditions: [
                {
                    startText: '',
                    beforeText: 'до',
                    text: '10%',
                    afterText: '',
                    currency: '',
                    description: 'Процентная ставка'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '10 000',
                    afterText: '',
                    currency: '₽',
                    description: 'Сумма'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '61',
                    afterText: 'дня',
                    currency: '',
                    description: 'Срок'
                }
            ]
        },
        {
            title: 'Комфорт',
            description: 'Вклад с высокой процентной ставкой и выплатой дохода в конце срока',
            imgSrc: 'big-illustrations/large-individual/contribution-comfort.png',
            links: [],
            tagText: '',
            textButton: '',
            conditions: [
                {
                    startText: '',
                    beforeText: 'до',
                    text: '11%',
                    afterText: '',
                    currency: '',
                    description: 'Процентная ставка'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '3 500 000',
                    afterText: '',
                    currency: '₽',
                    description: 'Сумма'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '730',
                    afterText: 'дней',
                    currency: '',
                    description: 'Срок'
                }
            ]
        },
        {
            title: 'Premium Рост',
            description: 'Накопительный вклад с ежемесячной выплатой дохода и растущей процентной ставкой',
            imgSrc: 'big-illustrations/large-individual/contribution-height_premium.png',
            links: [],
            tagText: '',
            textButton: '',
            conditions: [
                {
                    startText: '',
                    beforeText: 'до',
                    text: '10%',
                    afterText: '',
                    currency: '',
                    description: 'Процентная ставка'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '3 500 000',
                    afterText: '',
                    currency: '₽',
                    description: 'Сумма'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '61',
                    afterText: 'дня',
                    currency: '',
                    description: 'Срок'
                }
            ]
        },
        {
            title: 'Premium Комфорт',
            description: 'Пополняемый вклад с возможностью расходования денежных средств',
            imgSrc: 'big-illustrations/large-individual/contribution-comfort-premium.png',
            links: [],
            tagText: '',
            textButton: '',
            conditions: [
                {
                    startText: '',
                    beforeText: 'до',
                    text: '11%',
                    afterText: '',
                    currency: '',
                    description: 'Процентная ставка'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '3 500 000',
                    afterText: '',
                    currency: '₽',
                    description: 'Сумма'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '181',
                    afterText: 'дня',
                    currency: '',
                    description: 'Срок'
                }
            ]
        },
        {
            title: 'Капитал',
            description: 'Вклад с высокой процентной ставкой и выплатой дохода в конце срока',
            imgSrc: 'big-illustrations/large-individual/contribution-capital.png',
            links: [],
            tagText: '',
            textButton: '',
            conditions: [
                {
                    startText: '',
                    beforeText: 'до',
                    text: '13%',
                    afterText: '',
                    currency: '',
                    description: 'Процентная ставка'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '1 000 000',
                    afterText: '',
                    currency: '₽',
                    description: 'Сумма'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '730',
                    afterText: 'дней',
                    currency: '',
                    description: 'Срок'
                }
            ]
        },
        {
            title: 'Premium Капитал',
            description: 'Вклад с высокой процентной ставкой и выплатой дохода в конце срока',
            imgSrc: 'big-illustrations/large-individual/contribution-capital-premium.png',
            links: [],
            tagText: '',
            textButton: '',
            conditions: [
                {
                    startText: '',
                    beforeText: 'до',
                    text: '11%',
                    afterText: '',
                    currency: '',
                    description: 'Процентная ставка'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '3 500 000',
                    afterText: '',
                    currency: '₽',
                    description: 'Сумма'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '91',
                    afterText: 'дня',
                    currency: '',
                    description: 'Срок'
                }
            ]
        },
        {
            title: 'Капитал Социальный',
            description: 'Вклад с повышенной процентной ставкой и выплатой дохода в конце срока',
            imgSrc: 'big-illustrations/large-individual/contribution-capital-social.png',
            links: [],
            tagText: '',
            textButton: '',
            conditions: [
                {
                    startText: '',
                    beforeText: 'до',
                    text: '13%',
                    afterText: '',
                    currency: '',
                    description: 'Процентная ставка'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '1 000 000',
                    afterText: '',
                    currency: '₽',
                    description: 'Сумма'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '730',
                    afterText: 'дней',
                    currency: '',
                    description: 'Срок'
                }
            ]
        },
        {
            title: 'До востребования',
            description: 'Процент зависит от размера ключевой ставки Банка России',
            imgSrc: 'big-illustrations/large-individual/contribution-demand-deposit.png',
            links: [],
            tagText: '',
            textButton: '',
            conditions: [
                {
                    startText: '',
                    beforeText: 'до',
                    text: '0,10%',
                    afterText: '',
                    currency: '',
                    description: 'Процентная ставка'
                },
                {
                    startText: '',
                    beforeText: 'от',
                    text: '500',
                    afterText: '',
                    currency: '₽',
                    description: 'Сумма'
                },
                {
                    startText: '',
                    beforeText: '',
                    text: 'Не ограничен',
                    afterText: '',
                    currency: '',
                    description: 'Срок'
                }
            ]
        },
    ]

include ../../cards/card-product-list
include ../../components/ui/tabs

section.section-catalog__tabs.mb-4.mb-md-6.mb-lg-7
    .container
        .row
            .col-12
                +tabs(
                    tabsList,
                    "section-catalog__tab-list",
                    "section-catalog__tab-list-item"
                )

section.section-catalog__list
    .container
        .row
            .col-12.position-relative.z-1.d-flex.flex-column.align-items-start.gap-4.gap-md-6.gap-lg-7
                each item in allContributions
                    +card-product-list(item)
