section.section-layout.section-feedback.bg-blue-10
    .container
        .section-feedback__content.d-grid.align-items-start.gap-5.row-gap-md-6.column-gap-md-5.column-gap-lg-6
            .d-flex.flex-column.align-items-start.gap-5.gap-md-6.ps-lg-6
                .d-flex.flex-column.gap-3.gap-lg-4
                    h3 Остались вопросы
                    p.text-l.mb-0
                        | Оставьте свой телефон и&nbsp;мы&nbsp;перезвоним вам, либо задайте вопрос в&nbsp;чате
            .d-flex.flex-column.align-items-start.gap-5.gap-md-6.ps-lg-6
                button.btn.btn-info.w-100.w-lg-auto(type="button") Открыть чат
                p.text-s.dark-70.mb-0
                    | Нажимая кнопку &laquo;Перезвоните мне&raquo;, вы&nbsp;соглашаетесь с&nbsp;условиями предоставления информации
            form.form-feedback.bg-white(action="/", method="POST")
                div
                    label.form-label(for="mobile-phone") Мобильный телефон
                    input#mobile-phone.form-control.form-control-lg-lg.js-mask-phone(type="text" aria-describedby="mobile-phone-hint" placeholder="+7" )
                button.btn.btn-primary.btn-lg-lg.w-100(type="button")
                    | Перезвоните мне
    +pattern-bg('section-heavy', 'light', 'pattern-bg--position-top')
