-
    var cardSaleList = [
        {
            href: "#",
            title: "Топливо",
            text: "7% кешбэк",
            img: "cars.png"
        },
        {
            href: "#",
            title: "Аптеки",
            text: "5% кешбэк",
            img: "sport.png"
        },
        {
            href: "#",
            title: "Авиабилеты",
            text: "5% кешбэк",
            img: "travel.png"
        },
        {
            href: "#",
            title: "Детские товары",
            text: "5% кешбэк",
            img: "travel.png"
        },
        {
            href: "#",
            title: "Гостиницы, отели",
            text: "5% кешбэк",
            img: "sport.png"
        },

        {
            href: "#",
            title: "Покупки",
            text: "7% кешбэк",
            img: "buy.png"
        },
        {
            href: "#",
            title: "Спорт, красота, здоровье",
            text: "5% кешбэк",
            img: "sport.png"
        },
        {
            href: "#",
            title: "Автомобили и сервис",
            text: "5% кешбэк",
            img: "cars.png"
        },
    ]

include ../../cards/card-sale

.row.px-lg-6
    .col-12
        .swiper.slider-cards.js-slider-cards(data-slides-per-view="mobile-s:1.5,mobile:1.5,tablet:3,tablet-album:4,laptop:5,laptop-x:5" data-space-between="mobile-s:16,mobile:16,tablet:16,laptop:40,laptop-x:40")
            +slider-controls().mb-3.mb-md-4
            .swiper-wrapper
                each item in cardSaleList
                    .swiper-slide.js-swiper-slide
                        +card-sale(item)

