-
    var cardProductList = [
        {
            color: 'green',
            tag: 'Частным клиентам',
            title: 'Вклад «Рантье»',
            img: 'large-individual/contribution-rentier.png',
            button: 'Открыть вклад',
            subtitle: {
                before: 'до',
                number: '15,5%',
            }
        },
        {
            color: 'orange',
            tag: 'Корпоративным клиентам',
            title: 'Резервирование <br>счетов',
            img: 'large-corporate/account-reservation.png',
            button: 'Подать заявку',
            description: 'Дистанционная подача заявки на&nbsp;открытие расчетного счета'
        },
        {
            color: 'yellow',
            tag: 'Малому и среднему бизнесу',
            title: 'Экспресс-гарантии <br>44-ФЗ, 223-ФЗ',
            img: 'large-corporate/guarantees.png',
            button: 'Подать заявку',
            description: 'Принятие решения за&nbsp;1 день, до&nbsp;30&nbsp;000&nbsp;000&nbsp;рублей, без залога'
        },
        {
            color: 'green',
            tag: 'Частным клиентам',
            title: 'Платежный стикер <br>&laquo;Мир&raquo;',
            img: 'large-individual/payment-sticker.png',
            button: 'Подробнее',
            description: 'Полноценная банковская карта с&nbsp;NFC-чипом'
        },
        {
            color: 'yellow',
            tag: 'Малому и среднему бизнесу',
            title: 'Экспресс-гарантии <br>44-ФЗ, 223-ФЗ',
            img: 'large-corporate/guarantees.png',
            button: 'Подать заявку',
            description: 'Принятие решения за&nbsp;1 день, до&nbsp;30&nbsp;000&nbsp;000&nbsp;рублей, без залога'
        }
    ]

include ../../cards/card-product

.swiper.slider-cards.js-slider-cards(data-slides-per-view="mobile-s:1,mobile:1,tablet:2,laptop:2,laptop-x:3" data-space-between="mobile-s:8,mobile:8,tablet:16,laptop:16,laptop-x:40")
    .swiper-wrapper
        each item in cardProductList
            .swiper-slide.js-swiper-slide
                +card-product(item)

    .slider-controls.js-swiper-controls.mt-3.mt-md-4
        div.slider-controls__pagination.js-swiper-pagination
        div.slider-controls__navigation.js-swiper-nav
            button.swiper-button-prev.js-swiper-prev(type="button")
                span.icon.size-m
                    +svg-use("icon-chevron-left")

            button.swiper-button-next.js-swiper-next(type="button")
                span.icon.size-m
                    +svg-use("icon-chevron-right")
