-
    var cardsListBenefit = [
        {
            title: 'Оплата в&nbsp;одно касание',
            description: 'Бесконтактная технология оплаты покупок MirPay',
            sprite: {
                name: 'icon-a-mir-payment',
                classList: 'size-md-xxl'
            },
        },
        {
            title: 'Оплата с&nbsp;помощью смартфона',
            description: 'MirPay и&nbsp;СБПей для смартфонов на&nbsp;ОС&nbsp;Android',
            sprite: {
                name: 'icon-a-mobile-payment',
                classList: 'size-md-xxl'
            },
        },
        {
            title: 'Мир&nbsp;Accept (3D-Secure)',
            description: 'Современная технология защиты для безопасных покупок в&nbsp;интернете',
            sprite: {
                name: 'icon-a-mobile-ready',
                classList: 'size-md-xxl'
            },
        },
        {
            title: 'Оплата в&nbsp;одно касание',
            description: 'Бесконтактная технология оплаты покупок MirPay',
            sprite: {
                name: 'icon-a-mir-payment',
                classList: 'size-md-xxl'
            },
        },
        {
            title: 'Оплата с&nbsp;помощью смартфона',
            description: 'MirPay и&nbsp;СБПей для смартфонов на&nbsp;ОС&nbsp;Android',
            sprite: {
                name: 'icon-a-mobile-payment',
                classList: 'size-md-xxl'
            },
        },
        {
            title: 'Мир&nbsp;Accept (3D-Secure)',
            description: 'Современная технология защиты для безопасных покупок в&nbsp;интернете',
            sprite: {
                name: 'icon-a-mobile-ready',
                classList: 'size-md-xxl'
            },
        },
    ]

include ../../cards/card-benefit

.swiper.slider-cards.js-slider-cards(data-slides-per-view="mobile-s:1,mobile:1,tablet:2,laptop:2,laptop-x:3" data-space-between="mobile-s:8,mobile:8,tablet:16,laptop:16,laptop-x:16")
        .swiper-wrapper
            each item in cardsListBenefit
                .swiper-slide.js-swiper-slide
                    +card-benefit(item)

        +slider-controls().mt-3.mt-md-4
