extends ../templates/base

block title
    title= 'Частные клиенты'
    meta(name="description" content="Описание главной страницы")
block content
    include ../includes/header/header
    include ../components/banner-hero
    include ../cards/card-service
    include ../cards/card-service-app

    section.section-layout
        .container
            h3.px-lg-6.mb-6.mb-lg-7
                | Предложения банка Новиком
            include ../includes/layout/slider-card-product

    section.section-layout.bank-service-layout
        .container
            .bank-service-layout__wrapper
                .bank-service-layout__services
                    .swiper.js-slider-cards(data-slides-per-view="mobile-s:1,mobile:1,tablet:3,laptop:3,laptop-x:3" data-space-between="mobile-s:8,mobile:8,tablet:8,laptop:8,laptop-x:8")
                        .swiper-wrapper.js-swiper-wrapper
                            -
                                var cardServiceList = [
                                    {
                                        href: "#",
                                        title: "Интернет-банк",
                                        icon: "icon-a-web-bank"
                                    },
                                    {
                                        href: "#",
                                        title: "Кредиты",
                                        icon: "icon-a-money"
                                    },
                                    {
                                        href: "#",
                                        title: "Ипотека",
                                        icon: "icon-a-house"
                                    }
                                ]
                            each card in cardServiceList
                                .swiper-slide.js-swiper-slide
                                    +card-service(card)

                        .slider-controls.js-swiper-controls.mt-3.mt-md-0
                            div.slider-controls__pagination.js-swiper-pagination
                            div.slider-controls__navigation.js-swiper-nav
                                button.swiper-button-prev.js-swiper-prev(type="button")
                                    span.icon.size-m
                                        +svg-use("icon-chevron-left")

                                button.swiper-button-next.js-swiper-next(type="button")
                                    span.icon.size-m
                                        +svg-use("icon-chevron-right")
                .bank-service-layout__salary
                    .card-service-salary
                        .card-service-salary__content
                            h3 Зарплатная карта
                            .d-flex.flex-wrap.column-gap-6.row-gap-4.column-gap-md-7
                                a.btn.btn-link.btn-lg-lg.text-info.btn-icon(href="#")
                                    | Кешбэк
                                    +svg-use("icon-arrow-right", "icon size-m")
                                a.btn.btn-link.btn-lg-lg.text-info.btn-icon(href="#")
                                    | Бонусы
                                    +svg-use("icon-arrow-right", "icon size-m")
                                a.btn.btn-link.btn-lg-lg.text-info.btn-icon(href="#")
                                    | Акции
                                    +svg-use("icon-arrow-right", "icon size-m")
                        +pattern-bg('card', 'dark')
                        +pattern-bg('card', 'dark', 'card-service-salary__desktop-pattern')
                .bank-service-layout__app
                    +card-service-app({
                        title: "Мобильное приложение",
                        benefits: [
                            {
                                icon: "icon-mobile",
                                text: "Управление кешбэком и&nbsp;бонусами"
                            },
                            {
                                icon: "icon-time",
                                text: "Доступ к&nbsp;услугам банка 24/7"
                            },
                            {
                                icon: "icon-cash",
                                text: "Платежи и&nbsp;переводы без комиссии"
                            }
                        ]
                    })
                        a(href="#").btn.btn-info.d-none.d-md-inline-flex.align-items-center
                            img(src="img/app-logos/ru-store.svg" width="94" height="24" alt="RuStore" loading="lazy")
                        a(href="#").btn.btn-info.d-none.d-md-inline-flex.align-items-center
                            img(src="img/app-logos/ru-market.svg" width="120" height="28" alt="RuMarket" loading="lazy")
                        a(href="#").btn.btn-info.d-none.d-md-inline-flex.align-items-center
                            img(src="img/app-logos/nash-store.svg" width="112" height="18" alt="NashStore" loading="lazy")
                        a(href="#").btn.btn-info.btn-icon.d-none.d-md-inline-flex
                            | Скачать
                            +svg-use("icon-download", "icon size-m")
                        a(href="#").btn.btn-sm.btn-info.btn-icon.d-md-none
                            | Скачать
                            +svg-use("icon-download-small", "icon size-s")



    include ../includes/layout/section-feedback
