extends ../templates/base

block title
    title= 'Частные клиенты'
    meta(name="description" content="Описание главной страницы")
block content
    include ../includes/header/header
    include ../components/banner-hero

    section.section-layout
        .container
            h3.px-lg-6.mb-6.mb-lg-7
                | Предложения банка Новиком
            include ../includes/layout/slider-card-product

    include ../includes/layout/section-feedback
