extends ../templates/base

block title
    title= 'Перечень страховых компаний'
    meta(name="description" content="Описание страницы с перечнем страховых компаний")
block content
    -
        var bannerTextData = {
            title: "Перечень <br>страховых компаний",
            breadcrumbsArray: [
                {linkText: "Частным клиентам", link: "/"},
                {linkText: "Услуги", link: "/"}
            ],
            description: "В настоящее время Банком заключены агентские договоры со страховыми компаниями — «Абсолют Страхование», «Согласие», «СОГАЗ», «ВСК», «Энергогарант», «Югория».",
        }

        var accordionList = [
            {
                id: 11,
                title: '«Абсолют Страхование»',
                content: '',
            },
            {
                id: 12,
                title: '«Страховая Компания «Согласие»',
                content: `Общество с ограниченной ответственностью «Страховая Компания «Согласие».<br><br> С информацией о лицензиях Страховщика на право осуществления страховой деятельности, выданных Банком России, можно ознакомиться <a class='link text-decoration-underline' href='#' target='_blank'>здесь</a><br><br> С информацией о членстве Страховщика в саморегулируемых организациях — <a class='link text-decoration-underline' href='#' target='_blank'>по ссылке</a><br><br> С адресом места нахождения Страховщика и его офисов; контактными телефонами Страховщика и его офисов можно ознакомиться <a class='link text-decoration-underline' href='#' target='_blank'>здесь</a><br><br> С информацией о членах Совета директоров, Генеральном директоре и Главном бухгалтере Страховщика можно ознакомиться <a class='link text-decoration-underline' href='#' target='_blank'>здесь</a><br><br> С информацией о перечне осуществляемых Страховщиком видах страхования можно ознакомиться <a class='link text-decoration-underline' href='#' target='_blank'>здесь</a><br><br> С информацией о способах защиты прав получателей страховых услуг, включая информацию о наличии возможности и способах досудебного урегулирования спора, в том числе о процедуре медиации можно ознакомиться <a class='link text-decoration-underline' href='#' target='_blank'>по ссылке</a><br><br> Орган, осуществляющий полномочия по контролю и надзору за страховой деятельностью страховых организаций — Центральный банк Российской Федерации (Банк России), официальный сайт Банка России - <a class='link text-decoration-underline' href='https://www.cbr.ru/' target='_blank'>https://www.cbr.ru/</a><br><br> Информация о способах и адресах для направления обращений получателей страховых услуг в адрес Страховщика указана <a class='link text-decoration-underline' href='#' target='_blank'>по ссылке</a><br><br> Информация о способах и адресах для направления обращений получателей страховых услуг в органы, осуществляющие полномочия по контролю и надзору за деятельностью страховых организаций, в саморегулируемую организацию указана <a class='link text-decoration-underline' href='#' target='_blank'>по ссылке</a><br><br> По вопросам качества обслуживания просим обращаться в Отдел по работе с обращениями клиентов ООО «СК «Согласие» по телефону контактного центра или по электронной почте claims@soglasie.ru.<br> Адрес: 129110, Москва, ул. Гиляровского, д. 42. (495) 739-01-01, www.soglasie.ru, info@soglasie.ru<br> Р/с 40701810300000013333 в ПАО "Росбанк" г. Москвы, БИК 044525256, к/с № 30101810000000000256 в ОПЕРУ г. Москвы № 35, ОГРН 1027700032700 ИНН 7706196090, КПП 770201001 Лицензии ЦБ РФ от 25.05.2015 г.: СИ № 1307, СЛ № 1307, ОС № 1307-03, ОС № 1307-04, ОС № 1307-05, ПС № 1307`,     
                contentTitle: 'Информация о Страховщике:',
                isOpen: true
            },
            {
                id: 13,
                title: 'Страхование ОСАГО',
                content: '',
            },
            {
                id: 14,
                title: 'АО «СОГАЗ»',
                content: '',
            },
            {
                id: 15,
                title: 'ВСК Страховой дом',
                content: `Ознакомиться с информацией в соответствии с п. 2.1.1 «Базового стандарта защиты прав и интересов физических и юридических лиц – получателей финансовых услуг, оказываемых членами саморегулируемых организаций, объединяющих страховые организации» можно на <a class='link text-decoration-underline' href='#' target='_blank'>сайте САО «ВСК»</a><br><br> С информацией, которая должна предоставляться страхователю при заключении договора страхования в соответствии с требованиями «Базового стандарта защиты прав и интересов физических и юридических лиц – получателей финансовых услуг, оказываемых членами саморегулируемых организаций, объединяющих страховые организации» можно ознакомиться <a class='link text-decoration-underline' href='#' target='_blank'>на сайте САО «ВСК»</a> (пункт 2.1.2 Базового стандарта)`,
                isOpen: true
            },
            {
                id: 16,
                title: 'СК «Энергогарант»',
                content: '',
            },
            {
                id: 17,
                title: 'ГСК «Югория»',
                content: '',
            }
        ]

    include ../includes/header/header
    include ../components/document-download
    include ../components/ui/accordion-item
    include ../components/banners/banner-text

    +banner-text(
        bannerTextData,
        "green",
        "bg-heavy-violet"
    )

    section.section-layout.px-lg-6
        .container
            .row.row-gap-5.row-gap-md-6.row-gap-lg-7
                .col-12
                    .accordion.accordion--size-lg.accordion--bg-transparent#accordion-insurance-companies
                        each item in accordionList
                            +accordion-item(item, 'accordion-insurance-companies', 'fw-bold h4')
                                if item.contentTitle
                                    .text-l.fw-bold.mb-3!= item.contentTitle
                                p.text-l.mb-0.dark-100!= item.content
        +pattern-bg('section-2', 'light', 'pattern-bg--position-sm-top')