extends ../templates/base

block title
    title= 'Частные клиенты - Кредиты'
    meta(name="description" content="Описание страницы с кредитами")
block content
    -
        var cardProductList = [
            {
                color: 'green',
                tag: 'Частным клиентам',
                title: 'Вклад «Рантье»',
                img: 'big-illustrations/large-individual/contribution-rentier.png',
                button: 'Открыть вклад',
                subtitle: {
                    before: 'до',
                    number: '15,5%',
                }
            },
            {
                color: 'green',
                tag: 'Частным клиентам',
                title: 'IT-ипотека',
                img: 'large-individual/it-mortgage.png',
                button: 'Оформить',
                subtitle: {
                    before: 'от',
                    number: '4,8%',
                }
            },
            {
                color: 'green',
                tag: 'Частным клиентам',
                title: 'Платежный стикер <br>&laquo;Мир&raquo;',
                img: 'large-individual/payment-sticker.png',
                button: 'Подробнее',
                description: 'Полноценная банковская карта с&nbsp;NFC-чипом'
            },
            {
                color: 'green',
                tag: 'Частным клиентам',
                title: 'IT-ипотека',
                img: 'large-individual/it-mortgage.png',
                button: 'Оформить',
                subtitle: {
                    before: 'от',
                    number: '4,8%',
                }
            },
            {
                color: 'green',
                tag: 'Частным клиентам',
                title: 'IT-ипотека',
                img: 'large-individual/it-mortgage.png',
                button: 'Оформить',
                subtitle: {
                    before: 'от',
                    number: '4,8%',
                }
            }
        ]

        var bannerTextData = {
            title: "Кредиты",
            breadcrumbsArray: [
                {linkText: "Частным клиентам", link: "/"}
            ],
            description: "Быстрые кредиты по оптимальной ставке на любые цели"
        }

    include ../cards/card-product
    include ../includes/header/header
    include ../components/banners/banner-text
    include ../includes/layout/slider-card-product

    +banner-text(
        bannerTextData,
        "green"
    )

    section.section-catalog.d-flex.flex-column.py-6.py-sm-9.py-md-11
        include ../includes/layout/section-loans-catalog

    section.section-layout
        .container
            h3.px-lg-6.mb-4.mb-md-6.mb-lg-7
                | Смотрите также
            +slider-card-product(cardProductList)

    include ../includes/layout/section-feedback
