extends ../templates/base

block title
    title= 'Частные клиенты - Ипотеки'
    meta(name="description" content="Описание страницы с ипотеками")
block content
    -
        var bannerTextData = {
            title: "Ипотечные программы",
            breadcrumbsArray: [
                {linkText: "Частным клиентам", link: "/"}
            ],
            description: ""
        }

    include ../cards/card-product
    include ../includes/header/header
    include ../components/banners/banner-text
    include ../includes/layout/slider-card-product

    +banner-text(
        bannerTextData,
        "green"
    )

    section.section-catalog.d-flex.flex-column.gap-7.py-6.py-sm-9.py-md-11
        include ../includes/layout/section-mortgages-catalog

    section.section-layout
        .container
            h3.px-lg-6.mb-4.mb-md-6.mb-lg-7
                | Смотрите также
            +slider-card-product()


    include ../includes/layout/section-feedback
