extends ../templates/base-no-footer

block title
    title= 'Офисы и банкоматы'
    meta(name="description" content="Описание страницы")
block content
    include ../includes/header/header
    section.border-top.border-blue10.section-office
        .map-wrapper
        .map-content
            .d-flex.flex-column.row-gap-4
                .d-flex.gap-3
                    h5 Офисы и&nbsp;банкоматы
                    +svg-use('icon-close', 'icon size-m')

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eligendi, magnam maxime mollitia quia quisquam repellat tempore. A accusamus culpa eius facilis fugiat fugit, hic libero maxime natus nemo officia officiis, perferendis quasi quisquam sint soluta sunt ut vero voluptatem voluptates. Aliquid assumenda culpa dolores hic, illo modi nam quasi qui similique? Accusamus consequatur cupiditate debitis delectus deserunt dolore eos eveniet facilis illo iusto magni minima, modi molestias neque nesciunt ratione sed sequi ut velit veritatis voluptas voluptatibus voluptatum? Et impedit molestias quae quia unde vero voluptatem. Ad alias aspernatur, delectus ducimus eum nesciunt, nobis nulla quia, ratione repudiandae sunt!
