extends ../templates/base

block title
    title= 'Прочие сервисы'
    meta(name="description" content="Описание страницы с прочими сервисами")
block content

    include ../cards/card-text
    include ../cards/card-product
    include ../cards/card-tariff
    include ../includes/header/header
    include ../components/banners/banner-text
    include ../components/ui/tabs
    include ../components/ui/tabs-simple
    include ../components/tabs-with-content
    include ../components/benefit

    -
        var allTabsContent = [
            {
                href: '#',
                benefits: [
                    {
                        spriteName: {
                            name: 'icon-a-date',
                            classList: 'size-xl'
                        },
                        title: 'Быстро',
                        description: 'Услуга доступна в любой точке планеты круглосуточно, 365 дней в году. Клиент всегда получит ответ, специалисты всегда на связи!',
                    },
                    {
                        spriteName: {
                            name: 'icon-a-money',
                            classList: 'size-xl'
                        },
                        title: 'Удобно',
                        description: 'Решить интересующий вопрос и пообщаться со специалистом&nbsp;можно любым удобным способом: по многоканальному телефону, Skype e-mail, через личный кабинет.',
                    },
                    {
                        spriteName: {
                            name: 'icon-a-low-percent',
                            classList: 'size-xl'
                        },
                        title: 'Выгодно',
                        description: 'Стоимость годового обслуживания в рамках сертификата «Теледоктор 24» в среднем в 2 раза ниже разовой консультации у врача.',
                    },
                ],
                tariffsTitle: "Тарифные планы Теледоктор 24",
                tariffs: [
                    {
                        title: "Лайт",
                        bgClass: "bg-dark-10",
                        list: [
                            {
                                title: "Устная консультация с российскими врачами",
                                text: "6 в год"
                            },
                            {
                                title: "Видеоконсультация с российскими врачами",
                                text: "Да"
                            },
                            {
                                title: "Второе мнение",
                                text: "1 в год"
                            },
                            {
                                title: "Медориентирование",
                                text: "1 в год"
                            },
                            {
                                title: "Медюрист",
                                text: "Нет"
                            },
                            {
                                title: "Аптека",
                                text: "Нет"
                            },
                            {
                                title: "Скорая помощь",
                                text: "Без ограничений"
                            },
                            {
                                title: "Количество пользователей",
                                text: "1"
                            },
                            {
                                title: "Звонки по 8-800, скайпу",
                                text: "Да"
                            },
                            {
                                title: "Личный кабинет",
                                text: "Да"
                            },
                            {
                                title: "Срок действия",
                                text: "1 год"
                            },
                            {
                                title: "Стоимость услуг Компании в год (НДС не облагается в соответствии с п. 2 ст. 346.11 гл. 26.2 НК РФ в связи с применением упрощенной системы налогообложения)",
                                text: "1000 рублей"
                            },
                        ]
                    },
                    {
                        title: "Стандарт",
                        bgClass: "bg-purple-10",
                        list: [
                            {
                                title: "Устная консультация с российскими врачами",
                                text: "12 в год"
                            },
                            {
                                title: "Видеоконсультация с российскими врачами",
                                text: "1 в год"
                            },
                            {
                                title: "Второе мнение",
                                text: "1 в год"
                            },
                            {
                                title: "Медориентирование",
                                text: "3 в год"
                            },
                            {
                                title: "Медюрист",
                                text: "12 в год"
                            },
                            {
                                title: "Аптека",
                                text: "12 в год"
                            },
                            {
                                title: "Скорая помощь",
                                text: "Без ограничений"
                            },
                            {
                                title: "Количество пользователей",
                                text: "1"
                            },
                            {
                                title: "Звонки по 8-800, скайпу",
                                text: "Да"
                            },
                            {
                                title: "Личный кабинет",
                                text: "Да"
                            },
                            {
                                title: "Срок действия",
                                text: "1 год"
                            },
                            {
                                title: "Стоимость услуг Компании в год (НДС не облагается в соответствии с п. 2 ст. 346.11 гл. 26.2 НК РФ в связи с применением упрощенной системы налогообложения)",
                                text: "1500 рублей"
                            },
                        ]
                    },
                    {
                        title: "Семейный",
                        bgClass: "bg-blue-10",
                        list: [
                            {
                                title: "Устная консультация с российскими врачами",
                                text: "Без ограничений"
                            },
                            {
                                title: "Видеоконсультация с российскими врачами",
                                text: "До 3 в год"
                            },
                            {
                                title: "Второе мнение",
                                text: "Без ограничений"
                            },
                            {
                                title: "Медориентирование",
                                text: "Без ограничений"
                            },
                            {
                                title: "Медюрист",
                                text: "Без ограничений"
                            },
                            {
                                title: "Аптека",
                                text: "Без ограничений"
                            },
                            {
                                title: "Скорая помощь",
                                text: "Без ограничений"
                            },
                            {
                                title: "Количество пользователей",
                                text: "До 3"
                            },
                            {
                                title: "Звонки по 8-800, скайпу",
                                text: "Да"
                            },
                            {
                                title: "Личный кабинет",
                                text: "Да"
                            },
                            {
                                title: "Срок действия",
                                text: "1 год"
                            },
                            {
                                title: "Стоимость услуг Компании в год (НДС не облагается в соответствии с п. 2 ст. 346.11 гл. 26.2 НК РФ в связи с применением упрощенной системы налогообложения)",
                                text: "2500 рублей"
                            },
                        ]
                    }
                ]
            },
            {
                href: '#',
                tariffsTitle: "Тарифные планы Налоговый помощник",
                tariffs: [
                    {
                        title: "Участие",
                        bgClass: "bg-dark-10",
                        list: [
                            {
                                title: "Проверка комплекта и содержания документа",
                                text: "1 раз в год"
                            },
                            {
                                title: "Доступ к личному кабинету для заполнения декларации",
                                text: "Да"
                            },
                            {
                                title: "Устная правовая поддержка в рамках оказания услуги",
                                text: "Без ограничений"
                            },
                            {
                                title: "Формирование пакета необходимых документов",
                                text: "1 в год"
                            },
                            {
                                title: "Отправка документов в налоговую инспекцию",
                                text: "Нет"
                            },
                            {
                                title: "Правовая поддержка при камеральной проверки",
                                text: "Нет"
                            },
                            {
                                title: "Стоимость услуг Компании в год (в руб., в т.ч. НДС)",
                                text: "1 490"
                            },
                        ]
                    },
                    {
                        title: "Стандарт",
                        bgClass: "bg-purple-10",
                        list: [
                            {
                                title: "Проверка комплекта и содержания документа",
                                text: "1 раз в год"
                            },
                            {
                                title: "Доступ к личному кабинету для заполнения декларации",
                                text: "Да"
                            },
                            {
                                title: "Устная правовая поддержка в рамках оказания услуги",
                                text: "Без ограничений"
                            },
                            {
                                title: "Формирование пакета необходимых документов",
                                text: "1 в год"
                            },
                            {
                                title: "Отправка документов в налоговую инспекцию",
                                text: "Да"
                            },
                            {
                                title: "Правовая поддержка при камеральной проверки",
                                text: "Да"
                            },
                            {
                                title: "Стоимость услуг Компании в год (в руб., в т.ч. НДС)",
                                text: "3 000"
                            },
                        ]
                    }
                ]
            }
        ]

        var tabsList = [
            {
                link: '#teledoctor24',
                id: 'teledoctor24',
                linkText: 'Теледоктор 24',
                isActive: true
            },
            {
                link: '#tax-assistant',
                id: 'tax-assistant',
                linkText: 'Налоговый помощник',
                isActive: false
            },
            {
                link: '#lawyer24',
                id: 'lawyer24',
                linkText: 'Юрист 24',
                isActive: false
            },
            {
                link: '#older-generation',
                id: 'older-generation',
                linkText: 'Старшее поколение',
                isActive: false
            },
            {
                link: '#social-assistant',
                id: 'social-assistant',
                linkText: 'Социальный помощник',
                isActive: false
            }
        ]

        var bannerTextData = {
            title: "Прочие сервисы",
            breadcrumbsArray: [
                {linkText: "Частным клиентам", link: "/"},
                {linkText: "Услуги", link: "/"}
            ],
            description: ""
        }

    +banner-text(
        bannerTextData,
        "green"
    )

    section.section-layout.js-collapsed-mobile
        .container
            .row
                .col-12
                    .px-lg-6
                        +tabs-simple(tabsList, false)
                    .tab-content.mt-4.mt-md-6.mt-lg-7
                        #teledoctor24.tab-pane.fade.show.active(aria-labelledby="teledoctor24" tabindex="0" role="tabpanel")
                            .d-flex.flex-column.gap-6.gap-md-9.gap-lg-11
                                .col-12.col-lg-8.ps-lg-6
                                    h3.fw-bold.mb-6 Круглосуточный информационно-консультативный сервис Теледоктор 24
                                    h4.fw-bold.mb-4 Что такое Теледоктор 24?
                                    p.text-l.mb-4 Теледоктор 24 - это возможность получить консультацию профессионального врача прямо по телефону в любое время и в любой ситуации. Подключив услугу, вы сможете получить устную консультацию по любым медицинским вопросам, включая:
                                    ul.list.list--size-l
                                        li Консультацию узкопрофильного специалиста
                                        li Второе мнение по поставленному диагнозу
                                        li Подбор врача в вашем регионе
                                        li Юридические консультации по оказанию медицинских услуг
                                        li Рекомендации по лекарственным средствам
                                        li Помощь в экстренной ситуации
                                .col-12.ps-lg-6
                                    h4.fw-bold.mb-4 Выгоды Клиента
                                    .w-100.d-flex.flex-column.flex-lg-row.align-items-stretch.gap-4.gap-lg-12
                                        each benefit in allTabsContent[0].benefits
                                            +benefit(benefit.spriteName, benefit.title)
                                                p.mb-0.text-m!= benefit.description
                                .col-12.col-lg-8.ps-lg-6
                                    h4.fw-bold.mb-4 В каких ситуациях поможет Теледоктор 24?
                                    ul.list.list--size-l
                                        li Появились незнакомые симптомы, боль, температура, давление. Врач – специалист оценит опасность, даст рекомендации по неотложным мерам, разъяснит возможные причины и посоветует, что предпринять дальше
                                        li Нужно второе мнение по поставленному диагнозу. Наши специалисты расшифруют результаты обследований, оценят назначение и дадут рекомендации по дальнейшим действиям
                                        li Нужна помощь узкопрофильного специалиста. Специалисты окажут услугу по подбору врача и медицинского учреждения нужного профиля в вашем регионе
                                        li Недовольны качеством оказанных медицинских услуг, отказывают в бесплатной медицинской помощи – Медицинские юристы проконсультируют как защитить свои права, не переплачивать, помогут в случае мошенничества
                                        li Назначили препарат, которого нет в ближайших аптеках или он не доступен по цене, не знаете какие побочные эффекты. Вам предоставят исчерпывающую информацию по любому препарату, квалифицированно подберут аналог
                                        li Скорая немотивированно отказывается приезжать, несчастный случай за городом. «Теледоктор 24» подскажет действия по оказанию первой помощи, окажет содействие в вызове скорой.
                                .col-12
                                    h4.fw-bold.mb-4!= allTabsContent[0].tariffsTitle
                                    .swiper.js-slider-cards.w-100(data-slides-per-view="mobile-s:1,mobile:1,tablet:2,laptop:3,laptop-x:3", data-space-between="mobile-s:8,mobile:8,tablet:16,laptop:40,laptop-x:40")
                                        .swiper-wrapper.js-swiper-wrapper
                                            each tariff in allTabsContent[0].tariffs
                                                .swiper-slide.js-swiper-slide
                                                    +card-tariff(tariff, tariff.bgClass)
                                        +slider-controls().mt-3.mt-md-4
                                .col-12.col-lg-8.ps-lg-6
                                    h4.fw-bold.mb-4 Как воспользоваться услугами
                                    p.text-l.mb-4 Ваш сертификат активируется сразу после его оплаты в точке продаж. После активации Вам в течение срока действия доступны все услуги, включенные в выбранную Программу. Если у Вас возник вопрос, разобраться в котором могут помочь специалисты службы Теледоктор 24, Вы можете:
                                    ul.list.list--size-l
                                        li Позвонить по многоканальному номеру: 8-800-222-05-13
                                        li 
                                            span Заказать звонок в службе онлайн через сайт <a class='link text-decoration-underline' target='_blank' aria-label="Сайт Теледоктор24" href='https://teledoctor24.ru/'>Teledoctor24.ru</a>
                                        li 
                                            span Задать вопрос специалистам службы в личном кабинете на сайте <a class='link text-decoration-underline' target='_blank' aria-label="Сайт Теледоктор24" href='https://teledoctor24.ru/'>Teledoctor24.ru</a>
                        #tax-assistant.tab-pane.fade(aria-labelledby="tax-assistant" tabindex="0" role="tabpanel")
                            .d-flex.flex-column.gap-6.gap-md-9.gap-lg-11
                                .col-12.col-lg-8.ps-lg-6
                                    h3.fw-bold.mb-6 Интеллектуальный сервис Налоговый помощник
                                    p.text-l.mb-4 Налоговый вычет – услуга по подготовке и подачи налоговых деклараций, документов на возврат налога для физических лиц c профессиональной дистанционной поддержкой по вопросам налогового права 24/7.
                                    p.text-l.mb-4 Налоговый вычет можно получить при:
                                    ul.list.list--size-l.mb-4
                                        li Покупке первой недвижимости и уплаты % по ипотеке
                                        li Расходах на образование себя и детей
                                        li Оплате медицинских услуг и приобретение медикаментов
                                        li Оплате полиса накопительного/инвестиционного страхование жизни сроком от 5 лет
                                        li Открытие инвестиционного счета и ряда других случаев
                                        li Помощь в экстренной ситуации
                                    p.text-l.mb-4 Получить налоговый вычет может гражданин Российской Федерации, который получает доходы, облагаемые по ставке 13%. <br>Также специалисты сервиса дадут консультации по вопросам уплаты налогов с продажи автомобиля, квартиры, дачи, налога на собственность, полученной в дарение, налог на прибыль др.
                                .col-12.col-lg-8.ps-lg-6
                                    h4.fw-bold.mb-4 Выгоды и преимущества для клиента
                                    ul.list.list--size-l
                                        li Сервис отслеживает изменения в налоговом законодательстве, по актуальным формам документов, правильности их заполнения
                                        li В каждом отдельном случае сервис определит необходимый перечень подтверждающих документов
                                        li Сервис сформирует полный комплект документов для сдачи в налоговую инспекцию
                                        li Сервис передаёт документы в налоговую инспекцию. Клиент получает денежные средства на счет в банке
                                        li Сервис проконтролирует налоговую инспекцию при проведении камеральной проверки, составит жалобу в вышестоящие инстанции, если это потребуется
                                .col-12
                                    h4.fw-bold.mb-4!= allTabsContent[1].tariffsTitle
                                    .swiper.js-slider-cards.w-100(data-slides-per-view="mobile-s:1,mobile:1,tablet:2,laptop:2,laptop-x:2", data-space-between="mobile-s:8,mobile:8,tablet:16,laptop:40,laptop-x:40")
                                        .swiper-wrapper.js-swiper-wrapper
                                            each tariff in allTabsContent[1].tariffs
                                                .swiper-slide.js-swiper-slide
                                                    +card-tariff(tariff, tariff.bgClass).w-100
                                        +slider-controls().mt-3.mt-md-4
                                .col-12.col-lg-8.ps-lg-6
                                    h4.fw-bold.mb-6 Виды предоставляемых услуг
                                    .d-flex.flex-column.gap-4.mb-6
                                        span.fw-bold.text-l Проверка комплекта и содержания документов
                                        p.text-l.mb-0 Услуга по проверке комплекта документов, планируемого Клиентом к подаче, на предмет комплектности, полноты прилагаемых документов, соответствия заполнения декларации по налогу на доходы физических лиц по форме 3-НДФЛ правилам Порядка заполнения налоговой декларации.
                                        span.fw-bold.text-l Устная правовая поддержка в рамках оказания услуги
                                        p.text-l.mb-0 Устное разъяснение существа норм права по Порядку заполнения налоговой декларации по налогу на доходы физических лиц по форме 3-НДФЛ, а также предоставление сведений по перечню документов, прилагаемых к декларации и требованиям к данным документам.
                                        span.fw-bold.text-l Формирование пакета необходимых документов
                                        p.text-l.mb-0 Подготовка комплекта документов, необходимых для подачи в ИФНС по месту учета Клиента для получения налогового вычета.
                                        span.fw-bold.text-l Отправка документов в налоговую инспекцию
                                        p.text-l.mb-0 Направление одного пакета документов по одному налоговому вычету в ИФНС по месту учета Клиента.
                                        span.fw-bold.text-l Правовая поддержка при камеральной проверке
                                        p.text-l.mb-0 Устная правовая поддержка Клиента в период проведения камеральной проверки по поданным в налоговую инспекцию на налоговый вычет документам.
                                    h4.fw-bold.mb-4 Как воспользоваться услугами
                                    p.text-l.mb-4 Сертификат активируется в день, следующий за днем оплаты. Клиенту в течение одного календарного года доступны все услуги, включенные в выбранный тарифный план. Клиент может обратиться к специалистам сервиса следующими способами:
                                    ul.list.list--size-l
                                        li Позвонить по многоканальному номеру: 8-800-775-75-85
                                        li 
                                            span Задать вопрос специалистам службы в личном кабинете на сайте: <a class='link text-decoration-underline' target='_blank' href='https://lk.nalogia.ru/'>lk.nalogia.ru</a>
                        #lawyer24.tab-pane.fade(aria-labelledby="lawyer24" tabindex="0" role="tabpanel")
                            
                        #older-generation.tab-pane.fade(aria-labelledby="older-generation" tabindex="0" role="tabpanel")
                            
                        #social-assistant.tab-pane.fade(aria-labelledby="social-assistant" tabindex="0" role="tabpanel")
                            
        +pattern-bg('section-2', 'light', 'pattern-bg--hide-mobile')
