extends ../templates/base

block title
    title= 'Частные клиенты - Вклады'
    meta(name="description" content="Описание страницы с вкладами")
block content

    include ../cards/card-product
    include ../includes/header/header
    include ../components/banners/text-banner
    include ../components/banners/banner-product-info
    include ../includes/layout/slider-card-product

    +text-banner(
        "Платежи и переводы",
        [
            {linkText: "Частным клиентам", link: "/"}
        ],
        "Переводите деньги любым удобным для вас способом: на&nbsp;сайте, в&nbsp;банкоматах, в&nbsp;интернет-банке и&nbsp;мобильном приложении.",
        "green"
    )

    section.section-layout
        .container

    +banner-product-info({
        title: "Защита от&nbsp;мошенничества",
        tag: "Услуга",
        imageSrc: "img/banners/page-banner-4.png",
        button: {
            href: "#",
            text: "Подробнее",
        },
    })
        p.text-l Мы&nbsp;придаём большое значение обеспечению безопасности доступа к&nbsp;денежным средствам Клиентов и&nbsp;подготовили для вас памятку.
        p.text-l.mb-0 Узнайте как уберечь себе и&nbsp;своих близких от&nbsp;финансового мошенничества.


    section.section-layout
        .container
            h3.px-lg-6.mb-4.mb-md-6.mb-lg-7
                | Смотрите также
            +slider-card-product()
