extends ../templates/private-base

block title
    title= 'Private Banking | Карта'
    meta(name="description" content="Описание страницы")

block content
    include ../cards/private-banking/pb-card
    include ../cards/private-banking/pb-card-benefit
    include ../components/ui/accordion-item
    include ../components/ui/private-banking/pb-document-download
    include ../includes/header/pb-header
    include ../includes/layout/private-banking/pb-main-nav
    -
        var supremeCardBenefits = [
            {
                icon: 'bank-icon.svg',
                text: 'Снятие наличных в&nbsp;любых банкоматах без комиссии',
            },
            {
                icon: 'airplane-icon.svg',
                text: 'Доступ в&nbsp;бизнес-залы аэропортов с&nbsp;Mir Pass',
            },
            {
                icon: 'percent-icon.svg',
                text: 'Повышенный кэшбэк до&nbsp;30% от&nbsp;покупок',
            },
            {
                icon: 'wallet-icon.svg',
                text: 'Дополнительные карты бесплатно',
            },
            {
                icon: 'spb-icon.svg',
                text: 'Переводы по&nbsp;номеру телефона до&nbsp;1&nbsp;млн ₽&nbsp;в&nbsp;другие банки по&nbsp;СБП без комиссии',
            },
        ];
        var benefitCards = [
            {
                title: "Доступный кредит",
                subtitle: "до 10 млн ₽",
                icon: "item-1.png"
            },
            {
                title: "Беспроцентный период",
                subtitle: "56 дней",
                icon: "item-2.png"
            },
            {
                title: "Круглосуточная поддержка",
                subtitle: "24 × 7",
                icon: "item-3.png"
            },
            {
                title: "Повышенный кешбэк",
                subtitle: "до 30 %",
                description: "в специальных акциях МИР",
                icon: "item-4.png"
            },
            {
                title: "Программа «БОНУС»",
                subtitle: "до 20 %",
                description: "возврат от суммы покупок",
                icon: "item-5.png"
            },
            {
                title: "Программа «Кешбэк»",
                subtitle: "до 7 %",
                description: "возврат от суммы покупок",
                icon: "item-6.png"
            }
        ]

    section.pb-section-hero
        +pb-header(true)
        +pb-main-nav(true)

        .container
            h3.pb-section__title.dark-0.text-center.my-4.my-md-6.mt-lg-0.animate.js-animation
                | Премиальная карта Мир&nbsp;Supreme
            p.pb-section__subtitle.dark-0.text-center.m-0.px-xl-11.animate.js-animation
                | Дебетовая карта с&nbsp;ежемесячным начислением процентов на&nbsp;остаток средств
                br.d-none.d-xxl-block
                | или&nbsp;кредитная карта с&nbsp;бесплатным снятием наличных.
            .pb-card-wrapper.my-6.position-relative.animate.js-animation
                .pb-card-image.pb-card-image--type-dark
                    picture.pb-card-image__bg
                        source(srcset=`img/pb-images/pb-card-supreme-dark_bg-desktop.png`, media="(min-width: 1200px)")
                        source(srcset=`img/pb-images/pb-card-supreme-dark_bg-tablet.png`, media="(min-width: 768px)")
                        img(src=`img/pb-images/pb-card-supreme-dark_bg-mobile.png` alt="card-supreme-dark")
                    img(src="img/pb-images/pb-card-supreme-dark.png", alt="Supreme Card")
                    svg.pb-card-image__blink(width="549" height="389" viewBox="0 0 549 389" fill="none" xmlns="http://www.w3.org/2000/svg")
                        mask(id="mask0_1417_5046" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="27" y="28" width="495" height="318")
                            path(d="M27.8387 43.7196C27.7371 35.1999 34.7437 28.3064 43.2606 28.5466L486.363 41.0459C495.114 41.2928 502.247 48.145 502.844 56.879L521.26 326.109C521.809 334.139 515.491 340.978 507.442 341.064L48.4255 345.966C39.0455 346.066 31.3571 338.55 31.2452 329.17L27.8387 43.7196Z" fill="#D9D9D9")

                        g(mask="url(#mask0_1417_5046)")
                            g(style="mix-blend-mode:color-dodge" filter="url(#filter0_f_1417_5046)").blink-dark-animate
                                ellipse(cx="618.298" cy="227.741" rx="112.869" ry="286.249" transform="rotate(-2.80658 618.298 227.741)" fill="url(#paint0_radial_1417_5046)")

                            g(filter="url(#filter1_f_1417_5046)")
                                path(d="M28.8387 43.7077C28.7438 35.7559 35.2833 29.322 43.2324 29.5462L486.335 42.0455C494.571 42.2779 501.284 48.727 501.847 56.9473L520.263 326.178C520.773 333.634 514.905 339.984 507.432 340.064L48.4148 344.966C39.5866 345.06 32.3504 337.986 32.2451 329.158L28.8387 43.7077Z" stroke="url(#paint1_linear_1417_5046)" stroke-width="2")

                            g(filter="url(#filter2_f_1417_5046)")
                                path(d="M32.8384 43.66C32.7706 37.9801 37.4417 33.3845 43.1196 33.5446L486.222 46.044C492.399 46.2182 497.434 51.0551 497.856 57.2203L516.272 326.451C516.625 331.613 512.563 336.009 507.389 336.064L48.3721 340.966C41.7509 341.037 36.3238 335.731 36.2448 329.11L32.8384 43.66Z" stroke="url(#paint2_linear_1417_5046)" stroke-opacity="0.7" stroke-width="10")
                        defs
                            filter(id="filter0_f_1417_5046" x="474.684" y="-88.2207" width="287.228" height="631.922" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                feFlood(flood-opacity="0" result="BackgroundImageFix")
                                feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                feGaussianBlur(stdDeviation="15" result="effect1_foregroundBlur_1417_5046")

                            filter(id="filter1_f_1417_5046" x="23.8379" y="24.541" width="501.456" height="325.426" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                feFlood(flood-opacity="0" result="BackgroundImageFix")
                                feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                feGaussianBlur(stdDeviation="2" result="effect1_foregroundBlur_1417_5046")

                            filter(id="filter2_f_1417_5046" x="-32.1621" y="-31.459" width="613.456" height="437.426" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                feFlood(flood-opacity="0" result="BackgroundImageFix")
                                feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                feGaussianBlur(stdDeviation="30" result="effect1_foregroundBlur_1417_5046")

                            radialGradient(id="paint0_radial_1417_5046" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(618.298 227.741) rotate(86.6203) scale(238.777 93.8777)")
                                stop(stop-color="#D8C3F3" stop-opacity="0.3")
                                stop(offset="1" stop-color="#BCA9D5" stop-opacity="0")

                            linearGradient(id="paint1_linear_1417_5046" x1="531.286" y1="341.143" x2="435.694" y2="292.125" gradientUnits="userSpaceOnUse")
                                stop(stop-color="#DEDBF8" stop-opacity="0.4")
                                stop(offset="1" stop-color="#D5C6F3" stop-opacity="0")

                            linearGradient(id="paint2_linear_1417_5046" x1="531.286" y1="341.143" x2="477.559" y2="289.765" gradientUnits="userSpaceOnUse")
                                stop(stop-color="#D5D0FC" stop-opacity="0.3")
                                stop(offset="1" stop-color="#CBB9ED" stop-opacity="0")

                .pb-card-image.pb-card-image--type-light
                    picture.pb-card-image__bg
                        source(srcset=`img/pb-images/pb-card-supreme-light_bg-desktop.png`, media="(min-width: 1200px)")
                        source(srcset=`img/pb-images/pb-card-supreme-light_bg-tablet.png`, media="(min-width: 768px)")
                        img(src=`img/pb-images/pb-card-supreme-light_bg-mobile.png` alt="card-supreme-light")
                    img(src="img/pb-images/pb-card-supreme-light.png", alt="Supreme Card")
                    svg.pb-card-image__blink(width="589" height="453" viewBox="0 0 589 453" fill="none" xmlns="http://www.w3.org/2000/svg")
                        mask(id="mask0_1417_5056" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="12" y="12" width="562" height="429")
                            path(d="M13.7471 159.361C10.9881 151.305 15.4811 142.571 23.6394 140.131L449.312 12.8053C457.68 10.3022 466.584 14.5483 469.906 22.6267L572.521 272.156C575.587 279.612 571.739 288.11 564.113 290.724L128.864 439.92C119.458 443.144 109.22 438.131 105.998 428.725L13.7471 159.361Z" fill="#D9D9D9")

                        g(mask="url(#mask0_1417_5056)")
                            g(filter="url(#filter0_f_1417_5056)").blink-light-animate
                                ellipse(cx="0.38985" cy="252.118" rx="47.5" ry="296" transform="rotate(-18.3077 0.38985 252.118)" fill="url(#paint0_radial_1417_5056)")

                            g(filter="url(#filter1_f_1417_5056)").blink-light-animate
                                ellipse(cx="61.3681" cy="461.202" rx="47.5" ry="76.503" transform="rotate(-18.3077 61.3681 461.202)" fill="url(#paint1_radial_1417_5056)")
                            g(filter="url(#filter2_f_1417_5056)")
                                path(d="M16.5853 158.389C14.3781 151.945 17.9724 144.957 24.4991 143.005L450.172 15.6795C457.063 13.6181 464.396 17.1149 467.131 23.7677L569.746 273.297C572.155 279.155 569.132 285.832 563.14 287.886L127.891 437.082C120.053 439.769 111.521 435.591 108.837 427.753L16.5853 158.389Z" stroke="url(#paint2_linear_1417_5056)" stroke-width="6")

                        defs
                            filter(id="filter0_f_1417_5056" x="-112.973" y="-39.3027" width="226.725" height="582.842" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                feFlood(flood-opacity="0" result="BackgroundImageFix")
                                feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                feGaussianBlur(stdDeviation="5" result="effect1_foregroundBlur_1417_5056")

                            filter(id="filter1_f_1417_5056" x="-49.7412" y="327.039" width="222.219" height="268.324" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                feFlood(flood-opacity="0" result="BackgroundImageFix")
                                feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                feGaussianBlur(stdDeviation="30" result="effect1_foregroundBlur_1417_5056")
                            filter(id="filter2_f_1417_5056" x="-17.0664" y="-17.9102" width="620.645" height="488.807" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                                feFlood(flood-opacity="0" result="BackgroundImageFix")
                                feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                                feGaussianBlur(stdDeviation="15" result="effect1_foregroundBlur_1417_5056")

                            radialGradient(id="paint0_radial_1417_5056" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.389853 252.118) rotate(88.6232) scale(246.552 39.565)")
                                stop(stop-color="white")
                                stop(offset="1" stop-color="white" stop-opacity="0")

                            radialGradient(id="paint1_radial_1417_5056" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(61.3681 461.202) rotate(84.6872) scale(63.9794 39.4064)")
                                stop(stop-color="#992EED")
                                stop(offset="1" stop-color="#8A3DD7" stop-opacity="0")
                            linearGradient(id="paint2_linear_1417_5056" x1="-0.703109" y1="456.004" x2="111.363" y2="434.655" gradientUnits="userSpaceOnUse")
                                stop(offset="0.24666" stop-color="white")
                                stop(offset="1" stop-color="white" stop-opacity="0")
                                stop(offset="1" stop-color="#D5D9F9" stop-opacity="0")

            .pb-benefits.d-flex.flex-column.flex-lg-row.flex-wrap.gap-4.align-items-md-start.justify-content-lg-center
                each benefit in supremeCardBenefits
                    +pb-card-benefit(benefit.icon, benefit.text).animate.js-animation
            .mt-6.mb-4.text-center
                button(type="button" data-bs-toggle="modal" data-bs-target="#modal-become-client" aria-label="Стать клиентом").btn.btn-pb.btn-pb--primary.btn-pb--size-lg.w-100.w-md-auto.animate.js-animation
                    | Стать клиентом
        .pb-section-hero__overlay.pb-section-hero__overlay--size-small

    section.pb-section.pb-section--gradient-raial
        .container
            .d-flex.flex-column.row-gap-6
                h2.pb-section__title.dark-0.text-center.animate.js-animation
                    | Преимущества Мир Supreme
                .row.row-gap-6
                    each item in benefitCards
                        .col-12.col-md-6.col-lg-4
                            +pb-card(item)

                    .col-12

                        .accordion.pb-accordion#accordion-documents
                            +accordion-item({
                                title: "Тарифы и документы",
                                id: 1
                            }, 'accordion-documents').animate.js-animation
                                +pb-document-download({
                                    href: "#",
                                    text: "Тарифы на обслуживание банковских карт Мир для физических лиц, выпущенных с 22.08.2022 г.",
                                    dateTime: "12.12.23 18:56",
                                    fileType: "XLS"
                                })
                                +pb-document-download({
                                    href: "#",
                                    text: "Договор банковского обслуживания",
                                    dateTime: "12.12.23 18:56",
                                    fileType: "XLS"
                                })

                    .col-12.pb-section__footer.animate.js-animation
                        .d-flex.flex-column.row-gap-4.align-items-center.py-4
                            button(type="button" data-bs-toggle="modal" data-bs-target="#modal-become-client" aria-label="Стать клиентом").btn.btn-pb.btn-pb--primary.w-100.w-md-auto
                                | Заказать карту

                            p.pb-text-notes.mb-0.pr-text-color.text-center
                                | Время изготовления карты <br class="d-md-none">до&nbsp;10 рабочих дней

    include ../includes/modals/modal-pb-become-client
    include ../includes/modals/modal-pb-response

