extends ../templates/base

block title
    title= 'Страница результатов поиска'
    meta(name="description" content="Описание страницы с результатами поиска")
block content
    include ../includes/header/header
    section.section-layout.border-top.border-blue10
        .container

            table.map-columns
                tbody
                    tr
                        td
                            ul.map-level-0
                                li
                                    a(href="/") Частным клиентам
                                    div.dark-70 Эффективные финасовые инструменты для поддержки национальных проектов и ведущих отечественных предприятий. Новикомбанк - это надежный партнер российской промышленности. Тел: +7 800 250-70-07
                                    ul.map-level-1
                                        li
                                            a(href="/cards/") Карты
                                            div.dark-70 Карты с оптимальными условиями и приятными бонусами
                                            ul.map-level-2
                                                li
                                                    a(href="/cards/") Все карты
                                                    div.dark-70 Карты с оптимальными условиями и приятными бонусами
                                                li
                                                    a(href="/cards/debetovaya-karta/") Дебетовая карта
                                                li
                                                    a(href="/cards/platezhnyy-stiker/") Платежный стикер
                                                li
                                                    a(href="/cards/kreditnaya-karta/") Кредитная карта
                                                li
                                                    a(href="/cards/tsifrovaya-karta/") Цифровая карта
                                                li
                                                    a(href="/cards/blokirovka-kart/") Блокировка карт
                                                li
                                                    a(href="/cards/programma-bonusnaya-kopilka/") Программа «Бонусная копилка»
                                                li
                                                    a(href="/cards/programma-bonusy/") Программа «Бонусы»
                                                li
                                                    a(href="/cards/programma-keshbek/") Программа «Кешбэк»
                                                li
                                                    a(href="/cards/testovyy-razdel-01/") Тестовый раздел 01
                                        li
                                            a(href="/deposits/") Вклады
                                            div.dark-70 Сохранение и приумножение накоплений
                                            ul.map-level-2
                                                li
                                                    a(href="/deposits/") Все вклады
                                                    div.dark-70 Сохранение и приумножение накоплений
                                                li
                                                    a(href="/deposits/s-rastushchey-stavkoy/") С растущей ставкой
                                                li
                                                    a(href="/deposits/so-snyatiem/") Со снятием
                                                li
                                                    a(href="/deposits/s-kapitalizatsiey/") С капитализацией
                                                li
                                                    a(href="/deposits/pensioneram/") Пенсионерам
                                                li
                                                    a(href="/deposits/testovyy-razdel/") Тестовый раздел
                                                li
                                                    a(href="/deposits/s-popolneniem/") С пополнением
                                                li
                                                    a(href="/deposits/strakhovanie-vkladov/") Страхование вкладов
                                        li
                                            a(href="/loans/") Кредиты
                                            div.dark-70 Быстрые кредиты по оптимальной ставке на любые цели
                                            ul.map-level-2
                                                li
                                                    a(href="/loans/") Все кредиты
                                                    div.dark-70 Быстрые кредиты по оптимальной ставке на любые цели
                                                li
                                                    a(href="/loans/refinansirovanie/") Рефинансирование
                                                li
                                                    a(href="/loans/overdraft/") Овердрафт
                                                li
                                                    a(href="/loans/restructuring/") Реструктуризация
                                                    div.dark-70 Программы для заемщиков, у которых возникли трудности с погашением кредита
                                                li
                                                    a(href="/loans/na-obrazovanie/") На образование
                                                li
                                                    a(href="/loans/potrebitelskie/") Потребительские
                                                li
                                                    a(href="/loans/testovyy-razdel/") Тестовый раздел
                                                li
                                                    a(href="/loans/strakhovanie-pri-kreditovanii/") Страхование при кредитовании
                                                li
                                                    a(href="/loans/pogasit-kredit/") Погасить кредит
                                        li
                                            a(href="/mortgage/") Ипотека
                                            ul.map-level-2
                                                li
                                                    a(href="/mortgage/") Все программы
                                                li
                                                    a(href="/mortgage/pervichnyy-rynok/") Первичный рынок
                                                li
                                                    a(href="/mortgage/it-ipoteka/") IT-ипотека
                                                li
                                                    a(href="/mortgage/dalnevostochnaya-ipoteka/") Дальневосточная ипотека
                                                li
                                                    a(href="/mortgage/vtorichnyy-rynok/") Вторичный рынок
                                                li
                                                    a(href="/mortgage/ipoteka-na-novostroyki-v-zhk-alia/") Ипотека на новостройки в ЖК ALIA
                                                li
                                                    a(href="/mortgage/semeynaya-ipoteka/") Семейная ипотека
                                                li
                                                    a(href="/mortgage/tselevoy-kredit-pod-zalog-imeyushcheysya-nedvizhimosti/") Целевой кредит под залог имеющейся недвижимости
                                                li
                                                    a(href="/mortgage/refinansirovanie/") Рефинансирование
                                                li
                                                    a(href="/mortgage/refinansirovanie/") Рефинансирование тест
                                        li
                                            a(href="/payments-and-transfers/") Платежи и переводы
                                            div.dark-70 Переводите деньги любым удобным для вас способом: на сайте, в банкоматах,&amp;lt;br&amp;gt;в интернет-банке и мобильном приложении
                                            ul.map-level-2
                                                li
                                                    a(href="/payments-and-transfers/") Все платежи и переводы
                                                    div.dark-70 Переводите деньги любым удобным для вас способом: на сайте, в банкоматах,&amp;lt;br&amp;gt;в интернет-банке и мобильном приложении
                                                li
                                                    a(href="/payments-and-transfers/online-transfer/") Моментальный онлайн-перевод
                                                li
                                                    a(href="/payments-and-transfers/perevody-v-internet-banke-ili-prilozhenii/") Переводы в интернет-банке или приложении
                                                li
                                                    a(href="/payments-and-transfers/operatsii-cherez-bankomat/") Операции через банкомат
                                                li
                                                    a(href="/payments-and-transfers/office-transfers/") Банковские переводы в офисе
                                                li
                                                    a(href="/payments-and-transfers/mir-pay/") Mir Pay
                                                li
                                                    a(href="/payments-and-transfers/perevody-cherez-sbp/") Переводы через СБП
                                        li
                                            a(href="/online-services/") Онлайн сервисы
                                            ul.map-level-2
                                                li
                                                    a(href="https://online.novikom.ru/#/registration") Онлайн-банк
                                                li
                                                    a(href="/online-services/internet-bank-i-mobilnoe-prilozhenie/") Интернет банк и мобильное приложение
                                        li
                                            a(href="/services/") Услуги
                                            ul.map-level-2
                                                li
                                                    a(href="/services/sms-informirovanie/") SMS-информирование
                                                li
                                                    a(href="/") Биометрическая идентификация
                                                    div.dark-70 Эффективные финасовые инструменты для поддержки национальных проектов и ведущих отечественных предприятий. Новикомбанк - это надежный партнер российской промышленности. Тел: +7 800 250-70-07
                                                li
                                                    a(href="/") Прочие сервисы
                                                    div.dark-70 Эффективные финасовые инструменты для поддержки национальных проектов и ведущих отечественных предприятий. Новикомбанк - это надежный партнер российской промышленности. Тел: +7 800 250-70-07
                                                li
                                                    a(href="/services/sms-informirovanie-2/") SMS-информирование тест
                                        li
                                            a(href="/insurance/") Страхование
                                            ul.map-level-2
                                                li
                                                    a(href="/insurance/perechen-strakhovykh-kompaniy/") Перечень страховых компаний
                                                li
                                                    a(href="/insurance/programmy-strakhovaniya/") Программы страхования
                                        li
                                            a(href="/special-offers/") Спецпредложения
                                            ul.map-level-2
                                                li
                                                    a(href="/special-offers/") Все
                                                li
                                                    a(href="/special-offers/aktsii-banka/") Акции банка
                                                li
                                                    a(href="/special-offers/aktsii-ot-platezhnoy-sistemy-mir/") Акции от платежной системы МИР
                                                li
                                                    a(href="/special-offers/main/") Главная
                                                li
                                                    a(href="/special-offers/msb/") МСБ
                                                li
                                                    a(href="/special-offers/predlozheniya-ot-partnerov/") Предложения от партнеров
                                li
                                    a(href="/for-corporate-clients/") Корпоративным клиентам
                                    ul.map-level-1
                                        li
                                            a(href="/for-corporate-clients/finansirovanie/") Финансирование
                                        li
                                            a(href="/for-corporate-clients/zarplatnyy-proekt/") Зарплатный проект
                                        li
                                            a(href="/for-corporate-clients/depozity/") Депозиты
                                        li
                                            a(href="/for-corporate-clients/dbo/") ДБО
                                        li
                                            a(href="/for-corporate-clients/finansovye-rynki/") Финансовые рынки
                                        li
                                            a(href="/for-corporate-clients/tsennye-bumagi/") Ценные бумаги
                                        li
                                            a(href="/for-corporate-clients/uslugi/") Услуги
                                        li
                                            a(href="/for-corporate-clients/ved/") ВЭД
                                        li
                                            a(href="/for-corporate-clients/distantsionnoe-obsluzhivanie/") Дистанционное обслуживание
                                        li
                                            a(href="/for-corporate-clients/strakhovanie/") Страхование
                                        li
                                            a(href="/for-corporate-clients/onlayn-bank-dlya-biznesa/") Онлайн банк для бизнеса
                                li
                                    a(href="/msb/") МСБ
                                    ul.map-level-1
                                        li
                                            a(href="/msb/raschetnyy-schet/") Расчетный счет
                                        li
                                            a(href="/msb/kreditovanie/") Кредитование
                                        li
                                            a(href="/msb/depozity/") Депозиты
                                        li
                                            a(href="/msb/garantii-i-obyazatelstva/") Гарантии
                                        li
                                            a(href="/msb/strakhovanie/") Страхование
                                        li
                                            a(href="/msb/ved/") ВЭД
                                        li
                                            a(href="/msb/bankovskie-garantii/") Банковские гарантии
                                        li
                                            a(href="/msb/goszakupki/") Госзакупки
                                        li
                                            a(href="/msb/uslugi/") Услуги
                                        li
                                            a(href="/msb/ekspress-garantiya/") Экспресс-гарантия
                                        li
                                            a(href="/msb/dokumentarnye-operatsii/") Документарные операции
                                        li
                                            a(href="/msb/sotrudnichestvo-s-fondami-podderzhki-malogo-biznesa/") Сотрудничество с фондами поддержки малого бизнеса
                                        li
                                            a(href="/msb/internet-bank/") Интернет-банк
                                        li
                                            a(href="/msb/strakhovanie-zalogovogo-imushchestva/") Страхование залогового имущества
                                        li
                                            a(href="/msb/depozity-dlya-msb/") Депозиты для МСБ
                                        li
                                            a(href="/msb/dbo/") ДБО
                                        li
                                            a(href="/msb/konversionnye-operatsii/") Конверсионные операции
                                        li
                                            a(href="/msb/mery-gospodderzhki/") Меры господдержки
                                        li
                                            a(href="/msb/strakhovanie-vkladov/") Страхование вкладов
                                li
                                    a(href="/about/") О банке
                                    ul.map-level-1
                                        li
                                            a(href="/about/") Новиком сегодня
                                        li
                                            a(href="/about/press-center/") Пресс-центр
                                            ul.map-level-2
                                                li
                                                    a(href="/about/press-center/news/") Новости
                                                li
                                                    a(href="/about/press-center/smi-about-us/") СМИ о нас
                                                li
                                                    a(href="/about/press-center/media/") Медиа
                                        li
                                            a(href="/about/#") Устав и документы
                                        li
                                            a(href="/about/purchases/") Закупки
                                        li
                                            a(href="/about/#") Реквизиты
                                        li
                                            a(href="/about/career/") Карьера
                                            div.dark-70 Работа мечты
                                        li
                                            a(href="/about/contacts/") Контактная информация
                        td
                            ul.map-level-0
                                li
                                    a(href="/support/") Поддержка
                                    ul.map-level-1
                                        li
                                            a(href="/support/products_services/") Продукты и услуги
                                            ul.map-level-2
                                                li
                                                    a(href="/support/products_services/bankovskie-karty/") Банковские карты
                                        li
                                            a(href="/support/very_important_information/") Очень важная информация
                                            ul.map-level-2
                                                li
                                                    a(href="/support/very_important_information/vklady/") Вклады
                                                li
                                                    a(href="/support/very_important_information/valyuta/") Валюта
                                        li
                                            a(href="/support/announcements_for_clients/") Объявления для клиентов
                                            ul.map-level-2
                                                li
                                                    a(href="/support/announcements_for_clients/main/") Главная
                                                li
                                                    a(href="/support/announcements_for_clients/for-corporate-clients/") Корпоративным клиентам
                                                li
                                                    a(href="/support/announcements_for_clients/msb/") МСБ
                                                li
                                                    a(href="/support/announcements_for_clients/financial-institutions/") Финансовым институтам
                                                li
                                                    a(href="/support/announcements_for_clients/soyuzmash/") Союзмаш
                                                li
                                                    a(href="/support/announcements_for_clients/tenders/") Тендеры
                                                li
                                                    a(href="/support/announcements_for_clients/sustainability/") Устойчивое развитие
                                                li
                                                    a(href="/") Офисы и банкоматы
                                                    div.dark-70 Эффективные финасовые инструменты для поддержки национальных проектов и ведущих отечественных предприятий. Новикомбанк - это надежный партнер российской промышленности. Тел: +7 800 250-70-07
                                        li
                                            a(href="/support/questions_and_answers/") Вопросы и ответы
                                            ul.map-level-2
                                                li
                                                    a(href="/support/questions_and_answers/") Все вопросы
                                                li
                                                    a(href="/support/questions_and_answers/individuals-faq/") Частным клиентам
                                li
                                    a(href="/financial-institutions/") Финансовым институтам
                                    ul.map-level-1
                                        li
                                            a(href="/financial-institutions/raschetnoe-obsluzhivanie/") Расчетное обслуживание
                                        li
                                            a(href="/financial-institutions/mezhbankovskie-operatsii/") Межбанковские операции
                                        li
                                            a(href="/financial-institutions/brokerskoe-obsluzhivanie/") Брокерское обслуживание
                                        li
                                            a(href="/financial-institutions/garantii-i-obyazatelstva/") Гарантии и обязательства
                                        li
                                            a(href="/financial-institutions/depozitarnoe-obsluzhivanie/") Депозитарное обслуживание
                                        li
                                            a(href="/financial-institutions/doveritelnoe-upravlenie/") Доверительное управление
                                        li
                                            a(href="/financial-institutions/organizatsiya-obligatsionnykh-zaymov/") Организация облигационных займов
                                        li
                                            a(href="/financial-institutions/sistema-bank-klient/") Система Банк-клиент
                                        li
                                            a(href="/financial-institutions/stimulirovanie-eksporta-stran-sng/") Стимулирование экспорта стран СНГ
                                        li
                                            a(href="/financial-institutions/finansirovanie-eksportno-importnykh-operatsiy/") Финансирование экспортно-импортных операций
                                li
                                    a(href="/private-banking/") Private banking

