extends ../templates/base

block title
    title= "Поддержка / Важная информация"
    meta(name="description" content="Описание страницы Важная информация")
block content

    include ../includes/header/header
    include ../components/banners/banner-text
    include ../cards/card-product
    include ../cards/card-promo

    -
        var bannerTextData = {
            title: "Очень важная информация",
            breadcrumbsArray: [
                {linkText: "Поддержка", link: "/"}
            ],
        }

        var productCards = [
            {
                title: "Вклады",
                icon: true,
                iconImg: "deposit-security",
                color: "transparent",
                link: "Подробнее",
            },
            {
                title: "Валюта",
                icon: true,
                iconImg: "currency",
                color: "transparent",
                link: "Подробнее",
            },
            {
                title: "Карты",
                icon: true,
                iconImg: "cards",
                color: "transparent",
                link: "Подробнее",
            },
            {
                title: "Работа офисов",
                icon: true,
                iconImg: "bankInform",
                color: "transparent",
                link: "Подробнее",
            },
            {
                title: "Денежные переводы",
                icon: true,
                iconImg: "conversion",
                color: "transparent",
                link: "Подробнее",
            },
            {
                title: "Платежи и переводы",
                icon: true,
                iconImg: "transh",
                color: "transparent",
                link: "Подробнее",
            },
            {
                title: "Снятие наличных",
                icon: true,
                iconImg: "multitasking",
                color: "transparent",
                link: "Подробнее",
            },

        ]

        var cardPromo = {
            title: "Финансовая грамотность",
            text: "Финансовая грамотность позволит достичь гармонии с&nbsp;деньгами. <br>Они перестанут быть причиной переживаний или самоцелью и&nbsp;превратятся в&nbsp;инструмент достижения ваших целей. И&nbsp;вот каким будет путь к&nbsp;этому",
            image: "big-illustrations/large-individual/faq-fin-competition.png",
        }

    +banner-text(
        bannerTextData
    )

    section.section-layout.pt-lg-11.bg-dark-10
        .container
            //form.w-100.mb-4.mb-md-6.mb-lg-7
                .input-group.flex-nowrap.d-none.d-lg-flex
                    span.input-group-icon.bg-transparent
                        span.icon.violet-100
                            +svg-use("icon-search")
                    input#input-search.form-control.form-control-lg.text-l.bg-transparent(type="text", placeholder="Поиск по разделу", aria-label="Поиск по разделу", aria-describedby="input-search" tabindex="-1")
                .input-group.flex-nowrap.d-flex.d-lg-none
                    span.input-group-icon.bg-transparent
                        span.icon.violet-100
                            +svg-use("icon-search")
                    input#input-search-mobile.form-control.ps-0.text-s.bg-transparent(type="text", placeholder="Поиск по разделу", aria-label="Поиск по разделу", aria-describedby="#input-search-mobile" tabindex="-1")
            .row.g-1.g-md-2.g-lg-2_5
                each item in productCards
                    .col-12.col-md-6.col-lg-4
                        +card-product(item).card-product--bg-white

    section.section-layout.pt-0.bg-dark-10
        .container
            .row
                .col-12
                    +card-promo(cardPromo).card-promo--heavy-blue
                        a(href="#").btn.btn-info.btn-lg-lg.w-100.w-md-auto Подробнее

    include ../includes/layout/section-feedback
