extends ../templates/base

block title
    title= 'Поддержка / Объявления для клиентов / Внутренняя'
    meta(name="description" content="Описание внутренней страницы Объявления для клиентов")
block content

    include ../includes/header/header
    include ../components/ui/breadcrumbs
    include ../components/ui/tag

    -
        var breadcrumbsArray = [
            {linkText: "Поддержка", link: "/"},
            {linkText: "Объявления для частных клиентов", link: "/"}
        ]

    section.pt-6.pb-6.pb-md-9.pb-lg-11.px-lg-6.border-top.border-tertiary.border-4.border-lg-8
        .container
            .row.row-gap-6.row-gap-lg-7
                .col-12
                    +breadcrumbs(breadcrumbsArray, 'dark-70')
                .col-12
                    h1.h2.mb-4.mb-md-5.mb-lg-6
                        | 20.08.2024 года вступает в силу Регламент депозитарного обслуживания депонентов АО АКБ "НОВИКОМ"
                    .d-flex.gap-3.gap-md-4.align-items-center
                        +tag('Изменения', 'outline tag--triangle-absolute')
                        span.text-m.dark-70 05.08.2024
                .col-12
                    .rte.rte--w-xxl-60
                        p 20 августа 2024 года вступает в силу новая версия Регламента депозитарного обслуживания депонентов АО АКБ "НОВИКОМБАНК" (Условия осуществления депозитарной деятельности) (далее – Регламент)
                        p Изменения в Регламент внесены в связи с в связи с вступлением в силу Федерального закона от 04.08.2023 N 442-ФЗ «О внесении изменений в Федеральный закон «О Центральном банке Российской Федерации (Банке России)» и отдельные законодательные акты Российской Федерации и о признании утратившими силу отдельных положений законодательных актов Российской Федерации» (далее – ФЗ № 442) и требованиями Указа Президента РФ от 03.03.2023 № 138 «О дополнительных временных мерах экономического характера, связанных с обращением ценных бумаг» (далее – Указ № 138).
                        p В соответствии с требованиями ФЗ № 442 в Регламенте изменен порядок рассмотрения обращений юридических и физических лиц.
                        p В целях соблюдения требований Указа № 138 Регламентом предусмотрено осуществление обособленного учета ценных бумаг и проведение контрольных процедур при зачислении ценных бумаг на счета депо Депонентов, направленных на получение от Депонентов максимально возможного объема информации о соответствии (несоответствии) принадлежащих Депонентам ценных бумаг критериям, установленным Указом № 138.
                        div
                            p
                                b В Регламент внесены также следующие изменения в соответствии с практикой работы:
                            ul
                                li внесены изменения, уточняющие способ предоставления депонентам отчетных документов;
                                li исключена возможность изменения адреса электронной почты Депонента для обмена корреспонденцией с Депозитарием по письму Депонента и возможность изменения реквизитов для перечисления денежных средств по ценным бумагам по распоряжению /письму/инструкции Депонента. Изменение вышеуказанных данных возможно путем предоставления депонентом Анкеты депонента;
                                li изменено время выдачи Депоненту оригиналов отчетных документов;
                                li уточнен порядок закрытия счетов депо;
                                li список документов, являющихся основанием для проведения операций по торговым счетам депо по итогам клиринга, дополнен отчетом/выпиской из реестра сделок, принятых в клиринг;
                                li внесены изменения в Приложение №1 «Перечень документов, предоставляемых для открытия счета депо»: изменен список документов, предоставляемых нерезидентами и иностранными структурами при открытии счета депо;
                                li внесены изменения в Приложение №2 «Образцы документов, которые должны заполнять Депоненты АО АКБ «НОВИКОМБАНК» (типовые формы поручений)»: изменены формы Анкеты Депонента физического лица, Анкеты Депонента юридического лица и Поручения на предоставление информации депоненту, введено Поручение на осуществление депонентом прав по ценным бумагам.
                        p С полным текстом Регламента Вы можете ознакомиться в разделе «Документы депозитария».
