.card-news {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-10);
    border-radius: 0.5rem;
    gap: 2.5rem;
    padding: 1.5rem 1rem 2.5rem;

    @include use-media(tablet) {
        padding: 1.5rem 1.5rem 2.5rem 1.5rem;
    }

    @include use-media(tablet-album) {
        padding: 1.5rem 2.5rem 2.5rem;
    }

    &__tag {
        flex-shrink: 0;
    }

    @at-root .swiper-slide & {
        height: 100%;
    }
}
