.card-award {
    border-radius: 0.75rem;

    &__wrapper {
        padding: 1rem 1rem 1.5rem;
        position: relative;
        z-index: 1;

        @include use-media(tablet) {
            padding: 2rem;
            padding-left: 0;
        }

        @include use-media(tablet-album) {
            padding: 2.5rem;
            padding-left: 0;
        }
    }

    &__image {
        max-width: 10rem;

        @include use-media(tablet-album) {
            max-width: 12.5rem;
        }
    }
}