.card-product {
    $root: #{&};

    display: block;
    position: relative;
    padding: 1.5rem 1rem;
    background-color: var(--dark-10);
    overflow: hidden;
    border-radius: 0.75rem;
    height: 100%;

    @include use-media(tablet) {
        padding: 2rem;
    }

    @include use-media(tablet-album) {
        padding: 2.5rem;
    }

    @include use-media(laptop-x) {
        min-height: 280px;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.5rem;
    }

    &__tag {
        margin-bottom: 1.5rem;

        @include use-media(tablet-album) {
            margin-bottom: -1.313rem;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        height: 100%;

        @include use-media(tablet) {
            min-height: auto;
        }

        @include use-media(tablet-album) {
            gap: 3rem;
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
        z-index: 1;
        color: var(--dark-100);

        @include use-media(tablet-album) {
            max-width: 75%;
        }
    }

    &__description {

        @include use-media(laptop-x) {
            max-width: 80%;
        }

        & br {
            display: none;

            @include use-media(tablet) {
                display: inherit;
            }
        }
    }

    &__link {
        position: relative;
        z-index: 1;

        @include use-media(tablet-album) {
            align-self: flex-start;
        }
    }

    &__img {
        align-self: center;
        height: 12.5rem;
        width: 12.5rem;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include use-media(tablet-album) {
            position: absolute;
            left: unset;
            transform: unset;
            bottom: -1.5rem;
            right: -1.5rem;
            z-index: 0;

            height: 17.5rem;
            width: 17.5rem;
        }
    }

    &__button {
        width: 100%;

        @include use-media(tablet-album) {
            width: auto;
        }
    }

  &__footer {
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-top: .5rem;

    @include use-media(tablet) {
      margin-top: 1rem;
    }

    @include use-media(tablet-album) {
      margin-top: -.5rem;
    }
  }

    &--green {
        &:before {
            background-color: var(--green-100);
        }
    }

    &--orange {
        &:before {
            background-color: var(--orange-100);
        }
    }

    &--yellow {
        &:before {
            background-color: var(--yellow-100);
        }
    }

    &--transparent {
        &:before {
            display: none;
        }
    }

    &--bg-white {
        background-color: var(--dark-0);
    }

    &--size-large {

        @include use-media(tablet-album) {
            min-height: 25rem; //400px
        }

        #{$root}__img {
            @include use-media(tablet) {
                position: absolute;
                left: unset;
                transform: unset;
                bottom: -1.5rem;
                right: -1.5rem;
                z-index: 0;
                height: 17.5rem;
                width: 17.5rem;
            }

            @include use-media(tablet-album) {
                bottom: -3rem;
                right: -3rem;
                height: 30rem;
                width: 30rem;
            }
        }

        #{$root}__link {
            @include use-media(tablet) {
                align-self: flex-start;
            }
        }

        #{$root}__inner {
            @include use-media(tablet) {
                gap: 2.5rem;
            }
        }

        #{$root}__content {
            @include use-media(tablet) {
                max-width: 70%;
            }

            @include use-media(tablet-album) {
                gap: 1.5rem;
                max-width: 60%;
            }

            @include use-media(laptop-x) {
                max-width: unset;
            }
        }

        #{$root}__title {
            @include use-media(tablet) {
                font-size: 1.75rem;
                line-height: 1.3;
            }

            @include use-media(tablet-album) {
                font-size: 2rem;
                line-height: 1.25;
            }
        }

        #{$root}__description {
            @include use-media(tablet) {
                font-size: 1.125rem;
                line-height: 1.45;
            }

            @include use-media(tablet-album) {
                font-size: 1.25rem;
                line-height: 1.4;
                max-width: unset;
            }
        }
    }

    &--size-height-auto {
        min-height: 0;
    }
}
