.card-benefit {
    $root: &;
    position: relative;
    border-radius: .75rem;

    &__title,
    &__description {
        & br {
            display: none;

            @include use-media(tablet-album) {
                display: inherit;
            }
        }
    }

    &__title {
        color: var(--dark-100);
    }

    &__description {
        @extend .text-break;
    }

    &__image {
        align-self: center;
        width: 10rem;
        height: 10rem;
        flex-shrink: 0;

        @include use-media(tablet) {
            width: 12.5rem;
            height: 12.5rem;
        }

        @include use-media(tablet-album) {
            position: absolute;
            width: 17.5rem;
            height: 17.5rem;
            right: -1.5rem;
            bottom: -1.5rem;
        }
    }

    &--size-lg-large {
        @include use-media(tablet-album, laptop) {
            #{$root}__description, #{$root}__list {
                max-width: 63%;
            }
        }

        @include use-media(tablet-album) {
            #{$root}__image {
                position: absolute;
                width: 17.5rem;
                height: 17.5rem;
                right: -1.5rem;
                bottom: -1.5rem;
            }
        }
    }

    &--type-img {
        position: relative;
        overflow: hidden;
        height: 100%;

        @include use-media(tablet-album) {
            min-height: 19rem; //304px

            & #{$root}__content {
                max-width: 63%;
            }
        }
    }

    &--lg-n6 {
        @include use-media(tablet-album, laptop-x) {
            margin-right: -2.5rem;
            margin-left: -2.5rem;
            min-width: calc(100% + 5rem);
        }
    }

    @at-root .swiper-slide & {
        height: 100%;
    }
}
