.card-news {
    border-radius: .5rem;

    &__header {
        padding: 1.5rem 1rem 0;
    }

    &__image-container {
        min-height: 6.25rem;
    }

    &__top-blackout {
        height: 5rem;
        background: linear-gradient(180deg, rgba(18, 17, 18, 0.5) 0%, rgba(18, 17, 18, 0) 100%);
    }

    &__body {
        padding: 1.5rem 1rem;
    }
    
    &__tag {
        max-width: 80%;
    }

    @include use-media(mobile-s, sm) {
        &__sticky-icon {
            background: transparent;
            border: none;
        }
    }

    @include use-media(sm) {
        &__sticky-icon {
            width: 2.5rem;
            height: 2.5rem;
        }

        &__image-container {
            min-height: none;
        }

        &__top-blackout {
            height: 6.25rem;
        }

        &__body {
            padding: 1.5rem 1.5rem 2rem;
        }
    }

    @include use-media(tablet) {
        &__header {
            padding: 1.5rem 1rem 0 1.5rem;
        }

        &__body {
            padding: 1.5rem 2rem 2.5rem;
        }
    }

    @include use-media(tablet-album) {
        border-radius: .75rem;

        &__header {
            padding-left: 2.5rem;
        }

        &__body {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }
}