.card-product-list {
    $root: #{&};

    border-radius: 0.75rem;

    &__tag {
        margin-bottom: 1.5rem;

        @include use-media(tablet-album) {
            margin-bottom: -1.313rem;
        }
    }
    
    &__button-icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    &__inner {

        @include use-media(tablet) {
            min-height: auto;
        }
    }

    &__content {
        flex: 1;
    }

    &__description {

        & br {
            display: none;

            @include use-media(tablet) {
                display: inherit;
            }
        }
    }

    &__link {
        position: relative;
        z-index: 1;

        @include use-media(tablet-album) {
            align-self: flex-start;
        }
    }

    &__image {
        align-self: center;
        height: 16rem;
        width: 16rem;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        
        @include use-media(mobile) {
            height: 20rem;
            width: 20rem;
        }

        @include use-media(tablet) {
            height: 22.5rem;
            width: 22.5rem;
        }

        @include use-media(laptop) {
            height: 28.75rem;
            width: 28.75rem;
        }
    }

    &__button {
        width: 100%;

        @include use-media(tablet-album) {
            width: auto;
        }
    }
}
