.card-benefit {
    border-radius: .75rem;

    &__title, &__description {
        & br {
            display: none;

            @include use-media(laptop) {
                display: inherit;
            }
        }
    }

    @at-root .swiper-slide & {
        height: 100%;
    }
}
