.card-benefit {
    $root: &;
    position: relative;
    border-radius: .75rem;

    &__title,
    &__description {
        & br {
            display: none;

            @include use-media(laptop) {
                display: inherit;
            }
        }
    }

    &__image {
        align-self: center;
        width: 10rem;
        height: 10rem;
        flex-shrink: 0;

        @include use-media(tablet) {
            width: 12.5rem;
            height: 12.5rem;
        }

        @include use-media(laptop) {
            position: absolute;
            width: 17.5rem;
            height: 17.5rem;
            right: -1.5rem;
            bottom: -1.5rem;
        }
    }

    &--type-img {
        position: relative;
        overflow: hidden;
        height: 100%;

        @include use-media(laptop) {
            min-height: 19rem; //304px

            & #{$root}__content {
                max-width: 60%;
            }
        }
    }

    @at-root .swiper-slide & {
        height: 100%;
    }
}
