---
interface Props {
	href?: string;
	text: string;
	icon: string;
	description?: string;
}

const {
	href = '#',
	text,
	description,
	icon
} = Astro.props as Props;
---

<a class="discount-link" href={href}>
	<img class="discount-link__icon" src={icon} alt="" loading="lazy" />
	<span class="discount-link__text headline-4" set:html={text}></span>
	{ description && <span class="discount-link__description body-m-light" set:html={description}></span> }
</a>

<style lang="scss" is:global>
	@import "@styles/media-queries";

	.discount-link {
		display: flex;
		flex-direction: column;
		gap: .5rem;
		color: var(--dark-100);
		text-decoration: none;
		height: 100%;

		@include use-media(tablet-album) {
			gap: 1rem;
		}

		&__icon {
			/*display: flex;*/
			/*justify-content: center;*/
			/*align-items: center;*/
			width: 5rem;
			height: 5rem;
			object-fit: contain;

			@include use-media(tablet-album) {
				width: 7.5rem;
				height: 7.5rem;
			}

			/*img {*/
			/*	width: 100%;*/
			/*	height: 100%;*/
			/*	*/
			/*}*/

		}
	}
</style>
